MAP:EDDF RNP X 25
FOLDER:EDDF
COLOR:Standard
STYLE:SOLID:1
ASRDATA:PHOENIX
{{ data.rawdata['procedures/eddf/rnp/eddf_rnp_x_25.txt'] }}

MAP:EDDF RNP X 07
FOLDER:EDDF
COLOR:Standard
STYLE:SOLID:1
ASRDATA:PHOENIX
{{ data.rawdata['procedures/eddf/rnp/eddf_rnp_x_07.txt'] }}