MAP:NTZ 25L/R
FOLDER:EDDF
COLOR:NTZ
ASRDATA:PHOENIX
STYLE:Solid:2
{{ data.rawdata['procedures/eddf/ntz/eddf_ntz_25l_25r.txt'] }}

MAP:NTZ 25C/R
FOLDER:EDDF
COLOR:NTZ2
ASRDATA:PHOENIX
STYLE:Solid:2
{{ data.rawdata['procedures/eddf/ntz/eddf_ntz_25c_25r.txt'] }}

MAP:NTZ 07R/07L
FOLDER:EDDF
COLOR:NTZ
ASRDATA:PHOENIX
STYLE:Solid:2
{{ data.rawdata['procedures/eddf/ntz/eddf_ntz_07r_07l.txt'] }}

MAP:NTZ 07C/07L
FOLDER:EDDF
COLOR:NTZ2
ASRDATA:PHOENIX
STYLE:Solid:2
{{ data.rawdata['procedures/eddf/ntz/eddf_ntz_07c_07l.txt'] }}