//---------------------------------------------------------------
//                          Lower Sectors
//---------------------------------------------------------------
{#-
    The sector outlines are created from GNG data using QGIS:

     - Convert GNG data to GeoJSON
     - Select required sectors using a virtual layer
     - Transform the resulted polygons into boundaries
       (use PolygonsToSingleBoundaries.model3)
     - Clean up the lines if needed
#}

MAP:ACCs
COLOR:standard
FOLDER:Sectors
LAYER:-1
STYLE:DOT:1
{% for uuid, geom in data.topsky['common']['sectors']['lower']['EDUU'].items() %}
{{- geom | to_line('') -}}
{% endfor %}