//--------------------------- Topography ------------------------

MAP:Bridges
FOLDER:EDDL
ASRDATA:PHOENIX
COLOR:topo_road
STYLE:Solid:1
ACTIVE:ID:DLT:*:*:*
// Bridges
{% for name, geom in data.topsky['common']['EDDL']['bridges'].items() %}
{{- geom | to_line(name) -}}
{% endfor %}