// ------------------------------------------------------------------
//                                 EDFM
// ------------------------------------------------------------------

// -------------------------- Ground Layout -------------------------
{%- set tolerance = 0.000005 %}

MAP:Apron Area
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_APRON
{% for _, feat in data.edfm_kml['layout']['aprons'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Parking Area
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.edfm_kml['layout']['markings']['parking'].items() %}
{{- feat | render_line }}
{% endfor %}
STYLE:DOT:1
{{ data.edfm_kml['layout']['markings']['grass']['parking'] | render_line('Parking Area Grass') }}


MAP:Roads
AIRPORT:EDFM
FOLDER:Airport Layout
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.edfm_kml['layout']['roads'].items() %}
{{- feat | geom_simplify(tolerance) | render_line }}
{% endfor %}


MAP:Taxiway Movement Area
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.edfm_kml['layout']['taxiways'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}
STYLE:DOT:1
{{ data.edfm_kml['layout']['markings']['grass']['G'] | render_line }}


MAP:Runway
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_RUNWAY
{{ data.edfm_kml['layout']['runways']['09-27'] | render_area('OTHER:REGION') }}


MAP:Grass Runway
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_GRASS
{{ data.edfm_kml['layout']['runways']['grass'] | render_area('OTHER:REGION') }}
ZOOM:400
FONTSIZE:=:11
COLOR:LAYOUT_LABEL_STAND
{{ data.edfm_kml['layout']['labels']['Grass Runway'] | to_text('Grass Runway') }}


MAP:Leadin Lines
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXILINE_GREY
{% for _, feat in data.edfm_kml['layout']['markings']['leadin_solid'].items() %}
{{- feat | render_line }}
{% endfor %}


MAP:Taxi Lanes
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXILINE_YELLOW
{% for _, feat in data.edfm_kml['layout']['markings']['taxilanes'].items() %}
{{- feat | render_line }}
{% endfor %}


MAP:Terrain
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_BUILDING
{% for _, feat in data.edfm_kml['layout']['terrain'].items() %}
{{- feat | render_line }}
{% endfor %}


MAP:Buildings
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_BUILDING
{% for _, feat in data.edfm_kml['layout']['buildings'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Fence
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_BUILDING
{% for _, feat in data.edfm_kml['layout']['fence'].items() %}
{{- feat | render_line }}
{% endfor %}