// ------------------------------------------------------------------
//                                 EDFM
// ------------------------------------------------------------------

// -------------------------- Ground Layout -------------------------
{%- set default = 0.000005 %}

MAP:Apron Area
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
{% for uuid, geom in data.edfm_kml['layout']['aprons'].items() %}
{{- geom | to_poly('', 'layout-apron') }}
{% endfor %}

MAP:Parking Area
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
{% for uuid, geom in data.edfm_kml['layout']['markings']['parking'].items() %}
{{- geom | to_line('') -}}
{% endfor %}
STYLE:DOT:1
{{ data.edfm_kml['layout']['markings']['grass']['parking'] | to_line('Parking Area Grass') -}}

MAP:Roads
AIRPORT:EDFM
FOLDER:Airport Layout
COLOR:layout-taxiway
{% for uuid, geom in data.edfm_kml['layout']['roads'].items() %}
{{- geom | simplify(default) | to_line('') -}}
{% endfor %}

MAP:Taxiway Movement Area
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
{% for uuid, geom in data.edfm_kml['layout']['taxiways'].items() %}
{{- geom | to_poly('', 'layout-taxiway') }}
{% endfor %}
COLOR:layout-taxiway
STYLE:DOT:1
{{ data.edfm_kml['layout']['markings']['grass']['G'] | to_line('G Grass') -}}

MAP:Runway
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
{{ data.edfm_kml['layout']['runways']['09-27'] | to_poly('Runway 09/27', 'layout-runway') }}

MAP:Grass Runway
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
STYLE:DOT:1
{{ data.edfm_kml['layout']['runways']['grass'] | to_line('Grass Runway') }}
ZOOM:400
FONTSIZE:=:11
COLOR:layout-label-stand
{{ data.edfm_kml['layout']['labels']['Grass Runway'] | to_text('Grass Runway') }}

MAP:Leadin Lines
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiline-grey
{% for uuid, geom in data.edfm_kml['layout']['markings']['leadin_solid'].items() %}
{{- geom | to_line('') -}}
{% endfor %}

MAP:Taxi Lanes
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiline-yellow
{% for uuid, geom in data.edfm_kml['layout']['markings']['taxilanes'].items() %}
{{- geom | to_line('') -}}
{% endfor %}

MAP:Terrain
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-building
{% for uuid, geom in data.edfm_kml['layout']['terrain'].items() %}
{{- geom | to_line('') -}}
{% endfor %}

MAP:Buildings
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
{% for uuid, geom in data.edfm_kml['layout']['buildings'].items() %}
{{- geom | to_poly('', 'layout-building') }}
{% endfor %}

MAP:Fence
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-building
{% for uuid, geom in data.edfm_kml['layout']['fence'].items() %}
{{- geom | to_line('') -}}
{% endfor %}