// ------------------------------- AoR ------------------------------

MAP:EDFM_TWR
AIRPORT:EDFM
FOLDER:AoR
LAYER:6
COLOR:aor-twr-a
ZOOM:600
FONTSIZE:=:13
{{ data.edfm_kml['layout']['aor']['labels']['FMT'] | to_text('FMT  129.780') }}

MAP:EDFM_NKL_APP
AIRPORT:EDFM
FOLDER:AoR
LAYER:6
COLOR:aor-app-a
ZOOM:600
FONTSIZE:=:13
{{ data.edfm_kml['layout']['aor']['labels']['FMT'] | to_text('NKL  129.355:0:20') }}