// -------------------------- Runway Info ---------------------------

MAP:TORA 27
AIRPORT:EDFM
FOLDER:Runway Info
LAYER:6
COLOR:tora-label
ZOOM:600
TEXTALIGN:RC
{{ data.edfm_kml['layout']['tora']['27'] | to_text('1060') }}

MAP:TORA 09
AIRPORT:EDFM
FOLDER:Runway Info
LAYER:6
COLOR:tora-label
ZOOM:600
TEXTALIGN:LC
{{ data.edfm_kml['layout']['tora']['09'] | to_text('1013') }}

MAP:Runway Designators
AIRPORT:EDFM
FOLDER:Runway Info
LAYER:6
ACTIVE:1
{% for uuid, geom in data.edfm_kml['layout']['markings']['runways'].items() %}
{{- geom | to_coordtype('', 'runway-label') }}
{% endfor %}

MAP:Runway Markings
AIRPORT:EDFM
FOLDER:Runway Info
{% for uuid, geom in data.edfm_kml['layout']['markings']['poly'].items() %}
{{- geom | to_coordtype('', 'layout-runway-marking') }}
{% endfor %}