// ----------------------- Permament Closures -----------------------

MAP:Apron
AIRPORT:EDFM
FOLDER:Closures
ACTIVE:1
{{ data.edfm_kml['layout']['closures']['symb']['apron'] | to_poly('','closure-symbol') }}