// ----------------------- Permament Closures -----------------------

MAP:Apron
AIRPORT:EDFM
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE_SYMBOL
{{ data.edfm_kml['layout']['closures']['symb']['apron'] | render_area('OTHER:REGION') }}