// ------------------------- Approach Window ------------------------
{%- set EDGG = data.airspace['lines']['EDGG'] %}

MAP:CTR:A
AIRPORT:EDFM
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:appwindow-standard
{{ render_sectorlines(EDGG['EDFMCTR']['000-020']) }}

MAP:ECL:A
AIRPORT:EDFM
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:appwindow-ecl
// 09
{{ ecl_dashes(runways.EDFM['09'], 12) }}
{{ marker_ticks(runways.EDFM['09'], [10], 0.5, 0.5) }}
// 27
{{ ecl_dashes(runways.EDFM['27'], 16) }}
{{ marker_ticks(runways.EDFM['27'], [10], 0.5, 0.5) }}
COLOR:appwindow-runway
STYLE:SOLID:2
// 09/27
{{ fix(runways['EDFM']['09']['thr']).line_to_fix(fix(runways['EDFM']['27']['thr'])) }}

MAP:Airfields:A
AIRPORT:EDFM
FOLDER:Approach Window
ACTIVE:1
COLOR:appwindow-standard
SYMBOL:AIRPORT:EDFV
SYMBOL:AIRPORT:EDRF
SYMBOL:AIRPORT:EDRY
SYMBOL:AIRPORT:EDGM

MAP:VFR Points:A
AIRPORT:EDFM
FOLDER:Approach Window
COLOR:appwindow-standard
SYMBOL:VFR:FM-R:R:10:-7
SYMBOL:VFR:FM-W:W:10:-7
SYMBOL:VFR:FM-S:S:10:-7
SYMBOL:VFR:FM-K:K:10:-7
SYMBOL:VFR:FM-E:E:10:-7