//Shortcut ALT + H
MAP:Seperation Guide Upper
FOLDER:Tools
STYLE:Solid:1
COLOR:grey
{{ data.rawdata['tools/sep_guide_upper.txt'] }}
//Shortcut ALT + G
MAP:Seperation Guide Lower
FOLDER:Tools
STYLE:Solid:1
COLOR:grey
{{ data.rawdata['tools/sep_guide_lower.txt'] }}