# the following excludes allow to copy all relevant data into the repository. This allows to make this repository into a working sectorfile to run Euroscope on without the risk of uploading copyrighted material
*.ese
*.rwy
*.sct

EDGG/ICAO/*
EDGG/NavData/*
EDGG/Plugins/Maestro/Documentation/*
EDGG/.cache
poetry.toml
/mapdata/aixm

aeronav_copyright.txt
VoiceChannels.txt
euroscope_sector_providers.txt
ipaddr.txt
version.txt
SectorFileProviderDescriptor.txt
