//---------------------------------------------------------------
//                   EDDG - Muenster/Osnabrueck
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\500-EDDG.jinja
#}
{%- set sids = {
    "07": {
        "DOMEGxE": ['DG074', 'DOMEG'],
        "OSN":     ['MYN', 'OSN'],
        "RKNxE":   ['DG074', 'DG075', 'DG076', 'RKN'],
        "DOMEGxY": ['DG071', 'DOMEG'],
    },
    "25": {
        "DOMEGxC": ['EDDG/07', 'DG023', 'DG022', 'DG021', 'DG024', 'DOMEG'],
        "OSNxC":   ['DG024', 'DG025', 'DG027', 'OSN'],
        "RKN":     ['DG022', 'RKN'],
        "DOMEGxZ": ['DG023', 'DG026', 'DOMEG'],
        "OSNxX":   ['DG026', 'DG027'],
    },
} %}

MAP:EDDG 07/25
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 07 ----
STYLE:Solid
COLOR:sid_east
// Initial Turn
COORD:EDDG/25
COORD:DG072
COORD:DG071
COORD:MYN
COORD_DF:070M:R:2.14:10:DG074
COORDLINE
{%- for desig, fixes in sids['07'].items() if desig not in ['DOMEGxY'] %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:alternate
// HMM
COORD:EDDG/25
COORD_FC:070M:0.3
COORD_DF:070M:R:0.5:10:HMM
COORDLINE
// RKNxY
COORD:DG072
COORD_DF:070M:L:1.29:10:DG073
COORD:RKN
COORDLINE
{%- for sid in ['DOMEGxY'] %}
// {{sid}}
{%- for fx in sids['07'][sid] %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:LT
TEXT:N052.07.10.600:E007.43.14.700:Y:5:0
TEXTALIGN:LB
TEXT:N052.10.09.600:E007.44.00.800:Y:5:0
TEXT:N052.07.50.500:E007.52.32.100:E:5:0


// ---- RWY 25 ----
STYLE:Solid
COLOR:sid_west
{%- for desig, fixes in sids['25'].items() if desig not in ['DOMEGxZ', 'OSNxX'] %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:alternate
// HMM
COORD:EDDG/07
COORD_FC:249M:0.5
COORD_DF:249M:L:0.6:10:HMM
COORDLINE
{%- for sid in ['DOMEGxZ', 'OSNxX'] %}
// {{sid}}
{%- for fx in sids['25'][sid] %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:RT
TEXT:N052.04.04.900:E007.30.48.500:C:-5:0
TEXTALIGN:RB
TEXT:N052.05.17.300:E007.38.24.700:X/Z:-5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:DOMEG
SYMBOL:FIX_SID_A:HMM
SYMBOL:FIX_SID_A:OSN
SYMBOL:FIX_SID_A:RKN

COLOR:sid_west
SYMBOL:FIX_SID_B:DOMEG
SYMBOL:FIX_SID_B:HMM
SYMBOL:FIX_SID_B:OSN
SYMBOL:FIX_SID_B:RKN

COLOR:label
TEXTALIGN:RB
TEXT:DOMEG:DO:-5:0
TEXTALIGN:LB
TEXT:HMM:HM:5:0
TEXT:OSN:OS:5:0
TEXTALIGN:RB
TEXT:RKN:RK:-5:0