//---------------------------------------------------------------
//                       EDDR - Saarbruecken
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\501-EDDR.jinja
#}

MAP:EDDR 08/26
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 08 ----
STYLE:Solid
COLOR:sid_east
// GTQ
COORD:EDDR/26
COORD:DR200
COORD_DF:084M:R:1.95:10:DR202
COORD:DR203
COORD:DR204
COORD:GTQ
COORDLINE
// IXWIB
COORD:DR200
COORD:DR201
COORD:IXWIB
COORDLINE
// TOMPIxL
COORD:DR201
COORD_DF:084M:L:2.98:10:DR205
COORD:TOMPI
COORDLINE

STYLE:alternate
// TOMPIxK
COORD:EDDR/26
COORD_DF:084M:L:1.5:10:DR207
COORDLINE

// Labels
TEXTALIGN:LT
TEXT:N049.12.35.400:E007.14.03.900:L:5:0
TEXTALIGN:LC
TEXT:N049.19.59.800:E007.04.41.700:K:8:0


// ---- RWY 26 ----
STYLE:Solid
COLOR:sid_west
// GTQxM
COORD:EDDR/08
COORD:DR101
COORD_DF:264M:R:2.02:10:DR102
COORD_FC:025M:1
COORD_DF:025M:R:2.48:10:DR105
COORD:GTQ
COORDLINE
// IXWIB
COORD:N049.17.55.200:E007.00.47.800     // Continuation of the GTQxM right turn
COORD:DR104
COORD:IXWIB
COORDLINE
// TOMPIxM
COORD:N049.16.34.900:E006.57.36.100     // Continuation of the GTQxM right turn
COORD:TOMPI
COORDLINE

STYLE:alternate
// GTQxS
COORD:DR101
COORD:DR107
COORD:DR108
COORD:GTQ
COORDLINE
// TOMPIxN
COORD:EDDR/08
COORD_DF:264M:R:1.5:10:DR106
COORD:DR207
COORDLINE

// Labels
TEXTALIGN:RB
TEXT:DR102:M:-5:0
TEXT:DR108:S:-5:0
TEXTALIGN:RC
TEXT:N049.19.59.800:E007.04.41.700:N:-8:0


// ---- RWY 09/27 ----
COLOR:grey
// TOMPIxK/N
LINE:DR207:TOMPI

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:GTQ
SYMBOL:FIX_SID_A:IXWIB
SYMBOL:FIX_SID_A:TOMPI

COLOR:sid_west
SYMBOL:FIX_SID_B:GTQ
SYMBOL:FIX_SID_B:IXWIB
SYMBOL:FIX_SID_B:TOMPI

COLOR:label
TEXTALIGN:LT
TEXT:GTQ:GT:5:0
TEXT:IXWIB:IX:5:0
TEXTALIGN:LB
TEXT:TOMPI:TO:5:0