//---------------------------------------------------------------
//                      EDFM - Mannheim City
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\503-EDFM.jinja
#}

MAP:EDFM 09/27
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 09 ----
STYLE:Solid
COLOR:sid_east
// MANEM
COORD:EDFM/27
COORD:FM040
COORD:FM041
COORD:FM042
COORD:FM043
COORDLINE
COORD:FM005
COORD:FM052
COORDLINE
// OLIVI
COORD:FM042
COORD:FM045
COORDLINE
// RINEX
COORD:FM041
COORD:FM044
COORD_DF:147M:R:1.55:10:FM046
COORDLINE
// ROLSO
COORD:FM044
COORD:FM047
COORD:NKR
COORDLINE

STYLE:sid_dash_east
// MANEM
LINE:FM005:FM043
LINE:FM052:MANEM
// OLIVI
COORD:FM045
COORD:KOSAX
COORD:OLIVI
COORDLINE
// RINEX
LINE:FM046:RINEX
// ROLSO
LINE:NKR:ROLSO
// UMDAS
LINE:FM047:UMDAS

// Labels
TEXTALIGN:LB
TEXT:FM040:C:5:0


// ---- RWY 27 ----
STYLE:Solid
COLOR:sid_west
// MANEM
COORD:EDFM/09
COORD:FM050
COORD:FM004
COORD:FM052
COORDLINE
// OLIVI
COORD:FM050
COORD:FM053
COORD:FM045
COORDLINE
// RINEX
COORD:FM004
COORD_DF:195M:L:2.6:10:FM005
COORDLINE
COORD:FM043
COORD:RINEX
COORDLINE
// ROLSO
COORD:FM046
COORD:NKR
COORDLINE
// UMDAS
COORD:RINEX
COORD:FM047
COORDLINE

STYLE:sid_dash_west
// MANEM
LINE:FM052:MANEM
// OLIVI
COORD:FM045
COORD:KOSAX
COORD:OLIVI
COORDLINE
// RINEX
LINE:FM005:FM043
// ROLSO
LINE:FM046:RINEX
LINE:NKR:ROLSO
// UMDAS
LINE:FM047:UMDAS

// Labels
TEXTALIGN:RB
TEXT:N049.27.42.500:E008.25.58.800:W:-5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:OLIVI
SYMBOL:FIX_SID_A:ROLSO
SYMBOL:FIX_SID_A:UMDAS
SYMBOL:FIX_SID_A:MANEM
SYMBOL:FIX_SID_A:RINEX

COLOR:sid_west
SYMBOL:FIX_SID_B:OLIVI
SYMBOL:FIX_SID_B:ROLSO
SYMBOL:FIX_SID_B:UMDAS
SYMBOL:FIX_SID_B:MANEM
SYMBOL:FIX_SID_B:RINEX

COLOR:label
TEXTALIGN:LB
TEXT:OLIVI:OL:5:0
TEXT:ROLSO:RO:5:0
TEXT:UMDAS:UM:5:0
TEXTALIGN:LT
TEXT:MANEM:MA:5:0
TEXT:RINEX:RI:5:0