//---------------------------------------------------------------
//                      EDFQ - Allendorf/Eder
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\504-EDFQ.jinja
#}

MAP:EDFQ 11/29
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 11 ----
STYLE:Solid
COLOR:sid_east
// KULIX
COORD:EDFQ/29
COORD:FQ110
COORD_DF:112M:L:1.39:10:FQ112
COORD:FQ114
COORD:KULIX
COORDLINE
// OHMAR
COORD:FQ110
COORD:FQ111
COORD:OHMAR
COORDLINE
// WRB
COORD:FQ114
COORD:WRB
COORDLINE

// Labels
TEXTALIGN:RT
TEXT:FQ110:V:-5:0


// ---- RWY 29 ----
STYLE:Solid
COLOR:sid_west
// KULIX
COORD:EDFQ/11
COORD:FQ290
COORD:FQ291
COORD:FQ292
COORD:KULIX
COORDLINE
// OHMAR
COORD:FQ291
COORD_DF:292M:L:1.13:10:FQ294
COORD:OHMAR
COORDLINE
// WRB
COORD:FQ290
COORD_DF:292M:R:1.45:10:FQ296
COORD:WRB
COORDLINE

// Labels
TEXTALIGN:RT
TEXT:FQ290:C:-5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:KULIX
SYMBOL:FIX_SID_A:OHMAR
SYMBOL:FIX_SID_A:WRB

COLOR:sid_west
SYMBOL:FIX_SID_B:KULIX
SYMBOL:FIX_SID_B:OHMAR
SYMBOL:FIX_SID_B:WRB

COLOR:label
TEXTALIGN:LB
TEXT:KULIX:KU:5:0
TEXT:OHMAR:OH:5:0
TEXT:WRB:WR:5:0