//---------------------------------------------------------------
//                        EDGS - Siegerland
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\505-EDGS.jinja
#}

MAP:EDGS 13/31
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 13 ----
STYLE:Solid
COLOR:sid_east
// ARPEG
COORD:EDGS/31
COORD:GS002
COORD_DF:126M:L:2:10:GS006
COORD:ARPEG
COORDLINE
// NVO
COORD:GS002
COORD_DF:126M:R:1.55:10:GS001
COORD:COL
COORDLINE
// TOBAK
COORD:GS002
COORD:GS004
COORD:TOBAK
COORDLINE

STYLE:sid_dash_east
// NVO
LINE:COL:NVO

// Labels
TEXTALIGN:LB
TEXT:N050.42.28.400:E008.14.29.400:S:5:0
TEXT:N050.37.58.800:E008.13.53.800:R:5:0
TEXTALIGN:RT
TEXT:N050.38.17.100:E008.04.16.900:G/S:-5:0


// ---- RWY 31 ----
STYLE:Solid
COLOR:sid_west
// ARPEG
COORD:GS010
COORD_DF:306M:R:3:10:GS015
COORD:ARPEG
COORDLINE
// NVO
COORD:EDGS/13
COORD:GS010
COORD_DF:306M:L:5:10:COL
COORDLINE
// TOBAK
COORD:GS010
COORD_DF:306M:R:1.6:10:GS016
COORD:GS014
COORD:TOBAK
COORDLINE

STYLE:sid_dash_west
// NVO
LINE:COL:NVO

// Labels
TEXTALIGN:CB
TEXT:N050.47.48.700:E008.01.41.000:K:0:-3
TEXTALIGN:RC
TEXT:N050.47.58.000:E007.58.02.100:N:-5:0
TEXTALIGN:RT
TEXT:N050.45.58.000:E007.55.50.400:H/L:-5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:ARPEG
SYMBOL:FIX_SID_A:NVO
SYMBOL:FIX_SID_A:TOBAK

COLOR:sid_west
SYMBOL:FIX_SID_B:ARPEG
SYMBOL:FIX_SID_B:NVO
SYMBOL:FIX_SID_B:TOBAK

COLOR:label
TEXTALIGN:RT
TEXT:NVO:NV:-5:0
TEXTALIGN:LB
TEXT:ARPEG:AR:5:0
TEXT:TOBAK:TO:5:0