//---------------------------------------------------------------
//                   EDLN - Moenchengladbach
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\506-EDLN.jinja
#}
{%- set sids = {
    "13": {
        "ABODU": ['EDLN/31', 'LN131', 'LN132', 'LN133', 'LN134', 'LMA'],
        "COL":   ['LN131', 'LN135', 'LN138'],
        "MODRU": ['LN135', 'LN136', 'LN137', 'MODRU'],
        "NVO":   ['LN136', 'NVO'],
        "ROMIN": ['LN132', 'ROMIN'],
    },
    "31": {
        "ABODU": ['LN313', 'LN311', 'LMA'],
        "MODRU": ['LN318', 'MODRU'],
        "NVO":   ['LN319', 'NVO'],
        "ROMIN": ['LN311', 'LN310', 'ROMIN'],
    },
    "both": {
        "COL":   ['LN138', 'LN316', 'LIPMI', 'COL'],
        "GMH":   ['LN316', 'ELBAL', 'DEGOM', 'GMH'],
        "KUMIK": ['DEGOM', 'KUMIK'],
        "NUDGO": ['ELBAL', 'MAMIB', 'KULIX', 'NUDGO'],
        "SONEB": ['LMA', 'ABODU', 'LN140', 'SONEB'],
    },
} %}

MAP:EDLN 13/31
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 13 ----
STYLE:Solid
COLOR:sid_east
{%- for desig, fixes in sids['13'].items() %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:sid_dash_east
{%- for desig, fixes in sids['both'].items() %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:LB
TEXT:N051.12.02.700:E006.33.48.500:A/M/Z:5:0


// ---- RWY 31 ----
STYLE:Solid
COLOR:sid_west
// COL
COORD:EDLN/13
COORD:LN313
COORD_DF:307M:L:1.5:10:LN317
COORD:LN318
COORD:LN319
COORD:LN138
COORDLINE
{%- for desig, fixes in sids['31'].items() %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:sid_dash_west
{%- for desig, fixes in sids['both'].items() %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:LB
TEXT:N051.15.16.900:E006.27.17.000:N:5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:ABODU
SYMBOL:FIX_SID_A:COL
SYMBOL:FIX_SID_A:GMH
SYMBOL:FIX_SID_A:KUMIK
SYMBOL:FIX_SID_A:MODRU
SYMBOL:FIX_SID_A:NUDGO
SYMBOL:FIX_SID_A:NVO
SYMBOL:FIX_SID_A:ROMIN
SYMBOL:FIX_SID_A:SONEB

COLOR:sid_west
SYMBOL:FIX_SID_B:ABODU
SYMBOL:FIX_SID_B:COL
SYMBOL:FIX_SID_B:GMH
SYMBOL:FIX_SID_B:KUMIK
SYMBOL:FIX_SID_B:MODRU
SYMBOL:FIX_SID_B:NUDGO
SYMBOL:FIX_SID_B:NVO
SYMBOL:FIX_SID_B:ROMIN
SYMBOL:FIX_SID_B:SONEB

COLOR:label
TEXTALIGN:RT
TEXT:COL:CO:-5:0
TEXT:NVO:NV:-5:0
TEXTALIGN:LB
TEXT:ABODU:AB:5:0
TEXT:GMH:GM:5:0
TEXT:KUMIK:KU:5:0
TEXT:NUDGO:NU:5:0
TEXT:SONEB:SO:5:0
TEXTALIGN:RB
TEXT:MODRU:MO:-5:0
TEXT:ROMIN:RO:-5:0