//---------------------------------------------------------------
//                  EDLP - Paderborn/Lippstadt
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\507-EDLP.jinja
#}

MAP:EDLP 06/24
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 06 ----
STYLE:Solid
COLOR:sid_east
// DOMEG
COORD:EDLP/24
COORD:LP100
COORD:LP101
COORD_DF:055M:L:2.09:10:LP102
COORD:LP105
COORD:DOMEG
COORDLINE
// GISDI
COORD:LP100
COORD:LP104
COORD:GISDI
COORDLINE
// HMM
COORD:LP105
COORD:HMM
COORDLINE
// TINSA
COORD:LP102
COORD_DF:281M:L:2.09:10:LP106
COORD:LP107
COORD:TINSA
COORDLINE
// WRB
COORD:LP104
COORD:WRB
COORDLINE

// Labels
TEXTALIGN:LB
TEXT:N051.39.27.500:E008.44.18.100:X:5:0


// ---- RWY 24 ----
STYLE:Solid
COLOR:sid_west
// DOMEG
COORD:EDLP/06
COORD:LP204
COORD:LP203
COORD:DOMEG
COORDLINE
// GISDI
COORD:LP204
COORD:LP205
COORD_DF:235M:L:2.02:10:LP206
COORD:GISDI
COORDLINE
// HMM
COORD:LP203
COORD:HMM
COORDLINE
// TINSA
COORD:LP205
COORD:LP207
COORD:TINSA
COORDLINE
// WRB
COORD:LP206
COORD_DF:138M:L:2.02:10:LP202
COORD:WRB
COORDLINE

// Labels
TEXTALIGN:LT
TEXT:LP204:W:5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:DOMEG
SYMBOL:FIX_SID_A:GISDI
SYMBOL:FIX_SID_A:HMM
SYMBOL:FIX_SID_A:TINSA
SYMBOL:FIX_SID_A:WRB

COLOR:sid_west
SYMBOL:FIX_SID_B:DOMEG
SYMBOL:FIX_SID_B:GISDI
SYMBOL:FIX_SID_B:HMM
SYMBOL:FIX_SID_B:TINSA
SYMBOL:FIX_SID_B:WRB

COLOR:label
TEXTALIGN:RB
TEXT:DOMEG:DO:-5:0
TEXTALIGN:LT
TEXT:TINSA:TI:5:0
TEXTALIGN:LB
TEXT:GISDI:GI:5:0
TEXT:HMM:HM:5:0
TEXT:WRB:WR:5:0