//---------------------------------------------------------------
//                  EDLP - Paderborn/Lippstadt
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\507-EDLP.jinja
#}
{%- set sids = {
    "05": {
        "DOMEG": ['EDLP/23', 'LP501', 'LP504', 'LP505', 'LP506', 'LP507', 'DOMEG'],
        "GISDI": ['LP501', 'LP502', 'GISDI'],
        "HMM":   ['LP507', 'HMM'],
        "TINSA": ['LP506', 'TINSA'],
        "WRB":   ['LP502', 'WRB'],
    },
    "23": {
        "DOMEG": ['EDLP/05', 'LP231', 'LP232', 'DOMEG'],
        "GISDI": ['LP231', 'LP233', 'LP234', 'LP235', 'GISDI'],
        "HMM":   ['LP232', 'HMM'],
        "TINSA": ['LP233', 'TINSA'],
        "WRB":   ['LP233', 'LP236', 'WRB'],
    },
} %}

MAP:EDLP 05/23
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 05 ----
STYLE:SOLID
COLOR:ORANGE
{%- for desig, fixes in sids['05'].items() %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:LB
TEXT:LP504:P:5:0


// ---- RWY 23 ----
STYLE:SOLID
COLOR:BLUE
{%- for desig, fixes in sids['23'].items() %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:LT
TEXT:LP231:L:5:0

// Fixes
COLOR:ORANGE
SYMBOL:FIX_SID_A:DOMEG
SYMBOL:FIX_SID_A:GISDI
SYMBOL:FIX_SID_A:HMM
SYMBOL:FIX_SID_A:TINSA
SYMBOL:FIX_SID_A:WRB

COLOR:BLUE
SYMBOL:FIX_SID_B:DOMEG
SYMBOL:FIX_SID_B:GISDI
SYMBOL:FIX_SID_B:HMM
SYMBOL:FIX_SID_B:TINSA
SYMBOL:FIX_SID_B:WRB

COLOR:Active_Map_Type_2
TEXTALIGN:RB
TEXT:DOMEG:DO:-5:0
TEXTALIGN:LT
TEXT:TINSA:TI:5:0
TEXTALIGN:LB
TEXT:GISDI:GI:5:0
TEXT:HMM:HM:5:0
TEXT:WRB:WR:5:0