//---------------------------------------------------------------
//                      EDLV - Niederrhein
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\508-EDLV.jinja
#}

MAP:EDLV 09/27
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 09 ----
STYLE:Solid
COLOR:sid_east
// ERKUM
COORD:EDLV/27
COORD:LV101
COORD:LV105
COORD:ERKUM
COORDLINE
// VEBAK
COORD:LV101
COORD:LV100
COORD_DF:091M:R:1.58:10:LV102
COORD:VEBAK
COORDLINE
// SONEB
COORD:LV105
COORD:LV103
COORD:LV104
COORDLINE

STYLE:sid_dash_east
// SONEB
LINE:LV104:SONEB

// Labels
TEXTALIGN:RB
TEXT:N051.36.37.600:E006.15.37.500:R:-5:0


// ---- RWY 27 ----
STYLE:Solid
COLOR:sid_west
// ERKUM
COORD:EDLV/09
COORD:LV200
COORD_DF:286M:R:2.31:10:LV210
COORD_DF:354M:R:2.18:10:LV201
COORD:LV202
COORD:ERKUM
COORDLINE
// VEBAK
COORD:LV201
COORD_DF:064M:R:2.22:10:LV203
COORD:LAA
COORD:VEBAK
COORDLINE
// SONEB
COORD:LV202
COORD:LV204
COORD:LV104
COORDLINE

STYLE:sid_dash_west
// SONEB
LINE:LV104:SONEB

// Labels
TEXTALIGN:LB
TEXT:LV200:S:5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:ERKUM
SYMBOL:FIX_SID_A:VEBAK
SYMBOL:FIX_SID_A:SONEB

COLOR:sid_west
SYMBOL:FIX_SID_B:ERKUM
SYMBOL:FIX_SID_B:VEBAK
SYMBOL:FIX_SID_B:SONEB

COLOR:label
TEXTALIGN:LT
TEXT:ERKUM:ER:5:0
TEXT:VEBAK:VE:5:0
TEXTALIGN:LB
TEXT:SONEB:SO:5:0