//---------------------------------------------------------------
//                         EDLW - Dortmund
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\509-EDLW.jinja
#}

MAP:EDLW 06/24
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 06 ----
STYLE:Solid
COLOR:sid_east
// BAMSU
COORD:EDLW/24
COORD:LW200
COORD_DF:059M:R:1.87:10:LW206
COORD:LW207
COORD:BAMSU
COORDLINE
// DOMEG
COORD:LW200
COORD:LW201
COORD:LW202
COORD_DF:059M:L:1.3:10:LW203
COORD_DF:345M:L:1.3:10:LW204
COORD:DOMEG
COORDLINE
// GMH
COORD:LW207
COORD:LW208
COORD:LW105
COORDLINE
// HMM
COORD:LW203
COORD:LW205
COORD:HMM
COORDLINE
// NUDGO
COORD:LW201
COORD:LW209
COORD:DESOD
COORD:ARNOP
COORDLINE

STYLE:sid_dash_east
// GMH
LINE:LW105:GMH
// NUDGO
LINE:ARNOP:NUDGO
// OSN
LINE:LW205:OSN

// Labels
TEXTALIGN:RB
TEXT:LW200:Q:-5:0


// ---- RWY 24 ----
STYLE:Solid
COLOR:sid_west
// BAMSU
COORD:EDLW/06
COORD:LW100
COORD:LW101
COORD:LW108
COORD:BAMSU
COORDLINE
// DOMEG
COORD:LW100
COORD_DF:239M:R:1.86:10:LW106
COORD:LW107
COORD:DOMEG
COORDLINE
// GMH
COORD:LW100
COORD_DF:239M:L:1.7:10:LW103
COORD:LW105
COORDLINE
// HMM
COORD:DOMEG
COORD:HMM
COORDLINE
// NUDGO
COORD:LW103
COORD:LW104
COORD:ARNOP
COORDLINE
// OSN
COORD:DOMEG
COORD:LW205
COORDLINE

STYLE:sid_dash_west
// GMH
LINE:LW105:GMH
// NUDGO
LINE:ARNOP:NUDGO
// OSN
LINE:LW205:OSN

// Labels
TEXTALIGN:RB
TEXT:N051.29.10.200:E007.31.32.800:U:-5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:BAMSU
SYMBOL:FIX_SID_A:DOMEG
SYMBOL:FIX_SID_A:GMH
SYMBOL:FIX_SID_A:HMM
SYMBOL:FIX_SID_A:NUDGO
SYMBOL:FIX_SID_A:OSN

COLOR:sid_west
SYMBOL:FIX_SID_B:BAMSU
SYMBOL:FIX_SID_B:DOMEG
SYMBOL:FIX_SID_B:GMH
SYMBOL:FIX_SID_B:HMM
SYMBOL:FIX_SID_B:NUDGO
SYMBOL:FIX_SID_B:OSN

COLOR:label
TEXTALIGN:LT
TEXT:BAMSU:BA:5:0
TEXTALIGN:RB
TEXT:DOMEG:DO:-5:0
TEXTALIGN:LB
TEXT:GMH:GM:5:0
TEXT:HMM:HM:5:0
TEXT:NUDGO:NU:5:0
TEXT:OSN:OS:5:0