//---------------------------------------------------------------
//                       EDQG - Giebelstadt
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\510-EDQG.jinja
#}

MAP:EDQG 08/26
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 08 ----
STYLE:Solid
COLOR:sid_east
// COSJE
COORD:EDQG/26
COORD:QG001
COORD_DF:076M:L:1.8:10:COSJE
COORDLINE
// TAKUT
COORD:QG001
COORD:QG002
COORD:QG003
COORD:TAKUT
COORDLINE

// Labels
TEXTALIGN:RB
TEXT:QG001:E:-5:0


// ---- RWY 26 ----
STYLE:Solid
COLOR:sid_west
// COSJE
COORD:EDQG/08
COORD:QG021
COORD:QG030
COORD:QG025
COORD:COSJE
COORDLINE
// TAKUT
COORD:QG021
COORD:QG028
COORD:QG029
COORD:TAKUT
COORDLINE

// Labels
TEXTALIGN:LB
TEXT:N049.38.01.500:E009.49.56.200:W:5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:COSJE
SYMBOL:FIX_SID_A:TAKUT

COLOR:sid_west
SYMBOL:FIX_SID_B:COSJE
SYMBOL:FIX_SID_B:TAKUT

COLOR:label
TEXTALIGN:LB
TEXT:COSJE:CO:5:0
TEXT:TAKUT:TA:5:0