//---------------------------------------------------------------
//                       EDRZ - Zweibruecken
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\512-EDRZ.jinja
#}

MAP:EDRZ 03/21
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 03 ----
STYLE:Solid
COLOR:sid_east
// LADAT
COORD:EDRZ/21
COORD:RZ050
COORD:RZ051
COORD_DF:027M:R:2.36:8:RZ052
COORD:RZ054
COORD:LADAT
COORDLINE
// PIREK
COORD:RZ051
COORD_DF:027M:R:2.36:8:RZ053
COORD:RZ055
COORD:PIREK
COORDLINE
// SARRI
COORD:RZ050
COORD_DF:027M:L:1.95:10:RZ056
COORD:RZ057
COORD:SARRI
COORDLINE
// TOMPI
COORD:RZ057
COORD:TOMPI
COORDLINE

// Labels
TEXTALIGN:CB
TEXT:N049.16.54.400:E007.26.55.700:P


// ---- RWY 21 ----
STYLE:Solid
COLOR:sid_west
// IXWIB
COORD:EDRZ/03
COORD:RZ060
COORD:RZ061
COORD_DF:207M:R:2.37:10:RZ064
COORD:IXWIB
COORDLINE
// SARRI
COORD:RZ060
COORD_DF:207M:R:2.38:10:RZ062
COORD:SARRI
COORDLINE
// ZWN
COORD:N049.11.08.500:E007.15.32.100     // Continuation of the IXWIBxR right turn
COORD:ZWN
COORDLINE

// Labels
TEXTALIGN:LT
TEXT:RZ060:D/R:5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:LADAT
SYMBOL:FIX_SID_A:PIREK
SYMBOL:FIX_SID_A:TOMPI
SYMBOL:FIX_SID_A:SARRI
TEXTALIGN:LB
TEXT:LADAT:LA:5:0
TEXT:PIREK:PI:5:0
TEXT:TOMPI:TO:5:0

COLOR:sid_west
SYMBOL:FIX_SID_A:ZWN
SYMBOL:FIX_SID_A:IXWIB
SYMBOL:FIX_SID_B:SARRI
TEXTALIGN:RB
TEXT:ZWN:ZW:-5:0
TEXTALIGN:LT
TEXT:IXWIB:IX:5:0

COLOR:label
TEXTALIGN:RB
TEXT:SARRI:SA:-5:0