//---------------------------------------------------------------
//                 EDSB - Karlsruhe/Baden-Baden
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\513-EDSB.jinja
#}
{%- set SE = "N048.35.20.100:E007.42.53.100" %}

MAP:EDSB 03/21
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 03 ----
STYLE:Solid
COLOR:sid_east
// GAGSI
COORD:EDSB/21
COORD:SB050
COORD_DF:030M:R:2.53:10:SB051
COORD:PABLA
COORD:GAGSI
COORDLINE
// STR
COORD:SB050
COORD:SB052
COORD_DF:030M:L:2.48:10:SB053
COORD:{{SE}}
COORD:STR
COORDLINE
// TUBLO
COORD:GAGSI
COORD:TUBLO
COORDLINE

// Labels
TEXTALIGN:RB
TEXT:N048.49.52.200:E008.07.55.000:Y:-5:0


// ---- RWY 21 ----
STYLE:Solid
COLOR:sid_west
// GAGSI
COORD:EDSB/03
COORD:SB041
COORD_DF:210M:L:3.02:10:SB042
COORD:GAGSI
COORDLINE
// STR
COORD:SB041
COORD:SB040
COORD:LUPEN
COORD:STR
COORDLINE
// TUBLO
COORD:SB040
COORD_DF:210M:L:4.9:10:SB043
COORD:TUBLO
COORDLINE

// Labels
TEXTALIGN:RB
TEXT:N048.42.57.300:E008.01.35.200:Z:-5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:GAGSI
SYMBOL:FIX_SID_A:STR
SYMBOL:FIX_SID_A:TUBLO

COLOR:sid_west
SYMBOL:FIX_SID_B:GAGSI
SYMBOL:FIX_SID_B:STR
SYMBOL:FIX_SID_B:TUBLO

COLOR:label
TEXTALIGN:RB
TEXT:STR:ST:-5:0
TEXTALIGN:LB
TEXT:GAGSI:GA:5:0
TEXT:TUBLO:TU:5:0