//---------------------------------------------------------------
//                           EDTL - Lahr
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\514-EDTL.jinja
#}

MAP:EDTL 03/21
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 03 ----
STYLE:Solid
COLOR:sid_east
// NATOR
COORD:EDTL/21
COORD:TL061
COORD:TL060
COORD:LUGUS
COORD:NATOR
COORDLINE
// STR
COORD:TL061
COORD_DF:027M:L:2.53:10:TL062
COORD:STR
COORDLINE
// SUL
COORD:LUGUS
COORD:SUL
COORDLINE

// Labels
TEXTALIGN:RB
TEXT:N048.25.06.200:E007.52.10.400:Q/W:-5:0


// ---- RWY 21 ----
STYLE:Solid
COLOR:sid_west
// NATOR
COORD:EDTL/03
COORD:TL053
COORD:TL050
COORD_DF:207M:L:2.16:10:TL051
COORD:TL052
COORD:NATOR
COORDLINE
// STR
COORD:TL053
COORD_DF:207M:L:2.35:10:TL054
COORD:LHR
COORD:LUPEN
COORD:STR
COORDLINE
// SUL
COORD:TL052
COORD:TL055
COORD:SUL
COORDLINE

// Labels
TEXTALIGN:RB
TEXT:N048.18.35.400:E007.46.50.400:R/X:-5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:NATOR
SYMBOL:FIX_SID_A:STR
SYMBOL:FIX_SID_A:SUL

COLOR:sid_west
SYMBOL:FIX_SID_B:NATOR
SYMBOL:FIX_SID_B:STR
SYMBOL:FIX_SID_B:SUL

COLOR:label
TEXTALIGN:LT
TEXT:NATOR:NA:5:0
TEXT:SUL:SU:5:0
TEXTALIGN:RB
TEXT:STR:ST:-5:0