//---------------------------------------------------------------
//                    EDTY - Schwaebisch Hall
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\500-EDxx\515-EDTY.jinja
#}

MAP:EDTY 10/28
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 10 ----
STYLE:Solid
COLOR:sid_east
// DKB
COORD:EDTY/28
COORD:TY300
COORD:TY301
COORD:DKB
COORDLINE
// ETASA
COORD:TY300
COORD:TY310
COORD:TY311
COORDLINE
COORD:TY312
COORD:TY111
COORD:ETASA
COORDLINE
// GUPIN
COORD:TY300
COORD:TY290
COORD:GUPIN
COORDLINE
// LAMPU
COORD:TY310
COORD:LAMPU
COORDLINE
// LBU
COORD:TY290
COORD:NOTGA
COORD:LBU
COORDLINE
// WUHFU
COORD:TY670
COORD:WUHFU
COORDLINE

STYLE:sid_dash_east
// DKB/ETASA
LINE:TY311:TY312
// WUHFU/YOLFO
LINE:TY290:TY670

// Labels
TEXTALIGN:LB
TEXT:N049.06.41.600:E009.51.07.900:E:5:0


// ---- RWY 28 ----
STYLE:Solid
COLOR:sid_west
// DKB
COORD:EDTY/10
COORD:TY680
COORD:TY312
COORDLINE
COORD:TY311
COORD:DKB
COORDLINE
// ETASA
COORD:TY680
COORD:ETASA
COORDLINE
// GUPIN
COORD:TY680
COORD:TY670
COORD:GUPIN
COORDLINE
// LAMPU
COORD:TY680
COORD:LAMPU
COORDLINE
// LBU
COORD:TY680
COORD:NOSBU
COORD:LBU
COORDLINE
// YOLFO
COORD:TY290
COORD:YOLFO
COORDLINE

STYLE:sid_dash_west
// DKB/ETASA
LINE:TY311:TY312
// WUHFU/YOLFO
LINE:TY290:TY670

// Labels
TEXTALIGN:LB
TEXT:N049.07.32.100:E009.42.03.300:W:5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:DKB
SYMBOL:FIX_SID_A:ETASA
SYMBOL:FIX_SID_A:GUPIN
SYMBOL:FIX_SID_A:LAMPU
SYMBOL:FIX_SID_A:LBU
SYMBOL:FIX_SID_A:WUHFU
TEXTALIGN:RB
TEXT:WUHFU:WU:-5:0

COLOR:sid_west
SYMBOL:FIX_SID_B:DKB
SYMBOL:FIX_SID_B:ETASA
SYMBOL:FIX_SID_B:GUPIN
SYMBOL:FIX_SID_B:LAMPU
SYMBOL:FIX_SID_B:LBU
SYMBOL:FIX_SID_A:YOLFO
TEXTALIGN:LB
TEXT:YOLFO:YO:5:0

COLOR:label
TEXTALIGN:RB
TEXT:ETASA:ET:-5:0
TEXT:LBU:LB:-5:0
TEXTALIGN:LT
TEXT:GUPIN:GU:5:0
TEXTALIGN:LB
TEXT:DKB:DK:5:0
TEXT:LAMPU:LA:5:0