//---------------------------------------------------------------
//                          Fixes/Navaids
//---------------------------------------------------------------
{%- set fixes = [
    'ABAMI',
    'ABDAP',
    'ABGAN',
    'ABLUM',
    'ABILU',
    'ABSIX',
    'ABODU',
    'ABSUL',
    'ABUMO',
    'ABUKA',
    'ADENU',
    'ADEMI',
    'ADIBA',
    'ADMUM',
    'ADKUV',
    'ADUSU',
    'AGATI',
    'AFNAF',
    'AGBUL',
    'AGENI',
    'AKABI',
    'AKANU',
    'ALEXU',
    'ALIBU',
    'ALOHE',
    'ALOSI',
    'AMALI',
    'AMASI',
    'AMETU',
    'AMIKI',
    'AMOSA',
    'AMSAN',
    'AMOSU',
    'AMTIX',
    'ANEKI',
    'ANELA',
    'ANORA',
    'ANZIV',
    'ARCKY',
    'ARNIX',
    'ARNOP',
    'ARPEG',
    'ARTER',
    'ARVUG',
    'ASBAB',
    'ASKIK',
    'ASBON',
    'ASDAK',
    'ASLEP',
    'ASLEP',
    'ASPAT',
    'ASMOX',
    'BADLI',
    'BADGO',
    'BADOT',
    'BAMAS',
    'BAMKI',
    'BAMTO',
    'BAMSU',
    'BANIM',
    'BARSU',
    'BANUX',
    'BARAG',
    'BASUM',
    'BATEB',
    'BATGA',
    'BATTY',
    'BATUB',
    'BEBLA',
    'BEGAR',
    'BEMBO',
    'BERDI',
    'BESNI',
    'BERXO',
    'BETAG',
    'BETZO',
    'BIBEG',
    'BIBTA',
    'BIBTI',
    'BIGGE',
    'BIFTE',
    'BIGSU',
    'BIRKA',
    'BOBMO',
    'BODAN',
    'BOKNI',
    'BOLKI',
    'BOMBI',
    'BUFAH',
    'BUGIB',
    'BUGUR',
    'BURAM',
    'BUSEP',
    'CELQU',
    'CINDY',
    'COSJE',
    'CUSNU',
    'DAMJA',
    'DEBHI',
    'DEGOM',
    'DEMAB',
    'DENEL',
    'DENOL',
    'DENOV',
    'DEPAD',
    'DETEV',
    'DEVRU',
    'DIBIR',
    'DILUG',
    'DINKU',
    'DITAM',
    'DITBA',
    'DIXAT',
    'DODEN',
    'DODIL',
    'DOMEG',
    'DONAB',
    'DOSIS',
    'EBANA',
    'EBATU',
    'EDISA',
    'EDUDU',
    'EEDER',
    'EGAKA',
    'EHZOF',
    'EKPUT',
    'EKSAK',
    'EKSOS',
    'EKTOT',
    'ELBAL',
    'ELLUM',
    'ELMOX',
    'ELNAT',
    'ELTUK',
    'ELVAG',
    'EMBAD',
    'EMGOD',
    'EMKIL',
    'ENUGA',
    'ERADI',
    'ERDOK',
    'ERETO',
    'ERKUM',
    'ERLET',
    'ERMEL',
    'ERNAS',
    'ERNUD',
    'ERSET',
    'ERSIL',
    'ERTES',
    'ERUKI',
    'ESADU',
    'ESAMA',
    'ESATI',
    'ESEGU',
    'ESOBU',
    'ESULI',
    'ETAGO',
    'ETARU',
    'ETASA',
    'ETEBO',
    'ETENO',
    'ETIDI',
    'ETOLU',
    'ETOXU',
    'EVDAL',
    'EXITI',
    'EXOBA',
    'FEDZA',
    'FULNO',
    'FURIC',
    'GAGSI',
    'GAPLA',
    'GARGU',
    'GASKA',
    'GEBDA',
    'GEBNO',
    'GEBSO',
    'GEDEH',
    'GEPKO',
    'GERKU',
    'GESBI',
    'GESLO',
    'GESLU',
    'GETNI',
    'GEVTA',
    'GIBSA',
    'GIGET',
    'GISAT',
    'GISDI',
    'GISEM',
    'GIVOR',
    'GOBNO',
    'GOLMO',
    'GOPAS',
    'GORKO',
    'GOTGI',
    'GOTIG',
    'GOXLI',
    'GUBAX',
    'GUPIN',
    'HAREM',
    'HEFOP',
    'HERBI',
    'HEUSE',
    'IBAGA',
    'IBAGU',
    'IBESA',
    'IBGES',
    'IBINI',
    'IBVIL',
    'IDARO',
    'IDOVI',
    'IMCOM',
    'IMVIX',
    'INBAX',
    'INBED',
    'INBOS',
    'INKAM',
    'INLAR',
    'IRBUP',
    'IRDIP',
    'IXUVU',
    'KARLU',
    'KATCE',
    'KEGAB',
    'KEGOS',
    'KEMAD',
    'KENUM',
    'KEPIT',
    'KEPOM',
    'KETEG',
    'KISEK',
    'KODUK',
    'KOGES',
    'KOGIT',
    'KOKEB',
    'KOMIB',
    'KONAP',
    'KOSEK',
    'KOVAN',
    'KULIX',
    'KUMER',
    'KUMIK',
    'KUNOD',
    'LADAT',
    'LALMI',
    'LAMGO',
    'LAMOP',
    'LAMPU',
    'LARUB',
    'LASGA',
    'LASTO',
    'LATBA',
    'LEBSO',
    'LEDMU',
    'LENDO',
    'LEPSA',
    'LESMO',
    'LEVBU',
    'LIMGO',
    'LIPKA',
    'LIPMI',
    'LIRSU',
    'LOHRE',
    'LOKTA',
    'LONLI',
    'LUGUS',
    'LULAT',
    'LUPEN',
    'LUPOX',
    'LUSIX',
    'LUXUX',
    'MABAB',
    'MADET',
    'MADOR',
    'MAGES',
    'MAKIK',
    'MAKOT',
    'MANEM',
    'MANUV',
    'MAPAD',
    'MAPIG',
    'MAPOX',
    'MARUN',
    'MASEK',
    'MASIR',
    'MATUG',
    'MAXOT',
    'MEBIX',
    'MEVEL',
    'MIGTO',
    'MILGI',
    'MINGA',
    'MIPDU',
    'MIPSI',
    'MISGI',
    'MISGO',
    'MISRI',
    'MITRU',
    'MOBSA',
    'MODRU',
    'MONAX',
    'MOOCE',
    'MOPAN',
    'MOSAB',
    'MOSUG',
    'MOVUM',
    'MULDO',
    'NAPRO',
    'NARUS',
    'NATOR',
    'NATSU',
    'NAZAF',
    'NEBLU',
    'NEGIX',
    'NEGRA',
    'NEKLO',
    'NELLI',
    'NEREL',
    'NETEX',
    'NEVKO',
    'NIBIL',
    'NIKUT',
    'NIMIT',
    'NISIV',
    'NIVNU',
    'NOKDI',
    'NOLRU',
    'NOMBO',
    'NONKO',
    'NORKU',
    'NORTA',
    'NOSPA',
    'NOTGA',
    'NUDGO',
    'OBIBI',
    'OBIGA',
    'OBISI',
    'OBOKA',
    'OBORN',
    'ODAVU',
    'ODEGU',
    'ODIPI',
    'ODVUX',
    'OGLOR',
    'OHMAR',
    'OKIBA',
    'OKKOC',
    'OLALI',
    'OLDOD',
    'OLGAD',
    'OLGIL',
    'OLIVI',
    'OLKAS',
    'OLPEX',
    'OLUXU',
    'OMOGI',
    'ONUNE',
    'ORTAG',
    'OSBAN',
    'OSBIT',
    'OSDIK',
    'OSDUR',
    'OTMON',
    'PABLA',
    'PADBA',
    'PARYD',
    'PEKIG',
    'PELUN',
    'PEPEB',
    'PESOV',
    'PETIX',
    'PETOM',
    'PHALO',
    'PIBAD',
    'PICWI',
    'PIGAB',
    'PILAM',
    'PIMIP',
    'PIPEP',
    'PIREK',
    'PIROT',
    'PITES',
    'PODAT',
    'PODEN',
    'PODER',
    'PODIP',
    'PONIG',
    'QATJA',
    'RALAM',
    'RANIN',
    'RASPU',
    'RASVO',
    'RATIM',
    'REBGU',
    'REDNI',
    'REDVO',
    'REKDI',
    'RELBI',
    'RELKO',
    'RIDAR',
    'RIDSU',
    'RIGVI',
    'RILAX',
    'RIMAD',
    'RIMET',
    'RIMKI',
    'RINEX',
    'RIPKU',
    'RITUP',
    'RIXED',
    'ROBAR',
    'ROBEG',
    'ROCUH',
    'RODOG',
    'ROKIL',
    'ROKUS',
    'ROLIS',
    'ROLSO',
    'ROMIN',
    'ROMIR',
    'RONTU',
    'ROPUV',
    'RORUS',
    'ROSUX',
    'ROTEK',
    'ROTWE',
    'RUDOT',
    'RUDUS',
    'RUFGA',
    'RUNEN',
    'RUNER',
    'RUTAP',
    'SARBU',
    'SARRI',
    'SIGEN',
    'SILWE',
    'SIPVU',
    'SISMI',
    'SOBRA',
    'SOBTU',
    'SODNA',
    'SODRO',
    'SOGMI',
    'SOLGO',
    'SOLVU',
    'SOMIM',
    'SOMIX',
    'SONEB',
    'SONGI',
    'SONOM',
    'SONOR',
    'SOPOK',
    'SOPOX',
    'SORAL',
    'SOREM',
    'SOSAD',
    'SOXOS',
    'SUDEN',
    'SUKAD',
    'SUKON',
    'SULUS',
    'SUMAS',
    'SUMOP',
    'SUNEG',
    'SUPIX',
    'SUTAL',
    'SUVOX',
    'SUXIM',
    'SWALM',
    'TABAT',
    'TABUM',
    'TAGIK',
    'TAKUT',
    'TALAL',
    'TAMEB',
    'TANJO',
    'TASWI',
    'TEBRO',
    'TEDGO',
    'TEKTU',
    'TENLI',
    'TENLO',
    'TESGA',
    'TIGPI',
    'TIKNI',
    'TINIK',
    'TINSA',
    'TIPUT',
    'TIVUN',
    'TOBAK',
    'TOBOP',
    'TOLEY',
    'TOLGI',
    'TOLTA',
    'TOMPI',
    'TONSU',
    'TOSTU',
    'TUBLO',
    'TUDGA',
    'TULDO',
    'TUNIV',
    'TURUX',
    'TUSOS',
    'TUSUK',
    'TUTOV',
    'TUVTI',
    'UBASI',
    'UBEGA',
    'UBENO',
    'UBIDU',
    'UCEDE',
    'ULKIG',
    'UMDAS',
    'UMUPU',
    'UMVIS',
    'UNOKO',
    'UPALA',
    'UPDAT',
    'USFIL',
    'UTABA',
    'UVANO',
    'VABEN',
    'VAGAB',
    'VATAK',
    'VEBAK',
    'VELIS',
    'VELNI',
    'VESID',
    'VIBOM',
    'WEMAR',
    'WERRA',
    'XAROL',
    'XERUM',
    'XIBIG',
    'XIDOD',
    'XINLA',
    'ZELTI',
] %}

MAP:Fixes
FOLDER:Fixes
ACTIVE:1
ASRDATA:EDGG,EDDK,EDDL,EDDS
COLOR:standard
{%- for fx in fixes %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}

MAP:Fixes w/ L
FOLDER:Fixes
TEXTALIGN:LB
COLOR:standard
{%- for fx in fixes %}
SYMBOL:FIX2:{{fx}}:{{fx}}:5:0
{%- endfor %}