{%- set fixes = [
    'EBIPA',
    'KERAX',
    'MAMBU',
    'OSPUL',
    'RAMOB',
    'SPESA',
    'BIKMU',
    'DOMUX',
    'ELDAR',
    'HALME',
    'PISAP',
    'BIFTE',
    'ERNEP',
    'ERUKI',
    'GULKO',
    'KOPAG',
    'ARSUT',
    'BADSO',
    'NOSBU',
    'REUTL',
    'TEKSI',
    'DODAS',
    'LETKU',
    'ROBEL',
    'BETEX',
    'BITBU',
    'EXCOS',
] %}

MAP:TMA Fixes
FOLDER:Fixes
ACTIVE:1
ASRDATA:EDGG,EDDK,EDDL,EDDS
COLOR:Active_Map_Type_1
{%- for fx in fixes %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}

MAP:TMA Fixes w/ L
FOLDER:Fixes
TEXTALIGN:LB
COLOR:Active_Map_Type_1
{%- for fx in fixes %}
SYMBOL:FIX2:{{fx}}:{{fx}}:5:0
{%- endfor %}