{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\010-fixes\011-navaids.jinja
#}

{%- set BAM = 'N051.19.39.900:E007.10.37.100' %}
{%- set PAD = 'N051.37.24.500:E008.38.21.800' %}
{%- set SPA = 'N049.58.44.300:E006.41.51.700' %}
{%- set STR = 'N048.30.19.400:E007.34.19.100' %}
{%- set navaids = [
    'ALG',
    'ANS',
    'AUG',
    'BLM',
    'BOT',
    'CHA',
    'COL',
    'DIK',
    'DKB',
    'DOR',
    'DRN',
    'ERF',
    'ERL',
    'FFM',
    'FHH',
    'FKS',
    'FUL',
    'GED',
    'GMH',
    'GOT',
    'GSB',
    'GTQ',
    'HAN',
    'HLZ',
    'HMM',
    'HOC',
    'ILM',
    'INN',
    'KBA',
    'KLF',
    'KLO',
    'KPT',
    'KRH',
    'LAA',
    'LBU',
    'LIE',
    'LMA',
    'LNO',
    'LUX',
    'MAG',
    'MAH',
    'MAS',
    'MHV',
    'MIQ',
    'MND',
    'MTR',
    'NIE',
    'NKR',
    'NVO',
    'OKG',
    'OSN',
    'OTT',
    'PAT',
    'RDG',
    'RKN',
    'RMS',
    'RTT',
    'SAD',
    'SAS',
    'SBG',
    'SHD',
    'SPI',
    'SPY',
    'SUL',
    'TAU',
    'TRA',
    'VFM',
    'WIB',
    'WLD',
    'WRB',
    'WSN',
    'WYP',
    'ZUE',
    'ZWN',
] %}

MAP:Navaids
FOLDER:Fixes
ACTIVE:1
ASRDATA:EDGG,EDDK,EDDL,EDDS
COLOR:standard
{%- for nav in navaids %}
SYMBOL:VOR:{{nav}}
{%- endfor %}
SYMBOL:VOR:{{BAM}}
SYMBOL:VOR:{{PAD}}
SYMBOL:VOR:{{SPA}}
SYMBOL:VOR:{{STR}}

MAP:Navaids w/ L
FOLDER:Fixes
TEXTALIGN:LB
COLOR:standard
{%- for nav in navaids %}
SYMBOL:VOR:{{nav}}:{{nav}}:5:0
{%- endfor %}
SYMBOL:VOR:{{BAM}}:BAM:5:0
SYMBOL:VOR:{{PAD}}:PAD:5:0
SYMBOL:VOR:{{SPA}}:SPA:5:0
SYMBOL:VOR:{{STR}}:STR:5:0