// ------------------------------ LVP -------------------------------
{% for runway in ['25', '07'] %}
MAP:{{runway}}
AIRPORT:EDDS
FOLDER:LVP|Heavy
COLOR:LVP_ORTHOGONAL
{{ data.edds_kml['layout']['lvp']['heavy'][runway + '_orthogonal_a'] | render_area('OTHER:REGION:\\') }}
{{ data.edds_kml['layout']['lvp']['heavy'][runway + '_orthogonal_b'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_SENSITIVE
{{ data.edds_kml['layout']['lvp']['heavy'][runway + '_sensitive'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_CRITICAL
STYLE:SOLID:2
{{ data.edds_kml['layout']['lvp']['heavy'][runway + '_critical_loc'] | render_area('OTHER:REGION:\\') }}
{{ data.edds_kml['layout']['lvp']['heavy'][runway + '_critical_gs'] | render_area('OTHER:REGION:\\') }}
// LOC
STYLE:SOLID:2
COLOR:LVP_MARKING
{{ loc_tick(runways.EDDS[runway], 0, -0.01) }}
{{ loc_tick(runways.EDDS[runway], 0, 0.01) }}
{% endfor %}

{% for runway in ['25', '07'] %}
MAP:{{runway}}
AIRPORT:EDDS
FOLDER:LVP|Super
COLOR:LVP_ORTHOGONAL
{{ data.edds_kml['layout']['lvp']['super'][runway + '_orthogonal_a'] | render_area('OTHER:REGION:\\') }}
{{ data.edds_kml['layout']['lvp']['super'][runway + '_orthogonal_b'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_SENSITIVE
{{ data.edds_kml['layout']['lvp']['super'][runway + '_sensitive'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_CRITICAL
STYLE:SOLID:2
{{ data.edds_kml['layout']['lvp']['super'][runway + '_critical_loc'] | render_area('OTHER:REGION:\\') }}
{{ data.edds_kml['layout']['lvp']['super'][runway + '_critical_gs'] | render_area('OTHER:REGION:\\') }}
// LOC
STYLE:SOLID:2
COLOR:LVP_MARKING
{{ loc_tick(runways.EDDS[runway], 0, -0.01) }}
{{ loc_tick(runways.EDDS[runway], 0, 0.01) }}
{% endfor %}