// ----------------------------- LVP Areas --------------------------

MAP:25
AIRPORT:EDDS
FOLDER:LVP|Heavy
// Orthogonal
{{ data.edds_kml['layout']['lvp']['heavy']['25_orthogonal_a'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
{{ data.edds_kml['layout']['lvp']['heavy']['25_orthogonal_b'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
// Sensitive
{{ data.edds_kml['layout']['lvp']['heavy']['25_sensitive'] | to_coordtype('', 'lvp-sensitive', 'OTHER', 'REGION', '\\') }}
// Critical
STYLE:SOLID:2
{{ data.edds_kml['layout']['lvp']['heavy']['25_critical_loc'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
{{ data.edds_kml['layout']['lvp']['heavy']['25_critical_gs'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDS['25'], 0, -0.01) }}
{{ loc_tick(runways.EDDS['25'], 0, 0.01) }}

MAP:07
AIRPORT:EDDS
FOLDER:LVP|Heavy
// Orthogonal
{{ data.edds_kml['layout']['lvp']['heavy']['07_orthogonal_a'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
{{ data.edds_kml['layout']['lvp']['heavy']['07_orthogonal_b'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
// Sensitive
{{ data.edds_kml['layout']['lvp']['heavy']['07_sensitive'] | to_coordtype('', 'lvp-sensitive', 'OTHER', 'REGION', '\\') }}
// Critical
STYLE:SOLID:2
{{ data.edds_kml['layout']['lvp']['heavy']['07_critical_loc'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
{{ data.edds_kml['layout']['lvp']['heavy']['07_critical_gs'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDS['07'], 0, -0.01) }}
{{ loc_tick(runways.EDDS['07'], 0, 0.01) }}

MAP:25
AIRPORT:EDDS
FOLDER:LVP|Super
// Orthogonal
{{ data.edds_kml['layout']['lvp']['super']['25_orthogonal_a'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
{{ data.edds_kml['layout']['lvp']['super']['25_orthogonal_b'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
// Sensitive
{{ data.edds_kml['layout']['lvp']['super']['25_sensitive'] | to_coordtype('', 'lvp-sensitive', 'OTHER', 'REGION', '\\') }}
// Critical
STYLE:SOLID:2
{{ data.edds_kml['layout']['lvp']['super']['25_critical_loc'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
{{ data.edds_kml['layout']['lvp']['super']['25_critical_gs'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDS['25'], 0, -0.01) }}
{{ loc_tick(runways.EDDS['25'], 0, 0.01) }}

MAP:07 
AIRPORT:EDDS
FOLDER:LVP|Super
// Orthogonal
{{ data.edds_kml['layout']['lvp']['super']['07_orthogonal_a'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
{{ data.edds_kml['layout']['lvp']['super']['07_orthogonal_b'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
// Sensitive
{{ data.edds_kml['layout']['lvp']['super']['07_sensitive'] | to_coordtype('', 'lvp-sensitive', 'OTHER', 'REGION', '\\') }}
// Critical
STYLE:SOLID:2
{{ data.edds_kml['layout']['lvp']['super']['07_critical_loc'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
{{ data.edds_kml['layout']['lvp']['super']['07_critical_gs'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDS['07'], 0, -0.01) }}
{{ loc_tick(runways.EDDS['07'], 0, 0.01) }}