// ------------------------ Pushback Stands -------------------------

MAP:Pushback Stands
AIRPORT:EDDS
FOLDER:Apron Info
ACTIVE:1
COLOR:layout-runway
{% for uuid, geom in data.edds_kml['layout']['aproninfo']['pushback'].items() %}
{{- geom | to_line('') -}}
{% endfor %}

MAP:Aircraft Outlines
AIRPORT:EDDS
FOLDER:Apron Info
ACTIVE:1
COORDTYPE:OTHER:REGION
{% for uuid, geom in data.edds_kml['layout']['aproninfo']['aircraft_a'].items() %}
{{- geom | to_poly('', 'layout-runway') }}
{% endfor %}
COORDTYPE:OTHER:POLYGON
{% for uuid, geom in data.edds_kml['layout']['aproninfo']['aircraft_b'].items() %}
{{- geom | to_poly('', 'layout-runway') }}
{% endfor %}