// ------------------------------ Heli ------------------------------

MAP:Helipads
AIRPORT:EDDS
FOLDER:Heli
LAYER:6
ACTIVE:1
ZOOM:400
COLOR:LAYOUT_HOLDINGPOINT
{{ data.edds_kml['layout']['heli']['poly']['Helipad_N'] | render_area('OTHER:POLYGON') }}
{{ data.edds_kml['layout']['heli']['poly']['Helipad_S'] | render_area('OTHER:POLYGON') }}
{{ data.edds_kml['layout']['heli']['symb']['Helipad_N'] | to_symbol('HELIPAD') }}
{{ data.edds_kml['layout']['heli']['symb']['Helipad_S'] | to_symbol('HELIPAD') }}


MAP:Heli Positions
AIRPORT:EDDS
FOLDER:Heli
LAYER:6
ZOOM:600
COLOR:LAYOUT_LABEL_STAND
{% for desig, feat in data.edds_kml['layout']['labels']['heli'].items() %}
{{- feat | to_text('H:-1:0') }}
{% endfor %}
{% for desig, feat in data.edds_kml['layout']['labels']['heli'].items() %}
{{- feat | to_symbol('CIRCLE') }}
{% endfor %}