// ----------------------- Permament Closures -----------------------

MAP:X
AIRPORT:EDDS
FOLDER:Closures
LAYER:4
ACTIVE:1
{{ data.edds_kml['layout']['closures']['poly']['X'] | to_coordtype('', '', 'TWYCLOSED', 'NONE') }}
{{ data.edds_kml['layout']['closures']['symb']['X_a'] | to_coordtype('Cross','closure-symbol') }}
{{ data.edds_kml['layout']['closures']['symb']['X_b'] | to_coordtype('Cross','closure-symbol') }}