// ------------------------- NOTAM Closures -------------------------
{% set default = 0.000005 %}

{#
MAP:W/Z
AIRPORT:EDDS
FOLDER:Closures
LAYER:4
ACTIVE:1
STYLE:Solid:2
{{ data.edds_kml['layout']['closures']['poly']['W_Z'] | to_coordtype('', 'closure', 'TWYCLOSED') }}
#}

MAP:AIP SUP IFR 13/26 - STANDS 45-48
AIRPORT:EDDS
FOLDER:Constructions
LAYER:7
ACTIVE:260504:261030:0:0000:2359
BLOCKS:EDDS:45,46,47,48
{{ data.notam['notam']['EDDS']['construction'] | to_coordtype('Apron','layout-apron') }}
{{ data.notam['notam']['EDDS']['taxiway'] | to_coordtype('Taxiway','layout-taxiway') }}
STYLE:Solid:2
{{ data.notam['notam']['EDDS']['construction'] | to_coordtype('Construction', 'closure', 'TWYCLOSED', 'POLYGON') }}
RESTRICTION:MAXCODE:C
{{ data.notam['notam']['EDDS']['restrictions']['M'] | to_coordtype('', '', 'TWYTYPE', 'NONE') }}