// ----------------------------- Labels -----------------------------
{%- set stands_sec = [
    '9A',
    '24',
    '26',
    '28',
    '71A',
    '74A',
    '200',
    '201',
    '202',
    '203',
    '204',
] %}
{%- set stands_old = [
    '100',
    '101',
    '102',
    '103',
    '104',
    '105',
    '106',
    '200',
    '201',
    '202',
    '203',
    '204',
] %}

MAP:Buffer EDDS
AIRPORT:EDDS
FOLDER:Labels
HIDDEN
LAYER:3
ZOOM:400
{% for uuid, geom in data.edds_kml['layout']['labels']['buffer'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}

MAP:Taxiways
AIRPORT:EDDS
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer EDDS
LAYER:6
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-yellow
{% for desig, geom in data.edds_kml['layout']['labels']['taxiways'].items() if desig != 'Exit 3' %}
{{- geom | to_text(desig) }}
{% endfor %}
TEXTALIGN:LC
{{ data.edds_kml['layout']['labels']['taxiways']['Exit 3'] | to_text('Exit 3') }}

MAP:Stands
AIRPORT:EDDS
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Areas  
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-yellow
{% for desig, geom in data.edds_kml['layout']['labels']['stands'].items() if not desig in stands_sec %}
{{- geom | to_text(desig) }}
{% endfor %}

// New Stands
COLOR:closure-symbol
{% for desig in
[
    '100',
    '101',
    '102',
    '103',
    '104',
    '206',
    '207',
] %}
{{- data.edds_kml['layout']['labels']['stands_new'][desig] | to_text('(' + desig + '):0:10') }}
{% endfor %}

// Strikethrough
COLOR:closure-symbol
FONTSTYLE:700:0:0:0
{% for desig, geom in data.edds_kml['layout']['labels']['stands'].items() if (desig in stands_old) and (not desig in stands_sec) %}
{{- geom | to_text('___:0:-4') }}
{% endfor %}
FONTSTYLE:0

ZOOM:1200
COLOR:layout-label-yellow
{% for desig in stands_sec %}
{{- data.edds_kml['layout']['labels']['stands'][desig] | to_text(desig) }}
{% endfor %}

// Strikethrough
COLOR:closure-symbol
FONTSTYLE:700:0:0:0
{% for desig, geom in data.edds_kml['layout']['labels']['stands'].items() if (desig in stands_old) and (desig in stands_sec) %}
{{- geom | to_text('____:0:-4') }}
{% endfor %}
FONTSTYLE:0

// There is 2 space symbols at the end of the map name to avoid accidental activation by EDDL and EDDK stand maps
MAP:Areas  
AIRPORT:EDDS
FOLDER:Labels
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-stand
{{ data.edds_kml['layout']['labels']['GAT'] | to_text('GAT') }}
{{ data.edds_kml['layout']['labels']['Police'] | to_text('Police') }}
{{ data.edds_kml['layout']['labels']['US Army'] | to_text('US Army') }}

MAP:Buildings
AIRPORT:EDDS
FOLDER:Labels
ZOOM:400
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.edds_kml['layout']['labels']['buildings'].items() if not desig in ['Lufthansa Technik'] %}
{{- geom | to_text(desig) }}
{% endfor %}
{{ data.edds_kml['layout']['labels']['buildings']['Lufthansa Technik'] | to_text('Lufthansa:0:-6') }}
{{ data.edds_kml['layout']['labels']['buildings']['Lufthansa Technik'] | to_text('Technik:0:6') }}