// ----------------------------- Labels -----------------------------

MAP:Buffer   (EDDS)
AIRPORT:EDDS
FOLDER:Labels
HIDDEN
LAYER:3
ZOOM:400
{% for uuid, geom in data.edds_kml['layout']['labels']['buffer'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}

MAP:Taxiways (EDDS)
AIRPORT:EDDS
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer   (EDDS)
LAYER:6
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-yellow
{% for desig, geom in data.edds_kml['layout']['labels']['taxiways'].items() if desig != 'Exit 3' %}
{{- geom | to_text(desig) }}
{% endfor %}
TEXTALIGN:LC
{{ data.edds_kml['layout']['labels']['taxiways']['Exit 3'] | to_text('Exit 3') }}

MAP:Stands   (EDDS)
AIRPORT:EDDS
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Areas    (EDDS)
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-yellow
{% for desig, geom in data.edds_kml['layout']['labels']['stands'].items() if not desig in
[
    '9A',
    '24',
    '26',
    '28',
    '71A',
    '74A',
    '200',
    '201',
    '202',
    '203',
    '204',
] %}
{{- geom | to_text(desig) }}
{% endfor %}
ZOOM:1200
{% for desig in
[
    '9A',
    '24',
    '26',
    '28',
    '71A',
    '74A',
    '200',
    '201',
    '202',
    '203',
    '204',
] %}
{{- data.edds_kml['layout']['labels']['stands'][desig] | to_text(desig) }}
{% endfor %}

MAP:Areas    (EDDS)
AIRPORT:EDDS
FOLDER:Labels
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-stand
{{ data.edds_kml['layout']['labels']['GAT'] | to_text('GAT') }}
{{ data.edds_kml['layout']['labels']['Police'] | to_text('Police') }}
{{ data.edds_kml['layout']['labels']['US Army'] | to_text('US Army') }}

MAP:Buildings
AIRPORT:EDDS
FOLDER:Labels
ZOOM:400
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.edds_kml['layout']['labels']['buildings'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}