// ------------------------- NOTAM Closures -------------------------
{% set default = 0.000005 %}
MAP:W/Z
AIRPORT:EDDS
FOLDER:Closures
ACTIVE:1
STYLE:Solid:2
COORDTYPE:TWYCLOSED:REGION
{{ data.edds_kml['layout']['closures']['poly']['W_Z'] | to_poly('','closure') }}

MAP:NOTAM A0758/25 - STANDS 16-18
AIRPORT:EDDS
FOLDER:Construction
ACTIVE:250401:250930:0:0000:2359
BLOCKS:EDDS:16,17,18
{{ data.notam['notam']['EDDS']['apron'] | to_poly('Apron','layout-apron') }}
{{ data.notam['notam']['EDDS']['taxiway'] | to_poly('Taxiway','layout-taxiway') }}
STYLE:Solid:4
COLOR:layout-taxiway
{{ data.edds_aixm['GuidanceLineMarking']['213e8273-6d19-4bb3-b7b9-7b30c2e31522'] | simplify(default) | to_line('') -}}
{{ data.edds_aixm['GuidanceLineMarking']['6a66009e-cfb9-4614-abdd-ca0906970826'] | simplify(default) | to_line('') -}}
STYLE:Solid:1
COLOR:layout-taxiline-yellow
{{ data.edds_aixm['GuidanceLineMarking']['6a66009e-cfb9-4614-abdd-ca0906970826'] | simplify(default) | to_line('') -}}
{{ data.notam['notam']['EDDS']['taxilanes']['M'] | to_line('') -}}
{{ data.notam['notam']['EDDS']['taxilanes']['L2'] | to_line('') -}}
STYLE:Solid:2
COORDTYPE:TWYCLOSED:POLYGON
{{ data.notam['notam']['EDDS']['construction'] | to_poly('Construction','closure') }}
COORDTYPE:TWYTYPE:NONE
RESTRICTION:MAXCODE:C
{{ data.notam['notam']['EDDS']['restrictions']['M_L2'] | to_poly('','red') }}