// ------------------------- NOTAM Closures -------------------------

MAP:W/Z
AIRPORT:EDDS
FOLDER:Closures
ACTIVE:1
STYLE:Solid:2
COORDTYPE:TWYCLOSED:REGION
{{ data.edds_kml['layout']['closures']['poly']['W_Z'] | to_poly('','closure') }}
