// -------------------- Restriction Maps (NOTAM) --------------------

MAP:Restrictions NOTAM
AIRPORT:EDDS
FOLDER:Restrictions
ZOOM:400

// L2
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.notam['notam']['EDDS']['restrictions']['L2'] | to_line('') -}}
{{ data.notam['notam']['EDDS']['restrictions']['M_1'] | to_line('') -}}
{{ data.edds_kml['layout']['restrictions']['line']['L2_a'] | to_line('') -}}
{{ data.edds_kml['layout']['restrictions']['line']['L2_O'] | to_line('') -}}

// M 
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.notam['notam']['EDDS']['restrictions']['M_2'] | to_line('') -}}