//---------------------------------------------------------------
//                   EDDG - Muenster/Osnabrueck
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\500-EDxx\500-EDDG.jinja
#}
{%- set sids = {
    "07": {
        "BOTTA":   ['DG704', 'BOTTA'],
        "DOMEGxE": ['EDDG/25', 'DG072', 'DG071', 'DG701', 'DG702', 'DOMEG'],
        "EXOBA":   ['DG701', 'DG706', 'EXOBA'],
        "OSNAD":   ['DG701', 'OSNAD'],
        "SUVOX":   ['DG702', 'DG703', 'DG704', 'DG705', 'SUVOX'],
        "DOMEGxY": ['DG071', 'DOMEG'],
    },
    "25": {
        "AMSAN":   ['EDDG/07', 'DG023', 'DG251', 'DG253', 'DG257', 'DG259', 'AMSAN'],
        "BOTTA":   ['DG257', 'BOTTA'],
        "DOMEGxW": ['DG251', 'DG704', 'DOMEG'],
        "EXOBA":   ['DG255', 'DG256', 'EXOBA'],
        "OSNADxW": ['DG253', 'DG254', 'DG027', 'DG255', 'OSNAD'],
        "SUVOX":   ['DG257', 'DG258', 'SUVOX'],
        "DOMEGxZ": ['DG023', 'DG026', 'DOMEG'],
        "OSNADxZ": ['DG026', 'DG027'],
    },
} %}
{%- set rnav = {
    "07": [
        'HMM',
        'OSN',
        'KEMOT',
        'DG010',
        'DG011',
        'DG012',
    ],
    "25": [
        'HMM',
        'OSN',
        'IBATO',
        'DG014',
        'DG015',
        'DG016',
    ]
} %}

MAP:EDDG 07/25
FOLDER:SIDs
LAYER:3

// ---- RWY 07 ----
STYLE:Solid
COLOR:sid_east
// AMSAN
COORD:DG072
COORD_DF:070M:L:1.29:10:DG073
COORD:AMSAN
COORDLINE
{%- for desig, fixes in sids['07'].items() if desig not in ['DOMEGxY'] %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:alternate
{%- for sid in ['DOMEGxY'] %}
// {{sid}}
{%- for fx in sids['07'][sid] %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:LT
TEXT:N052.07.10.600:E007.43.14.700:Y:5:0
TEXTALIGN:LB
TEXT:N052.10.09.600:E007.44.00.800:Y:5:0
TEXT:N052.07.50.500:E007.52.32.100:E:5:0


// ---- RWY 25 ----
STYLE:Solid
COLOR:sid_west
{%- for desig, fixes in sids['25'].items() if desig not in ['DOMEGxZ', 'OSNADxZ'] %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:alternate
{%- for sid in ['DOMEGxZ', 'OSNADxZ'] %}
// {{sid}}
{%- for fx in sids['25'][sid] %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:RT
TEXT:N052.04.04.900:E007.30.48.500:W:-5:0
TEXTALIGN:RB
TEXT:N052.05.17.300:E007.38.24.700:Z:-5:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:AMSAN
SYMBOL:FIX_SID_A:BOTTA
SYMBOL:FIX_SID_A:DOMEG
SYMBOL:FIX_SID_A:EXOBA
SYMBOL:FIX_SID_A:OSNAD
SYMBOL:FIX_SID_A:SUVOX

COLOR:sid_west
SYMBOL:FIX_SID_B:AMSAN
SYMBOL:FIX_SID_B:BOTTA
SYMBOL:FIX_SID_B:DOMEG
SYMBOL:FIX_SID_B:EXOBA
SYMBOL:FIX_SID_B:OSNAD
SYMBOL:FIX_SID_B:SUVOX

COLOR:label
TEXTALIGN:RB
TEXT:AMSAN:AM:-5:0
TEXT:BOTTA:BO:-5:0
TEXT:DOMEG:DO:-5:0
TEXT:SUVOX:SU:-5:0
TEXTALIGN:LB
TEXT:EXOBA:EX:5:0
TEXT:OSNAD:OS:5:0


MAP:EDDG RNAV 07
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDDG07:DEP:*
COLOR:standard
SYMBOL:VOR:HMM
SYMBOL:VOR:OSN
{%- for fx in rnav['07'] if fx not in ['HMM', 'OSN'] %}
SYMBOL:FIX3:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in rnav['07'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}


MAP:EDDG RNAV 25
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDDG25:DEP:*
COLOR:standard
SYMBOL:VOR:HMM
SYMBOL:VOR:OSN
{%- for fx in rnav['25'] if fx not in ['HMM', 'OSN'] %}
SYMBOL:FIX3:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in rnav['25'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}


MAP:EDDG ILS/NDB 07
FOLDER:NON-RNAV APP
LAYER:3
STYLE:Dot:1
COLOR:nonrnav
// via OSN
COORD:OSN
COORD_FC:251M:32.6
COORD_TURN:1.05:10:251M:146
COORDLINE
// via HMM
COORD:HMM
COORD_FC:312M:15.5
COORD_DF:312M:R:1.52:10:KEMOT
COORDLINE
// Fixes
SYMBOL:VOR:OSN
SYMBOL:VOR:HMM
SYMBOL:FIX3:KEMOT
// Altitudes
TEXTALIGN:RT
TEXT:N051.58.24.600:E007.30.55.900:A50:-5:0
TEXTALIGN:LT
TEXT:N052.05.40.000:E007.42.42.200:A50:5:0
TEXT:KEMOT:A30:5:0


MAP:EDDG ILS/NDB 25
FOLDER:NON-RNAV APP
LAYER:3
STYLE:Dot:1
COLOR:nonrnav
// via OSN
COORD:OSN
COORD_FC:267M:10.4
COORDLINE
// via HMM
COORD:HMM
COORD_FC:032M:21.5
COORD_DF:032M:L:1.82:10:IBATO
COORDLINE
// Fixes
SYMBOL:VOR:OSN
SYMBOL:VOR:HMM
SYMBOL:FIX3:IBATO
// Altitudes
TEXTALIGN:CT
TEXT:N052.11.58.900:E008.11.01.400:A50:0:5
TEXTALIGN:LT
TEXT:N052.03.46.300:E007.56.23.900:A50:5:0
TEXT:IBATO:A30:5:0