//---------------------------------------------------------------
//                       EDDR - Saarbruecken
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\500-EDxx\501-EDDR.jinja
#}
{%- set rnav = {
    "08": [
        'IXWIB',
        'DR600',
        'DR601',
        'DR603',
        'DR650',
    ],
    "26": [
        'IXWIB',
        'DR550',
    ]
} %}

MAP:EDDR 08/26
FOLDER:SIDs
LAYER:3

// ---- RWY 08 ----
STYLE:SOLID
COLOR:ORANGE
// GTQ
COORD:EDDR/26
COORD:DR200
COORD_DF:084M:R:1.95:10:DR202
COORD:DR203
COORD:DR204
COORD:GTQ
COORDLINE
// IXWIB
COORD:DR200
COORD:DR201
COORD:IXWIB
COORDLINE
// TOMPIxL
COORD:DR201
COORD_DF:084M:L:2.98:10:DR205
COORD:TOMPI
COORDLINE

STYLE:ALTERNATE
// TOMPIxK
COORD:EDDR/26
COORD_DF:084M:L:1.5:10:DR207
COORDLINE

// Labels
TEXTALIGN:LT
TEXT:N049.12.35.400:E007.14.03.900:L:5:0
TEXTALIGN:LC
TEXT:N049.19.59.800:E007.04.41.700:K:8:0


// ---- RWY 26 ----
STYLE:SOLID
COLOR:BLUE
// GTQxM
COORD:EDDR/08
COORD:DR101
COORD_DF:264M:R:2.02:10:DR102
COORD_FC:025M:1
COORD_DF:025M:R:2.48:10:DR105
COORD:GTQ
COORDLINE
// IXWIB
COORD:N049.17.55.200:E007.00.47.800     // Continuation of the GTQxM right turn
COORD:DR104
COORD:IXWIB
COORDLINE
// TOMPIxM
COORD:N049.16.34.900:E006.57.36.100     // Continuation of the GTQxM right turn
COORD:TOMPI
COORDLINE

STYLE:ALTERNATE
// GTQxS
COORD:DR101
COORD:DR107
COORD:DR108
COORD:GTQ
COORDLINE
// TOMPIxN
COORD:EDDR/08
COORD_DF:264M:R:1.5:10:DR106
COORD:DR207
COORDLINE

// Labels
TEXTALIGN:RB
TEXT:DR102:M:-5:0
TEXT:DR108:S:-5:0
TEXTALIGN:RC
TEXT:N049.19.59.800:E007.04.41.700:N:-8:0


// ---- RWY 09/27 ----
COLOR:GREY
// TOMPIxK/N
LINE:DR207:TOMPI

// Fixes
COLOR:ORANGE
SYMBOL:FIX_SID_A:GTQ
SYMBOL:FIX_SID_A:IXWIB
SYMBOL:FIX_SID_A:TOMPI

COLOR:BLUE
SYMBOL:FIX_SID_B:GTQ
SYMBOL:FIX_SID_B:IXWIB
SYMBOL:FIX_SID_B:TOMPI

COLOR:Active_Map_Type_2
TEXTALIGN:LT
TEXT:GTQ:GT:5:0
TEXT:IXWIB:IX:5:0
TEXTALIGN:LB
TEXT:TOMPI:TO:5:0


MAP:EDDR RNP 08
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDDR08:DEP:*
COLOR:Active_Map_Type_1
SYMBOL:FIX:IXWIB
{%- for fx in rnav['08'] if not fx in ['IXWIB'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in rnav['08'] if not fx in ['IXWIB'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}
TEXTALIGN:LT
TEXT:IXWIB:IXWIB:5:0


MAP:EDDR RNP 26
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDDR26:DEP:*
COLOR:Active_Map_Type_1
SYMBOL:FIX:IXWIB
{%- for fx in rnav['26'] if not fx in ['IXWIB'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in rnav['26'] if not fx in ['IXWIB'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}
TEXTALIGN:LT
TEXT:IXWIB:IXWIB:5:0


MAP:EDDR VOR 08
FOLDER:NON-RNAV APP
LAYER:3
STYLE:DOT:1
COLOR:ORANGE
// via ZWN
COORD:ZWN
COORD_FC:273M:22
COORD_DF:273M:L:1.83:10:DR009
COORD_FC:83.4M:6.9
COORDLINE
// Fixes
SYMBOL:VOR:ZWN
SYMBOL:FIX2:DR009
// Altitudes
TEXTALIGN:LB
TEXT:N049.15.45.300:E006.51.29.900:A50:5:0
TEXTALIGN:RC
TEXT:N049.13.51.900:E006.48.28.400:210KT:-5:0
TEXTALIGN:LT
TEXT:DR009:A35:5:0


MAP:EDDR ILS 26
FOLDER:NON-RNAV APP
LAYER:3
STYLE:DOT:1
// via ZWN
COLOR:ORANGE
COORD:DR550
COORD:DR013
COORD_DF:084M:L:2.7:2:ZWN
COORDLINE
// Fixes
SYMBOL:VOR:ZWN
SYMBOL:FIX2:DR550
SYMBOL:FIX2:DR013
// Altitudes
TEXTALIGN:CB
TEXT:ZWN:A40:0:-5
TEXTALIGN:LT
TEXT:DR550:A35:5:0

// via IXWIB
COLOR:GREY
COORD:DR013
COORD:IXWIB
COORDLINE
// Fixes
SYMBOL:FIX:IXWIB
// Altitudes
TEXTALIGN:CT
TEXT:IXWIB:A40:0:5