//---------------------------------------------------------------
//                      EDFH - Frankfurt-Hahn
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\500-EDxx\502-EDFH.jinja
#}
{%- set trans = {
    "03": [
        'EMGOD',
        'OLGIL',
        'OLIVI',
        'RINIR',
        'FH400',
        'FH401',
        'FH402',
        'FH403',
        'FH404',
        'FH405',
        'FH406',
        'FH410',
        'FH411',
        'FH412',
        'FH414',
        'FH415',
    ],
    "21": [
        'OLGIL',
        'OLIVI',
        'RALUV',
        'ROLIS',
        'ROPUV',
        'FH502',
        'FH503',
        'FH504',
        'FH505',
        'FH506',
        'FH510',
        'FH511',
        'FH515',
        'FH516',
        'FH517',
    ]
} %}

MAP:EDFH 03
FOLDER:Transitions
ACTIVE:RWY:ARR:EDFH03:DEP:*
COLOR:standard
{%- for fx in ['EMGOD', 'OLGIL', 'OLIVI'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
{%- for fx in trans['03'] if fx not in ['EMGOD', 'OLGIL', 'OLIVI'] %}
SYMBOL:FIX3:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in trans['03'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}


MAP:EDFH 21
FOLDER:Transitions
ACTIVE:RWY:ARR:EDFH21:DEP:*
COLOR:standard
{%- for fx in ['OLGIL', 'OLIVI', 'ROLIS', 'ROPUV'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
{%- for fx in trans['21'] if fx not in ['OLGIL', 'OLIVI', 'ROLIS', 'ROPUV'] %}
SYMBOL:FIX3:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in trans['21'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}


MAP:EDFH 03/21
FOLDER:SIDs
LAYER:3

// ---- RWY 03 ----
STYLE:Solid
COLOR:sid_east
// GEBDA
COORD:EDFH/21
COORD:FH060
COORD_DF:031M:R:2.41:10:FH067
COORD:OLIVI
COORD:GEBDA
COORDLINE
// IDAROxE
COORD:FH060
COORD_DF:031M:L:2.39:10:FH061
COORD:ABDAP
COORD:IDARO
COORDLINE
// RUDOTxE
COORD:ABDAP
COORD:RUDOT
COORDLINE
// ULKIGxE
COORD:FH061
COORD_DF:212M:L:2.38:10:FH062
COORD:HAN
COORD:ABSIX
COORDLINE

STYLE:alternate
// xT
COORD:FH060
COORD:FH063
COORD_DF:031M:L:2.32:10:FH066
COORD:FH061
COORDLINE
// ULKIGxT
COORD:FH066
COORD_DF:212M:L:2.38:10:FH064
COORD:HAN
COORD:ABSIX
COORDLINE

STYLE:sid_dash_east
// ULKIG
COORD:ABSIX
COORD:FH081
COORD:ULKIG
COORDLINE

// Labels
TEXTALIGN:RB
TEXT:FH061:E/K:-5:0
TEXT:FH066:L/T:-5:0
TEXTALIGN:LB
TEXT:FH067:E:5:0


// ---- RWY 21 ----
STYLE:Solid
COLOR:sid_west
// GEBDA/IDARO
COORD:EDFH/03
COORD:FH069
COORD:FH070
COORD:FH076
COORD:FH075
COORD:IDARO
COORD:MAPIG
COORD:GEBDA
COORDLINE
// OLIVI
COORD:FH069
COORD_DF:211M:L:1.63:10:FH079
COORD:OLIVI
COORDLINE
// RUDOTxS
COORD:FH070
COORD_DF:211M:R:2.11:10:FH073
COORD:FH080
COORD:RUDOT
COORDLINE
// ULKIGxS
COORD:FH073
COORD_DF:343M:R:2.07:10:FH071
COORD:SOMIM
COORD:ABSIX
COORDLINE

STYLE:alternate
// RUDOTxL
COORD:FH076
COORD_DF:211M:R:2.6:10:FH078
COORD:RUDOT
COORDLINE
// ULKIGxL
COORD:FH078
COORD_DF:342M:R:2.37:10:FH077
COORD:SOMIM
COORDLINE

STYLE:sid_dash_west
// ULKIG
COORD:ABSIX
COORD:FH081
COORD:ULKIG
COORDLINE

// Labels
TEXTALIGN:RT
TEXT:FH078:L:-5:0
TEXTALIGN:LT
TEXT:FH075:L/Y:5:0
TEXTALIGN:LB
TEXT:FH079:S:5:0
TEXTALIGN:CB
TEXT:N049.54.07.800:E007.04.37.900:S:2:0

// Fixes
COLOR:sid_east
SYMBOL:FIX_SID_A:GEBDA
SYMBOL:FIX_SID_A:IDARO
SYMBOL:FIX_SID_A:RUDOT
SYMBOL:FIX_SID_A:ULKIG

COLOR:sid_west
SYMBOL:FIX_SID_B:GEBDA
SYMBOL:FIX_SID_B:IDARO
SYMBOL:FIX_SID_A:OLIVI
SYMBOL:FIX_SID_B:RUDOT
SYMBOL:FIX_SID_B:ULKIG
TEXTALIGN:LB
TEXT:OLIVI:OL:5:0

COLOR:label
TEXTALIGN:LB
TEXT:GEBDA:GE:5:0
TEXTALIGN:RB
TEXT:IDARO:ID:-5:0
TEXT:RUDOT:RU:-5:0
TEXTALIGN:RT
TEXT:ULKIG:UL:-5:0