//---------------------------------------------------------------
//                      EDFM - Mannheim City
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\500-EDxx\503-EDFM.jinja
#}
{%- set rnav = {
    "27": [
        'NKR',
        'EPOMA',
        'KETEG',
        'RINEX',
        'FM001',
        'FM002',
    ]
} %}

MAP:EDFM 09/27
FOLDER:SIDs
LAYER:3

// ---- RWY 09 ----
STYLE:SOLID
COLOR:ORANGE
// MANEM
COORD:EDFM/27
COORD:FM040
COORD:FM041
COORD:FM042
COORD:FM043
COORDLINE
COORD:FM005
COORD:FM052
COORDLINE
// OLIVI
COORD:FM042
COORD:FM045
COORDLINE
// RINEX
COORD:FM041
COORD:FM044
COORD_DF:147M:R:1.55:10:FM046
COORDLINE
// ROLSO
COORD:FM044
COORD:FM047
COORD:NKR
COORDLINE

STYLE:SID_DASH_EAST
// MANEM
LINE:FM005:FM043
LINE:FM052:MANEM
// OLIVI
COORD:FM045
COORD:KOSAX
COORD:OLIVI
COORDLINE
// RINEX
LINE:FM046:RINEX
// ROLSO
LINE:NKR:ROLSO
// UMDAS
LINE:FM047:UMDAS

// Labels
TEXTALIGN:LB
TEXT:FM040:C:5:0


// ---- RWY 27 ----
STYLE:SOLID
COLOR:BLUE
// MANEM
COORD:EDFM/09
COORD:FM050
COORD:FM004
COORD:FM052
COORDLINE
// OLIVI
COORD:FM050
COORD:FM053
COORD:FM045
COORDLINE
// RINEX
COORD:FM004
COORD_DF:195M:L:2.6:10:FM005
COORDLINE
COORD:FM043
COORD:RINEX
COORDLINE
// ROLSO
COORD:FM046
COORD:NKR
COORDLINE
// UMDAS
COORD:RINEX
COORD:FM047
COORDLINE

STYLE:SID_DASH_WEST
// MANEM
LINE:FM052:MANEM
// OLIVI
COORD:FM045
COORD:KOSAX
COORD:OLIVI
COORDLINE
// RINEX
LINE:FM005:FM043
// ROLSO
LINE:FM046:RINEX
LINE:NKR:ROLSO
// UMDAS
LINE:FM047:UMDAS

// Labels
TEXTALIGN:RB
TEXT:N049.27.42.500:E008.25.58.800:W:-5:0

// Fixes
COLOR:ORANGE
SYMBOL:FIX_SID_A:OLIVI
SYMBOL:FIX_SID_A:ROLSO
SYMBOL:FIX_SID_A:UMDAS
SYMBOL:FIX_SID_A:MANEM
SYMBOL:FIX_SID_A:RINEX

COLOR:BLUE
SYMBOL:FIX_SID_B:OLIVI
SYMBOL:FIX_SID_B:ROLSO
SYMBOL:FIX_SID_B:UMDAS
SYMBOL:FIX_SID_B:MANEM
SYMBOL:FIX_SID_B:RINEX

COLOR:Active_Map_Type_2
TEXTALIGN:LB
TEXT:OLIVI:OL:5:0
TEXT:ROLSO:RO:5:0
TEXT:UMDAS:UM:5:0
TEXTALIGN:LT
TEXT:MANEM:MA:5:0
TEXT:RINEX:RI:5:0


MAP:EDFM RNAV 27
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDFM27:DEP:*
COLOR:Active_Map_Type_1
SYMBOL:VOR:NKR
SYMBOL:FIX:KETEG
SYMBOL:FIX:RINEX
{%- for fx in rnav['27'] if fx not in ['NKR', 'KETEG', 'RINEX'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in rnav['27'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}


MAP:EDFM LOC 27
FOLDER:NON-RNAV APP
LAYER:3
STYLE:DOT:1
COLOR:ORANGE
// via RINEX
COORD:RINEX
COORD:NKR
COORD_CR:050M:RID:147M
COORD_DF:050M:L:1.8:10:EPOMA
COORD_FD:270.4M:MND:1
COORDLINE
// via KETEG
COORD:KETEG
COORD_FC:273M:3.4
COORD_TURN:45:1:273M:-2.1
COORDLINE
// Fixes
SYMBOL:VOR:NKR
SYMBOL:FIX2:EPOMA
SYMBOL:FIX2:KETEG
SYMBOL:FIX2:RINEX
// Altitudes
TEXTALIGN:CT
TEXT:EPOMA:A50:0:5