//---------------------------------------------------------------
//                   EDLN - Moenchengladbach
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\500-EDxx\506-EDLN.jinja
#}
{%- set sids = {
    "13": {
        "ABODU": ['EDLN/31', 'LN131', 'LN132', 'LN133', 'LN134', 'LMA'],
        "COL":   ['LN131', 'LN135', 'LN138'],
        "MODRU": ['LN135', 'LN136', 'LN137', 'MODRU'],
        "NVO":   ['LN136', 'NVO'],
        "ROMIN": ['LN132', 'ROMIN'],
    },
    "31": {
        "ABODU": ['LN313', 'LN311', 'LMA'],
        "MODRU": ['LN318', 'MODRU'],
        "NVO":   ['LN319', 'NVO'],
        "ROMIN": ['LN311', 'LN310', 'ROMIN'],
    },
    "both": {
        "COL":   ['LN138', 'LN316', 'LIPMI', 'COL'],
        "GMH":   ['LN316', 'ELBAL', 'DEGOM', 'GMH'],
        "KUMIK": ['DEGOM', 'KUMIK'],
        "NUDGO": ['ELBAL', 'MAMIB', 'KULIX', 'NUDGO'],
        "SONEB": ['LMA', 'ABODU', 'LN140', 'SONEB'],
    },
} %}
{%- set rnp = {
    "13": [
        'MHV',
        'LN400',
        'LN401',
        'SUVIG',
    ],
    "31": [
        'MHV',
        'LN600',
        'LN601',
        'GREKA',
    ]
} %}

MAP:EDLN 13/31
FOLDER:SIDs
LAYER:3

// ---- RWY 13 ----
STYLE:SOLID
COLOR:ORANGE
{%- for desig, fixes in sids['13'].items() %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:SID_DASH_EAST
{%- for desig, fixes in sids['both'].items() %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:LB
TEXT:N051.12.02.700:E006.33.48.500:A/M/Z:5:0


// ---- RWY 31 ----
STYLE:SOLID
COLOR:BLUE
// COL
COORD:EDLN/13
COORD:LN313
COORD_DF:307M:L:1.5:10:LN317
COORD:LN318
COORD:LN319
COORD:LN138
COORDLINE
{%- for desig, fixes in sids['31'].items() %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:SID_DASH_WEST
{%- for desig, fixes in sids['both'].items() %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:LB
TEXT:N051.15.16.900:E006.27.17.000:N:5:0

// Fixes
COLOR:ORANGE
SYMBOL:FIX_SID_A:ABODU
SYMBOL:FIX_SID_A:COL
SYMBOL:FIX_SID_A:GMH
SYMBOL:FIX_SID_A:KUMIK
SYMBOL:FIX_SID_A:MODRU
SYMBOL:FIX_SID_A:NUDGO
SYMBOL:FIX_SID_A:NVO
SYMBOL:FIX_SID_A:ROMIN
SYMBOL:FIX_SID_A:SONEB

COLOR:BLUE
SYMBOL:FIX_SID_B:ABODU
SYMBOL:FIX_SID_B:COL
SYMBOL:FIX_SID_B:GMH
SYMBOL:FIX_SID_B:KUMIK
SYMBOL:FIX_SID_B:MODRU
SYMBOL:FIX_SID_B:NUDGO
SYMBOL:FIX_SID_B:NVO
SYMBOL:FIX_SID_B:ROMIN
SYMBOL:FIX_SID_B:SONEB

COLOR:Active_Map_Type_2
TEXTALIGN:RT
TEXT:COL:CO:-5:0
TEXT:NVO:NV:-5:0
TEXTALIGN:LB
TEXT:ABODU:AB:5:0
TEXT:GMH:GM:5:0
TEXT:KUMIK:KU:5:0
TEXT:NUDGO:NU:5:0
TEXT:SONEB:SO:5:0
TEXTALIGN:RB
TEXT:MODRU:MO:-5:0
TEXT:ROMIN:RO:-5:0


MAP:EDLN RNP 13
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDLN13:DEP:*
COLOR:Active_Map_Type_1
SYMBOL:VOR:MHV
{%- for fx in rnp['13'] if fx not in ['MHV'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in rnp['13'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}

MAP:EDLN RNP 31
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDLN31:DEP:*
COLOR:Active_Map_Type_1
SYMBOL:VOR:MHV
{%- for fx in rnp['31'] if fx not in ['MHV'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in rnp['31'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}

MAP:EDLN ILS/VOR 13
FOLDER:NON-RNAV APP
LAYER:3
STYLE:DOT:1
COLOR:ORANGE
// via MHV
COORD:MHV
COORD_FD:334M:MHV:5.7
COORD_DF:334M:L:1.4:10:SUVIG
COORDLINE
// Fixes
SYMBOL:VOR:MHV
SYMBOL:FIX2:SUVIG
// Altitudes
TEXTALIGN:RT
TEXT:SUVIG:A20:-5:0

MAP:EDLN ILS/VOR 31
FOLDER:NON-RNAV APP
LAYER:3
STYLE:DOT:1
COLOR:ORANGE
// via MHV
COORD:MHV
COORD_FD:147M:MHV:7.6
COORD_DF:147M:L:1.39:10:GREKA
COORDLINE
// Fixes
SYMBOL:VOR:MHV
SYMBOL:FIX2:GREKA
// Altitudes
TEXTALIGN:RT
TEXT:GREKA:A20:-5:0