//---------------------------------------------------------------
//                  EDLP - Paderborn/Lippstadt
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\500-EDxx\507-EDLP.jinja
#}
{%- set PAD_NDB = 'N051.37.24.500:E008.38.21.800' %}
{%- set rnp = {
    "06": [
        'KOMIL',
        'LP025',
        'LP026',
        'LP027',
    ],
    "24": [
        'WRB',
        'IBEGO',
        'LP020',
        'LP021',
        'LP022',
    ]
} %}

MAP:EDLP 06/24
FOLDER:SIDs
LAYER:3

// ---- RWY 06 ----
STYLE:SOLID
COLOR:ORANGE
// DOMEG
COORD:EDLP/24
COORD:LP100
COORD:LP101
COORD_DF:055M:L:2.09:10:LP102
COORD:LP105
COORD:DOMEG
COORDLINE
// GISDI
COORD:LP100
COORD:LP104
COORD:GISDI
COORDLINE
// HMM
COORD:LP105
COORD:HMM
COORDLINE
// TINSA
COORD:LP102
COORD_DF:281M:L:2.09:10:LP106
COORD:LP107
COORD:TINSA
COORDLINE
// WRB
COORD:LP104
COORD:WRB
COORDLINE

// Labels
TEXTALIGN:LB
TEXT:N051.39.27.500:E008.44.18.100:X:5:0


// ---- RWY 24 ----
STYLE:SOLID
COLOR:BLUE
// DOMEG
COORD:EDLP/06
COORD:LP204
COORD:LP203
COORD:DOMEG
COORDLINE
// GISDI
COORD:LP204
COORD:LP205
COORD_DF:235M:L:2.02:10:LP206
COORD:GISDI
COORDLINE
// HMM
COORD:LP203
COORD:HMM
COORDLINE
// TINSA
COORD:LP205
COORD:LP207
COORD:TINSA
COORDLINE
// WRB
COORD:LP206
COORD_DF:138M:L:2.02:10:LP202
COORD:WRB
COORDLINE

// Labels
TEXTALIGN:LT
TEXT:LP204:W:5:0

// Fixes
COLOR:ORANGE
SYMBOL:FIX_SID_A:DOMEG
SYMBOL:FIX_SID_A:GISDI
SYMBOL:FIX_SID_A:HMM
SYMBOL:FIX_SID_A:TINSA
SYMBOL:FIX_SID_A:WRB

COLOR:BLUE
SYMBOL:FIX_SID_B:DOMEG
SYMBOL:FIX_SID_B:GISDI
SYMBOL:FIX_SID_B:HMM
SYMBOL:FIX_SID_B:TINSA
SYMBOL:FIX_SID_B:WRB

COLOR:Active_Map_Type_2
TEXTALIGN:RB
TEXT:DOMEG:DO:-5:0
TEXTALIGN:LT
TEXT:TINSA:TI:5:0
TEXTALIGN:LB
TEXT:GISDI:GI:5:0
TEXT:HMM:HM:5:0
TEXT:WRB:WR:5:0


MAP:EDLP RNP 06
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDLP06:DEP:*
COLOR:Active_Map_Type_1
SYMBOL:VOR:{{PAD_NDB}}
{%- for fx in rnp['06'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
TEXT:{{PAD_NDB}}:PAD:5:0
{%- for fx in rnp['06'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}


MAP:EDLP RNP 24
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDLP24:DEP:*
COLOR:Active_Map_Type_1
SYMBOL:VOR:{{PAD_NDB}}
SYMBOL:VOR:WRB
{%- for fx in rnp['24'] if fx not in ['WRB'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
TEXT:{{PAD_NDB}}:PAD:5:0
{%- for fx in rnp['24'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}


MAP:EDLP ILS/NDB 06
FOLDER:NON-RNAV APP
LAYER:3
STYLE:DOT:1
COLOR:ORANGE
// via PAD
COORD:{{PAD_NDB}}
COORD_FD:254M:PAD:8.8
COORD_DF:254M:L:1.73:10:KOMIL
COORDLINE
// Fixes
SYMBOL:VOR:{{PAD_NDB}}
SYMBOL:FIX2:KOMIL
// Altitudes
TEXTALIGN:LT
TEXT:KOMIL:A30:5:0


MAP:EDLP ILS/NDB 24
FOLDER:NON-RNAV APP
LAYER:3
STYLE:DOT:1
COLOR:ORANGE
// via PAD
COORD:{{PAD_NDB}}
COORD_FD:078M:PAD:8.6
COORD_TURN:1.68:10:078M:-120
COORDLINE
// via WRB
COORD:WRB
COORD_FC:318M:14.2
COORD_DF:318M:L:1.59:10:IBEGO
COORDLINE
// Fixes
SYMBOL:VOR:{{PAD_NDB}}
SYMBOL:VOR:WRB
SYMBOL:FIX2:IBEGO
// Altitudes
TEXTALIGN:LT
TEXT:IBEGO:A30:5:0