//---------------------------------------------------------------
//                       EDQG - Giebelstadt
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\500-EDxx\510-EDQG.jinja
#}
{%- set rnp = {
    "08": [
        'COSJE',
        'GIPAV',
        'QG080',
        'QG081',
        'QG082',
    ],
    "26": [
        'COSJE',
        'SODGU',
        'QG260',
        'QG261',
        'QG262',
    ]
} %}

MAP:EDQG 08/26
FOLDER:SIDs
LAYER:3

// ---- RWY 08 ----
STYLE:SOLID
COLOR:ORANGE
// COSJE
COORD:EDQG/26
COORD:QG001
COORD_DF:076M:L:1.8:10:COSJE
COORDLINE
// TAKUT
COORD:QG001
COORD:QG002
COORD:QG003
COORD:TAKUT
COORDLINE

// Labels
TEXTALIGN:RB
TEXT:QG001:E:-5:0


// ---- RWY 26 ----
STYLE:SOLID
COLOR:BLUE
// COSJE
COORD:EDQG/08
COORD:QG021
COORD:QG030
COORD:QG025
COORD:COSJE
COORDLINE
// TAKUT
COORD:QG021
COORD:QG028
COORD:QG029
COORD:TAKUT
COORDLINE

// Labels
TEXTALIGN:LB
TEXT:N049.38.01.500:E009.49.56.200:W:5:0

// Fixes
COLOR:ORANGE
SYMBOL:FIX_SID_A:COSJE
SYMBOL:FIX_SID_A:TAKUT

COLOR:BLUE
SYMBOL:FIX_SID_B:COSJE
SYMBOL:FIX_SID_B:TAKUT

COLOR:Active_Map_Type_2
TEXTALIGN:LB
TEXT:COSJE:CO:5:0
TEXT:TAKUT:TA:5:0


MAP:EDQG RNP 08
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDQG08:DEP:*
COLOR:Active_Map_Type_1
SYMBOL:FIX:COSJE
{%- for fx in rnp['08'] if fx not in ['COSJE'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in rnp['08'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}


MAP:EDQG RNP 26
FOLDER:RNAV/RNP APP
ACTIVE:RWY:ARR:EDQG26:DEP:*
COLOR:Active_Map_Type_1
SYMBOL:FIX:COSJE
{%- for fx in rnp['26'] if fx not in ['COSJE'] %}
SYMBOL:FIX2:{{fx}}
{%- endfor %}
ZOOM:8
FONTSIZE:=:11
TEXTALIGN:LB
{%- for fx in rnp['26'] %}
TEXT:{{fx}}:{{fx}}:5:0
{%- endfor %}