MAP:Langen Neighbours
ACTIVE:1
ASRDATA:EDGG,EDDK,EDDL
COLOR:DFSGrey
STYLE:Solid:1
{{ data.rawdata['sectors/lsas/arfa.txt'] }}
{{ data.rawdata['sectors/lsas/lsasze.txt'] }}
{{ data.rawdata['sectors/lsas/lsaszn.txt'] }}
{{ data.rawdata['sectors/lsas/lsas-ape.txt'] }}
{{ data.rawdata['sectors/edmm/alb.txt'] }}
{{ data.rawdata['sectors/edmm/frk.txt'] }}
{{ data.rawdata['sectors/edmm/fue.txt'] }}
{{ data.rawdata['sectors/edmm/ger.txt'] }}
{{ data.rawdata['sectors/edmm/hal.txt'] }}
{{ data.rawdata['sectors/edmm/ndg.txt'] }}
{{ data.rawdata['sectors/edmm/trn.txt'] }}
{{ data.rawdata['sectors/edmm/trs.txt'] }}
{{ data.rawdata['sectors/edww/dst.txt'] }}
{{ data.rawdata['sectors/edww/ems.txt'] }}
{{ data.rawdata['sectors/edww/hrz.txt'] }}
{{ data.rawdata['sectors/ehaa.txt'] }}
{{ data.rawdata['sectors/ebbu.txt'] }}
{{ data.rawdata['sectors/lfee.txt'] }}