// ------------------------------------------------------------------
//                                 EDDF
// ------------------------------------------------------------------

// ---------------------------- Apron Area --------------------------
{%- set default = 0.000005 %}

MAP:Apron Area
AIRPORT:EDDF
FOLDER:Airport Layout
ACTIVE:1
{% for uuid, geom in data.eddf_kml['layout']['aprons'].items() %}
{{- geom | to_poly('', 'layout-apron') }}
{% endfor %}
{% for name in
[
    'rwyBlastpad25L',
    'rwyBlastpad07R',
    'rwyBlastpad25C',
    'rwyBlastpad07C',
    'rwyBlastpad25R',
    'rwyBlastpad07L'
] %}
{{- data.eddf_kml['layout']['runways'][name] | to_poly(name, 'layout-apron') }}
{% endfor %}

// ------------------------------- Roads ----------------------------

MAP:Roads
AIRPORT:EDDF
FOLDER:Airport Layout
COLOR:layout-taxiway
{% for uuid, geom in data.eddf_kml['layout']['roads'].items() %}
{{- geom | simplify(default) | to_line('') -}}
{% endfor %}