// ------------------------------------------------------------------
//                                 EDDF
// ------------------------------------------------------------------

// -------------------------- Ground Layout -------------------------

MAP:Apron Area
AIRPORT:EDDF
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_APRON
{% for _, feat in data.eddf_gpkg['ApronElement'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}
{% for _, feat in data.eddf_gpkg['RunwayBlastPad'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Taxiway Movement Area
AIRPORT:EDDF
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.eddf_gpkg['TaxiwayElement'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Runways
AIRPORT:EDDF
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_RUNWAY
{% for _, feat in data.eddf_gpkg['RunwayElement'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}