// -------------------------- Ground Layout -------------------------
{% set default = 0.000005 %}
MAP:Taxiway Movement Area
AIRPORT:EDDF
FOLDER:Airport Layout
ACTIVE:1
{% for uuid, geom in data.eddf_kml['layout']['taxiways'].items() %}
{{- geom | to_poly('', 'layout-taxiway') }}
{% endfor %}

MAP:Runways
AIRPORT:EDDF
FOLDER:Airport Layout
ACTIVE:1
{{ data.eddf_kml['layout']['runways']['07R-25L'] | to_poly('Runway 07R/25L', 'layout-runway') }}
{{ data.eddf_kml['layout']['runways']['07C-25C'] | to_poly('Runway 07C/25C', 'layout-runway') }}
{{ data.eddf_kml['layout']['runways']['07L-25R'] | to_poly('Runway 07L/25R', 'layout-runway') }}
{{ data.eddf_kml['layout']['runways']['18'] | to_poly('Runway 18', 'layout-runway') }}
