// ----------------------------- Stands -----------------------------
{#- TODO: Change simplify() to feat_simplify() when AIXM2 parser gets fixed #}
{%- set tolerance = 0.000005 %}
{%- set index_table = data.eddf_idx['GuidanceLineMarking_Index'] %}

MAP:Lead-in Lines
AIRPORT:EDDF
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXILINE_GREY

// Solid Leadin Lines
{% for uuid, index in index_table.items() if index.properties['type'] == 'LI_TLANE' %}
{{- data.eddf_aixm['GuidanceLineMarking'][uuid] | simplify(tolerance) | render_line(uuid) }}
{% endfor %}

{% for _, feat in data.eddf_kml['layout']['markings']['leadin_solid'].items() %}
{{- feat | render_line }}
{% endfor %}

// Dash Leadin Lines
{% for _, feat in data.eddf_kml['layout']['markings']['leadin_dash'].items() %}
{{- feat | render_line }}
{% endfor %}

// Taxi-Out Arrows
{% for _, feat in data.eddf_kml['layout']['markings']['arrows'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}