// ---------------------------- Taxilanes --------------------------
{#- TODO: Change simplify() to geom_simplify() when AIXM2 parser gets fixed #}
{%- set tolerance = 0.000005 %}
{%- set index_table = data.eddf_index['GuidanceLineMarking_Index'] %}
{%- set guidanceline = data.eddf_aixm['GuidanceLineMarking'] %}

MAP:Taxilanes
AIRPORT:EDDF
FOLDER:Airport Layout
ACTIVE:1
// Taxilanes not available in Flightsim
COLOR:LAYOUT_RUNWAY
{% for uuid, index in index_table.items() if index.properties['type'] == 'DISABLED' %}
{{- guidanceline[uuid] | simplify(tolerance) | render_line(uuid) }}
{% endfor %}

// Yellow Lines
COLOR:LAYOUT_TAXILINE_YELLOW
{% for uuid, index in index_table.items() if index.properties['type'] == 'TWY' %}
{%- if guidanceline[uuid].color == 'YELLOW' %}
{{- guidanceline[uuid] | simplify(tolerance) | render_line(uuid) }}
{%- endif %}
{% endfor %}

// Orange Lines
COLOR:LAYOUT_TAXILINE_ORANGE
{% for uuid, index in index_table.items() if index.properties['type'] == 'TWY' %}
{%- if guidanceline[uuid].color == 'ORANGE' %}
{{- guidanceline[uuid] | simplify(tolerance) | render_line(uuid) }}
{%- endif %}
{% endfor %}

// Blue Lines
COLOR:LAYOUT_TAXILINE_BLUE
{% for uuid, index in index_table.items() if index.properties['type'] == 'TWY' %}
{%- if guidanceline[uuid].color == 'BLUE' %}
{{- guidanceline[uuid] | simplify(tolerance) | render_line(uuid) }}
{%- endif %}
{% endfor %}