// ------------------------- Holding Points -------------------------
{#- TODO: Change simplify() to geom_simplify() when AIXM2 parser gets fixed #}
{%- set tolerance = 0.000005 %}
{%- set index_table = data.eddf_index['TaxiwayMarking_Index'] %}

MAP:Holding Points CAT I
AIRPORT:EDDF
FOLDER:Holding Points
ACTIVE:LVP:EDDF:0
LAYER:5
COLOR:LAYOUT_HOLDINGPOINT
{% for desig, feat in data.eddf_layout['HoldingPoint_Poly'].items() if feat.properties['color'] == 'ORANGE' %}
{{- feat | render_area('OTHER:REGION', desig) }}
{% endfor %}
COLOR:LAYOUT_HOLDINGPOINT_GREY
{% for desig, feat in data.eddf_layout['HoldingPoint_Poly'].items() if feat.properties['color'] == 'GREY' %}
{{- feat | render_area('OTHER:REGION', desig) }}
{% endfor %}
STYLE:SOLID:2
COLOR:LAYOUT_HOLDINGPOINT
{% for desig, feat in data.eddf_layout['HoldingPoint_Line'].items() if feat.properties['color'] == 'ORANGE' %}
{{- feat | render_line(desig) }}
{% endfor %}
COLOR:LAYOUT_HOLDINGPOINT_GREY
{% for desig, feat in data.eddf_layout['HoldingPoint_Line'].items() if feat.properties['color'] == 'GREY' %}
{{- feat | render_line(desig) }}
{% endfor %}


MAP:Holding Points CAT II/III
AIRPORT:EDDF
FOLDER:Holding Points
ACTIVE:LVP:EDDF:1
LAYER:5
COLOR:LAYOUT_HOLDINGPOINT_RED
{% for desig, feat in data.eddf_layout['HoldingPoint_Poly'].items() if feat.properties['type'] in ['BOTH', 'CAT3'] %}
{{- feat | render_area('OTHER:REGION', desig) }}
{% endfor %}
COLOR:LAYOUT_HOLDINGPOINT_GREY
{% for desig, feat in data.eddf_layout['HoldingPoint_Poly'].items() if feat.properties['type'] == 'RWY18' %}
{{- feat | render_area('OTHER:REGION', desig) }}
{% endfor %}
STYLE:SOLID:2
COLOR:LAYOUT_HOLDINGPOINT_RED
{% for desig, feat in data.eddf_layout['HoldingPoint_Line'].items() if feat.properties['type'] == 'BOTH' %}
{{- feat | render_line(desig) }}
{% endfor %}
COLOR:LAYOUT_HOLDINGPOINT_GREY
{% for desig, feat in data.eddf_layout['HoldingPoint_Line'].items() if feat.properties['type'] == 'RWY18' %}
{{- feat | render_line(desig) }}
{% endfor %}


MAP:Stopbars
AIRPORT:EDDF
FOLDER:Holding Points
ACTIVE:1
COLOR:LAYOUT_TAXILINE_GREY
{% for _, feat in data.eddf_layout['HoldingPoint_PolyDot'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:All Stopbars
AIRPORT:EDDF
FOLDER:Holding Points
COLOR:LAYOUT_HOLDINGPOINT
LAYER:5
{% for uuid, _ in index_table.items() %}
{{- data.eddf_aixm['TaxiwayMarking'][uuid] | simplify(tolerance) | render_line(uuid) }}
{% endfor %}