// ------------------------------ LVP -------------------------------
{% for runway in ['25L', '25C', '25R', '07R', '07C', '07L'] %}
MAP:{{runway}}
AIRPORT:EDDF
FOLDER:LVP|Heavy
COLOR:LVP_ORTHOGONAL
{{ data.eddf_info['SensitiveArea'][runway+'_orthogonal_a'] | render_area('OTHER:REGION:\\') }}
{{ data.eddf_info['SensitiveArea'][runway+'_orthogonal_b'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_SENSITIVE
{{ data.eddf_info['SensitiveArea'][runway+'_sensitive'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_CRITICAL
STYLE:SOLID:2
{{ data.eddf_info['SensitiveArea'][runway+'_critical_loc'] | render_area('OTHER:REGION:\\') }}
{{ data.eddf_info['SensitiveArea'][runway+'_critical_gs'] | render_area('OTHER:REGION:\\') }}
// LOC
STYLE:SOLID:2
COLOR:LVP_MARKING
{{ loc_tick(runways.EDDF[runway], 0, -0.01) }}
{{ loc_tick(runways.EDDF[runway], 0, 0.01) }}
{% endfor %}

{% for runway in ['25L', '25C', '07R', '07C'] %}
MAP:{{runway}}
AIRPORT:EDDF
FOLDER:LVP|Super
COLOR:LVP_ORTHOGONAL
{{ data.eddf_info['SensitiveArea'][runway+'_orthogonal_j_a'] | render_area('OTHER:REGION:\\') }}
{{ data.eddf_info['SensitiveArea'][runway+'_orthogonal_j_b'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_SENSITIVE
{{ data.eddf_info['SensitiveArea'][runway+'_sensitive_j'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_CRITICAL
STYLE:SOLID:2
{{ data.eddf_info['SensitiveArea'][runway+'_critical_loc_j'] | render_area('OTHER:REGION:\\') }}
{{ data.eddf_info['SensitiveArea'][runway+'_critical_gs_j'] | render_area('OTHER:REGION:\\') }}
// LOC
STYLE:SOLID:2
COLOR:LVP_MARKING
{{ loc_tick(runways.EDDF[runway], 0, -0.01) }}
{{ loc_tick(runways.EDDF[runway], 0, 0.01) }}
{% endfor %}