// ------------------------------ LVP -------------------------------

MAP:Heavy  25L
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
// Orthogonal
{{ data.eddf_kml['layout']['lvp']['heavy']['25L_orthogonal_a'] | to_poly('', 'lvp-orthogonal') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['25L_orthogonal_b'] | to_poly('', 'lvp-orthogonal') }}
// Sensitive
{{ data.eddf_kml['layout']['lvp']['heavy']['25L_sensitive'] | to_poly('', 'lvp-sensitive') }}
// Critical
STYLE:SOLID:2
{{ data.eddf_kml['layout']['lvp']['heavy']['25L_critical_loc'] | to_poly('', 'lvp-critical') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['25L_critical_gs'] | to_poly('', 'lvp-critical') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['25L'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25L'], 0, 0.01) }}

MAP:       25C
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
// Orthogonal
{{ data.eddf_kml['layout']['lvp']['heavy']['25C_orthogonal_a'] | to_poly('', 'lvp-orthogonal') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['25C_orthogonal_b'] | to_poly('', 'lvp-orthogonal') }}
// Sensitive
{{ data.eddf_kml['layout']['lvp']['heavy']['25C_sensitive'] | to_poly('', 'lvp-sensitive') }}
// Critical
STYLE:SOLID:2
{{ data.eddf_kml['layout']['lvp']['heavy']['25C_critical_loc'] | to_poly('', 'lvp-critical') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['25C_critical_gs'] | to_poly('', 'lvp-critical') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['25C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25C'], 0, 0.01) }}

MAP:       25R
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
// Orthogonal
{{ data.eddf_kml['layout']['lvp']['heavy']['25R_orthogonal_a'] | to_poly('', 'lvp-orthogonal') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['25R_orthogonal_b'] | to_poly('', 'lvp-orthogonal') }}
// Sensitive
{{ data.eddf_kml['layout']['lvp']['heavy']['25R_sensitive'] | to_poly('', 'lvp-sensitive') }}
// Critical
STYLE:SOLID:2
{{ data.eddf_kml['layout']['lvp']['heavy']['25R_critical_loc'] | to_poly('', 'lvp-critical') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['25R_critical_gs'] | to_poly('', 'lvp-critical') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['25R'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25R'], 0, 0.01) }}

MAP:       07R
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
// Orthogonal
{{ data.eddf_kml['layout']['lvp']['heavy']['07R_orthogonal_a'] | to_poly('', 'lvp-orthogonal') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['07R_orthogonal_b'] | to_poly('', 'lvp-orthogonal') }}
// Sensitive
{{ data.eddf_kml['layout']['lvp']['heavy']['07R_sensitive'] | to_poly('', 'lvp-sensitive') }}
// Critical
STYLE:SOLID:2
{{ data.eddf_kml['layout']['lvp']['heavy']['07R_critical_loc'] | to_poly('', 'lvp-critical') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['07R_critical_gs'] | to_poly('', 'lvp-critical') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['07R'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07R'], 0, 0.01) }}

MAP:       07C
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
// Orthogonal
{{ data.eddf_kml['layout']['lvp']['heavy']['07C_orthogonal_a'] | to_poly('', 'lvp-orthogonal') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['07C_orthogonal_b'] | to_poly('', 'lvp-orthogonal') }}
// Sensitive
{{ data.eddf_kml['layout']['lvp']['heavy']['07C_sensitive'] | to_poly('', 'lvp-sensitive') }}
// Critical
STYLE:SOLID:2
{{ data.eddf_kml['layout']['lvp']['heavy']['07C_critical_loc'] | to_poly('', 'lvp-critical') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['07C_critical_gs'] | to_poly('', 'lvp-critical') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['07C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07C'], 0, 0.01) }}

MAP:       07L
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
// Orthogonal
{{ data.eddf_kml['layout']['lvp']['heavy']['07L_orthogonal_a'] | to_poly('', 'lvp-orthogonal') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['07L_orthogonal_b'] | to_poly('', 'lvp-orthogonal') }}
// Sensitive
{{ data.eddf_kml['layout']['lvp']['heavy']['07L_sensitive'] | to_poly('', 'lvp-sensitive') }}
// Critical
STYLE:SOLID:2
{{ data.eddf_kml['layout']['lvp']['heavy']['07L_critical_loc'] | to_poly('', 'lvp-critical') }}
{{ data.eddf_kml['layout']['lvp']['heavy']['07L_critical_gs'] | to_poly('', 'lvp-critical') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['07L'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07L'], 0, 0.01) }}

MAP:Super  25L
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
// Orthogonal
{{ data.eddf_kml['layout']['lvp']['super']['25L_orthogonal_a'] | to_poly('', 'lvp-orthogonal') }}
{{ data.eddf_kml['layout']['lvp']['super']['25L_orthogonal_b'] | to_poly('', 'lvp-orthogonal') }}
// Sensitive
{{ data.eddf_kml['layout']['lvp']['super']['25L_sensitive'] | to_poly('', 'lvp-sensitive') }}
// Critical
STYLE:SOLID:2
{{ data.eddf_kml['layout']['lvp']['super']['25L_critical_loc'] | to_poly('', 'lvp-critical') }}
{{ data.eddf_kml['layout']['lvp']['super']['25L_critical_gs'] | to_poly('', 'lvp-critical') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['25L'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25L'], 0, 0.01) }}

MAP:       25C
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
// Orthogonal
{{ data.eddf_kml['layout']['lvp']['super']['25C_orthogonal_a'] | to_poly('', 'lvp-orthogonal') }}
{{ data.eddf_kml['layout']['lvp']['super']['25C_orthogonal_b'] | to_poly('', 'lvp-orthogonal') }}
// Sensitive
{{ data.eddf_kml['layout']['lvp']['super']['25C_sensitive'] | to_poly('', 'lvp-sensitive') }}
// Critical
STYLE:SOLID:2
{{ data.eddf_kml['layout']['lvp']['super']['25C_critical_loc'] | to_poly('', 'lvp-critical') }}
{{ data.eddf_kml['layout']['lvp']['super']['25C_critical_gs'] | to_poly('', 'lvp-critical') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['25C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25C'], 0, 0.01) }}

MAP:       07R
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
// Orthogonal
{{ data.eddf_kml['layout']['lvp']['super']['07R_orthogonal_a'] | to_poly('', 'lvp-orthogonal') }}
{{ data.eddf_kml['layout']['lvp']['super']['07R_orthogonal_b'] | to_poly('', 'lvp-orthogonal') }}
// Sensitive
{{ data.eddf_kml['layout']['lvp']['super']['07R_sensitive'] | to_poly('', 'lvp-sensitive') }}
// Critical
STYLE:SOLID:2
{{ data.eddf_kml['layout']['lvp']['super']['07R_critical_loc'] | to_poly('', 'lvp-critical') }}
{{ data.eddf_kml['layout']['lvp']['super']['07R_critical_gs'] | to_poly('', 'lvp-critical') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['07R'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07R'], 0, 0.01) }}

MAP:       07C
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
// Orthogonal
{{ data.eddf_kml['layout']['lvp']['super']['07C_orthogonal_a'] | to_poly('', 'lvp-orthogonal') }}
{{ data.eddf_kml['layout']['lvp']['super']['07C_orthogonal_b'] | to_poly('', 'lvp-orthogonal') }}
// Sensitive
{{ data.eddf_kml['layout']['lvp']['super']['07C_sensitive'] | to_poly('', 'lvp-sensitive') }}
// Critical
STYLE:SOLID:2
{{ data.eddf_kml['layout']['lvp']['super']['07C_critical_loc'] | to_poly('', 'lvp-critical') }}
{{ data.eddf_kml['layout']['lvp']['super']['07C_critical_gs'] | to_poly('', 'lvp-critical') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['07C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07C'], 0, 0.01) }}