// ------------------------------- AoR ------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * DEP Frequencies:
        - GRP-PHOENIX-MAPS\8000-app-window\8020-EDDF.jinja
        - TOPSKY-PHOENIX-MAPS\100-EDDF\103-tools.jinja
#}

MAP:EDDF_C_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 25
LAYER:6
COLOR:AOR_GND_A
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFGC_25'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFGC'] | to_text('DFGC 121.855') }}


MAP:EDDF_E_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 25
LAYER:6
COLOR:AOR_GND_C
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFGE_25'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFGE'] | to_text('DFGE 121.955') }}


MAP:EDDF_W_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 25
LAYER:6
COLOR:AOR_GND_B
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFGW_25'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFGW'] | to_text('DFGW 121.755') }}


MAP:EDDF_C_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 07
LAYER:6
COLOR:AOR_GND_A
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFGC_07'] | render_line }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ data.eddf_kml['layout']['aor']['line']['mixed_area'] | render_line }}
ZOOM:300
FONTSIZE:=:13
COLOR:AOR_GND_A
{{ data.eddf_kml['layout']['aor']['labels']['DFGC'] | to_text('DFGC 121.855') }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ data.eddf_kml['layout']['aor']['labels']['mixed_area'] | to_text('MIXED AREA') }}


MAP:EDDF_E_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 07
LAYER:6
COLOR:AOR_GND_C
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFGE_07'] | render_line }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ data.eddf_kml['layout']['aor']['line']['mixed_area'] | render_line }}
ZOOM:300
FONTSIZE:=:13
COLOR:AOR_GND_C
{{ data.eddf_kml['layout']['aor']['labels']['DFGE'] | to_text('DFGE 121.955') }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ data.eddf_kml['layout']['aor']['labels']['mixed_area'] | to_text('MIXED AREA') }}


MAP:EDDF_W_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 07
LAYER:6
COLOR:AOR_GND_B
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFGW_07'] | render_line }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ data.eddf_kml['layout']['aor']['line']['mixed_area'] | render_line }}
ZOOM:300
FONTSIZE:=:13
COLOR:AOR_GND_B
{{ data.eddf_kml['layout']['aor']['labels']['DFGW'] | to_text('DFGW 121.755') }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ data.eddf_kml['layout']['aor']['labels']['mixed_area'] | to_text('MIXED AREA') }}


MAP:EDDF_S_GND (E)
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_GND_E
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFGSE'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{#- South Up #}
FILTER_ASR:EDDF_GND
TEXTALIGN:RC
{{ data.eddf_kml['layout']['aor']['labels']['DFGSE'] | to_text('DFGS 121.655') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
TEXTALIGN:LC
{{ data.eddf_kml['layout']['aor']['labels']['DFGSE'] | to_text('DFGS 121.655') }}


MAP:EDDF_S_GND (W)
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_GND_E
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFGSW'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFGSW'] | to_text('DFGS 121.915') }}


MAP:EDDF_ICE_GND
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_ICE
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFGI'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ data.eddf_kml['layout']['aor']['labels']['DFGW'] | to_text('DFGI 121.985:0:20') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ data.eddf_kml['layout']['aor']['labels']['DFGW'] | to_text('DFGI 121.985:0:-20') }}


MAP:EDDF_GND
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_GND_D
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFG'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFG_a'] | to_text('DFG  121.805') }}
{#- South Up #}
FILTER_ASR:EDDF_GND
TEXTALIGN:RC
{{ data.eddf_kml['layout']['aor']['labels']['DFG_b'] | to_text('DFG  121.805') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
TEXTALIGN:LC
{{ data.eddf_kml['layout']['aor']['labels']['DFG_b'] | to_text('DFG  121.805') }}


MAP:EDDF_C_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_TWR_B
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFTC'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFTC'] | to_text('DFTC 118.780') }}


MAP:EDDF_W_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_TWR_C
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFTW'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{#- South Up #}
FILTER_ASR:EDDF_GND
TEXTALIGN:LC
{{ data.eddf_kml['layout']['aor']['labels']['DFTW'] | to_text('DFTW 124.855') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
TEXTALIGN:RC
{{ data.eddf_kml['layout']['aor']['labels']['DFTW'] | to_text('DFTW 124.855') }}


MAP:EDDF_N_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_TWR_C
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFTN'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFTN'] | to_text('DFTN 136.500') }}


MAP:EDDF_S_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_TWR_A
STYLE:DOT
{{ data.eddf_kml['layout']['aor']['line']['DFTS'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFTS'] | to_text('DFTS 119.905') }}


MAP:EDDF_N_DEP
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
OTHER_MAP_ACT:=:EDDF\DEP Frequency
COLOR:AOR_APP_A
ZOOM:300
FONTSIZE:=:13
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ data.eddf_kml['layout']['aor']['labels']['DFD_a'] | to_text('DFDN 120.155:0:10') }}
{{ data.eddf_kml['layout']['aor']['labels']['DFD_b'] | to_text('DFDN 120.155:0:10') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ data.eddf_kml['layout']['aor']['labels']['DFD_a'] | to_text('DFDN 120.155:0:-10') }}
{{ data.eddf_kml['layout']['aor']['labels']['DFD_b'] | to_text('DFDN 120.155:0:-10') }}


MAP:EDDF_S_DEP
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
OTHER_MAP_ACT:=:EDDF\DEP Frequency
COLOR:AOR_APP_B
ZOOM:300
FONTSIZE:=:13
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ data.eddf_kml['layout']['aor']['labels']['DFD_a'] | to_text('DFDS 136.130:0:-10') }}
{{ data.eddf_kml['layout']['aor']['labels']['DFD_b'] | to_text('DFDS 136.130:0:-10') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ data.eddf_kml['layout']['aor']['labels']['DFD_a'] | to_text('DFDS 136.130:0:10') }}
{{ data.eddf_kml['layout']['aor']['labels']['DFD_b'] | to_text('DFDS 136.130:0:10') }}