// ------------------------ Runway Closures -------------------------

MAP:25L/07R
AIRPORT:EDDF
FOLDER:Auto Runway Closures
HIDDEN
ACTIVE:RWY:ARR:EDDF07R:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF07R
ACTIVE:RWY:ARR:EDDF25L:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF25L
{{ data.eddf_kml['layout']['runways']['07R-25L'] | to_coordtype('', 'green', 'OTHER', 'NONE') }}

MAP:25C/07C
AIRPORT:EDDF
FOLDER:Auto Runway Closures
HIDDEN
ACTIVE:RWY:ARR:EDDF07C:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF07C
ACTIVE:RWY:ARR:EDDF25C:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF25C
{{ data.eddf_kml['layout']['runways']['07C-25C'] | to_coordtype('', 'green', 'OTHER', 'NONE') }}

MAP:25R/07L
AIRPORT:EDDF
FOLDER:Auto Runway Closures
HIDDEN
ACTIVE:RWY:ARR:EDDF07L:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF07L
ACTIVE:RWY:ARR:EDDF25R:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF25R
{{ data.eddf_kml['layout']['runways']['07L-25R'] | to_coordtype('', 'green', 'OTHER', 'NONE') }}

MAP:18
AIRPORT:EDDF
FOLDER:Auto Runway Closures
HIDDEN
ACTIVE:RWY:ARR:EDDF18:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF18
ACTIVE:RWY:ARR:EDDF36:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF36
{{ data.eddf_kml['layout']['runways']['18'] | to_coordtype('', 'green', 'OTHER', 'NONE') }}

MAP:25L/07R
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:MAP:!:Auto Runway Closures\25L/07R
LAYER:4
RWYCLOSEDDEP:EDDF:07R,25L
RWYCLOSEDARR:EDDF:07R,25L
STYLE:Solid:2
{{ data.eddf_kml['layout']['runways']['07R-25L'] | to_coordtype('', 'closure', 'RWYCLOSED') }}

MAP:25C/07C
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:MAP:!:Auto Runway Closures\25C/07C
LAYER:4
RWYCLOSEDDEP:EDDF:07C,25C
RWYCLOSEDARR:EDDF:07C,25C
STYLE:Solid:2
{{ data.eddf_kml['layout']['runways']['07C-25C'] | to_coordtype('', 'closure', 'RWYCLOSED') }}

MAP:25R/07L
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:MAP:!:Auto Runway Closures\25R/07L
LAYER:4
RWYCLOSEDDEP:EDDF:07L,25R
RWYCLOSEDARR:EDDF:07L,25R
STYLE:Solid:2
{{ data.eddf_kml['layout']['runways']['07L-25R'] | to_coordtype('', 'closure', 'RWYCLOSED') }}

MAP:18
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:MAP:!:Auto Runway Closures\18
LAYER:4
RWYCLOSEDDEP:EDDF:18:36
RWYCLOSEDARR:EDDF:18:36
STYLE:Solid:2
{{ data.eddf_kml['layout']['runways']['18'] | to_coordtype('', 'closure', 'RWYCLOSED') }}