// ------------------------------- AoR ------------------------------

MAP:EDDF_C_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 25
LAYER:6
COLOR:aor-gnd-a
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFGC_25'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFGC'] | to_text('DFGC 121.855') }}


MAP:EDDF_E_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 25
LAYER:6
COLOR:aor-gnd-c
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFGE_25a'] | to_line('') -}}
{{ data.eddf_kml['layout']['aor']['line']['DFGE_25b'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFGE'] | to_text('DFGE 121.955') }}

MAP:EDDF_W_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 25
LAYER:6
COLOR:aor-gnd-b
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFGW_25'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFGW'] | to_text('DFGW 121.755') }}

MAP:EDDF_C_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 07
LAYER:6
COLOR:aor-gnd-a
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFGC_07'] | to_line('') -}}
COLOR:layout-label-taxiway
{{ data.eddf_kml['layout']['aor']['line']['mixed_area'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
COLOR:aor-gnd-a
{{ data.eddf_kml['layout']['aor']['labels']['DFGC'] | to_text('DFGC 121.855') }}
COLOR:layout-label-taxiway
{{ data.eddf_kml['layout']['aor']['labels']['mixed_area'] | to_text('MIXED AREA') }}

MAP:EDDF_E_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 07
LAYER:6
COLOR:aor-gnd-c
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFGE_07a'] | to_line('') -}}
{{ data.eddf_kml['layout']['aor']['line']['DFGE_07b'] | to_line('') -}}
COLOR:layout-label-taxiway
{{ data.eddf_kml['layout']['aor']['line']['mixed_area'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
COLOR:aor-gnd-c
{{ data.eddf_kml['layout']['aor']['labels']['DFGE'] | to_text('DFGE 121.955') }}
COLOR:layout-label-taxiway
{{ data.eddf_kml['layout']['aor']['labels']['mixed_area'] | to_text('MIXED AREA') }}

MAP:EDDF_W_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 07
LAYER:6
COLOR:aor-gnd-b
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFGW_07'] | to_line('') -}}
COLOR:layout-label-taxiway
{{ data.eddf_kml['layout']['aor']['line']['mixed_area'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
COLOR:aor-gnd-b
{{ data.eddf_kml['layout']['aor']['labels']['DFGW'] | to_text('DFGW 121.755') }}
COLOR:layout-label-taxiway
{{ data.eddf_kml['layout']['aor']['labels']['mixed_area'] | to_text('MIXED AREA') }}

MAP:EDDF_S_GND
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:aor-gnd-e
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFGS_a'] | to_line('') -}}
{{ data.eddf_kml['layout']['aor']['line']['DFGS_b'] | to_line('') -}}
{{ data.eddf_kml['layout']['aor']['line']['DFGS_c'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFGS_a'] | to_text('DFGS 121.655') }}
TEXTALIGN:LC
{{ data.eddf_kml['layout']['aor']['labels']['DFGS_b'] | to_text('DFGS 121.655') }}

MAP:EDDF_ICE_GND
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:aor-ice-a
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFGI'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFGW'] | to_text('DFGI 121.985:0:20') }}

MAP:EDDF_GND
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:aor-gnd-d
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFG'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFG_a'] | to_text('DFG  121.805') }}
TEXTALIGN:RC
{{ data.eddf_kml['layout']['aor']['labels']['DFG_b'] | to_text('DFG  121.805') }}

MAP:EDDF_C_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:aor-twr-b
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFTC'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFTC'] | to_text('DFTC 118.780') }}

MAP:EDDF_W_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:aor-twr-c
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFTW'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
TEXTALIGN:LC
{{ data.eddf_kml['layout']['aor']['labels']['DFTW'] | to_text('DFTW 124.855') }}

MAP:EDDF_N_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:aor-twr-c
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFTN'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFTN'] | to_text('DFTN 136.500') }}

MAP:EDDF_S_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:aor-twr-a
STYLE:Dot
{{ data.eddf_kml['layout']['aor']['line']['DFTS'] | to_line('') -}}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFTS'] | to_text('DFTS 119.905') }}

MAP:EDDF_N_DEP
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
OTHER_MAP_ACT:=:EDDF\DEP Frequency
COLOR:aor-app-a
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFD_a'] | to_text('DFDN 120.155:0:10') }}
{{ data.eddf_kml['layout']['aor']['labels']['DFD_b'] | to_text('DFDN 120.155:0:10') }}

MAP:EDDF_S_DEP
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
OTHER_MAP_ACT:=:EDDF\DEP Frequency
COLOR:aor-app-b
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_kml['layout']['aor']['labels']['DFD_a'] | to_text('DFDS 136.130:0:-10') }}
{{ data.eddf_kml['layout']['aor']['labels']['DFD_b'] | to_text('DFDS 136.130:0:-10') }}