// ------------------------------- AoR ------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * DEP Frequencies:
        - GRP-PHOENIX-MAPS\8000-app-window\8020-EDDF.jinja
        - TOPSKY-PHOENIX-MAPS\100-EDDF\103-tools.jinja
#}
{#- TODO: Remove macros when filters for the new API are implemented #}
{%- from "_macros.jinja" import render_point %}

MAP:EDDF_C_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 25
LAYER:6
COLOR:AOR_GND_A
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFGC_25'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ render_point(data.eddf_info['AoRLabel']['DFGC'], 'TEXT', 'DFGC 121.855') }}


MAP:EDDF_E_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 25
LAYER:6
COLOR:AOR_GND_C
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFGE_25'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ render_point(data.eddf_info['AoRLabel']['DFGE'], 'TEXT', 'DFGE 121.955') }}


MAP:EDDF_W_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 25
LAYER:6
COLOR:AOR_GND_B
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFGW_25'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ render_point(data.eddf_info['AoRLabel']['DFGW'], 'TEXT', 'DFGW 121.755') }}


MAP:EDDF_C_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 07
LAYER:6
COLOR:AOR_GND_A
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFGC_07'] | render_line }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ data.eddf_info['AoRBoundary']['mixed_area'] | render_line }}
ZOOM:300
FONTSIZE:=:13
COLOR:AOR_GND_A
{{ render_point(data.eddf_info['AoRLabel']['DFGC'], 'TEXT', 'DFGC 121.855') }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ render_point(data.eddf_info['AoRLabel']['mixed_area'], 'TEXT', 'MIXED AREA') }}


MAP:EDDF_E_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 07
LAYER:6
COLOR:AOR_GND_C
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFGE_07'] | render_line }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ data.eddf_info['AoRBoundary']['mixed_area'] | render_line }}
ZOOM:300
FONTSIZE:=:13
COLOR:AOR_GND_C
{{ render_point(data.eddf_info['AoRLabel']['DFGE'], 'TEXT', 'DFGE 121.955') }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ render_point(data.eddf_info['AoRLabel']['mixed_area'], 'TEXT', 'MIXED AREA') }}


MAP:EDDF_W_GND
AIRPORT:EDDF
FOLDER:AoR|EDDF_x_GND 07
LAYER:6
COLOR:AOR_GND_B
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFGW_07'] | render_line }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ data.eddf_info['AoRBoundary']['mixed_area'] | render_line }}
ZOOM:300
FONTSIZE:=:13
COLOR:AOR_GND_B
{{ render_point(data.eddf_info['AoRLabel']['DFGW'], 'TEXT', 'DFGW 121.755') }}
COLOR:LAYOUT_LABEL_TAXIWAY
{{ render_point(data.eddf_info['AoRLabel']['mixed_area'], 'TEXT', 'MIXED AREA') }}


MAP:EDDF_S_GND (E)
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_GND_E
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFGSE'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['AoRLabel']['DFGSE'], 'TEXT/RC', 'DFGS 121.655') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['AoRLabel']['DFGSE'], 'TEXT/LC', 'DFGS 121.655') }}


MAP:EDDF_S_GND (W)
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_GND_E
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFGSW'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ render_point(data.eddf_info['AoRLabel']['DFGSW'], 'TEXT', 'DFGS 121.915') }}


MAP:EDDF_ICE_GND
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_ICE
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFGI'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['AoRLabel']['DFGW'], 'TEXT', 'DFGI 121.985:0:20') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['AoRLabel']['DFGW'], 'TEXT', 'DFGI 121.985:0:-20') }}


MAP:EDDF_GND
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_GND_D
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFG'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ render_point(data.eddf_info['AoRLabel']['DFG_a'], 'TEXT', 'DFG  121.805') }}
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['AoRLabel']['DFG_b'], 'TEXT/RC', 'DFG  121.805') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['AoRLabel']['DFG_b'], 'TEXT/LC', 'DFG  121.805') }}


MAP:EDDF_C_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_TWR_B
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFTC'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ render_point(data.eddf_info['AoRLabel']['DFTC'], 'TEXT', 'DFTC 118.780') }}


MAP:EDDF_W_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_TWR_C
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFTW'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['AoRLabel']['DFTW'], 'TEXT/LC', 'DFTW 124.855') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['AoRLabel']['DFTW'], 'TEXT/RC', 'DFTW 124.855') }}


MAP:EDDF_N_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_TWR_C
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFTN'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ render_point(data.eddf_info['AoRLabel']['DFTN'], 'TEXT', 'DFTN 136.500') }}


MAP:EDDF_S_TWR
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
COLOR:AOR_TWR_A
STYLE:DOT
{{ data.eddf_info['AoRBoundary']['DFTS'] | render_line }}
ZOOM:300
FONTSIZE:=:13
{{ render_point(data.eddf_info['AoRLabel']['DFTS'], 'TEXT', 'DFTS 119.905') }}


MAP:EDDF_N_DEP
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
OTHER_MAP_ACT:=:EDDF\DEP Frequency
COLOR:AOR_APP_A
ZOOM:300
FONTSIZE:=:13
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['AoRLabel']['DFD_a'], 'TEXT', 'DFDN 120.155:0:10') }}
{{ render_point(data.eddf_info['AoRLabel']['DFD_b'], 'TEXT', 'DFDN 120.155:0:10') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['AoRLabel']['DFD_a'], 'TEXT', 'DFDN 120.155:0:-10') }}
{{ render_point(data.eddf_info['AoRLabel']['DFD_b'], 'TEXT', 'DFDN 120.155:0:-10') }}


MAP:EDDF_S_DEP
AIRPORT:EDDF
FOLDER:AoR
LAYER:6
OTHER_MAP_ACT:=:EDDF\DEP Frequency
COLOR:AOR_APP_B
ZOOM:300
FONTSIZE:=:13
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['AoRLabel']['DFD_a'], 'TEXT', 'DFDS 136.130:0:-10') }}
{{ render_point(data.eddf_info['AoRLabel']['DFD_b'], 'TEXT', 'DFDS 136.130:0:-10') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['AoRLabel']['DFD_a'], 'TEXT', 'DFDS 136.130:0:10') }}
{{ render_point(data.eddf_info['AoRLabel']['DFD_b'], 'TEXT', 'DFDS 136.130:0:10') }}