// ------------------------------ RRS -------------------------------
{#- TODO: Remove macros when filters for the new API are implemented #}
{%- from "_macros.jinja" import render_point %}

{% for runway in ['25L', '07R', '25C', '07C', '25R', '07L'] %}
MAP:RRS {{runway}}
AIRPORT:EDDF
FOLDER:Runway Info|RRS
LAYER:6
ACTIVE:RWY:ARR:EDDF{{runway}}:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF{{runway}}
COLOR:RRS_MARKER
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['RRSMarker'][runway+'_2400'], 'SYMBOL:RRS') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['RRSMarker'][runway+'_2400_s'], 'SYMBOL:RRS') }}
{% endfor %}


MAP:RRS 18
AIRPORT:EDDF
FOLDER:Runway Info|RRS
LAYER:6
ACTIVE:RWY:ARR:*:DEP:EDDF18
COLOR:RRS_MARKER
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['RRSMarker']['18_2400'], 'SYMBOL:RRS-E') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['RRSMarker']['18_2400'], 'SYMBOL:RRS-W') }}


{% for runway in ['25L', '07R', '25C', '07C', '25R', '07L'] %}
MAP:RRS 600/1500 {{runway}}
AIRPORT:EDDF
FOLDER:Runway Info|RRS
LAYER:6
COLOR:RRS_MARKER
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['RRSMarker'][runway+'_600'], 'SYMBOL:RRS') }}
{{ render_point(data.eddf_info['RRSMarker'][runway+'_1500'], 'SYMBOL:RRS') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['RRSMarker'][runway+'_600_s'], 'SYMBOL:RRS') }}
{{ render_point(data.eddf_info['RRSMarker'][runway+'_1500_s'], 'SYMBOL:RRS') }}
{% endfor %}