// ------------------------- NOTAM Closures -------------------------

{#
MAP:NOTAM A5213/24 - TWY L9
AIRPORT:EDDF
FOLDER:Closures
LAYER:4
ACTIVE:241007:241216:0:1100:0800
STYLE:Solid:2
{{ data.notam['notam']['EDDF']['L9'] | to_coordtype('', 'closure', 'TWYCLOSED') }}
#}