// -------------------------- Runway Info ---------------------------
{#- TODO: Remove simplify() when AIXM2 parser gets fixed #}
{#- TODO: Remove macros when filters for the new API are implemented #}
{%- from "_macros.jinja" import render_point %}

{% for runway in ['25L', '07R', '25C', '07C', '18'] %}
MAP:TORA {{runway}}
AIRPORT:EDDF
FOLDER:Runway Info
LAYER:6
COLOR:TORA_LABEL
ZOOM:300
{#- South Up #}
FILTER_ASR:EDDF_GND
{% for _, feat in data.eddf_info['TORALabel'].items() if feat.properties['runway'] == runway %}
{{- render_point(feat, 'TEXT/'+feat.properties['textalign'], feat.properties['tora']) }}
{% endfor %}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{% for _, feat in data.eddf_info['TORALabel'].items() if feat.properties['runway'] == runway %}
{{- render_point(feat, 'TEXT/'+feat.properties['textalign_s'], feat.properties['tora']) }}
{% endfor %}
{% endfor %}


MAP:Runway Designators
AIRPORT:EDDF
FOLDER:Runway Info
LAYER:6
ACTIVE:1
COLOR:RUNWAY_LABEL
{% for _, feat in data.eddf_info['RunwayLabel'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Runway Markings
AIRPORT:EDDF
FOLDER:Runway Info
COLOR:LAYOUT_RUNWAY_MARKING
{% for _, feat in data.eddf_aixm['RunwayMarking'].items() if feat.color == 'WHITE' %}
{{- feat | simplify(0) | render_area('OTHER:REGION') }}
{% endfor %}
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.eddf_aixm['RunwayMarking'].items() if feat.color == 'YELLOW' %}
{{- feat | simplify(0) | render_area('OTHER:REGION') }}
{% endfor %}