// ------------------------- Runway Crossing ------------------------
{#- TODO: Change simplify() to geom_simplify() when AIXM2 parser gets fixed #}
{%- set tolerance = 0.000005 %}

MAP:25
AIRPORT:EDDF
FOLDER:Runway Crossing
LAYER:6

// T
COLOR:RESTRICTIONS_F
STYLE:SOLID:3
{{ data.eddf_info['RunwayCrossing_Line']['T'] | render_line }}
STYLE:SOLID:1
{{ data.eddf_info['RunwayCrossing_Poly']['T'] | render_area('OTHER:REGION') }}
COLOR:LAYOUT_HOLDINGPOINT
STYLE:SOLID:1
{{ data.eddf_layout['HoldingPoint_Poly']['T2'] | render_area('OTHER:REGION') }}
STYLE:SOLID:2
{{ data.eddf_layout['HoldingPoint_Line']['T2'] | render_line }}

// M8
COLOR:RESTRICTIONS_D
STYLE:SOLID:3
{{ data.eddf_info['RunwayCrossing_Line']['M8_25'] | render_line }}
STYLE:SOLID:1
{{ data.eddf_info['RunwayCrossing_Poly']['M8_25'] | render_area('OTHER:REGION') }}
STYLE:SOLID:2
COLOR:LAYOUT_HOLDINGPOINT
{{ data.eddf_aixm['TaxiwayMarking']['7233e590-7fc6-dc2b-e053-b4472c0a9450'] | simplify(tolerance) | render_line }}

// M30
COLOR:RESTRICTIONS_E
STYLE:SOLID:3
{{ data.eddf_info['RunwayCrossing_Line']['M30'] | render_line }}
STYLE:SOLID:1
{{ data.eddf_info['RunwayCrossing_Poly']['M30'] | render_area('OTHER:REGION') }}
STYLE:SOLID:2
COLOR:LAYOUT_HOLDINGPOINT
{{ data.eddf_aixm['TaxiwayMarking']['61f3b1e6-5ffb-4693-bf3f-8de116c4ef99'] | simplify(tolerance) | render_line }}

// Y
COLOR:RESTRICTIONS_AB
STYLE:SOLID:3
{{ data.eddf_info['RunwayCrossing_Line']['Y'] | render_line }}
STYLE:SOLID:1
{{ data.eddf_info['RunwayCrossing_Poly']['Y'] | render_area('OTHER:REGION') }}
STYLE:SOLID:2
COLOR:LAYOUT_HOLDINGPOINT
{{ data.eddf_aixm['TaxiwayMarking']['05091d27-5df6-4f84-9c3b-af410b6d525d'] | simplify(tolerance) | render_line }}

// Stands
COLOR:RESTRICTIONS_F
{{ data.eddf_info['RunwayCrossing_Line']['east_a'] | render_line }}
COLOR:RESTRICTIONS_D
{{ data.eddf_info['RunwayCrossing_Line']['east_b'] | render_line }}
COLOR:RESTRICTIONS_E
{{ data.eddf_info['RunwayCrossing_Line']['center'] | render_line }}
COLOR:RESTRICTIONS_AB
{{ data.eddf_info['RunwayCrossing_Line']['west'] | render_line }}


MAP:07
AIRPORT:EDDF
FOLDER:Runway Crossing
LAYER:6

// T
COLOR:RESTRICTIONS_F
STYLE:SOLID:3
{{ data.eddf_info['RunwayCrossing_Line']['T'] | render_line }}
STYLE:SOLID:1
{{ data.eddf_info['RunwayCrossing_Poly']['T'] | render_area('OTHER:REGION') }}
COLOR:LAYOUT_HOLDINGPOINT
STYLE:SOLID:1
{{ data.eddf_layout['HoldingPoint_Poly']['T2'] | render_area('OTHER:REGION') }}
STYLE:SOLID:2
{{ data.eddf_layout['HoldingPoint_Line']['T2'] | render_line }}

// M6
COLOR:RESTRICTIONS_D
STYLE:SOLID:3
{{ data.eddf_info['RunwayCrossing_Line']['M6'] | render_line }}
STYLE:SOLID:1
{{ data.eddf_info['RunwayCrossing_Poly']['M6'] | render_area('OTHER:REGION') }}
COLOR:LAYOUT_HOLDINGPOINT
STYLE:SOLID:1
{{ data.eddf_layout['HoldingPoint_Poly']['L1_c3'] | render_area('OTHER:REGION') }}

// M8
COLOR:RESTRICTIONS_E
STYLE:SOLID:3
{{ data.eddf_info['RunwayCrossing_Line']['M8_07'] | render_line }}
STYLE:SOLID:1
{{ data.eddf_info['RunwayCrossing_Poly']['M8_07'] | render_area('OTHER:REGION') }}
STYLE:SOLID:2
COLOR:LAYOUT_HOLDINGPOINT
{{ data.eddf_aixm['TaxiwayMarking']['5627e7e0-c30d-7c0d-e053-b3472c0a22ab'] | simplify(tolerance) | render_line }}

// Stands
COLOR:RESTRICTIONS_F
{{ data.eddf_info['RunwayCrossing_Line']['east_a'] | render_line }}
COLOR:RESTRICTIONS_D
{{ data.eddf_info['RunwayCrossing_Line']['east_b'] | render_line }}
COLOR:RESTRICTIONS_E
{{ data.eddf_info['RunwayCrossing_Line']['center'] | render_line }}
{{ data.eddf_info['RunwayCrossing_Line']['west'] | render_line }}