// ------------------------ Runway Closures -------------------------

MAP:25L/07R
AIRPORT:EDDF
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDF:07R,25L
RWYCLOSEDARR:EDDF:07R,25L
STYLE:SOLID:2
COLOR:CLOSURE
{{ data.eddf_kml['layout']['runways']['07R-25L'] | render_area('OTHER:REGION') }}


MAP:25C/07C
AIRPORT:EDDF
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDF:07C,25C
RWYCLOSEDARR:EDDF:07C,25C
STYLE:SOLID:2
COLOR:CLOSURE
{{ data.eddf_kml['layout']['runways']['07C-25C'] | render_area('OTHER:REGION') }}


MAP:25R/07L
AIRPORT:EDDF
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDF:07L,25R
RWYCLOSEDARR:EDDF:07L,25R
STYLE:SOLID:2
COLOR:CLOSURE
{{ data.eddf_kml['layout']['runways']['07L-25R'] | render_area('OTHER:REGION') }}


MAP:18
AIRPORT:EDDF
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDF:18,36
RWYCLOSEDARR:EDDF:18,36
STYLE:SOLID:2
COLOR:CLOSURE
{{ data.eddf_kml['layout']['runways']['18'] | render_area('OTHER:REGION') }}