// ----------------------- Permament Closures -----------------------

MAP:M3
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:1
LAYER:4
STYLE:Solid:2
{{ data.eddf_kml['layout']['closures']['poly']['M3'] | to_coordtype('','closure', 'TWYCLOSED') }}
STYLE:Solid:1 
{{ data.eddf_kml['layout']['closures']['symb']['M3_a'] | to_coordtype('','closure-symbol') }}
{{ data.eddf_kml['layout']['closures']['symb']['M3_b'] | to_coordtype('','closure-symbol') }}

MAP:M16
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:1
LAYER:4
STYLE:Solid:2
{{ data.eddf_kml['layout']['closures']['poly']['M16'] | to_coordtype('','closure', 'TWYCLOSED') }}
STYLE:Solid:1
{{ data.eddf_kml['layout']['closures']['symb']['M16'] | to_coordtype('','closure-symbol') }}

MAP:R
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:1
LAYER:4
STYLE:Solid:2
{{ data.eddf_kml['layout']['closures']['poly']['R_1'] | to_coordtype('','closure', 'TWYCLOSED') }}
STYLE:Solid:1
{{ data.eddf_kml['layout']['closures']['symb']['R_1a'] | to_coordtype('','closure-symbol') }}
{{ data.eddf_kml['layout']['closures']['symb']['R_1b'] | to_coordtype('','closure-symbol') }}
{{ data.eddf_kml['layout']['closures']['symb']['R_1c'] | to_coordtype('','closure-symbol') }}

MAP:R
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:1
LAYER:4
STYLE:Solid:2
{{ data.eddf_kml['layout']['closures']['poly']['R_2'] | to_coordtype('','closure', 'TWYCLOSED') }}
STYLE:Solid:1
{{ data.eddf_kml['layout']['closures']['symb']['R_2'] | to_coordtype('','closure-symbol') }}

MAP:W, W9
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:1
LAYER:4
STYLE:Solid:2
{{ data.notam['notam']['EDDF']['W'] | to_coordtype('','closure', 'TWYCLOSED') }}

MAP:W7
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:1
LAYER:4
STYLE:Solid:2
{{ data.eddf_kml['layout']['closures']['poly']['W7'] | to_coordtype('','closure', 'TWYCLOSED') }}
STYLE:Solid:1
{{ data.eddf_kml['layout']['closures']['symb']['W7_a'] | to_coordtype('','closure-symbol') }}
{{ data.eddf_kml['layout']['closures']['symb']['W7_b'] | to_coordtype('','closure-symbol') }}

MAP:Y
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:1
LAYER:4
STYLE:Solid:2
{{ data.eddf_kml['layout']['closures']['poly']['Y'] | to_coordtype('','closure', 'TWYCLOSED') }}
STYLE:Solid:1
{{ data.eddf_kml['layout']['closures']['symb']['Y_a'] | to_coordtype('','closure-symbol') }}
{{ data.eddf_kml['layout']['closures']['symb']['Y_b'] | to_coordtype('','closure-symbol') }}

MAP:S10
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:1
LAYER:4
STYLE:Solid:1
{{ data.eddf_kml['layout']['closures']['symb']['S10'] | to_coordtype('','closure-symbol') }}

// -------------------------- Constructions --------------------------

MAP:S16/S21
AIRPORT:EDDF
FOLDER:Constructions
ACTIVE:1
LAYER:4
STYLE:Solid:2
{{ data.eddf_kml['layout']['closures']['poly']['S16_S21'] | to_coordtype('','closure', 'TWYCLOSED', 'POLYGON') }}
STYLE:Solid:1
{{ data.eddf_kml['layout']['closures']['symb']['S16'] | to_coordtype('','closure-symbol') }}
{{ data.eddf_kml['layout']['closures']['symb']['S21'] | to_coordtype('','closure-symbol') }}
{{ data.eddf_kml['layout']['closures']['symb']['S'] | to_coordtype('','closure-symbol') }}

MAP:Terminal 3
AIRPORT:EDDF
FOLDER:Constructions
ACTIVE:1
LAYER:4
STYLE:Solid:2
{{ data.eddf_kml['layout']['closures']['poly']['terminal3'] | to_coordtype('','closure', 'TWYCLOSED', 'POLYGON') }}