// ------------------------- NOTAM Closures -------------------------

MAP:AIP SUP IFR 38/25 - TWYs L20, L21
AIRPORT:EDDF
FOLDER:Constructions
LAYER:4
ACTIVE:1
STYLE:Solid:2
{{ data.notam['notam']['EDDF']['L20_L21'] | to_coordtype('', 'closure', 'TWYCLOSED') }}

MAP:AIP SUP IFR 40/25 - TWY R
AIRPORT:EDDF
FOLDER:Constructions
LAYER:4
ACTIVE:260514:260531:0:0000:2359
STYLE:Solid:2
{{ data.notam['notam']['EDDF']['R_a'] | to_coordtype('', 'closure', 'TWYCLOSED') }}
{{ data.notam['notam']['EDDF']['R_b'] | to_coordtype('', 'closure', 'TWYCLOSED') }}