// ------------------------- NOTAM Closures -------------------------

MAP:AIP SUP IFR 38/25 - TWYs L20, L21
AIRPORT:EDDF
FOLDER:Constructions
LAYER:4
ACTIVE:1
STYLE:Solid:2
{{ data.notam['notam']['EDDF']['L20_L21'] | to_coordtype('', 'closure', 'TWYCLOSED') }}

MAP:AIP SUP IFR 02/26 - RWY 07C/25C - 1
AIRPORT:EDDF
FOLDER:Constructions
LAYER:6
RWYCLOSEDDEP:EDDF:07C,25C
RWYCLOSEDARR:EDDF:07C,25C
ACTIVE:260309:260313:0:0000:2359
STYLE:Solid:2
{{ data.notam['notam']['EDDF']['SUP-02-26_RWY_a'] | to_coordtype('', 'closure', 'RWYCLOSED') }}
{{ data.notam['notam']['EDDF']['SUP-02-26_RWY_b'] | to_coordtype('', 'closure', 'RWYCLOSED') }}
{{ data.notam['notam']['EDDF']['SUP-02-26_RWY_c'] | to_coordtype('', 'closure', 'RWYCLOSED') }}
{{ data.notam['notam']['EDDF']['SUP-02-26_RWY_d'] | to_coordtype('', 'closure', 'RWYCLOSED') }}
{{ data.notam['notam']['EDDF']['SUP-02-26_M6'] | to_coordtype('', 'closure', 'RWYCLOSED') }}

MAP:AIP SUP IFR 02/26 - RWY 07C/25C - 2
AIRPORT:EDDF
FOLDER:Constructions
LAYER:6
RWYCLOSEDDEP:EDDF:07C,25C
RWYCLOSEDARR:EDDF:07C,25C
ACTIVE:260314:260323:0:0000:2359
STYLE:Solid:2
{{ data.notam['notam']['EDDF']['SUP-02-26_RWY_a'] | to_coordtype('', 'closure', 'RWYCLOSED') }}
{{ data.notam['notam']['EDDF']['SUP-02-26_RWY_b'] | to_coordtype('', 'closure', 'RWYCLOSED') }}
{{ data.notam['notam']['EDDF']['SUP-02-26_RWY_c'] | to_coordtype('', 'closure', 'RWYCLOSED') }}
{{ data.notam['notam']['EDDF']['SUP-02-26_RWY_d'] | to_coordtype('', 'closure', 'RWYCLOSED') }}
{{ data.notam['notam']['EDDF']['SUP-02-26_M10'] | to_coordtype('', 'closure', 'RWYCLOSED') }}