// ------------------------ Restriction Maps ------------------------

MAP:Restrictions
AIRPORT:EDDF
FOLDER:Restrictions
ZOOM:300
LAYER:2

// Y7
COLOR:restrictions-AB
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['Y7_1'] | to_line('') -}}
COLOR:restrictions-C
{{ data.eddf_kml['layout']['restrictions']['line']['Y7_2'] | to_line('') -}}

// Orange/Blue Lines
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['Nb'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['No'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N7b'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N7o'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N8b_a'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N8b_b'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N8b_c'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N8o_a'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N8o_b'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N8o_c'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N8o_d'] | to_line('') -}}
TEXTALIGN:CC
{{ data.eddf_kml['layout']['restrictions']['labels']['N7ob'] | to_text('1') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['N8ob_a'] | to_text('1') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['N8ob_b'] | to_text('1') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['Nob_a'] | to_text('1') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['Nob_b'] | to_text('1') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['Nob_c'] | to_text('1') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['N7ob'] | to_symbol('CIRCLE') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['N8ob_a'] | to_symbol('CIRCLE') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['N8ob_b'] | to_symbol('CIRCLE') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['Nob_a'] | to_symbol('CIRCLE') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['Nob_b'] | to_symbol('CIRCLE') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['Nob_c'] | to_symbol('CIRCLE') }}

// L (Abeam V93-V97)
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['L_1'] | to_line('') -}}

// L8
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['L8_a'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['L8_b'] | to_line('') -}}

// N8 (Abeam A14-A16)
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['N8'] | to_line('') -}}

// S33
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['S33'] | to_line('') -}}

// S13 (Abeam K2-K6)
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['S13_1'] | to_line('') -}}
COLOR:restrictions-E
{{ data.eddf_kml['layout']['restrictions']['line']['S13_2'] | to_line('') -}}
COLOR:restrictions-F
{{ data.eddf_kml['layout']['restrictions']['line']['S13_3a'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['S13_3b'] | to_line('') -}}

// S5 (Abeam G1-G5)
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['S5_1'] | to_line('') -}}
COLOR:restrictions-E
{{ data.eddf_kml['layout']['restrictions']['line']['S5_2a'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['S5_2b'] | to_line('') -}}

// N-South
COLOR:restrictions-D
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['N-South'] | to_line('') -}}

// Turn N1 - L-North
COLOR:restrictions-E
STYLE:SOLID:3
{% for uuid, geom in data.eddf_kml['layout']['restrictions']['dash'].items() %}
{{- geom | to_line('') -}}
{% endfor %}
COLOR:restrictions-C
TEXTALIGN:CC
{{ data.eddf_kml['layout']['restrictions']['labels']['N1'] | to_text('2') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['N1'] | to_symbol('CIRCLE') }}

// L-North
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['L-North_a'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['L-North_b'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['L-North_c'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['L-North_d'] | to_line('') -}}

// N3 (Abeam Stands)
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['N3'] | to_line('') -}}

// N4
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['N4'] | to_line('') -}}

// N5 (Abeam Stands)
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['N5_1'] | to_line('') -}}
COLOR:restrictions-F
{{ data.eddf_kml['layout']['restrictions']['line']['N5_2'] | to_line('') -}}

// N7 (Abeam Stands)
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['N7_a'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N7_b'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N7_c'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N7_d'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['N7_e'] | to_line('') -}}

// N11
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['N11_1'] | to_line('') -}}
COLOR:restrictions-F
{{ data.eddf_kml['layout']['restrictions']['line']['N11_2'] | to_line('') -}}

// N13 (Abeam Stands)
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['N13'] | to_line('') -}}

// N14 (Abeam Stands)
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['N14'] | to_line('') -}}

// L19
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['L19'] | to_line('') -}}
TEXTALIGN:LC
{{ data.eddf_kml['layout']['restrictions']['labels']['L19'] | to_text('Max A343') }}

// Turn L - Runway 18
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['L_2'] | to_line('') -}}
TEXTALIGN:LC
{{ data.eddf_kml['layout']['restrictions']['labels']['L_2'] | to_text('Max A343') }}

// W
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['W'] | to_line('') -}}
TEXTALIGN:LC
{{ data.eddf_kml['layout']['restrictions']['labels']['W'] | to_text('Max A343') }}

// M19
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['M19'] | to_line('') -}}
TEXTALIGN:LC
{{ data.eddf_kml['layout']['restrictions']['labels']['M19'] | to_text('Crossing - Max code E') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['M19'] | to_text('Exiting  - Max A343:0:12') }}

// S8/S9
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['S8'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['S9_a'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['S9_b'] | to_line('') -}}
{{ data.eddf_kml['layout']['restrictions']['line']['S9_c'] | to_line('') -}}

// N6
COLOR:restrictions-F
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['N6'] | to_line('') -}}

// S11
COLOR:restrictions-F
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['S11'] | to_line('') -}}

// S4
COLOR:restrictions-F
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['S4'] | to_line('') -}}

// Y5
COLOR:restrictions-F
STYLE:SOLID:4
{{ data.eddf_kml['layout']['restrictions']['line']['Y5'] | to_line('') -}}

// 25R/07L
STYLE:SOLID:1
{{ data.eddf_kml['layout']['restrictions']['poly']['07L-25R'] | to_coordtype('', 'restrictions-AB', 'OTHER', 'REGION', '\\') }}
TEXTALIGN:CC
COLOR:restrictions-AB
{{ data.eddf_kml['layout']['restrictions']['labels']['07L-25R_a'] | to_symbol('VERBOT_1') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['07L-25R_b'] | to_symbol('VERBOT_1') }}
COLOR:white
{{ data.eddf_kml['layout']['restrictions']['labels']['07L-25R_a'] | to_symbol('VERBOT_2') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['07L-25R_b'] | to_symbol('VERBOT_2') }}
COLOR:layout-label-stand
{{ data.eddf_kml['layout']['restrictions']['labels']['07L-25R_c'] | to_text('Only arriving traffic:0:-12') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['07L-25R_c'] | to_text('Max code E (No B744, MD11, L101)') }}

// Restriction Stands

TEXTALIGN:CC
FONTSIZE:=:9
COLOR:restrictions-AB
{% for desig in
[
    'V711',
    'V712',
    'V713',
    'V714',
    'V715',
    'V716',
    'V717',
    'V718',
    'V719',
    'V721',
] %}
{{- data.eddf_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
COLOR:restrictions-C
{% for desig in
[
    'A1',
    'A11',
    'A13',
    'A14',
    'A16',
    'A17',
    'A18',
    'A21',
    'A24',
    'A26',
    'A28',
    'A30',
    'A34',
    'A36',
    'A38',
    'A40',
    'B10',
    'B27',
    'B41',
    'B47',
    'C2',
    'C5',
    'G1',
    'G3',
    'G5',
    'H2',
    'H8',
    'H10',
    'H12',
    'H14',
    'K2',
    'V93',
    'V94',
    'V95',
    'V96',
    'V97',
    'V106',
    'V107',
    'V108',
    'V109',
    'V112',
    'V115',
    'V116',
    'V117',
    'V118',
    'V143',
    'V144',
    'V157',
    'V163',
    'V174',
    'V175',
    'V176',
    'V177',
    'V178',
    'V266',
    'V267',
    'V268',
    'V269',
    'V270',
    'V701',
    'V702',
    'V704',
    'V706',
    'V708',
] %}
{{- data.eddf_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
// Secondary Stands
{% for desig in
[
    'A54A',
    'A54B',
    'A58A',
    'A58B',
    'A62A',
    'A62B',
    'A66A',
    'A66B',
    'D1A',
    'D4A',
    'D4B',
    'D5A',
    'D8A',
    'E2A',
    'E2B',
    'E5A',
    'E5B',
    'E6A',
    'E9A',
    'C15A',
    'C15B',
    'C16A',
    'C16B',
    'F221',
    'F223',
    'F225',
    'F232A',
    'F233A',
    'G16A',
    'J2A',
    'J2B',
    'J6A',
    'J6B',
    'V119',
    'V121',
    'V123',
    'V125',
    'V126',
    'V128',
    'V130',
    'V134',
    'V136',
    'V151',
    'V153',
    'V158',
    'V162',
    'V171A',
    'V171B',
    'V173A',
    'V173B',
] %}
{{- data.eddf_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND_S') }}
{% endfor %}
COLOR:restrictions-D
{% for desig in
[
    'B24',
    'V110',
    'V111',
    'V113',
    'V114',
    'V171',
    'V172',
    'V173',
] %}
{{- data.eddf_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
COLOR:restrictions-E
{% for desig in
[
    'A20',
    'A22',
    'B42',
    'B45',
    'C8',
    'C11',
    'D1',
    'E6',
    'F235',
    'G2',
    'J2',
    'J4',
    'J5',
    'J6',
    'J8',
    'V120',
    'V122',
    'V124',
    'V127',
    'V129',
    'V159',
    'V161',
    'V164',
    'V166',
    'V167',
    'V168',
    'V169',
    'V170',
    'A15',
    'A19',
    'A50',
    'B20',
    'B22',
    'B25',
    'B43',
    'B44',
    'C4',
    'C6',
    'F211',
    'F212',
    'F213',
    'F214',
    'F215',
    'F216',
    'F222',
    'F224',
    'H4',
    'H6',
    'K4',
] %}
{{- data.eddf_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
{% for desig in
[
    'A15',
    'A19',
    'A50',
    'B20',
    'B22',
    'B25',
    'B43',
    'B44',
    'C4',
    'C6',
    'F211',
    'F212',
    'F213',
    'F214',
    'F215',
    'F216',
    'F222',
    'F224',
    'H4',
    'K4',
] %}
{{- data.eddf_kml['layout']['restrictions']['stands'][desig] | to_text('MAX A343:0:15') }}
{% endfor %}
COLOR:restrictions-F
{% for desig in
[
    'A23',
    'A25',
    'A52',
    'A69',
    'B23',
    'B48',
    'C13',
    'D5',
    'D8',
    'G4',
    'G6',
    'G8',
    'G10',
    'G12',
    'G14',
    'G15',
    'G16',
    'K6',
    'V322',
    'V324',
    'V326',
    'V328',
] %}
{{- data.eddf_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
COLOR:restrictions-F2
{% for desig in
[
    'A54',
    'A58',
    'A62',
    'A66',
    'B26',
    'B28',
    'B46',
    'C14',
    'C15',
    'C16',
    'D4',
    'E2',
    'E5',
    'E9',
    'G7',
    'G9',
    'G11',
    'G13',
    'K8',
    'K10',
    'F231',
    'F232',
    'F233',
    'F234',
    'F237',
    'F238',
    'V135',
    'V152',
] %}
{{- data.eddf_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
// Secondary Stands
{% for desig in ['V160'] %}
{{- data.eddf_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND_S') }}
{% endfor %}

// Reference
COLOR:layout-label-stand
FONTSIZE:=:12
TEXTALIGN:CC
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Reference  ') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code B < 24m (CRJ2/C700):0:15') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code C < 36m (A321/B739):0:30') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code D < 52m (A310/B763):0:45') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code E < 65m (A343/B77W):0:60') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code E + B748           :0:75') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code F < 80m (A388/A124):0:90') }}

FONTSIZE:=:70
COLOR:restrictions-AB
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-39') }}
COLOR:restrictions-C
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-24') }}
COLOR:restrictions-D
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-9') }}
COLOR:restrictions-E
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:6') }}
COLOR:restrictions-F
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:21') }}
COLOR:restrictions-F2
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:36') }}

COLOR:layout-label-stand
FONTSIZE:=:12
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   Taxiing on orange and blue lines') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   only for ACFT up to code C      :0:15') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   Turn only for ACFT up to A343   :0:30') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   Stands C14S, C15S, C16S         :0:60') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   assigned specifically for A388  :0:75') }}
COLOR:restrictions-C
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_2'] | to_text('1.                                 ') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_2'] | to_text('2.                                 :0:30') }}