// ----------------------- Restriction Checks -----------------------

MAP:Checks
AIRPORT:EDDF
FOLDER:Restrictions
COORDTYPE:TWYTYPE:NONE
ACTIVE:1

// M19
RESTRICTION:MAXCODE:E
{{ data.eddf_kml['layout']['restrictions']['poly']['M19'] | to_poly('') }}

// N-South
RESTRICTION:MAXCODE:D
{{ data.eddf_kml['layout']['restrictions']['poly']['N-South_a'] | to_poly('') }}
{{ data.eddf_kml['layout']['restrictions']['poly']['N-South_b'] | to_poly('') }}

// L-North
RESTRICTION:MAXCODE:E
{{ data.eddf_kml['layout']['restrictions']['poly']['L-North'] | to_poly('') }}

// 25R/07L
RESTRICTION:MAXCODE:E
{{ data.eddf_kml['layout']['restrictions']['poly']['07L-25R'] | to_poly('') }}

// N3 (Abeam Stands)
RESTRICTION:MAXCODE:E
{{ data.eddf_kml['layout']['restrictions']['poly']['N3'] | to_poly('') }}

// N4
RESTRICTION:MAXCODE:E
{{ data.eddf_kml['layout']['restrictions']['poly']['N4'] | to_poly('') }}

// N7/N8 (Abeam Stands)
RESTRICTION:MAXCODE:E
{{ data.eddf_kml['layout']['restrictions']['poly']['N7'] | to_poly('') }}
RESTRICTION:MAXCODE:C
{{ data.eddf_kml['layout']['restrictions']['poly']['N8'] | to_poly('') }}

// S8/S9
RESTRICTION:MAXCODE:E
{{ data.eddf_kml['layout']['restrictions']['poly']['S8_S9'] | to_poly('') }}

// L (Abeam V93-V97)
RESTRICTION:MAXCODE:C
{{ data.eddf_kml['layout']['restrictions']['poly']['L_1'] | to_poly('') }}

// Y7
RESTRICTION:MAXCODE:C
{{ data.eddf_kml['layout']['restrictions']['poly']['Y7_2'] | to_poly('') }}
RESTRICTION:MAXCODE:B
{{ data.eddf_kml['layout']['restrictions']['poly']['Y7_1'] | to_poly('') }}

// S5 (Abeam G1-G5)
RESTRICTION:MAXCODE:C
{{ data.eddf_kml['layout']['restrictions']['poly']['S5'] | to_poly('') }}

// L8
RESTRICTION:MAXCODE:C
{{ data.eddf_kml['layout']['restrictions']['poly']['L8'] | to_poly('') }}

// L19
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_kml['layout']['restrictions']['poly']['L19'] | to_poly('') }}

// W
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_kml['layout']['restrictions']['poly']['W'] | to_poly('') }}

// N13
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_kml['layout']['restrictions']['poly']['N13'] | to_poly('') }}

// N14
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_kml['layout']['restrictions']['poly']['N14'] | to_poly('') }}

// N5 (Abeam Stands)
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_kml['layout']['restrictions']['poly']['N5'] | to_poly('') }}

// S13 (Abeam K2-K6)
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_kml['layout']['restrictions']['poly']['S13'] | to_poly('') }}

// N6
RESTRICTION:MAXWINGSPAN:69
{{ data.eddf_kml['layout']['restrictions']['poly']['N6'] | to_poly('') }}

// N11
RESTRICTION:MAXWINGSPAN:69
{{ data.eddf_kml['layout']['restrictions']['poly']['N11'] | to_poly('') }}

// Y5
RESTRICTION:MAXWINGSPAN:69
{{ data.eddf_kml['layout']['restrictions']['poly']['Y5'] | to_poly('') }}

// S4
RESTRICTION:MAXWINGSPAN:69
{{ data.eddf_kml['layout']['restrictions']['poly']['S4'] | to_poly('') }}