// ----------------------- Restriction Checks -----------------------

MAP:Checks
AIRPORT:EDDF
FOLDER:Restrictions
ACTIVE:1

// M19
RESTRICTION:MAXCODE:E
{{ data.eddf_info['Restriction_Poly']['M19'] | render_area('TWYTYPE:NONE') }}

// N-South
RESTRICTION:MAXCODE:D
{{ data.eddf_info['Restriction_Poly']['N-South'] | render_area('TWYTYPE:NONE') }}

// L-North
RESTRICTION:MAXCODE:E
{{ data.eddf_info['Restriction_Poly']['L-North'] | render_area('TWYTYPE:NONE') }}

// 25R/07L
RESTRICTION:MAXCODE:E
{{ data.eddf_info['Restriction_Poly']['07L-25R'] | render_area('TWYTYPE:NONE') }}

// N3 (Abeam Stands)
RESTRICTION:MAXCODE:E
{{ data.eddf_info['Restriction_Poly']['N3'] | render_area('TWYTYPE:NONE') }}

// N4
RESTRICTION:MAXCODE:E
{{ data.eddf_info['Restriction_Poly']['N4'] | render_area('TWYTYPE:NONE') }}

// N7/N8 (Abeam Stands)
RESTRICTION:MAXCODE:E
{{ data.eddf_info['Restriction_Poly']['N7'] | render_area('TWYTYPE:NONE') }}
RESTRICTION:MAXCODE:C
{{ data.eddf_info['Restriction_Poly']['N8'] | render_area('TWYTYPE:NONE') }}

// S8 (Abeam H1-H3)
RESTRICTION:MAXCODE:C
{{ data.eddf_info['Restriction_Poly']['S8'] | render_area('TWYTYPE:NONE') }}

// L (Abeam V93-V97)
RESTRICTION:MAXCODE:C
{{ data.eddf_info['Restriction_Poly']['L_V9x'] | render_area('TWYTYPE:NONE') }}

// Y7
RESTRICTION:MAXCODE:C
{{ data.eddf_info['Restriction_Poly']['Y7_C'] | render_area('TWYTYPE:NONE') }}
RESTRICTION:MAXCODE:B
{{ data.eddf_info['Restriction_Poly']['Y7_B'] | render_area('TWYTYPE:NONE') }}

// S5 (Abeam G1-G5)
RESTRICTION:MAXCODE:C
{{ data.eddf_info['Restriction_Poly']['S5'] | render_area('TWYTYPE:NONE') }}

// L8
RESTRICTION:MAXCODE:C
{{ data.eddf_info['Restriction_Poly']['L8'] | render_area('TWYTYPE:NONE') }}

// L19
RESTRICTION:MAXCODE:C
{{ data.eddf_info['Restriction_Poly']['L19'] | render_area('TWYTYPE:NONE') }}

// N6
RESTRICTION:MAXWINGSPAN:69
{{ data.eddf_info['Restriction_Poly']['N6'] | render_area('TWYTYPE:NONE') }}

// N11
RESTRICTION:MAXWINGSPAN:69
{{ data.eddf_info['Restriction_Poly']['N11'] | render_area('TWYTYPE:NONE') }}

// Y5
RESTRICTION:MAXWINGSPAN:69
{{ data.eddf_info['Restriction_Poly']['Y5'] | render_area('TWYTYPE:NONE') }}

// S4
RESTRICTION:MAXWINGSPAN:69
{{ data.eddf_info['Restriction_Poly']['S4'] | render_area('TWYTYPE:NONE') }}

// W
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_info['Restriction_Poly']['W'] | render_area('TWYTYPE:NONE') }}

// N13
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_info['Restriction_Poly']['N13'] | render_area('TWYTYPE:NONE') }}

// N14
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_info['Restriction_Poly']['N14'] | render_area('TWYTYPE:NONE') }}

// N5 (Abeam Stands)
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_info['Restriction_Poly']['N5'] | render_area('TWYTYPE:NONE') }}

// S13 (Abeam K2-K6)
RESTRICTION:MAXCODE:E
RESTRICTION:NOTATYP:A346,A35K,B77W,B773
{{ data.eddf_info['Restriction_Poly']['S13'] | render_area('TWYTYPE:NONE') }}