// ----------------------- Restrictions (BAA) -----------------------
{#- TODO: Remove macros when filters for the new API are implemented #}
{%- from "_macros.jinja" import render_point %}

MAP:BAA Restrictions
AIRPORT:EDDF
FOLDER:Restrictions
LAYER:7
ZOOM:300
COLOR:RESTRICTIONS_AB
{% for _, feat in data.eddf_info['BAALabel'].items() if feat.properties['restriction'] == 'B' %}
{{- render_point(feat, 'SYMBOL:STAND') }}
{% endfor %}
COLOR:RESTRICTIONS_C
{% for _, feat in data.eddf_info['BAALabel'].items() if feat.properties['restriction'] == 'C' %}
{{- render_point(feat, 'SYMBOL:STAND') }}
{% endfor %}
COLOR:RESTRICTIONS_D
{% for _, feat in data.eddf_info['BAALabel'].items() if feat.properties['restriction'] == 'D' %}
{{- render_point(feat, 'SYMBOL:STAND') }}
{% endfor %}
COLOR:RESTRICTIONS_E
{% for _, feat in data.eddf_info['BAALabel'].items() if feat.properties['restriction'] == 'E' %}
{{- render_point(feat, 'SYMBOL:STAND') }}
{% endfor %}
COLOR:RESTRICTIONS_F
{% for _, feat in data.eddf_info['BAALabel'].items() if feat.properties['restriction'] == 'B748' %}
{{- render_point(feat, 'SYMBOL:STAND') }}
{% endfor %}

COLOR:WHITE
{% for _, feat in data.eddf_info['BAALabel'].items() if feat.properties['restriction'] in ['B', 'E', 'B748'] %}
{{- render_point(feat, 'TEXT', feat.properties['text']+':1:0') }}
{% endfor %}
COLOR:BLACK
{% for _, feat in data.eddf_info['BAALabel'].items() if feat.properties['restriction'] in ['C', 'D'] %}
{{- render_point(feat, 'TEXT', feat.properties['text']+':1:0') }}
{% endfor %}