// ------------------------- Deicing Areas --------------------------

MAP:Snow 25L/07R
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:4
RWYCLOSEDDEP:EDDF:07R,25L
RWYCLOSEDARR:EDDF:07R,25L
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddf_kml['layout']['runways']['07R-25L'] | render_area('RWYCLOSED:REGION') }}
ZOOM:300
COLOR:CLOSURE_SYMBOL
FONTSIZE:=:14
{{ data.eddf_kml['layout']['deicing']['labels']['25L-07R'] | to_text('SNOW REMOVAL') }}


MAP:Snow 25C/07C
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:4
RWYCLOSEDDEP:EDDF:07C,25C
RWYCLOSEDARR:EDDF:07C,25C
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddf_kml['layout']['runways']['07C-25C'] | render_area('RWYCLOSED:REGION') }}
ZOOM:300
COLOR:CLOSURE_SYMBOL
FONTSIZE:=:14
{{ data.eddf_kml['layout']['deicing']['labels']['25C-07C'] | to_text('SNOW REMOVAL') }}


MAP:Snow 25R/07L
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:4
RWYCLOSEDDEP:EDDF:07L,25R
RWYCLOSEDARR:EDDF:07L,25R
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddf_kml['layout']['runways']['07L-25R'] | render_area('RWYCLOSED:REGION') }}
ZOOM:300
COLOR:CLOSURE_SYMBOL
FONTSIZE:=:14
{{ data.eddf_kml['layout']['deicing']['labels']['25R-07L'] | to_text('SNOW REMOVAL') }}


MAP:Snow 18
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:4
RWYCLOSEDDEP:EDDF:18,36
RWYCLOSEDARR:EDDF:18,36
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddf_kml['layout']['runways']['18'] | render_area('RWYCLOSED:REGION') }}
ZOOM:300
COLOR:CLOSURE_SYMBOL
FONTSIZE:=:14
STYLE:SOLID:2
{#- South Up #}
FILTER_ASR:EDDF_GND
TEXTALIGN:LC
{{ data.eddf_kml['layout']['deicing']['labels']['18'] | to_text('SNOW REMOVAL') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
TEXTALIGN:RC
{{ data.eddf_kml['layout']['deicing']['labels']['18'] | to_text('SNOW REMOVAL') }}


MAP:De-Icing
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:2

// Areas
COLOR:DEICING:LAYOUT_RUNWAY
STYLE:SOLID:2
{{ data.eddf_kml['layout']['deicing']['poly']['DP1'] | render_area('OTHER:REGION:X', 'DP1') }}
{{ data.eddf_kml['layout']['deicing']['poly']['DP2'] | render_area('OTHER:REGION:X', 'DP2') }}
{{ data.eddf_kml['layout']['deicing']['poly']['DP3E'] | render_area('OTHER:REGION:X', 'DP3E') }}
{{ data.eddf_kml['layout']['deicing']['poly']['DP3W'] | render_area('OTHER:REGION:X', 'DP3W') }}
{{ data.eddf_kml['layout']['deicing']['poly']['DP4E'] | render_area('OTHER:REGION:X', 'DP4E') }}
{{ data.eddf_kml['layout']['deicing']['poly']['DP4W'] | render_area('OTHER:REGION:X', 'DP4W') }}
{{ data.eddf_kml['layout']['deicing']['poly']['DP5'] | render_area('OTHER:REGION:X', 'DP5') }}

// Arrows
COLOR:LAYOUT_TAXILINE_WHITE
STYLE:SOLID:1
{{ data.eddf_kml['layout']['deicing']['arrows']['DP1'] | render_area('OTHER:REGION') }}
{{ data.eddf_kml['layout']['deicing']['arrows']['DP2E'] | render_area('OTHER:REGION') }}
{{ data.eddf_kml['layout']['deicing']['arrows']['DP2C'] | render_area('OTHER:REGION') }}
{{ data.eddf_kml['layout']['deicing']['arrows']['DP2W'] | render_area('OTHER:REGION') }}
{{ data.eddf_kml['layout']['deicing']['arrows']['DP3E'] | render_area('OTHER:REGION') }}
{{ data.eddf_kml['layout']['deicing']['arrows']['DP3W'] | render_area('OTHER:REGION') }}
{{ data.eddf_kml['layout']['deicing']['arrows']['DP4E'] | render_area('OTHER:REGION') }}
{{ data.eddf_kml['layout']['deicing']['arrows']['DP4W'] | render_area('OTHER:REGION') }}
{{ data.eddf_kml['layout']['deicing']['arrows']['DP5'] | render_area('OTHER:REGION') }}

// Taxilines
STYLE:SOLID:2
{{ data.eddf_kml['layout']['deicing']['line']['DP1'] | render_line }}
{{ data.eddf_kml['layout']['deicing']['line']['DP2E'] | render_line }}
{{ data.eddf_kml['layout']['deicing']['line']['DP2C'] | render_line }}
{{ data.eddf_kml['layout']['deicing']['line']['DP2W'] | render_line }}
{{ data.eddf_kml['layout']['deicing']['line']['DP3E'] | render_line }}
{{ data.eddf_kml['layout']['deicing']['line']['DP3W'] | render_line }}
{{ data.eddf_kml['layout']['deicing']['line']['DP4E'] | render_line }}
{{ data.eddf_kml['layout']['deicing']['line']['DP4W'] | render_line }}
{{ data.eddf_kml['layout']['deicing']['line']['DP5'] | render_line }}

// Labels
ZOOM:300
COLOR:LAYOUT_LABEL_STAND
FONTSIZE:=:12
{#- South Up #}
FILTER_ASR:EDDF_GND
TEXTALIGN:LC
{{ data.eddf_kml['layout']['deicing']['labels']['DP1'] | to_text('DP1:10:0') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP2'] | to_text('DP2') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP2'] | to_text('1x  or 2x:0:15') }}
TEXTALIGN:CC
{{ data.eddf_kml['layout']['deicing']['labels']['DP3'] | to_text('DP3') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP3'] | to_text('2x:-4:15') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP4'] | to_text('DP4') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP4'] | to_text('2x 2-Eng. Heavy:0:15') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
TEXTALIGN:RC
{{ data.eddf_kml['layout']['deicing']['labels']['DP1'] | to_text('DP1') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP2'] | to_text('DP2') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP2'] | to_text('1x  or 2x:-9:15') }}
TEXTALIGN:CC
{{ data.eddf_kml['layout']['deicing']['labels']['DP3'] | to_text('DP3:0:-15') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP3'] | to_text('2x:-4:0') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP4'] | to_text('DP4:0:-15') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP4'] | to_text('2x 2-Eng. Heavy') }}
FILTERS_OFF
{{ data.eddf_kml['layout']['deicing']['labels']['DP2C'] | to_text('C') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP2E'] | to_text('E') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP2W'] | to_text('W') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP5'] | to_text('DP5:3:0') }}
COLOR:RESTRICTIONS_F
{{ data.eddf_kml['layout']['deicing']['labels']['DP2C_F'] | to_symbol('STAND') }}
COLOR:RESTRICTIONS_C
{{ data.eddf_kml['layout']['deicing']['labels']['DP2E_C'] | to_symbol('STAND_S') }}
{{ data.eddf_kml['layout']['deicing']['labels']['DP2W_C'] | to_symbol('STAND_S') }}

FONTSIZE:=:60
{#- South Up #}
FILTER_ASR:EDDF_GND
TEXTALIGN:LC
COLOR:RESTRICTIONS_F
{{ data.eddf_kml['layout']['deicing']['labels']['DP1'] | to_text('.:-14:-17') }}
COLOR:RESTRICTIONS_F
{{ data.eddf_kml['layout']['deicing']['labels']['DP2'] | to_text('.:1:-2') }}
COLOR:RESTRICTIONS_C
{{ data.eddf_kml['layout']['deicing']['labels']['DP2'] | to_text('.:50:-2') }}
TEXTALIGN:CC
COLOR:RESTRICTIONS_C
{{ data.eddf_kml['layout']['deicing']['labels']['DP3'] | to_text('.:8:-2') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
TEXTALIGN:RC
COLOR:RESTRICTIONS_F
{{ data.eddf_kml['layout']['deicing']['labels']['DP1'] | to_text('.:-9:-17') }}
COLOR:RESTRICTIONS_F
{{ data.eddf_kml['layout']['deicing']['labels']['DP2'] | to_text('.:-35:-2') }}
COLOR:RESTRICTIONS_C
{{ data.eddf_kml['layout']['deicing']['labels']['DP2'] | to_text('.:14:-2') }}
TEXTALIGN:CC
COLOR:RESTRICTIONS_C
{{ data.eddf_kml['layout']['deicing']['labels']['DP3'] | to_text('.:8:-17') }}
FILTERS_OFF
COLOR:RESTRICTIONS_C
{{ data.eddf_kml['layout']['deicing']['labels']['DP5'] | to_text('.:-14:-17') }}

// Reference (South Up)
FILTER_ASR:EDDF_GND
COLOR:LAYOUT_LABEL_STAND
TEXTALIGN:CC
FONTSIZE:=:12
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Reference    :0:27') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code C < 36m (A321/B739)       :0:42') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code E < 65m (A343/B77W) + B748:0:57') }}
FONTSIZE:=:70
COLOR:RESTRICTIONS_C
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-120:-12') }}
COLOR:RESTRICTIONS_F
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-120:3') }}

// Reference (North Up)
FILTER_ASR:EDDF_S_GND
COLOR:LAYOUT_LABEL_STAND
TEXTALIGN:CC
FONTSIZE:=:12
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Reference    :0:-3') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code C < 36m (A321/B739)       :0:12') }}
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code E < 65m (A343/B77W) + B748:0:27') }}
FONTSIZE:=:70
COLOR:RESTRICTIONS_C
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-120:-42') }}
COLOR:RESTRICTIONS_F
{{ data.eddf_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-120:-27') }}


MAP:Close TWY P1
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:4
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddf_kml['layout']['closures']['poly']['P1'] | render_area('TWYCLOSED:REGION') }}