// ------------------------- Deicing Areas --------------------------
{#- TODO: Remove macros when filters for the new API are implemented #}
{%- from "_macros.jinja" import render_point %}

MAP:Snow 25L/07R
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:4
RWYCLOSEDDEP:EDDF:07R,25L
RWYCLOSEDARR:EDDF:07R,25L
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddf_layout['RunwayElement']['07R-25L'] | render_area('RWYCLOSED:REGION') }}
ZOOM:300
COLOR:CLOSURE_SYMBOL
FONTSIZE:=:14
{{ render_point(data.eddf_info['DeicingLabel']['07R-25L'], 'TEXT', 'SNOW REMOVAL') }}


MAP:Snow 25C/07C
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:4
RWYCLOSEDDEP:EDDF:07C,25C
RWYCLOSEDARR:EDDF:07C,25C
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddf_layout['RunwayElement']['07C-25C'] | render_area('RWYCLOSED:REGION') }}
ZOOM:300
COLOR:CLOSURE_SYMBOL
FONTSIZE:=:14
{{ render_point(data.eddf_info['DeicingLabel']['07C-25C'], 'TEXT', 'SNOW REMOVAL') }}


MAP:Snow 25R/07L
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:4
RWYCLOSEDDEP:EDDF:07L,25R
RWYCLOSEDARR:EDDF:07L,25R
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddf_layout['RunwayElement']['07L-25R'] | render_area('RWYCLOSED:REGION') }}
ZOOM:300
COLOR:CLOSURE_SYMBOL
FONTSIZE:=:14
{{ render_point(data.eddf_info['DeicingLabel']['07L-25R'], 'TEXT', 'SNOW REMOVAL') }}


MAP:Snow 18
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:4
RWYCLOSEDDEP:EDDF:18,36
RWYCLOSEDARR:EDDF:18,36
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddf_layout['RunwayElement']['18'] | render_area('RWYCLOSED:REGION') }}
ZOOM:300
COLOR:CLOSURE_SYMBOL
FONTSIZE:=:14
STYLE:SOLID:2
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['DeicingLabel']['18'], 'TEXT/LC', 'SNOW REMOVAL') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['DeicingLabel']['18'], 'TEXT/RC', 'SNOW REMOVAL') }}


MAP:De-Icing
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:2

// Areas
COLOR:DEICING:LAYOUT_RUNWAY
STYLE:SOLID:2
{% for desig, feat in data.eddf_info['DeicingArea'].items() %}
{{- feat | render_area('OTHER:REGION:X', desig) }}
{% endfor %}

// Marking
COLOR:LAYOUT_TAXILINE_WHITE
STYLE:SOLID:1
{% for _, feat in data.eddf_info['DeicingMarking_Poly'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}
STYLE:SOLID:2
{% for _, feat in data.eddf_info['DeicingMarking_Line'].items() %}
{{- feat | render_line }}
{% endfor %}

// Labels
ZOOM:300
COLOR:LAYOUT_LABEL_STAND
FONTSIZE:=:12
{#- South Up #}
FILTER_ASR:EDDF_GND
TEXTALIGN:LC
{{ render_point(data.eddf_info['DeicingLabel']['DP1'], 'TEXT', 'DP1:10:0') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP2'], 'TEXT', 'DP2') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP2'], 'TEXT', '1x  or 2x:0:15') }}
TEXTALIGN:CC
{{ render_point(data.eddf_info['DeicingLabel']['DP3'], 'TEXT', 'DP3') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP3'], 'TEXT', '2x:-4:15') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP4'], 'TEXT', 'DP4') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP4'], 'TEXT', '2x 2-Eng. Heavy:0:15') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
TEXTALIGN:RC
{{ render_point(data.eddf_info['DeicingLabel']['DP1'], 'TEXT', 'DP1') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP2'], 'TEXT', 'DP2') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP2'], 'TEXT', '1x  or 2x:-9:15') }}
TEXTALIGN:CC
{{ render_point(data.eddf_info['DeicingLabel']['DP3'], 'TEXT', 'DP3:0:-15') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP3'], 'TEXT', '2x:-4:0') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP4'], 'TEXT', 'DP4:0:-15') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP4'], 'TEXT', '2x 2-Eng. Heavy') }}
FILTERS_OFF
{{ render_point(data.eddf_info['DeicingLabel']['DP2C'], 'TEXT', 'C') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP2E'], 'TEXT', 'E') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP2W'], 'TEXT', 'W') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP5'], 'TEXT', 'DP5:3:0') }}
COLOR:RESTRICTIONS_F
{{ render_point(data.eddf_info['DeicingLabel']['DP2C_F'], 'SYMBOL:STAND') }}
COLOR:RESTRICTIONS_C
{{ render_point(data.eddf_info['DeicingLabel']['DP2E_C'], 'SYMBOL:STAND_S') }}
{{ render_point(data.eddf_info['DeicingLabel']['DP2W_C'], 'SYMBOL:STAND_S') }}

FONTSIZE:=:60
{#- South Up #}
FILTER_ASR:EDDF_GND
TEXTALIGN:LC
COLOR:RESTRICTIONS_F
{{ render_point(data.eddf_info['DeicingLabel']['DP1'], 'TEXT', '.:-14:-17') }}
COLOR:RESTRICTIONS_F
{{ render_point(data.eddf_info['DeicingLabel']['DP2'], 'TEXT', '.:1:-2') }}
COLOR:RESTRICTIONS_C
{{ render_point(data.eddf_info['DeicingLabel']['DP2'], 'TEXT', '.:50:-2') }}
TEXTALIGN:CC
COLOR:RESTRICTIONS_C
{{ render_point(data.eddf_info['DeicingLabel']['DP3'], 'TEXT', '.:8:-2') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
TEXTALIGN:RC
COLOR:RESTRICTIONS_F
{{ render_point(data.eddf_info['DeicingLabel']['DP1'], 'TEXT', '.:-9:-17') }}
COLOR:RESTRICTIONS_F
{{ render_point(data.eddf_info['DeicingLabel']['DP2'], 'TEXT', '.:-35:-2') }}
COLOR:RESTRICTIONS_C
{{ render_point(data.eddf_info['DeicingLabel']['DP2'], 'TEXT', '.:14:-2') }}
TEXTALIGN:CC
COLOR:RESTRICTIONS_C
{{ render_point(data.eddf_info['DeicingLabel']['DP3'], 'TEXT', '.:8:-17') }}
FILTERS_OFF
COLOR:RESTRICTIONS_C
{{ render_point(data.eddf_info['DeicingLabel']['DP5'], 'TEXT', '.:-14:-17') }}

// Reference (South Up)
FILTER_ASR:EDDF_GND
COLOR:LAYOUT_LABEL_STAND
TEXTALIGN:CC
FONTSIZE:=:12
{{ render_point(data.eddf_info['RestrictionLabel']['reference_1'], 'TEXT', 'Reference    :0:27') }}
{{ render_point(data.eddf_info['RestrictionLabel']['reference_1'], 'TEXT', 'Code C < 36m (A321/B739)       :0:42') }}
{{ render_point(data.eddf_info['RestrictionLabel']['reference_1'], 'TEXT', 'Code E < 65m (A343/B77W) + B748:0:57') }}
FONTSIZE:=:70
COLOR:RESTRICTIONS_C
{{ render_point(data.eddf_info['RestrictionLabel']['reference_1'], 'TEXT', '.:-120:-12') }}
COLOR:RESTRICTIONS_F
{{ render_point(data.eddf_info['RestrictionLabel']['reference_1'], 'TEXT', '.:-120:3') }}

// Reference (North Up)
FILTER_ASR:EDDF_S_GND
COLOR:LAYOUT_LABEL_STAND
TEXTALIGN:CC
FONTSIZE:=:12
{{ render_point(data.eddf_info['RestrictionLabel']['reference_1'], 'TEXT', 'Reference    :0:-3') }}
{{ render_point(data.eddf_info['RestrictionLabel']['reference_1'], 'TEXT', 'Code C < 36m (A321/B739)       :0:12') }}
{{ render_point(data.eddf_info['RestrictionLabel']['reference_1'], 'TEXT', 'Code E < 65m (A343/B77W) + B748:0:27') }}
FONTSIZE:=:70
COLOR:RESTRICTIONS_C
{{ render_point(data.eddf_info['RestrictionLabel']['reference_1'], 'TEXT', '.:-120:-42') }}
COLOR:RESTRICTIONS_F
{{ render_point(data.eddf_info['RestrictionLabel']['reference_1'], 'TEXT', '.:-120:-27') }}


MAP:Close TWY P1
AIRPORT:EDDF
FOLDER:Ice/Snow
LAYER:4
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddf_sup['ClosurePerm_Poly']['P1'] | render_area('TWYCLOSED:REGION') }}