// ----------------------------- Labels -----------------------------
{#- TODO: Remove macros when filters for the new API are implemented #}
{%- from "_macros.jinja" import render_point %}

MAP:Taxiways
AIRPORT:EDDF
FOLDER:Labels
LAYER:6
ACTIVE:1
OTHER_MAP_ACT:=:Labels\Stopbars
ZOOM:300
FONTSIZE:=:10
COLOR:LAYOUT_LABEL_TAXIWAY
{% for _, feat in data.eddf_info['TaxiwayLabel'].items() if feat.properties['zoomlevel'] == 300 %}
{{- render_point(feat, 'TEXT', feat.properties['text']) }}
{% endfor %}
ZOOM:800
FONTSIZE:=:9
COLOR:LAYOUT_LABEL_STAND
{{ render_point(data.eddf_info['TaxiwayLabel']['Link3'], 'TEXT/CC', 'Link 3') }}
{#- South Up #}
FILTER_ASR:EDDF_GND
{{ render_point(data.eddf_info['TaxiwayLabel']['Link4'], 'TEXT/LC', 'Link 4') }}
{{ render_point(data.eddf_info['TaxiwayLabel']['Link5'], 'TEXT/RC', 'Link 5') }}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{{ render_point(data.eddf_info['TaxiwayLabel']['Link4'], 'TEXT/RC', 'Link 4') }}
{{ render_point(data.eddf_info['TaxiwayLabel']['Link5'], 'TEXT/LC', 'Link 5') }}


MAP:Stands
AIRPORT:EDDF
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:9
COLOR:LAYOUT_LABEL_STAND
{% for desig, feat in data.eddf_info['StandLabel'].items() if feat.properties['zoomlevel'] == 400 %}
{{- render_point(feat, 'TEXT', desig) }}
{% endfor %}
{{ render_point(data.eddf_info['AreaLabel']['GAT'], 'TEXT', 'GAT - V7xx') }}

ZOOM:600
{% for desig, feat in data.eddf_info['StandLabel'].items() if feat.properties['zoomlevel'] == 600 %}
{{- render_point(feat, 'TEXT', desig) }}
{% endfor %}
ZOOM:800
{% for desig, feat in data.eddf_info['StandLabel'].items() if feat.properties['zoomlevel'] == 800 %}
{{- render_point(feat, 'TEXT', desig) }}
{% endfor %}
{#- South Up #}
FILTER_ASR:EDDF_GND
{% for desig in ['C14', 'C15', 'C16'] %}
{{- render_point(data.eddf_info['StandLabel'][desig], 'TEXT', ' '+desig+'S:0:12') }}
{% endfor %}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{% for desig in ['C14', 'C15', 'C16'] %}
{{- render_point(data.eddf_info['StandLabel'][desig], 'TEXT', ' '+desig+'S:0:-12') }}
{% endfor %}


MAP:Stopbars
AIRPORT:EDDF
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:9
COLOR:LAYOUT_LABEL_STAND
{#- South Up #}
FILTER_ASR:EDDF_GND
{% for desig, feat in data.eddf_info['HoldingPointLabel'].items() %}
{{- render_point(feat, 'TEXT/'+feat.properties['textalign'], desig) }}
{% endfor %}
{#- North Up #}
FILTER_ASR:EDDF_S_GND
{% for desig, feat in data.eddf_info['HoldingPointLabel'].items() %}
{{- render_point(feat, 'TEXT/'+feat.properties['textalign_s'], desig) }}
{% endfor %}


MAP:Buildings
AIRPORT:EDDF
FOLDER:Labels
ZOOM:400
FONTSIZE:=:9
COLOR:LAYOUT_LABEL_STAND
{%- for _, feat in data.eddf_info['BuildingLabel'].items() %}
{%- for textline in feat.properties['text'].split('\\n') %}
{{ render_point(feat, 'TEXT', textline) }}
{%- endfor %}
{%- endfor %}