// ------------------------- Approach Window ------------------------
{%- set EDGG = data.airspace['lines']['EDGG'] %}

MAP:Airspace C:A
AIRPORT:EDDF
FOLDER:Approach Window
ACTIVE:1
STYLE:DOT:1
COLOR:appwindow-standard
// EDDFCLC
{% for uuid, geom in data.topsky['common']['airspace']['EDDFCLC'].items() %}
{{- geom | to_line('') -}}
{% endfor %}
{{ render_sectorlines(data.aor['lines']['EDGG']['EDDFAPP']['000-135']) }}

MAP:CTR:A
AIRPORT:EDDF
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:appwindow-standard
{{ render_sectorlines(
        EDGG['EDDFCTR']['000-025'],
        sector_sub(
            EDGG['ETOUCTR']['000-015'], 
            EDGG['EDDFCTR']['000-025']
            ),
        sector_sub(
            EDGG['EDFEATZ']['000-015'], 
            EDGG['EDDFCTR']['000-025']
            ),
) }}

MAP:Extended Centerlines:A
AIRPORT:EDDF
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:appwindow-ecl
// 07R
{{ ecl_dashes(runways.EDDF['07R'], 25) }}
{{ marker_ticks(runways.EDDF['07R'], [4, 10, 20], 0, 0.5, 'R') }}
// 07L
{{ ecl_dashes(runways.EDDF['07L'], 25) }}
{{ marker_ticks(runways.EDDF['07L'], [4, 10, 20], 0, 0.5, 'L') }}
// 25L
{{ ecl_dashes(runways.EDDF['25L'], 25) }}
{{ marker_ticks(runways.EDDF['25L'], [4, 10, 20], 0, 0.5, 'L') }}
// 25R
{{ ecl_dashes(runways.EDDF['25R'], 25) }}
{{ marker_ticks(runways.EDDF['25R'], [4, 10, 20], 0, 0.5, 'R') }}

MAP:Extended Centerlines 25C/07C:A
AIRPORT:EDDF
FOLDER:Approach Window
STYLE:SOLID:1
COLOR:appwindow-ecl
// 25C
{{ ecl_dashes(runways.EDDF['25C'], 25) }}
{{ marker_ticks(runways.EDDF['25C'], [4, 10, 20], 0, 0.5, 'L') }}
// 07C
{{ ecl_dashes(runways.EDDF['07C'], 25) }}
{{ marker_ticks(runways.EDDF['07C'], [4, 10, 20], 0, 0.5, 'R') }}

MAP:Distance Indicator 25L:A
AIRPORT:EDDF
FOLDER:Approach Window
ACTIVE:RWY:ARR:EDDF25L:DEP:*
COLOR:red
{{ data.topsky['common']['EDDF']['tabuzone']['25L'] | to_line('') }}

MAP:Distance Indicator 25R:A
AIRPORT:EDDF
FOLDER:Approach Window
ACTIVE:RWY:ARR:EDDF25R:DEP:*
COLOR:red
{{ data.topsky['common']['EDDF']['tabuzone']['25R'] | to_line('') }}

MAP:Distance Indicator 07R:A
AIRPORT:EDDF
FOLDER:Approach Window
ACTIVE:RWY:ARR:EDDF07R:DEP:*
COLOR:red
{{ data.topsky['common']['EDDF']['tabuzone']['07R'] | to_line('') }}

MAP:M/H-DEP Line:A
AIRPORT:EDDF
FOLDER:Approach Window
STYLE:DOT:1
ACTIVE:RWY:ARR:*:DEP:EDDF25C
ACTIVE:RWY:ARR:*:DEP:EDDF25L
COLOR:appwindow-standard
LINE:N049.57.40.655:E008.28.15.964:N050.00.45.160:E008.29.03.830

MAP:NTZ 25:A
AIRPORT:EDDF
FOLDER:Approach Window
COLOR:orange
{{ data.topsky['common']['EDDF']['ntz']['25R-25L'] | to_line('') }}

MAP:NTZ 07:A
AIRPORT:EDDF
FOLDER:Approach Window
COLOR:orange
{{ data.topsky['common']['EDDF']['ntz']['07L-07R'] | to_line('') }}

MAP:DEP Frequency:A
AIRPORT:EDDF
FOLDER:Approach Window
COLOR:aor-app-a
{{ data.topsky['common']['EDDF']['depfreq']['DFDN'] | to_text('120.155') }}
COLOR:aor-app-b
{{ data.topsky['common']['EDDF']['depfreq']['DFDS'] | to_text('136.130') }}

MAP:Airfields:A
AIRPORT:EDDF
FOLDER:Approach Window
ACTIVE:1
COLOR:appwindow-standard
SYMBOL:AIRPORT:EDFE
SYMBOL:AIRPORT:EDFZ
SYMBOL:AIRPORT:EDEL
SYMBOL:AIRPORT:EDGP
SYMBOL:AIRPORT:EDFC
SYMBOL:AIRPORT:EDFG
SYMBOL:AIRPORT:EDFA
SYMBOL:AIRPORT:EDFP
SYMBOL:AIRPORT:EDFB
COLOR:appwindow-runway
// ETOU 07/25
{{ fix(runways['ETOU']['07']['thr']).line_to_fix(fix(runways['ETOU']['25']['thr'])) }}

MAP:VFR Points:A
AIRPORT:EDDF
FOLDER:Approach Window
COLOR:appwindow-standard
SYMBOL:VFR:DF-L:L:10:-7
SYMBOL:VFR:DF-N:N:10:-7
SYMBOL:VFR:DF-S:S:10:-7
SYMBOL:VFR:DF-R1:R1:10:-8