//---------------------------------------------------------------
//                            Airspace
//---------------------------------------------------------------

MAP:Airspace Levels
FOLDER:Airspace C/D/E
COLOR:label
LAYER:+4
{{ data.airspace_labels }}