{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\020-airspace\022-airspace-e.jinja
#}
{%- set EDGG = data.airspace['lines']['EDGG'] -%}

MAP:Airspace E
FOLDER:Airspace C/D/E
LAYER:+3
COLOR:BLUE
STYLE:DOT:1
{{ render_sectorlines(
    EDGG['EDDECLE']['010-100'],
    EDGG['EDDFCLE']['010-100'],
    EDGG['EDDGCLE']['010-100'],
    EDGG['EDDLCLE']['010-100'],
    EDGG['EDDNCLE']['010-100'],
    EDGG['EDDSCLE']['010-100'],
    EDGG['EDFHCLE']['017-100'],
    EDGG['EDFRCLE']['017-100'],
    EDGG['EDGSCLE']['010-100'],
    EDGG['EDLPCLE']['010-100'],
    EDGG['EDNYCLEA']['017-100'],
    EDGG['EDNYCLEB']['017-130'],
    EDGG['EDNYCLEC']['010-100'],
    EDGG['EDQACLE']['010-100'],
    EDGG['EDQNCLE']['017-100'],
    EDGG['EDSBCLE']['010-100'],
    EDGG['EDTDCLE']['010-100'],
    EDGG['ETARCLE']['017-100'],
    EDGG['ETHFCLE']['010-100'],
    EDGG['ETHLCLEA']['010-100'],
    EDGG['ETHLCLEB']['017-100'],
    EDGG['EDCLEROT']['017-100'],
) }}