//---------------------------------------------------------------
//                             RMZ/TMZ
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\020-airspace\023-ctr-rmz-tmz.jinja
     * GRP-PHOENIX-MAPS\8000-app-window\8011-ctr-rmz-tmz.jinja
#}
{%- set EDGG = data.airspace['lines']['EDGG'] %}

MAP:EDFQ RMZ
FOLDER:RMZ/TMZ
COLOR:Active_Map_Type_1
STYLE:DOT:1
ACTIVE:RWY:ARR:EDFQ29:DEP:*
ACTIVE:RWY:ARR:EDFQ11:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFQ29
ACTIVE:RWY:ARR:*:DEP:EDFQ11
{{ render_sectorlines(EDGG['EDFQRMZ']['000-010']) }}

MAP:EDGS RMZ
FOLDER:RMZ/TMZ
COLOR:Active_Map_Type_1
STYLE:DOT:1
ACTIVE:RWY:ARR:EDGS31:DEP:*
ACTIVE:RWY:ARR:EDGS13:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDGS31
ACTIVE:RWY:ARR:*:DEP:EDGS13
{{ render_sectorlines(EDGG['EDGSRMZ']['000-010']) }}

MAP:EDQG RMZ
FOLDER:RMZ/TMZ
STYLE:DOT:1
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDQG08:DEP:*
ACTIVE:RWY:ARR:EDQG26:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDQG08
ACTIVE:RWY:ARR:*:DEP:EDQG26
{{ render_sectorlines(EDGG['EDQGRMZ']['000-010']) }}

MAP:EDRY RMZ
FOLDER:RMZ/TMZ
STYLE:DOT:1
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDRY34:DEP:*
ACTIVE:RWY:ARR:EDRY16:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDRY34
ACTIVE:RWY:ARR:*:DEP:EDRY16
{{ render_sectorlines(EDGG['EDRYRMZ']['000-010']) }}

MAP:EDRZ RMZ
FOLDER:RMZ/TMZ
STYLE:DOT:1
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDDR26:DEP:*
ACTIVE:RWY:ARR:EDDR08:DEP:*
ACTIVE:RWY:ARR:EDRZ21:DEP:*
ACTIVE:RWY:ARR:EDRZ03:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDR26
ACTIVE:RWY:ARR:*:DEP:EDDR08
ACTIVE:RWY:ARR:*:DEP:EDRZ21
ACTIVE:RWY:ARR:*:DEP:EDRZ03
{{ render_sectorlines(EDGG['EDRZRMZ']['000-010']) }}

MAP:EDTD RMZ
FOLDER:RMZ/TMZ
STYLE:DOT:1
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDTD18:DEP:*
ACTIVE:RWY:ARR:EDTD36:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDTD18
ACTIVE:RWY:ARR:*:DEP:EDTD36
{{ render_sectorlines(EDGG['EDTDRMZ']['000-010']) }}

MAP:EDTM RMZ
FOLDER:RMZ/TMZ
STYLE:DOT:1
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDTM07:DEP:*
ACTIVE:RWY:ARR:EDTM25:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDTM07
ACTIVE:RWY:ARR:*:DEP:EDTM25
{{ render_sectorlines(EDGG['EDTMRMZ']['000-010']) }}

MAP:EDTY RMZ
FOLDER:RMZ/TMZ
COLOR:Active_Map_Type_1
STYLE:DOT:1
ACTIVE:RWY:ARR:EDTY28:DEP:*
ACTIVE:RWY:ARR:EDTY10:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDTY28
ACTIVE:RWY:ARR:*:DEP:EDTY10
{{ render_sectorlines(EDGG['EDTYRMZ']['000-010']) }}

MAP:EDDG TMZ
FOLDER:RMZ/TMZ
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDDG25:DEP:*
ACTIVE:RWY:ARR:EDDG07:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDG25
ACTIVE:RWY:ARR:*:DEP:EDDG07
STYLE:DASH:1
{{ render_sectorlines(
    EDGG['EDDGTMZA']['045-060'],
    EDGG['EDDGTMZB']['035-060'],
    EDGG['EDDGTMZC']['045-060'],
    EDGG['EDDGTMZD']['045-060'],
) }}

MAP:EDDR TMZ
FOLDER:RMZ/TMZ
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDDR26:DEP:*
ACTIVE:RWY:ARR:EDDR08:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDR26
ACTIVE:RWY:ARR:*:DEP:EDDR08
STYLE:DASH:1
{{ render_sectorlines(EDGG['EDDRTMZ']['025-065']) }}

MAP:EDFH TMZ
FOLDER:RMZ/TMZ
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDFH21:DEP:*
ACTIVE:RWY:ARR:EDFH03:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFH21
ACTIVE:RWY:ARR:*:DEP:EDFH03
STYLE:DASH:1
{{ render_sectorlines(
    EDGG['EDFHTMZA']['045-075'],
    EDGG['EDFHTMZB']['045-075'],
    EDGG['EDFHTMZC']['055-075'],
    EDGG['EDFHTMZD']['055-075'],
    EDGG['EDFHTMZE']['065-075'],
) }}

MAP:EDLP TMZ
FOLDER:RMZ/TMZ
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDLP23:DEP:*
ACTIVE:RWY:ARR:EDLP05:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLP23
ACTIVE:RWY:ARR:*:DEP:EDLP05
STYLE:DASH:1
{{ render_sectorlines(
    EDGG['EDLPTMZA']['025-060'],
    EDGG['EDLPTMZB']['035-060'],
    EDGG['EDLPTMZC']['035-060'],
    EDGG['EDLPTMZD']['019-060'],
) }}

MAP:EDLV TMZ
FOLDER:RMZ/TMZ
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDLV27:DEP:*
ACTIVE:RWY:ARR:EDLV09:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLV27
ACTIVE:RWY:ARR:*:DEP:EDLV09
STYLE:DASH:1
{{ render_sectorlines(
    EDGG['EDLVTMZA']['015-065'],
    EDGG['EDLVTMZB']['025-065'],
    EDGG['EDLVTMZC']['025-065'],
    EDGG['EDLVTMZD']['030-065'],
    EDGG['EDLVTMZE']['035-065'],
    EDGG['EDLVTMZF']['045-065'],
    EDGG['EDLVTMZG']['045-065'],
) }}

MAP:EDLW TMZ
FOLDER:RMZ/TMZ
COLOR:Active_Map_Type_1
ACTIVE:RWY:ARR:EDLW24:DEP:*
ACTIVE:RWY:ARR:EDLW06:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLW24
ACTIVE:RWY:ARR:*:DEP:EDLW06
STYLE:DASH:1
{{ render_sectorlines(
    EDGG['EDLWTMZA']['045-065'],
    EDGG['EDLWTMZB']['045-065'],
    EDGG['EDLWTMZC']['035-065'],
    EDGG['EDLWTMZD']['045-065'],
) }}