//---------------------------------------------------------------
//                        Tactical Directs
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\040-info\043-tactical-directs.jinja
#}
{%- set EDGG = data.sectors['lines']['EDGG'] %}
{%- set EDMM = data.sectors['lines']['EDMM'] %}
{%- set EDWW = data.sectors['lines']['EDWW'] %}
{%- set EHAA = data.sectors['lines']['EHAA'] %}
{%- set EBBU = data.sectors['lines']['EBBU'] %}
{%- set EXT_EBBU = data.sectors_ext['lines']['EBBU'] %}

{%- set AAL =   'N057.06.13.500:E009.59.44.100' %}
{%- set AMTOT = 'N056.02.26.000:E012.10.49.000' %}
{%- set DANKO = 'N057.00.00.000:E006.41.52.200' %}
{%- set DEKIK = 'N056.45.52.000:E014.18.28.000' %}
{%- set DETSO = 'N058.36.00.000:E014.15.52.000' %}
{%- set GOTEX = 'N057.12.18.000:E011.16.22.000' %}
{%- set KARLI = 'N057.00.00.000:E005.30.26.800' %}
{%- set MITSI = 'N057.00.00.000:E006.27.20.500' %}
{%- set PIPEX = 'N058.50.50.100:E009.02.32.100' %}
{%- set RADIS = 'N056.32.30.000:E009.59.42.000' %}
{%- set SABAK = 'N058.10.36.000:E011.38.34.000' %}

MAP:Tactical Directs
FOLDER:Airspace Info
LAYER:2

// Origin Arcs
COLOR:ORANGE
STYLE:NULL
COORD:OSBIT
COORD_AF:OSBIT:20:10:360M:>:011M
COORDPOLY:25

// Waypoints
COLOR:DARKGREEN
FONTSIZE:0
// EDUU
SYMBOL/LB:FIX3:ALUKA:ALUKA:5:0
SYMBOL/CT:FIX3:BAKLI:BAKLI:0:5
SYMBOL/LB:FIX3:BANUB:BANUB:5:0
SYMBOL/CB:FIX3:BIKRU:BIKRU:0:-5
SYMBOL/LB:FIX3:BILRA:BILRA:5:0
SYMBOL/LB:FIX3:BINKA:BINKA:5:0
SYMBOL/LB:FIX3:BODLA:BODLA:5:0
SYMBOL/LB:FIX3:BOMBI:BOMBI:5:0
SYMBOL/LB:FIX3:DETNI:DETNI:5:0
SYMBOL/LB:FIX3:DODEN:DODEN:5:0
SYMBOL/LB:FIX3:ESAMA:ESAMA:5:0
SYMBOL/LB:FIX3:GILAS:GILAS:5:0
SYMBOL/LB:FIX3:GOVEN:GOVEN:5:0
SYMBOL/LT:FIX3:LALUK:LALUK:5:0
SYMBOL/LB:FIX3:LASIS:LASIS:5:0
SYMBOL/LT:FIX3:MAREM:MAREM:5:0
SYMBOL/RB:FIX3:NEGIX:NEGIX:-5:0
SYMBOL/CB:FIX3:OKAGA:OKAGA:0:-5
SYMBOL/LB:FIX3:OMELO:OMELO:5:0
SYMBOL/LB:FIX3:OSBIT:OSBIT:5:0
SYMBOL/LB:FIX3:POZUM:POZUM:5:0
SYMBOL/CB:FIX3:SALLO:SALLO:0:-5
SYMBOL/LB:FIX3:SODRO:SODRO:5:0
SYMBOL/LB:FIX3:SUBIX:SUBIX:5:0
SYMBOL/LB:FIX3:SWALM:SWALM:5:0
SYMBOL/LB:FIX3:TABAT:TABAT:5:0
SYMBOL/RB:FIX3:TABUM:TABUM:-5:0
SYMBOL/LB:FIX3:TADUV:TADUV:5:0
SYMBOL/LB:FIX3:TESGA:TESGA:5:0
SYMBOL/LB:FIX3:TUSUK:TUSUK:5:0
SYMBOL/LB:FIX3:UMUPU:UMUPU:5:0
SYMBOL/CT:FIX3:UNGAV:UNGAV:0:5
SYMBOL/LB:FIX3:HDO:HDO:5:0

// EKDK
SYMBOL/RB:FIX3:BAVTA:BAVTA:-5:0
SYMBOL/LB:FIX3:GELBA:GELBA:5:0
SYMBOL/LB:FIX3:GESKA:GESKA:5:0
SYMBOL/LB:FIX3:LOKSA:LOKSA:5:0
SYMBOL/LB:FIX3:ODDON:ODDON:5:0
SYMBOL/LB:FIX3:OLPIB:OLPIB:5:0
SYMBOL/LB:FIX3:TUDLO:TUDLO:5:0
SYMBOL/LB:FIX3:{{AAL}}:AAL:5:0
SYMBOL/LB:FIX3:{{AMTOT}}:AMTOT:5:0
SYMBOL/LB:FIX3:{{DANKO}}:DANKO:5:0
SYMBOL/LB:FIX3:{{DEKIK}}:DEKIK:5:0
SYMBOL/LB:FIX3:{{DETSO}}:DETSO:5:0
SYMBOL/LB:FIX3:{{GOTEX}}:GOTEX:5:0
SYMBOL/LB:FIX3:{{KARLI}}:KARLI:5:0
SYMBOL/RB:FIX3:{{MITSI}}:MITSI:-5:0
SYMBOL/LB:FIX3:{{PIPEX}}:PIPEX:5:0
SYMBOL/LB:FIX3:{{RADIS}}:RADIS:5:0
SYMBOL/LB:FIX3:{{SABAK}}:SABAK:5:0

// EDMM
SYMBOL/LB:FIX3:BAMKI:BAMKI:5:0

// EDWW
SYMBOL/LB:FIX3:KUBAT:KUBAT:5:0
SYMBOL/LB:FIX3:RARUP:RARUP:5:0

// Reference Waypoints
COLOR:Active_Map_Type_2
FONTSIZE:=:10
SYMBOL/LB:FIX2:BERXO:BERXO:3:0

// Notes
COLOR:DARKGREEN
FONTSIZE:=:10
TEXT/LB:GELBA:DEST EKBI:5:11
TEXT/LB:KUBAT:DEST EHGG/EHLE:5:11
TEXT/LB:LOKSA:DEST EKBI:5:11
TEXT/LB:OSBIT:via/east of BERXO:5:11
TEXT/LB:RARUP:DEST EDDH:5:11
TEXT/LB:TUDLO:DEST EKCH:5:11

// MUAC
COLOR:DARKGREEN
TEXTALIGN:CC
FONTSIZE:=:17
FONTSTYLE:700:0:0:0
STYLE:SOLID:2
{#- ========= Super complex shenanigans to create EDYY Outline ========= #}
{%- set EDYY = 
    EDGG['YYRH']['355-660'] +
    EDGG['YYMH']['355-660'] +
    EDWW['EDYYSH']['355-660'] +
    EDWW['EDYYCH']['355-660'] +
    EDWW['EDYYHH']['365-660'] +
    EDWW['EDYYJH']['365-660'] +
    EHAA['EDYYDLT']['315-660'] +
    EBBU['EDYYLNH_SCT']['245-660'] +
    EBBU['EDYYLNH_SCT 2']['255-660'] +
    EXT_EBBU['EDYYLXH']['245-660'] +
    EXT_EBBU['EDYYNIH']['245-660'] +
    EXT_EBBU['EDYYKOH']['245-660']
%}
{#- 
    Extract duplicate (inner) and unique
    sectorlines from the set of sectors
#}
{%- set EDYY_unique = [] %}
{%- set EDYY_inner = [] %}

{%- for line in EDYY %}
{%- if line in EDYY_unique %}
{%- set EDYY_inner = EDYY_inner.append(line) %}
{%- else %}
{%- set EDYY_unique = EDYY_unique.append(line) %}
{%- endif %}
{%- endfor %}

{%- set EDYY_outer = sector_sub(EDYY_unique, EDYY_inner) %}
{{ render_sectorlines(EDYY_outer) }}
TEXT:N052.12.18.000:E007.40.35.000:WITHIN MUAC ALL WAYPOINTS CROSS-SECTOR APPROVED:0:0
TEXT:N052.12.18.000:E007.40.35.000:VIA EDGG/EDWW/EHAA/EBBU ACC FURTHEST DIRECT COP TO LOWER SECTOR:0:25