// ------------------------- Holding Points -------------------------
{%- set holdingpoints_cat1_only = ['06_13L', '06_13R', '24_13R', 'A_24_n', 'A_24_s', 'B_06', 'B_13R_e', 'B_13R_w', 'C_06', 'C_31L', 'D_24', 'E', 'T', 'T2', 'Z1'] %}

MAP:Holding Points CAT I
AIRPORT:EDDK
FOLDER:Holding Points
LAYER:5
ACTIVE:LVP:EDDK:0
COLOR:LAYOUT_HOLDINGPOINT
{% for desig, feat in data.eddk_kml['layout']['holdingpoints']['cat1'].items() %}
{{- feat | render_area('OTHER:REGION', desig) }}
{% endfor %}
STYLE:SOLID:2
{% for desig, feat in data.eddk_kml['layout']['holdingpoints']['line'].items() %}
{{- feat | render_line(desig) }}
{% endfor %}


MAP:Holding Points CAT II/III
AIRPORT:EDDK
FOLDER:Holding Points
LAYER:5
ACTIVE:LVP:EDDK:1
COLOR:LAYOUT_HOLDINGPOINT_RED
{% for desig, feat in data.eddk_kml['layout']['holdingpoints']['cat3'].items() %}
{{- feat | render_area('OTHER:REGION', desig + ' CAT III') }}
{% endfor %}
COLOR:LAYOUT_HOLDINGPOINT
{% for desig in holdingpoints_cat1_only %}
{{- data.eddk_kml['layout']['holdingpoints']['cat1'][desig] | render_area('OTHER:REGION', desig) }}
{% endfor %}
STYLE:SOLID:2
{% for desig in holdingpoints_cat1_only %}
{{- data.eddk_kml['layout']['holdingpoints']['line'][desig] | render_line(desig) }}
{% endfor %}


MAP:All Stopbars
AIRPORT:EDDK
FOLDER:Holding Points
LAYER:5
COLOR:LAYOUT_HOLDINGPOINT
{% for _, feat in data.eddk_kml['layout']['stopbars'].items() %}
{{- feat | render_line }}
{% endfor %}