// ------------------------------- AoR ------------------------------

MAP:EDDK_GND
AIRPORT:EDDK
FOLDER:AoR
LAYER:6
COLOR:AOR_GND_A
STYLE:DOT
{{ data.eddk_kml['layout']['aor']['line']['DKG'] | render_line }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddk_kml['layout']['aor']['labels']['DKG'] | to_text('DKG  121.730') }}


MAP:EDDK_TWR
AIRPORT:EDDK
FOLDER:AoR
LAYER:6
COLOR:AOR_TWR_A
STYLE:DOT
{{ data.eddk_kml['layout']['aor']['line']['DKT'] | render_line }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddk_kml['layout']['aor']['labels']['DKT'] | to_text('DKT  124.980') }}


MAP:EDDK_APP
AIRPORT:EDDK
FOLDER:AoR
LAYER:6
COLOR:AOR_APP_A
ZOOM:400
FONTSIZE:=:13
{{ data.eddk_kml['layout']['aor']['labels']['DKT'] | to_text('DKA  135.350:0:-20') }}