// ------------------------------- AoR ------------------------------

MAP:EDDK_GND
AIRPORT:EDDK
FOLDER:AoR
LAYER:6
COLOR:aor-gnd-a
STYLE:Dot
{{ data.eddk_kml['layout']['aor']['line']['DKG'] | to_line('DKG') }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddk_kml['layout']['aor']['labels']['DKG'] | to_text('DKG  121.730') }}

MAP:EDDK_TWR
AIRPORT:EDDK
FOLDER:AoR
LAYER:6
COLOR:aor-twr-a
STYLE:Dot
{{ data.eddk_kml['layout']['aor']['line']['DKT'] | to_line('DKT') }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddk_kml['layout']['aor']['labels']['DKT'] | to_text('DKT  124.980') }}

MAP:EDDK_APP
AIRPORT:EDDK
FOLDER:AoR
LAYER:6
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.eddk_kml['layout']['aor']['labels']['DKT'] | to_text('DKA  135.350:0:-20') }}