// ------------------------- Heli Positions -------------------------

MAP:Heli Positions
AIRPORT:EDDK
FOLDER:Apron Info
LAYER:6
ZOOM:600
FONTSIZE:=:10
COLOR:layout-label-stand
{% for desig, geom in data.eddk_kml['layout']['labels']['heli'].items() %}
{{- geom | to_text('H:-1:0') }}
{% endfor %}
{% for desig, geom in data.eddk_kml['layout']['labels']['heli'].items() %}
{{- geom | to_symbol('CIRCLE') }}
{% endfor %}