// ------------------------ Runway Closures -------------------------

MAP:31R/13L
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDK:13L,31R
RWYCLOSEDARR:EDDK:13L,31R
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddk_kml['layout']['runways']['13L-31R'] | render_area('OTHER:REGION') }}


MAP:31L/13R
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDK:13R,31L
RWYCLOSEDARR:EDDK:13R,31L
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddk_kml['layout']['runways']['13R-31L'] | render_area('OTHER:REGION') }}


MAP:24/06
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDK:06,24
RWYCLOSEDARR:EDDK:06,24
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddk_kml['layout']['runways']['06-24'] | render_area('OTHER:REGION') }}