// ----------------------- Permament Closures -----------------------

MAP:C
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
STYLE:Solid:2
{{ data.eddk_kml['layout']['closures']['poly']['C_1'] | to_coordtype('', 'closure', 'TWYCLOSED') }}
{{ data.eddk_kml['layout']['closures']['poly']['C_2'] | to_coordtype('', 'closure', 'TWYCLOSED') }}
{{ data.eddk_kml['layout']['closures']['poly']['C_3'] | to_coordtype('', '', 'TWYCLOSED', 'NONE') }}
STYLE:Solid:1
{{ data.eddk_kml['layout']['closures']['symb']['C_1a'] | to_coordtype('', 'closure-symbol') }}
{{ data.eddk_kml['layout']['closures']['symb']['C_1b'] | to_coordtype('', 'closure-symbol') }}
{{ data.eddk_kml['layout']['closures']['symb']['C_2a'] | to_coordtype('', 'closure-symbol') }}
{{ data.eddk_kml['layout']['closures']['symb']['C_2b'] | to_coordtype('', 'closure-symbol') }}
{{ data.eddk_kml['layout']['closures']['symb']['C_3a'] | to_coordtype('', 'closure-symbol') }}
{{ data.eddk_kml['layout']['closures']['symb']['C_3b'] | to_coordtype('', 'closure-symbol') }}

MAP:C1
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
STYLE:Solid:2
{{ data.eddk_kml['layout']['closures']['poly']['C1'] | to_coordtype('', 'closure', 'TWYCLOSED') }}
STYLE:Solid:1
{{ data.eddk_kml['layout']['closures']['symb']['C1_a'] | to_coordtype('', 'closure-symbol') }}
{{ data.eddk_kml['layout']['closures']['symb']['C1_b'] | to_coordtype('', 'closure-symbol') }}

MAP:E
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
{{ data.eddk_kml['layout']['closures']['poly']['E'] | to_coordtype('', '', 'TWYCLOSED', 'NONE') }}
{{ data.eddk_kml['layout']['closures']['symb']['E'] | to_coordtype('', 'closure-symbol') }}

MAP:G
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
STYLE:Solid:2
{{ data.eddk_kml['layout']['closures']['poly']['G_a'] | to_coordtype('','closure', 'TWYCLOSED') }}
{{ data.eddk_kml['layout']['closures']['poly']['G_b'] | to_coordtype('', '', 'TWYCLOSED', 'NONE') }}
STYLE:Solid:1
{{ data.eddk_kml['layout']['closures']['symb']['G_a'] | to_coordtype('','closure-symbol-yellow') }}
{{ data.eddk_kml['layout']['closures']['symb']['G_b'] | to_coordtype('','closure-symbol-yellow') }}
{{ data.eddk_kml['layout']['closures']['symb']['G_c'] | to_coordtype('','closure-symbol-yellow') }}

MAP:H
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
STYLE:Solid:2
{{ data.eddk_kml['layout']['closures']['poly']['H'] | to_coordtype('','closure', 'TWYCLOSED') }}
STYLE:Solid:1
{{ data.eddk_kml['layout']['closures']['symb']['H'] | to_coordtype('','closure-symbol') }}

MAP:P
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
STYLE:Solid:2
{{ data.eddk_kml['layout']['closures']['poly']['P'] | to_coordtype('','closure', 'TWYCLOSED') }}
STYLE:Solid:1
{{ data.eddk_kml['layout']['closures']['symb']['P'] | to_coordtype('','closure-symbol') }}

MAP:Z2
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
STYLE:Solid:2
{{ data.eddk_kml['layout']['closures']['poly']['Z2'] | to_coordtype('','closure', 'TWYCLOSED') }}
STYLE:Solid:1
{{ data.eddk_kml['layout']['closures']['symb']['Z2'] | to_coordtype('','closure-symbol') }}

MAP:Apron X
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
{{ data.eddk_kml['layout']['closures']['poly']['X'] | to_coordtype('', '', 'TWYCLOSED', 'NONE') }}
{{ data.eddk_kml['layout']['closures']['symb']['X'] | to_coordtype('','closure-symbol') }}

MAP:Apron Y
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
{{ data.eddk_kml['layout']['closures']['poly']['Y'] | to_coordtype('', '', 'TWYCLOSED', 'NONE') }}
{{ data.eddk_kml['layout']['closures']['symb']['Y'] | to_coordtype('','closure-symbol') }}