// ----------------------- Permament Closures -----------------------

MAP:C
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddk_kml['layout']['closures']['poly']['C_1'] | render_area('TWYCLOSED:REGION') }}
{{ data.eddk_kml['layout']['closures']['poly']['C_2'] | render_area('TWYCLOSED:REGION') }}
{{ data.eddk_kml['layout']['closures']['poly']['C_3'] | render_area('TWYCLOSED:NONE') }}
COLOR:CLOSURE_SYMBOL
STYLE:SOLID:1
{{ data.eddk_kml['layout']['closures']['symb']['C_1a'] | render_area('OTHER:REGION') }}
{{ data.eddk_kml['layout']['closures']['symb']['C_1b'] | render_area('OTHER:REGION') }}
{{ data.eddk_kml['layout']['closures']['symb']['C_2a'] | render_area('OTHER:REGION') }}
{{ data.eddk_kml['layout']['closures']['symb']['C_2b'] | render_area('OTHER:REGION') }}
{{ data.eddk_kml['layout']['closures']['symb']['C_3a'] | render_area('OTHER:REGION') }}
{{ data.eddk_kml['layout']['closures']['symb']['C_3b'] | render_area('OTHER:REGION') }}


MAP:C1
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddk_kml['layout']['closures']['poly']['C1'] | render_area('TWYCLOSED:REGION') }}
COLOR:CLOSURE_SYMBOL
STYLE:SOLID:1
{{ data.eddk_kml['layout']['closures']['symb']['C1_a'] | render_area('OTHER:REGION') }}
{{ data.eddk_kml['layout']['closures']['symb']['C1_b'] | render_area('OTHER:REGION') }}


MAP:E
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE_SYMBOL
{{ data.eddk_kml['layout']['closures']['poly']['E'] | render_area('TWYCLOSED:NONE') }}
{{ data.eddk_kml['layout']['closures']['symb']['E'] | render_area('OTHER:REGION') }}


MAP:G
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddk_kml['layout']['closures']['poly']['G_a'] | render_area('TWYCLOSED:REGION') }}
{{ data.eddk_kml['layout']['closures']['poly']['G_b'] | render_area('TWYCLOSED:NONE') }}
COLOR:CLOSURE_SYMBOL_YELLOW
STYLE:SOLID:1
{{ data.eddk_kml['layout']['closures']['symb']['G_a'] | render_area('OTHER:REGION') }}
{{ data.eddk_kml['layout']['closures']['symb']['G_b'] | render_area('OTHER:REGION') }}
{{ data.eddk_kml['layout']['closures']['symb']['G_c'] | render_area('OTHER:REGION') }}


MAP:H
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddk_kml['layout']['closures']['poly']['H'] | render_area('TWYCLOSED:REGION') }}
COLOR:CLOSURE_SYMBOL
STYLE:SOLID:1
{{ data.eddk_kml['layout']['closures']['symb']['H'] | render_area('OTHER:REGION') }}


MAP:P
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddk_kml['layout']['closures']['poly']['P'] | render_area('TWYCLOSED:REGION') }}
COLOR:CLOSURE_SYMBOL
STYLE:SOLID:1
{{ data.eddk_kml['layout']['closures']['symb']['P'] | render_area('OTHER:REGION') }}


MAP:Z2
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.eddk_kml['layout']['closures']['poly']['Z2'] | render_area('TWYCLOSED:REGION') }}
COLOR:CLOSURE_SYMBOL
STYLE:SOLID:1
{{ data.eddk_kml['layout']['closures']['symb']['Z2'] | render_area('OTHER:REGION') }}


MAP:Apron X
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
{{ data.eddk_kml['layout']['closures']['poly']['X'] | render_area('TWYCLOSED:NONE') }}
{{ data.eddk_kml['layout']['closures']['symb']['X'] | render_area('OTHER:REGION') }}


MAP:Apron Y
AIRPORT:EDDK
FOLDER:Closures
LAYER:4
ACTIVE:1
{{ data.eddk_kml['layout']['closures']['poly']['Y'] | render_area('TWYCLOSED:NONE') }}
{{ data.eddk_kml['layout']['closures']['symb']['Y'] | render_area('OTHER:REGION') }}