// -------------------------- Runway Info ---------------------------

MAP:TORA 31R
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:RC
{{ data.eddk_kml['layout']['tora']['31R_A'] | to_text('3815') }}
{{ data.eddk_kml['layout']['tora']['31R_A1'] | to_text('3586') }}
{{ data.eddk_kml['layout']['tora']['31R_A2'] | to_text('2562') }}
{{ data.eddk_kml['layout']['tora']['31R_A3'] | to_text('1781') }}

MAP:TORA 13L
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:LC
{{ data.eddk_kml['layout']['tora']['13L_A7'] | to_text('3815') }}
{{ data.eddk_kml['layout']['tora']['13L_A5'] | to_text('3587') }}
{{ data.eddk_kml['layout']['tora']['13L_A4'] | to_text('2743') }}
{{ data.eddk_kml['layout']['tora']['13L_A3'] | to_text('2121') }}

MAP:TORA 31L
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:RC
{{ data.eddk_kml['layout']['tora']['31L_C'] | to_text('1863') }}

MAP:TORA 13R
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:LC
{{ data.eddk_kml['layout']['tora']['13R_B'] | to_text('1863') }}
{{ data.eddk_kml['layout']['tora']['13R_T2'] | to_text('1354') }}

MAP:TORA 24
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:RC
{{ data.eddk_kml['layout']['tora']['24_D'] | to_text('2459') }}
{{ data.eddk_kml['layout']['tora']['24_E'] | to_text('1643') }}
{{ data.eddk_kml['layout']['tora']['24_A'] | to_text('1526') }}

MAP:TORA 06
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:RC
{{ data.eddk_kml['layout']['tora']['06_B'] | to_text('2459') }}
{{ data.eddk_kml['layout']['tora']['06_T'] | to_text('1625') }}

MAP:RRS 31R
AIRPORT:EDDK
FOLDER:Runway Info
ACTIVE:RWY:ARR:*:DEP:EDDK31R
ACTIVE:RWY:ARR:EDDK31R:DEP:*
COLOR:rrs-marker
{{ data.eddk_kml['layout']['rrs']['31R_600'] | to_symbol('RRS') }}
{{ data.eddk_kml['layout']['rrs']['31R_1500'] | to_symbol('RRS') }}
{{ data.eddk_kml['layout']['rrs']['31R_2400'] | to_symbol('RRS') }}
FONTSIZE:=:12
ZOOM:400
TEXTALIGN:CB
{{ data.eddk_kml['layout']['rrs']['31R_600'] | to_text('600:0:-10') }}
{{ data.eddk_kml['layout']['rrs']['31R_1500'] | to_text('1500:0:-10') }}
{{ data.eddk_kml['layout']['rrs']['31R_2400'] | to_text('2400:0:-10') }}

MAP:RRS 13L
AIRPORT:EDDK
FOLDER:Runway Info
ACTIVE:RWY:ARR:*:DEP:EDDK13L
ACTIVE:RWY:ARR:EDDK13L:DEP:*
COLOR:rrs-marker
{{ data.eddk_kml['layout']['rrs']['13L_600'] | to_symbol('RRS') }}
{{ data.eddk_kml['layout']['rrs']['13L_1500'] | to_symbol('RRS') }}
{{ data.eddk_kml['layout']['rrs']['13L_2400'] | to_symbol('RRS') }}
FONTSIZE:=:12
ZOOM:400
TEXTALIGN:CB
{{ data.eddk_kml['layout']['rrs']['13L_600'] | to_text('600:0:-10') }}
{{ data.eddk_kml['layout']['rrs']['13L_1500'] | to_text('1500:0:-10') }}
{{ data.eddk_kml['layout']['rrs']['13L_2400'] | to_text('2400:0:-10') }}

MAP:RRS 31L
AIRPORT:EDDK
FOLDER:Runway Info
ACTIVE:RWY:ARR:*:DEP:EDDK31L
ACTIVE:RWY:ARR:EDDK31L:DEP:*
COLOR:rrs-marker
{{ data.eddk_kml['layout']['rrs']['31L_600'] | to_symbol('RRS') }}
FONTSIZE:=:12
ZOOM:400
TEXTALIGN:CB
{{ data.eddk_kml['layout']['rrs']['31L_600'] | to_text('600:0:-10') }}

MAP:RRS 13R
AIRPORT:EDDK
FOLDER:Runway Info
ACTIVE:RWY:ARR:*:DEP:EDDK13R
ACTIVE:RWY:ARR:EDDK13R:DEP:*
COLOR:rrs-marker
{{ data.eddk_kml['layout']['rrs']['13R_600'] | to_symbol('RRS') }}
FONTSIZE:=:12
ZOOM:400
TEXTALIGN:CB
{{ data.eddk_kml['layout']['rrs']['13R_600'] | to_text('600:0:-10') }}

MAP:RRS 24
AIRPORT:EDDK
FOLDER:Runway Info
ACTIVE:RWY:ARR:*:DEP:EDDK24
ACTIVE:RWY:ARR:EDDK24:DEP:*
COLOR:rrs-marker
{{ data.eddk_kml['layout']['rrs']['24_600'] | to_symbol('RRS-18') }}
{{ data.eddk_kml['layout']['rrs']['24_1500'] | to_symbol('RRS-18') }}
FONTSIZE:=:12
ZOOM:400
TEXTALIGN:LC
{{ data.eddk_kml['layout']['rrs']['24_600'] | to_text('600:13:0') }}
{{ data.eddk_kml['layout']['rrs']['24_1500'] | to_text('1500:13:0') }}

MAP:RRS 06
AIRPORT:EDDK
FOLDER:Runway Info
ACTIVE:RWY:ARR:*:DEP:EDDK06
ACTIVE:RWY:ARR:EDDK06:DEP:*
COLOR:rrs-marker
{{ data.eddk_kml['layout']['rrs']['06_600'] | to_symbol('RRS-18') }}
{{ data.eddk_kml['layout']['rrs']['06_1500'] | to_symbol('RRS-18') }}
FONTSIZE:=:12
ZOOM:400
TEXTALIGN:LC
{{ data.eddk_kml['layout']['rrs']['06_600'] | to_text('600:13:0') }}
{{ data.eddk_kml['layout']['rrs']['06_1500'] | to_text('1500:13:0') }}

MAP:Runway Designators
AIRPORT:EDDK
FOLDER:Runway Info
ACTIVE:1
{% for uuid, geom in data.eddk_kml['layout']['markings']['runways'].items() %}
{{- geom | to_poly('', 'layout-runway-marking') }}
{% endfor %}

MAP:Runway Markings
AIRPORT:EDDK
FOLDER:Runway Info
{% for uuid, geom in data.eddk_aixm['RunwayMarking'].items() %}
{{- geom | to_poly('', 'layout-runway-marking') }}
{% endfor %}