// ------------------------ Runway Crossing -------------------------

MAP:31R/13L
AIRPORT:EDDK
FOLDER:Runway Crossing
COLOR:closure-symbol-yellow
COORDTYPE:OTHER:POLYGON
STYLE:Solid:2
{{ data.eddk_kml['layout']['runways']['13L-31R'] | to_poly('') }}

MAP:31L/13R
AIRPORT:EDDK
FOLDER:Runway Crossing
COLOR:closure-symbol-yellow
COORDTYPE:OTHER:POLYGON
STYLE:Solid:2
{{ data.eddk_kml['layout']['runways']['13R-31L'] | to_poly('') }}

MAP:24/06
AIRPORT:EDDK
FOLDER:Runway Crossing
COLOR:closure-symbol-yellow
COORDTYPE:OTHER:POLYGON
STYLE:Solid:2
{{ data.eddk_kml['layout']['runways']['06-24'] | to_poly('') }}