// ----------------------------- Labels -----------------------------

MAP:Buffer EDDK
AIRPORT:EDDK
FOLDER:Labels
HIDDEN
LAYER:3
ZOOM:400
{% for uuid, geom in data.eddk_kml['layout']['labels']['buffer_a'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}
{% for uuid, geom in data.eddk_kml['layout']['labels']['buffer_b'].items() %}
{{- geom | to_coordtype('', 'layout-apron') }}
{% endfor %}

MAP:Taxiways
AIRPORT:EDDK
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer EDDK
LAYER:6
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-yellow
{% for desig, geom in data.eddk_kml['layout']['labels']['taxiways'].items() if desig != 'K1' %}
{{- geom | to_text(desig) }}
{% endfor %}
TEXTALIGN:RC
{{ data.eddk_kml['layout']['labels']['taxiways']['K1'] | to_text('K1') }}

MAP:Stands
AIRPORT:EDDK
FOLDER:Labels
ACTIVE:1
OTHER_MAP_ACT:=:Labels\Areas 
LAYER:6
ZOOM:500
FONTSIZE:=:9
COLOR:layout-label-yellow
{% for desig, geom in data.eddk_kml['layout']['labels']['stands'].items() if not desig in
[
    'A01',
    'A03',
    'A05',
    'A07',
    'A11',
    'A17',
    'A21',
    'A23',
    'A25',
    'A27',
    'A29',
    'A31',
    'A33',
    'A35',
    'B11',
    'B17',
    'B21',
    'B23',
    'B27',
    'B29',
    'C50',
    'D11',
    'D15',
    'D19',
    'D23',
    'D51',
    'D53',
    'D57',
    'E10',
    'E12',
    'E14',
    'E16',
    'E20',
    'E22',
    'E24',
    'E30',
    'E32',
    'E34',
    'E36',
    'E40',
    'E42',
    'E44',
    'E46',
    'F20',
    'F22',
    'F24',
    'F26',
    'U16',
    'U18',
    'U20',
    'U22',
    'U24',
    'U26',
    'V35',
    'V45',
    'V50',
    'V52',
    'V54',
    'V55',
    'V101',
    'V111',
    'V121',
    'V131',
    'V211',
    'V221',
    'V231',
    'V310',
    'V320',
    'V330',
    'V410',
    'V430',
    'V440',
    'V510',
    'V530',
    'V550',
] %}
{{- geom | to_text(desig) }}
{% endfor %}
{{ data.eddk_kml['layout']['labels']['V1x1|'] | to_text('V1x1|') }}
{{ data.eddk_kml['layout']['labels']['V2x1|'] | to_text('V2x1|') }}
COLOR:layout-holdingpoint
{% for desig in
[
    'V3x0|',
    'V4x0|',
    'V5x0|',
] %}
{{- data.eddk_kml['layout']['labels'][desig] | to_text(desig) }}
{% endfor %}

ZOOM:1500
COLOR:layout-label-yellow
{% for desig in
[
    'A01',
    'A03',
    'A05',
    'A07',
    'A11',
    'A17',
    'A21',
    'A23',
    'A25',
    'A27',
    'A29',
    'A31',
    'A33',
    'A35',
    'B11',
    'B17',
    'B21',
    'B23',
    'B27',
    'B29',
    'C50',
    'D11',
    'D15',
    'D19',
    'D23',
    'D51',
    'D53',
    'D57',
    'E10',
    'E12',
    'E14',
    'E16',
    'E20',
    'E22',
    'E24',
    'E30',
    'E32',
    'E34',
    'E36',
    'E40',
    'E42',
    'E44',
    'E46',
    'F20',
    'F22',
    'F24',
    'F26',
    'U16',
    'U18',
    'U20',
    'U22',
    'U24',
    'U26',
    'V35',
    'V45',
    'V50',
    'V52',
    'V54',
    'V55',
] %}
{{- data.eddk_kml['layout']['labels']['stands'][desig] | to_text(desig) }}
{% endfor %}

// GAT Additional Stans
ZOOM:2500
COLOR:layout-label-yellow
{% for desig in
[
    'V101',
    'V111',
    'V121',
    'V131',
    'V211',
    'V221',
    'V231',
] %}
{{- data.eddk_kml['layout']['labels']['stands'][desig] | to_text(desig) }}
{% endfor %}
COLOR:layout-holdingpoint
{% for desig in
[
    'V310',
    'V320',
    'V330',
    'V410',
    'V430',
    'V440',
    'V510',
    'V530',
    'V550',
] %}
{{- data.eddk_kml['layout']['labels']['stands'][desig] | to_text(desig) }}
{% endfor %}

// There is a space symbol at the end of the map name to avoid accidental activation by EDDL and EDDS stand maps
MAP:Areas 
AIRPORT:EDDK
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-stand
{{ data.eddk_kml['layout']['labels']['V3x0|'] | to_text('GAT:0:-15') }}
{{ data.eddk_kml['layout']['labels']['BMI'] | to_text('BMI Heli') }}
{{ data.eddk_kml['layout']['labels']['Bundeswehr#1'] | to_text('Bundeswehr') }}
{{ data.eddk_kml['layout']['labels']['Bundeswehr#2'] | to_text('Bundeswehr') }}
{{ data.eddk_kml['layout']['labels']['Maintenance'] | to_text('Maintenance') }}

MAP:Aprons
AIRPORT:EDDK
FOLDER:Labels
LAYER:6
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-stand
{{ data.eddk_kml['layout']['labels']['V3x0|'] | to_text('           /Apron V:0:-15') }}
{{ data.eddk_kml['layout']['labels']['Bundeswehr#1'] | to_text('Apron 2:0:10') }}
{{ data.eddk_kml['layout']['labels']['Bundeswehr#2'] | to_text('Apron Z:0:10') }}
{{ data.eddk_kml['layout']['labels']['Maintenance'] | to_text('Apron U:0:10') }}
{{ data.eddk_kml['layout']['labels']['aprons']['Apron A'] | to_text('Apron A') }}
{{ data.eddk_kml['layout']['labels']['aprons']['Apron B'] | to_text('Apron B') }}
{{ data.eddk_kml['layout']['labels']['aprons']['Apron C'] | to_text('Apron C') }}
{{ data.eddk_kml['layout']['labels']['aprons']['Apron D'] | to_text('Apron D') }}
{{ data.eddk_kml['layout']['labels']['aprons']['Apron E'] | to_text('Apron E') }}
{{ data.eddk_kml['layout']['labels']['aprons']['Apron F'] | to_text('Apron F') }}
{{ data.eddk_kml['layout']['labels']['aprons']['Apron W'] | to_text('Apron W') }}

MAP:Buildings
AIRPORT:EDDK
FOLDER:Labels
ZOOM:400
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.eddk_kml['layout']['labels']['buildings'].items() if desig != 'Noise facility' %}
{{- geom | to_text(desig) }}
{% endfor %}
{{ data.eddk_kml['layout']['labels']['buildings']['Terminal 2'] | to_text('D:0:-12') }}
{{ data.eddk_kml['layout']['labels']['buildings']['Noise facility'] | to_text('Noise:0:-12') }}
{{ data.eddk_kml['layout']['labels']['buildings']['Noise facility'] | to_text('protection') }}
{{ data.eddk_kml['layout']['labels']['buildings']['Noise facility'] | to_text('facility:0:12') }}