//---------------------------------------------------------------
//                            Centerlines
//---------------------------------------------------------------

MAP:EDDF ECL 25C
FOLDER:EDDF
COLOR:ECL
STYLE:Solid:1
ASRDATA:PHOENIX
ACTIVE:RWY:ARR:EDDF25C:DEP:*
ACTIVE:RWY:ARR:EDDF07C:DEP:*
{{ data.rawdata['extended_centerline/eddf/eddf_ecl_25c.txt'] }}

MAP:EDDF ECL 25L
FOLDER:EDDF
COLOR:ECL
STYLE:Solid:1
ASRDATA:PHOENIX
ACTIVE:RWY:ARR:EDDF25L:DEP:*
ACTIVE:RWY:ARR:EDDF07R:DEP:*
{{ data.rawdata['extended_centerline/eddf/eddf_ecl_25l.txt'] }}

MAP:EDDF ECL 25R
FOLDER:EDDF
COLOR:ECL
STYLE:Solid:1
ASRDATA:PHOENIX
ACTIVE:RWY:ARR:EDDF25R:DEP:*
ACTIVE:RWY:ARR:EDDF07L:DEP:*
{{ data.rawdata['extended_centerline/eddf/eddf_ecl_25r.txt'] }}

MAP:EDDF ECL 07C
FOLDER:EDDF
COLOR:ECL
STYLE:Solid:1
ASRDATA:PHOENIX
ACTIVE:RWY:ARR:EDDF25C:DEP:*
ACTIVE:RWY:ARR:EDDF07C:DEP:*
{{ data.rawdata['extended_centerline/eddf/eddf_ecl_07c.txt'] }}

MAP:EDDF ECL 07R
FOLDER:EDDF
COLOR:ECL
STYLE:Solid:1
ASRDATA:PHOENIX
ACTIVE:RWY:ARR:EDDF25L:DEP:*
ACTIVE:RWY:ARR:EDDF07R:DEP:*
{{ data.rawdata['extended_centerline/eddf/eddf_ecl_07r.txt'] }}

MAP:EDDF ECL 07L
FOLDER:EDDF
COLOR:ECL
STYLE:Solid:1
ASRDATA:PHOENIX
ACTIVE:RWY:ARR:EDDF25R:DEP:*
ACTIVE:RWY:ARR:EDDF07L:DEP:*
{{ data.rawdata['extended_centerline/eddf/eddf_ecl_07l.txt'] }}

MAP:ECL 13R
FOLDER:EDDK
COLOR:ECL
STYLE:Solid:1
ASRDATA:PHOENIX
ACTIVE:RWY:ARR:EDDK13R:DEP:*
{{ data.rawdata['extended_centerline/eddk/eddk_ecl_13r.txt'] }}

MAP:ECL 31L
FOLDER:EDDK
COLOR:ECL
STYLE:Solid:1
ASRDATA:PHOENIX
ACTIVE:RWY:ARR:EDDK31L:DEP:*
{{ data.rawdata['extended_centerline/eddk/eddk_ecl_31l.txt'] }}

MAP:ETOU ECL
FOLDER:MIL
COLOR:ECL
STYLE:Solid:1
ASRDATA:PHOENIX
ACTIVE:RWY:ARR:ETOU25:DEP:*
ACTIVE:RWY:ARR:ETOU07:DEP:*
{{ data.rawdata['extended_centerline/etou.txt'] }}