// ------------------------------- AoR ------------------------------

MAP:EDDR_GND
AIRPORT:EDDR
FOLDER:AoR
LAYER:6
COLOR:aor-gnd-a
STYLE:Dot
{{ data.eddr_kml['layout']['aor']['line']['DRG'] | to_line('DRG') }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddr_kml['layout']['aor']['labels']['DRG'] | to_text('DRG  118.555') }}

MAP:EDDR_TWR
AIRPORT:EDDR
FOLDER:AoR
LAYER:6
COLOR:aor-twr-a
STYLE:Dot
{{ data.eddr_kml['layout']['aor']['line']['DRT'] | to_line('DRT') }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddr_kml['layout']['aor']['labels']['DRT'] | to_text('DRT  118.355') }}

MAP:EDDR_PFA_APP
AIRPORT:EDDR
FOLDER:AoR
LAYER:6
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.eddr_kml['layout']['aor']['labels']['DRT'] | to_text('PFA  129.675:0:20') }}