// -------------------------- Runway Info ---------------------------

MAP:TORA 27
AIRPORT:EDDR
FOLDER:Runway Info
COLOR:tora-label
ZOOM:500
TEXTALIGN:RC
{{ data.eddr_kml['layout']['tora']['27_A'] | to_text('1930') }}
{{ data.eddr_kml['layout']['tora']['27_B'] | to_text('985') }}

MAP:TORA 09
AIRPORT:EDDR
FOLDER:Runway Info
COLOR:tora-label
ZOOM:500
TEXTALIGN:LC
{{ data.eddr_kml['layout']['tora']['09_C'] | to_text('1900') }}
{{ data.eddr_kml['layout']['tora']['09_B'] | to_text('889') }}

MAP:Runway Designators
AIRPORT:EDDR
FOLDER:Runway Info
ACTIVE:1
{% for uuid, geom in data.eddr_kml['layout']['markings']['runways'].items() %}
{{- geom | to_poly('', 'layout-runway-marking') }}
{% endfor %}

MAP:Runway Markings
AIRPORT:EDDR
FOLDER:Runway Info
{% for uuid, geom in data.eddr_aixm['RunwayMarking'].items() if not uuid in
[
    '44e67b12-fa94-459a-9257-f69fed4d8ee1',
    '54c7ff6b-f00c-4590-b8fc-7b3e2347fcdb',
    'b30495dd-65d3-4ea6-bdfa-160d66d67a52',
    'b5a4100f-7a4a-4009-92b5-178261890ea8',
    'e183acf0-e8f8-48a8-931c-c43e413e8903'
] %}
{{- geom | to_poly('', 'layout-runway-marking') }}
{% endfor %}
{% for uuid in
[
    '44e67b12-fa94-459a-9257-f69fed4d8ee1',
    '54c7ff6b-f00c-4590-b8fc-7b3e2347fcdb',
    'b30495dd-65d3-4ea6-bdfa-160d66d67a52',
    'b5a4100f-7a4a-4009-92b5-178261890ea8',
    'e183acf0-e8f8-48a8-931c-c43e413e8903'
] %}
{{- data.eddr_aixm['RunwayMarking'][uuid] | to_poly('', 'layout-runway') }}
{% endfor %}