// ------------------------- Approach Window ------------------------
{%- set EDGG = data.airspace['lines']['EDGG'] %}

MAP:DE/FR Border:A
AIRPORT:EDDR
FOLDER:Approach Window
ACTIVE:1
COLOR:appwindow-border
{% for uuid, geom in data.eddr_kml['layout']['border_de'].items() %}
{{- geom | to_line('') -}}
{% endfor %}

MAP:RMZ:A
AIRPORT:EDDR
FOLDER:Approach Window
ACTIVE:1
STYLE:DASH:1
COLOR:appwindow-standard
// RMZ EDRZ
{{ render_sectorlines(EDGG['EDRZRMZ']['000-010']) }}

MAP:TMZ:A
AIRPORT:EDDR
FOLDER:Approach Window
ACTIVE:1
STYLE:DASH:1
COLOR:appwindow-standard
// TMZ EDDR
{{ render_sectorlines(EDGG['EDDRTMZ']['025-065']) }}

MAP:CTR:A
AIRPORT:EDDR
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:appwindow-standard
{{ render_sectorlines(EDGG['EDDRCTR']['000-036']) }}

MAP:ECL:A
AIRPORT:EDDR
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:appwindow-ecl
// 08
{{ ecl_dashes(runways.EDDR['08'], 12) }}
{{ marker_ticks(runways.EDDR['08'], [10], 0.5, 0.5) }}
// 26
{{ ecl_dashes(runways.EDDR['26'], 12) }}
{{ marker_ticks(runways.EDDR['26'], [10], 0.5, 0.5) }}
COLOR:appwindow-runway
STYLE:SOLID:2
// 08/26
{{ fix(runways['EDDR']['08']['thr']).line_to_fix(fix(runways['EDDR']['26']['thr'])) }}

MAP:Airfields:A
AIRPORT:EDDR
FOLDER:Approach Window
ACTIVE:1
COLOR:appwindow-standard
SYMBOL:AIRPORT:EDRZ
SYMBOL:AIRPORT:EDRP
SYMBOL:AIRPORT:EDRJ

MAP:VFR Points:A
AIRPORT:EDDR
FOLDER:Approach Window
COLOR:appwindow-standard
SYMBOL:VFR:DR-S:S:10:-7
SYMBOL:VFR:DR-N1:N1:13:-7
SYMBOL:VFR:DR-N2:N2:13:-7
SYMBOL:VFR:DR-E1:E1:13:-7
SYMBOL:VFR:DR-E2:E2:13:-7