// ------------------------- Holding Points -------------------------

MAP:Holding Points CAT I
AIRPORT:EDLP
FOLDER:Holding Points
LAYER:5
ACTIVE:1
{% for desig, geom in data.edlp_kml['layout']['holdingpoints']['cat1'].items() %}
{{- geom | to_coordtype(desig, 'layout-holdingpoint') }}
{% endfor %}
STYLE:SOLID:1
COLOR:layout-holdingpoint
{% for desig, geom in data.edlp_kml['layout']['holdingpoints']['line'].items() %}
{{- geom | to_line(desig) -}}
{% endfor %}

MAP:Stopbars
AIRPORT:EDLP
FOLDER:Holding Points
LAYER:5
ACTIVE:1
COLOR:layout-holdingpoint
{% for uuid, geom in data.edlp_kml['layout']['stopbars'].items() %}
{{- geom | to_line('') -}}
{% endfor %}