// -------------------------- Runway Info ---------------------------

MAP:TORA 24
AIRPORT:EDLP
FOLDER:Runway Info
LAYER:6
COLOR:tora-label
ZOOM:500
TEXTALIGN:RC
{{ data.edlp_kml['layout']['tora']['24_B'] | to_text('1240') }}
{{ data.edlp_kml['layout']['tora']['24_A'] | to_text('2180') }}

MAP:TORA 06
AIRPORT:EDLP
FOLDER:Runway Info
LAYER:6
COLOR:tora-label
ZOOM:500
TEXTALIGN:LC
{{ data.edlp_kml['layout']['tora']['06_C'] | to_text('1610') }}
{{ data.edlp_kml['layout']['tora']['06_D'] | to_text('2180') }}

MAP:Runway Designators
AIRPORT:EDLP
FOLDER:Runway Info
LAYER:6
ACTIVE:1
{% for uuid, geom in data.edlp_kml['layout']['markings']['runways'].items() %}
{{- geom | to_coordtype('', 'runway-label') }}
{% endfor %}

MAP:Runway Markings
AIRPORT:EDLP
FOLDER:Runway Info
{% for uuid, geom in data.edlp_aixm['RunwayMarking'].items() %}
{{- geom | to_coordtype('', 'layout-runway-marking') }}
{% endfor %}
{% for uuid, geom in data.edlp_kml['layout']['markings']['poly'].items() %}
{{- geom | to_coordtype('', 'layout-runway') }}
{% endfor %}