// ----------------------- Permament Closures -----------------------

MAP:E
AIRPORT:EDLP
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.edlp_kml['layout']['closures']['poly']['E'] | render_area('TWYCLOSED:REGION') }}
COLOR:CLOSURE_SYMBOL
STYLE:SOLID:1 
{{ data.edlp_kml['layout']['closures']['symb']['E_a'] | render_area('OTHER:REGION') }}
{{ data.edlp_kml['layout']['closures']['symb']['E_b'] | render_area('OTHER:REGION') }}