// ----------------------- Permament Closures -----------------------

MAP:E
AIRPORT:EDLP
FOLDER:Closures
ACTIVE:1
STYLE:Solid:2
COORDTYPE:TWYCLOSED:REGION
{{ data.edlp_kml['layout']['closures']['poly']['E'] | to_poly('','closure') }}
STYLE:Solid:1 
{{ data.edlp_kml['layout']['closures']['symb']['E_a'] | to_poly('','closure-symbol') }}
{{ data.edlp_kml['layout']['closures']['symb']['E_b'] | to_poly('','closure-symbol') }}