// ----------------------------- Labels -----------------------------

MAP:Buffer EDLP
AIRPORT:EDLP
FOLDER:Labels
HIDDEN
LAYER:3
ACTIVE:1
ZOOM:400
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.edlp_kml['layout']['labels']['buffer'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Taxiways
AIRPORT:EDLP
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer EDLP
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:LAYOUT_LABEL_TAXIWAY
{% for desig, feat in data.edlp_kml['layout']['labels']['taxiways'].items() %}
{{- feat | to_text(desig) }}
{% endfor %}


MAP:Stands
AIRPORT:EDLP
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:LAYOUT_LABEL_STAND
{% for desig, feat in data.edlp_kml['layout']['labels']['stands'].items() %}
{{- feat | to_text(desig) }}
{% endfor %}