// ----------------------------- Labels -----------------------------

MAP:Buffer   (EDLP)
AIRPORT:EDLP
FOLDER:Labels
HIDDEN
LAYER:3
ACTIVE:1
ZOOM:400
{% for uuid, geom in data.edlp_kml['layout']['labels']['buffer'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}

MAP:Taxiways (EDLP)
AIRPORT:EDLP
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer   (EDLP)
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for desig, geom in data.edlp_kml['layout']['labels']['taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Stands   (EDLP)
AIRPORT:EDLP
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.edlp_kml['layout']['labels']['stands'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}