// ----------------------------- Labels -----------------------------
MAP:Taxiways
AIRPORT:EDLP
FOLDER:Labels
ACTIVE:1
ZOOM:400
{% for uuid, geom in data.edlp_kml['layout']['labels']['buffer'].items() %}
{{- geom | to_poly('', 'layout-taxiway') }}
{% endfor %}
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for desig, geom in data.edlp_kml['layout']['labels']['taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Stands
AIRPORT:EDLP
FOLDER:Labels
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.edlp_kml['layout']['labels']['stands'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}