// ------------------------- Approach Window ------------------------
{%- set EDGG = data.airspace['lines']['EDGG'] %}

MAP:TMZ:A
AIRPORT:EDLP
FOLDER:Approach Window
ACTIVE:1
STYLE:DASH:1
COLOR:appwindow-standard
// EDLP TMZ
{{ render_sectorlines(
    EDGG['EDLPTMZA']['025-060'],
    sector_sub(
        EDGG['EDLPTMZB']['035-060'],
        EDGG['EDLPTMZA']['025-060']
        ),
    sector_sub(
        EDGG['EDLPTMZC']['035-060'],
        EDGG['EDLPTMZA']['025-060']
        ),
    sector_sub(
        EDGG['EDLPTMZD']['045-060'],
        EDGG['EDLPTMZB']['035-060']
        ),
) }}

MAP:CTR:A
AIRPORT:EDLP
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:appwindow-standard
{{ render_sectorlines(EDGG['EDLPCTR']['000-025']) }}

MAP:ECL:A
AIRPORT:EDLP
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:appwindow-ecl
// 06
{{ ecl_dashes(runways.EDLP['06'], 14) }}
{{ marker_ticks(runways.EDLP['06'], [4, 10], 0.5, 0.5) }}
// 24
{{ ecl_dashes(runways.EDLP['24'], 14) }}
{{ marker_ticks(runways.EDLP['24'], [4, 10], 0.5, 0.5) }}
COLOR:appwindow-runway
STYLE:SOLID:2
// 06/24
{{ fix(runways['EDLP']['06']['thr']).line_to_fix(fix(runways['EDLP']['24']['thr'])) }}

MAP:Airfields:A
AIRPORT:EDLP
FOLDER:Approach Window
ACTIVE:1
COLOR:appwindow-standard
SYMBOL:AIRPORT:EDLR
SYMBOL:AIRPORT:EDLZ
SYMBOL:AIRPORT:EDKO

MAP:VFR Points:A
AIRPORT:EDLP
FOLDER:Approach Window
COLOR:appwindow-standard
SYMBOL:VFR:LP-N:N:10:-7
SYMBOL:VFR:LP-E:E:10:-7
SYMBOL:VFR:LP-S:S:10:-7
SYMBOL:VFR:LP-H:H:10:-7
SYMBOL:VFR:LP-K:K:10:-7
SYMBOL:VFR:LP-W1:W1:13:-7
SYMBOL:VFR:LP-W2:W2:13:-7