// Special CTR Maps for APP sectors

MAP:EDDF TMA CTR
FOLDER:Controlzone
ACTIVE:1
ASRDATA:EDDF
COLOR:DFSGrey
STYLE:DashDot:1
{{ data.rawdata['airspace/ctr/eddf.txt'] }}
{{ data.rawdata['airspace/ctr/etou.txt'] }}
{{ data.rawdata['airspace/ctr/edfe.txt'] }}

MAP:EDDS TMA CTR
FOLDER:Controlzone
ACTIVE:1
ASRDATA:EDDS
COLOR:DFSGrey
STYLE:DashDot:1
{{ data.rawdata['airspace/ctr/edds.txt'] }}
{{ data.rawdata['airspace/ctr/edsb.txt'] }}
{{ data.rawdata['airspace/ctr/edtl.txt'] }}
{{ data.rawdata['airspace/rmz/edty_rmz.txt'] }}

MAP:DK/DL TMA CTR
FOLDER:Controlzone
ACTIVE:1
ASRDATA:EDDK,EDDL
COLOR:DFSGrey
STYLE:DashDot:1
{{ data.rawdata['airspace/ctr/eddk.txt'] }}
{{ data.rawdata['airspace/ctr/eddl.txt'] }}
{{ data.rawdata['airspace/ctr/edln.txt'] }}

// All CTR Maps

MAP:EDDF CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDF25L:DEP:*
ACTIVE:RWY:ARR:EDDF25C:DEP:*
ACTIVE:RWY:ARR:EDDF25R:DEP:*
ACTIVE:RWY:ARR:EDDF07L:DEP:*
ACTIVE:RWY:ARR:EDDF07C:DEP:*
ACTIVE:RWY:ARR:EDDF07R:DEP:*
ACTIVE:RWY:ARR:EDDF18:DEP:*
ACTIVE:RWY:ARR:EDFE08:DEP:*
ACTIVE:RWY:ARR:EDFE26:DEP:*
ACTIVE:RWY:ARR:ETOU07:DEP:*
ACTIVE:RWY:ARR:ETOU25:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF25L
ACTIVE:RWY:ARR:*:DEP:EDDF25C
ACTIVE:RWY:ARR:*:DEP:EDDF25R
ACTIVE:RWY:ARR:*:DEP:EDDF07L
ACTIVE:RWY:ARR:*:DEP:EDDF07C
ACTIVE:RWY:ARR:*:DEP:EDDF07R
ACTIVE:RWY:ARR:*:DEP:EDDF18
ACTIVE:RWY:ARR:*:DEP:EDFE08
ACTIVE:RWY:ARR:*:DEP:EDFE26
ACTIVE:RWY:ARR:*:DEP:ETOU07
ACTIVE:RWY:ARR:*:DEP:ETOU25
{{ data.rawdata['airspace/ctr/eddf.txt'] }}

MAP:EDDG CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDG25:DEP:*
ACTIVE:RWY:ARR:EDDG07:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDG25
ACTIVE:RWY:ARR:*:DEP:EDDG07
{{ data.rawdata['airspace/ctr/eddg.txt'] }}

MAP:EDDK CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDK13L:DEP:*
ACTIVE:RWY:ARR:EDDK13R:DEP:*
ACTIVE:RWY:ARR:EDDK31L:DEP:*
ACTIVE:RWY:ARR:EDDK31R:DEP:*
ACTIVE:RWY:ARR:EDDK24:DEP:*
ACTIVE:RWY:ARR:EDDK06:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDK13L
ACTIVE:RWY:ARR:*:DEP:EDDK13R
ACTIVE:RWY:ARR:*:DEP:EDDK31L
ACTIVE:RWY:ARR:*:DEP:EDDK31R
ACTIVE:RWY:ARR:*:DEP:EDDK24
ACTIVE:RWY:ARR:*:DEP:EDDK06
{{ data.rawdata['airspace/ctr/eddk.txt'] }}

MAP:EDDL CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDL23R:DEP:*
ACTIVE:RWY:ARR:EDDL23L:DEP:*
ACTIVE:RWY:ARR:EDDL05R:DEP:*
ACTIVE:RWY:ARR:EDDL05L:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDL23R
ACTIVE:RWY:ARR:*:DEP:EDDL23L
ACTIVE:RWY:ARR:*:DEP:EDDL05R
ACTIVE:RWY:ARR:*:DEP:EDDL05L
{{ data.rawdata['airspace/ctr/eddl.txt'] }}

MAP:EDDR CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDR27:DEP:*
ACTIVE:RWY:ARR:EDDR09:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDR27
ACTIVE:RWY:ARR:*:DEP:EDDR09
{{ data.rawdata['airspace/ctr/eddr.txt'] }}

MAP:EDDS CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDS25:DEP:*
ACTIVE:RWY:ARR:EDDS07:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDS25
ACTIVE:RWY:ARR:*:DEP:EDDS07
{{ data.rawdata['airspace/ctr/edds.txt'] }}

MAP:EDFE ATZ
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDF25L:DEP:*
ACTIVE:RWY:ARR:EDDF25C:DEP:*
ACTIVE:RWY:ARR:EDDF25R:DEP:*
ACTIVE:RWY:ARR:EDDF07L:DEP:*
ACTIVE:RWY:ARR:EDDF07C:DEP:*
ACTIVE:RWY:ARR:EDDF07R:DEP:*
ACTIVE:RWY:ARR:EDDF18:DEP:*
ACTIVE:RWY:ARR:EDFE08:DEP:*
ACTIVE:RWY:ARR:EDFE26:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF25L
ACTIVE:RWY:ARR:*:DEP:EDDF25C
ACTIVE:RWY:ARR:*:DEP:EDDF25R
ACTIVE:RWY:ARR:*:DEP:EDDF07L
ACTIVE:RWY:ARR:*:DEP:EDDF07C
ACTIVE:RWY:ARR:*:DEP:EDDF07R
ACTIVE:RWY:ARR:*:DEP:EDDF18
ACTIVE:RWY:ARR:*:DEP:EDFE08
ACTIVE:RWY:ARR:*:DEP:EDFE26
{{ data.rawdata['airspace/ctr/edfe.txt'] }}

MAP:EDFH CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDFH21:DEP:*
ACTIVE:RWY:ARR:EDFH03:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFH21
ACTIVE:RWY:ARR:*:DEP:EDFH03
{{ data.rawdata['airspace/ctr/edfh.txt'] }}

MAP:EDFM CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDFM27:DEP:*
ACTIVE:RWY:ARR:EDFM09:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFM27
ACTIVE:RWY:ARR:*:DEP:EDFM09
{{ data.rawdata['airspace/ctr/edfm.txt'] }}

MAP:EDLN CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDL23L:DEP:*
ACTIVE:RWY:ARR:EDDL23R:DEP:*
ACTIVE:RWY:ARR:EDDL05L:DEP:*
ACTIVE:RWY:ARR:EDDL05R:DEP:*
ACTIVE:RWY:ARR:EDLN31:DEP:*
ACTIVE:RWY:ARR:EDLN13:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDL23L
ACTIVE:RWY:ARR:*:DEP:EDDL23R
ACTIVE:RWY:ARR:*:DEP:EDDL05L
ACTIVE:RWY:ARR:*:DEP:EDDL05R
ACTIVE:RWY:ARR:*:DEP:EDLN31
ACTIVE:RWY:ARR:*:DEP:EDLN13
{{ data.rawdata['airspace/ctr/edln.txt'] }}

MAP:EDLP CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLP24:DEP:*
ACTIVE:RWY:ARR:EDLP06:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLP24
ACTIVE:RWY:ARR:*:DEP:EDLP06
{{ data.rawdata['airspace/ctr/edlp.txt'] }}

MAP:EDLV CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLV27:DEP:*
ACTIVE:RWY:ARR:EDLV09:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLV27
ACTIVE:RWY:ARR:*:DEP:EDLV09
{{ data.rawdata['airspace/ctr/edlv.txt'] }}

MAP:EDLW CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLW24:DEP:*
ACTIVE:RWY:ARR:EDLW06:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLW24
ACTIVE:RWY:ARR:*:DEP:EDLW06
{{ data.rawdata['airspace/ctr/edlw.txt'] }}

MAP:EDSB CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDSB21:DEP:*
ACTIVE:RWY:ARR:EDSB03:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDSB21
ACTIVE:RWY:ARR:*:DEP:EDSB03
{{ data.rawdata['airspace/ctr/edsb.txt'] }}

MAP:EDTL CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDTL21:DEP:*
ACTIVE:RWY:ARR:EDTL03:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDTL21
ACTIVE:RWY:ARR:*:DEP:EDTL03
{{ data.rawdata['airspace/ctr/edtl.txt'] }}

MAP:ETAD CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETAD22:DEP:*
ACTIVE:RWY:ARR:ETAD04:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETAD22
ACTIVE:RWY:ARR:*:DEP:ETAD04
{{ data.rawdata['airspace/ctr/etad.txt'] }}

MAP:ETAR CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETAR26:DEP:*
ACTIVE:RWY:ARR:ETAR27:DEP:*
ACTIVE:RWY:ARR:ETAR08:DEP:*
ACTIVE:RWY:ARR:ETAR09:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETAR26
ACTIVE:RWY:ARR:*:DEP:ETAR27
ACTIVE:RWY:ARR:*:DEP:ETAR08
ACTIVE:RWY:ARR:*:DEP:ETAR09
{{ data.rawdata['airspace/ctr/etar.txt'] }}

MAP:ETEB CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETEB08:DEP:*
ACTIVE:RWY:ARR:ETEB26:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETEB08
ACTIVE:RWY:ARR:*:DEP:ETEB26
{{ data.rawdata['airspace/ctr/eteb.txt'] }}

MAP:ETHF CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETHF30:DEP:*
ACTIVE:RWY:ARR:ETHF12:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETHF30
ACTIVE:RWY:ARR:*:DEP:ETHF12
{{ data.rawdata['airspace/ctr/ethf.txt'] }}

MAP:ETHN CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETHN25:DEP:*
ACTIVE:RWY:ARR:ETHN07:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETHN25
ACTIVE:RWY:ARR:*:DEP:ETHN07
{{ data.rawdata['airspace/ctr/ethn.txt'] }}

MAP:ETIK CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETIK24:DEP:*
ACTIVE:RWY:ARR:ETIK06:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETIK24
ACTIVE:RWY:ARR:*:DEP:ETIK06
{{ data.rawdata['airspace/ctr/etik.txt'] }}

MAP:ETNG CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETNG27:DEP:*
ACTIVE:RWY:ARR:ETNG09:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETNG27
ACTIVE:RWY:ARR:*:DEP:ETNG09
{{ data.rawdata['airspace/ctr/etng.txt'] }}

MAP:ETNN CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETNN24:DEP:*
ACTIVE:RWY:ARR:ETNN06:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETNN24
ACTIVE:RWY:ARR:*:DEP:ETNN06
{{ data.rawdata['airspace/ctr/etnn.txt'] }}

MAP:ETOU CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDF25L:DEP:*
ACTIVE:RWY:ARR:EDDF25C:DEP:*
ACTIVE:RWY:ARR:EDDF25R:DEP:*
ACTIVE:RWY:ARR:EDDF07L:DEP:*
ACTIVE:RWY:ARR:EDDF07C:DEP:*
ACTIVE:RWY:ARR:EDDF07R:DEP:*
ACTIVE:RWY:ARR:EDDF18:DEP:*
ACTIVE:RWY:ARR:ETOU07:DEP:*
ACTIVE:RWY:ARR:ETOU25:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF25L
ACTIVE:RWY:ARR:*:DEP:EDDF25C
ACTIVE:RWY:ARR:*:DEP:EDDF25R
ACTIVE:RWY:ARR:*:DEP:EDDF07L
ACTIVE:RWY:ARR:*:DEP:EDDF07C
ACTIVE:RWY:ARR:*:DEP:EDDF07R
ACTIVE:RWY:ARR:*:DEP:EDDF18
ACTIVE:RWY:ARR:*:DEP:ETOU07
ACTIVE:RWY:ARR:*:DEP:ETOU25
{{ data.rawdata['airspace/ctr/etou.txt'] }}

MAP:ETSB CTR
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETSB21:DEP:*
ACTIVE:RWY:ARR:ETSB03:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETSB21
ACTIVE:RWY:ARR:*:DEP:ETSB03
{{ data.rawdata['airspace/ctr/etsb.txt'] }}
