MAP:Airspace LEVEL
FOLDER:Airspace
LAYER:+2
COLOR:Standard
{{ data.rawdata['airspace/labels.txt'] }}

MAP:ASPC EDDF
FOLDER:Airspace
COLOR:DFSGrey
LAYER:-2
STYLE:Solid:1
ACTIVE:RWY:ARR:EDDF25R:DEP:*
ACTIVE:RWY:ARR:EDDF25L:DEP:*
ACTIVE:RWY:ARR:EDDF25C:DEP:*
ACTIVE:RWY:ARR:EDDF07R:DEP:*
ACTIVE:RWY:ARR:EDDF07L:DEP:*
ACTIVE:RWY:ARR:EDDF07C:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF25R
ACTIVE:RWY:ARR:*:DEP:EDDF25L
ACTIVE:RWY:ARR:*:DEP:EDDF25C
ACTIVE:RWY:ARR:*:DEP:EDDF07R
ACTIVE:RWY:ARR:*:DEP:EDDF07L
ACTIVE:RWY:ARR:*:DEP:EDDF07C
{{ data.rawdata['airspace/airspace_c/eddf_c_dashed.txt'] }}

MAP:ASPC EDDL EDDK
FOLDER:Airspace
COLOR:DFSGrey
LAYER:-2
STYLE:Solid:1
ACTIVE:RWY:ARR:EDDL23R:DEP:*
ACTIVE:RWY:ARR:EDDL23L:DEP:*
ACTIVE:RWY:ARR:EDDL05R:DEP:*
ACTIVE:RWY:ARR:EDDL05L:DEP:*
ACTIVE:RWY:ARR:EDDK13R:DEP:*
ACTIVE:RWY:ARR:EDDK13L:DEP:*
ACTIVE:RWY:ARR:EDDK31R:DEP:*
ACTIVE:RWY:ARR:EDDK31L:DEP:*
ACTIVE:RWY:ARR:EDDK06:DEP:*
ACTIVE:RWY:ARR:EDDK24:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDL23R
ACTIVE:RWY:ARR:*:DEP:EDDL23L
ACTIVE:RWY:ARR:*:DEP:EDDL05R
ACTIVE:RWY:ARR:*:DEP:EDDL05L
ACTIVE:RWY:ARR:*:DEP:EDDK13R
ACTIVE:RWY:ARR:*:DEP:EDDK13L
ACTIVE:RWY:ARR:*:DEP:EDDK31R
ACTIVE:RWY:ARR:*:DEP:EDDK31L
ACTIVE:RWY:ARR:*:DEP:EDDK06
ACTIVE:RWY:ARR:*:DEP:EDDK24
{{ data.rawdata['airspace/airspace_c/eddl_eddk_c_dashed.txt'] }}

MAP:ASPCD EDDS
FOLDER:Airspace
COLOR:DFSGrey
STYLE:Solid:1
LAYER:-2
ACTIVE:RWY:ARR:EDDS25:DEP:*
ACTIVE:RWY:ARR:EDDS07:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDS25
ACTIVE:RWY:ARR:*:DEP:EDDS07
{{ data.rawdata['airspace/airspace_d/edds_cd.txt'] }}

MAP:ASPD EDDG
FOLDER:Airspace
COLOR:DFSGrey
STYLE:Solid:1
LAYER:-2
ACTIVE:RWY:ARR:EDDG25:DEP:*
ACTIVE:RWY:ARR:EDDG07:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDG25
ACTIVE:RWY:ARR:*:DEP:EDDG07
{{ data.rawdata['airspace/airspace_d/eddg_d.txt'] }}

MAP:ASPD EDFH
FOLDER:Airspace
COLOR:DFSGrey
STYLE:Solid:1
LAYER:-2
ACTIVE:RWY:ARR:EDFH21:DEP:*
ACTIVE:RWY:ARR:EDFH03:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFH21
ACTIVE:RWY:ARR:*:DEP:EDFH03
{{ data.rawdata['airspace/airspace_d/edfh_d.txt'] }}

MAP:ASPD EDSB
FOLDER:Airspace
COLOR:DFSGrey
STYLE:Solid:1
LAYER:-2
ACTIVE:RWY:ARR:EDSB03:DEP:*
ACTIVE:RWY:ARR:EDSB21:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDSB03
ACTIVE:RWY:ARR:*:DEP:EDSB21
{{ data.rawdata['airspace/airspace_d/edsb_d.txt'] }}
STYLE:Dash:1
{{ data.rawdata['airspace/airspace_e/edsb_e.txt'] }}

MAP:EDFQ RMZ
FOLDER:Airspace
COLOR:DFSGrey
STYLE:Dash:1
ACTIVE:RWY:ARR:EDFQ29:DEP:*
ACTIVE:RWY:ARR:EDFQ11:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFQ29
ACTIVE:RWY:ARR:*:DEP:EDFQ11
{{ data.rawdata['airspace/rmz/edfq_rmz.txt'] }}

MAP:EDGS RMZ
FOLDER:Airspace
COLOR:DFSGrey
STYLE:Dash:1
ACTIVE:RWY:ARR:EDGS31:DEP:*
ACTIVE:RWY:ARR:EDGS13:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDGS31
ACTIVE:RWY:ARR:*:DEP:EDGS13
{{ data.rawdata['airspace/rmz/edgs_rmz.txt'] }}

MAP:EDTY RMZ
FOLDER:Airspace
COLOR:DFSGrey
STYLE:Dash:1
ACTIVE:RWY:ARR:EDTY28:DEP:*
ACTIVE:RWY:ARR:EDTY10:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDTY28
ACTIVE:RWY:ARR:*:DEP:EDTY10
{{ data.rawdata['airspace/rmz/edty_rmz.txt'] }}

MAP:EDQG RMZ
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDQG08:DEP:*
ACTIVE:RWY:ARR:EDQG26:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDQG08
ACTIVE:RWY:ARR:*:DEP:EDQG26
{{ data.rawdata['airspace/rmz/edqg_rmz.txt'] }}

MAP:EDRY RMZ
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDRY34:DEP:*
ACTIVE:RWY:ARR:EDRY16:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDRY34
ACTIVE:RWY:ARR:*:DEP:EDRY16
{{ data.rawdata['airspace/rmz/edry_rmz.txt'] }}

MAP:EDGS RMZ
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDGS31:DEP:*
ACTIVE:RWY:ARR:EDGS13:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDGS31
ACTIVE:RWY:ARR:*:DEP:EDGS13
{{ data.rawdata['airspace/rmz/edgs_rmz.txt'] }}

MAP:EDFQ RMZ 
FOLDER:Controlzone
STYLE:DashDot:1
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDFQ29:DEP:*
ACTIVE:RWY:ARR:EDFQ11:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFQ29
ACTIVE:RWY:ARR:*:DEP:EDFQ11
{{ data.rawdata['airspace/rmz/edfq_rmz.txt'] }}

MAP:EDLW TMZ
FOLDER:Airspace
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLW24:DEP:*
ACTIVE:RWY:ARR:EDLW06:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLW24
ACTIVE:RWY:ARR:*:DEP:EDLW06
STYLE:Dash:1
{{ data.rawdata['airspace/tmz/edlw_tmz.txt'] }}

MAP:EDDG TMZ
FOLDER:Airspace
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDG25:DEP:*
ACTIVE:RWY:ARR:EDDG07:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDG25
ACTIVE:RWY:ARR:*:DEP:EDDG07
STYLE:Dash:1
{{ data.rawdata['airspace/tmz/eddg_tmz.txt'] }}

MAP:EDFH TMZ
FOLDER:Airspace
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDFH21:DEP:*
ACTIVE:RWY:ARR:EDFH03:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFH21
ACTIVE:RWY:ARR:*:DEP:EDFH03
STYLE:Dash:1
{{ data.rawdata['airspace/tmz/edfh_tmz.txt'] }}

MAP:EDLP TMZ
FOLDER:Airspace
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLP24:DEP:*
ACTIVE:RWY:ARR:EDLP06:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLP24
ACTIVE:RWY:ARR:*:DEP:EDLP06
STYLE:Dash:1
{{ data.rawdata['airspace/tmz/edlp_tmz.txt'] }}

MAP:EDLV TMZ
FOLDER:Airspace
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLV27:DEP:*
ACTIVE:RWY:ARR:EDLV09:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLV27
ACTIVE:RWY:ARR:*:DEP:EDLV09
{{ data.rawdata['airspace/tmz/edlv_tmz.txt'] }}