MAP:Fixes Labels
FOLDER:Langen Radar
FONTSIZE:=:11
COLOR:DFSGrey
{{ data.rawdata['navdata/labels/edgg_fixes_labels.txt'] }}

MAP:NavAids Labels
FOLDER:Langen Radar
FONTSIZE:=:11
COLOR:DFSGrey
{{ data.rawdata['navdata/labels/navaids_labels.txt'] }}

MAP:EDGG Fixes
FOLDER:Langen Radar
ACTIVE:1
ASRDATA:EDGG,EDDK,EDDL,EDDS
COLOR:DFSGrey
{{ data.rawdata['navdata/edgg_fixes.txt'] }}

MAP:EDGG NavAids
FOLDER:Langen Radar
ACTIVE:1
ASRDATA:EDGG,EDDK,EDDL,EDDS
COLOR:DFSGrey
{{ data.rawdata['navdata/navaids.txt'] }}

