MAP:HEUSE AREA
FOLDER:Areas
COLOR:DFSGrey
STYLE:Solid:1
STYLE:DashDot
ASRDATA:EDGG
ACTIVE:1
{{ data.rawdata['loa_lines/heuse_area.txt'] }}

MAP:SULZ AREA
FOLDER:Areas
COLOR:DFSGrey
STYLE:DashDot
ASRDATA:EDGG,EDDS
ACTIVE:1
{{ data.rawdata['loa_lines/sulz_area.txt'] }}

MAP:DKB AREA
FOLDER:Areas
COLOR:DFSGrey
STYLE:DashDot
ASRDATA:EDGG
ACTIVE:ID:DKB,BAD,KTG:*:NDG,WLD,EGG,ZUG,RDG,EDMM:*
{{ data.rawdata['loa_lines/dkb_area.txt'] }}