//---------------------------------------------------------------
//                          Fixes/Navaids
//---------------------------------------------------------------
{%- set all_fixes = [
    'ABAMI',
    'ABFAD',
    'ABGUS',
    'ABILU',
    'ABNED',
    'ADMOS',
    'ADUTO',
    'AFPIN',
    'AGATI',
    'AGBUL',
    'AGISU',
    'AKOSI',
    'ALASA',
    'ALFEN',
    'ALUKA',
    'AMADA',
    'AMASI',
    'AMGOD',
    'AMICH',
    'AMISO',
    'AMLUH',
    'AMRAK',
    'AMRIV',
    'AMSAN',
    'ANAVI',
    'ANDIK',
    'ANZIV',
    'APEBE',
    'APNOC',
    'ARCKY',
    'ARDEN',
    'ARMUT',
    'ARNEM',
    'ARPEG',
    'ARTIP',
    'ASBON',
    'ATPAQ',
    'ATTUS',
    'BADGO',
    'BADOS',
    'BAGOS',
    'BAKLI',
    'BAMKI',
    'BANUB',
    'BASUM',
    'BATAK',
    'BATEL',
    'BATTY',
    'BEDUM',
    'BELOB',
    'BERGI',
    'BERIM',
    'BERXO',
    'BIGGE',
    'BIGSU',
    'BIKRU',
    'BILRA',
    'BINKA',
    'BIRKA',
    'BITBU',
    'BKD',
    'BLUFA',
    'BODLA',
    'BOLBO',
    'BOMBI',
    'BREDA',
    'BUB',
    'BUDIP',
    'BUMAB',
    'BUMIL',
    'CIV',
    'COA',
    'DELOM',
    'DEMIR',
    'DENIX',
    'DENOL',
    'DENOV',
    'DENOX',
    'DENUT',
    'DEPOK',
    'DETNI',
    'DIBIR',
    'DIK',
    'DINAN',
    'DIRBO',
    'DIXAT',
    'DODEN',
    'DOJOH',
    'DOMEG',
    'DOROR',
    'DOSUR',
    'EDISA',
    'EEL',
    'EFIDE',
    'EKERN',
    'EKNON',
    'ELKIM',
    'ELLUM',
    'ELNAT',
    'ELPAT',
    'ELSOB',
    'EMGOD',
    'EMMUN',
    'EQRAZ',
    'ERSIL',
    'ESAMA',
    'ESTAD',
    'EVELI',
    'EXITI',
    'EXOBA',
    'FERDI',
    'FUFNA',
    'GALSO',
    'GARLU',
    'GASTU',
    'GESLO',
    'GESTO',
    'GIKOG',
    'GILAS',
    'GILTI',
    'GIMRU',
    'GIPDO',
    'GIRVI',
    'GISEB',
    'GITER',
    'GMH',
    'GOBOT',
    'GODOS',
    'GOVEN',
    'GREFI',
    'GTQ',
    'GUBAX',
    'HABFU',
    'HAM',
    'HDO',
    'HELEN',
    'HLZ',
    'HMM',
    'HUNQI',
    'IBERA',
    'IBESA',
    'IDOSA',
    'IDRID',
    'IFTOC',
    'IMCOM',
    'IPMOG',
    'IQITA',
    'IRKIS',
    'ISPUB',
    'ITMIZ',
    'IZZEX',
    'JAZFI',
    'JUIST',
    'KATCE',
    'KEGAB',
    'KENIG',
    'KESUR',
    'KOK',
    'KOKOR',
    'KOMOB',
    'KONAN',
    'KONOM',
    'KUDIN',
    'KUGAL',
    'KUMER',
    'KUSHA',
    'KUTXO',
    'KUXOD',
    'LALUK',
    'LAMSO',
    'LARAS',
    'LASIS',
    'LIMGO',
    'LIPMI',
    'LIPNI',
    'LIRSU',
    'LNO',
    'LOMPU',
    'LONAM',
    'LUTAX',
    'LUTIR',
    'LUWIL',
    'MADUX',
    'MAG',
    'MAKEL',
    'MALYK',
    'MAPOX',
    'MAREM',
    'MARUN',
    'MAS',
    'MAVAS',
    'MAWEQ',
    'MAXUN',
    'MEDIL',
    'MEGAR',
    'MEVEL',
    'MICOS',
    'MILGI',
    'MIMVA',
    'MISGO',
    'MOKUM',
    'MOLIX',
    'MONAX',
    'MONIL',
    'MOXCI',
    'NANCY',
    'NAPRO',
    'NATSU',
    'NAVAK',
    'NAVPI',
    'NEBUN',
    'NEGIX',
    'NETEX',
    'NIE',
    'NIK',
    'NILEM',
    'NITLA',
    'NIVNU',
    'NOGRO',
    'NOMKA',
    'NORKU',
    'NORTA',
    'NOSPA',
    'ODVIL',
    'ODVUX',
    'OGFON',
    'OKAGA',
    'OLDIP',
    'OMELO',
    'OMEPA',
    'OMIMA',
    'OMWEG',
    'ONTAZ',
    'ONUNE',
    'OPWOT',
    'OSBIT',
    'OSKUR',
    'OSNAD',
    'OSTRA',
    'OTMON',
    'PABCO',
    'PAM',
    'PARYD',
    'PETIK',
    'PEVAD',
    'PIBUL',
    'PIROT',
    'PITES',
    'PIZID',
    'PODAT',
    'PODEN',
    'PODER',
    'POVEL',
    'POZUM',
    'RAMAR',
    'RAPIX',
    'RARUP',
    'RASCA',
    'RASVO',
    'RAVLO',
    'RAXLU',
    'REDFA',
    'REMBA',
    'RENDI',
    'RENEQ',
    'REXMI',
    'RIBSO',
    'RIDNI',
    'RIMBU',
    'RIMET',
    'RINIS',
    'RITAX',
    'RKN',
    'ROBAL',
    'ROBEG',
    'ROBIS',
    'ROCZO',
    'ROUSY',
    'RUBUT',
    'RUNER',
    'SALLO',
    'SAS',
    'SASKI',
    'SIGEN',
    'SILWE',
    'SISGA',
    'SOBTU',
    'SODRO',
    'SOFED',
    'SOGMI',
    'SOGPO',
    'SOGRI',
    'SOMVA',
    'SONEB',
    'SOPOK',
    'SORAL',
    'SPI',
    'SPY',
    'STADE',
    'SUBIX',
    'SUMUM',
    'SUPUR',
    'SUSET',
    'SUTAL',
    'SUTEB',
    'SUVOX',
    'SWALM',
    'TABAT',
    'TABUM',
    'TACHA',
    'TADUV',
    'TEBRO',
    'TENLI',
    'TESGA',
    'TIVUN',
    'TOBOP',
    'TOLGI',
    'TOLVU',
    'TOPPA',
    'TORNU',
    'TUGDU',
    'TULIP',
    'TUSKA',
    'TUSUK',
    'UNGAV',
    'UNOKO',
    'VABIK',
    'VALAM',
    'VALKO',
    'VALSU',
    'VAXEV',
    'VICOT',
    'WANZA',
    'WEZPU',
    'WIMCI',
    'WOODY',
    'WRB',
    'XAMAN',
    'XAROL',
    'XEBOT',
    'XIGRI',
    'ZUCKA',
] %}

MAP:Fixes
FOLDER:Fixes
ACTIVE:1
COLOR:Active_Map_Type_1
{%- for fx in all_fixes|unique %}
SYMBOL:FIX:{{fx}}
{%- endfor %}

MAP:Fixes w/ L
FOLDER:Fixes
TEXTALIGN:LB
COLOR:Active_Map_Type_1
{%- for fx in all_fixes|unique %}
SYMBOL:FIX:{{fx}}:{{fx}}:5:0
{%- endfor %}