//---------------------------- Airspace -------------------------
{%- set EDGG = data.airspace['lines']['EDGG'] %}

MAP:ADF CTRs
FOLDER:CTR/ATZ
ACTIVE:1
ASRDATA:EDDF
COLOR:Active_Map_Type_1
STYLE:DASHDOT:1
{{ render_sectorlines(
    EDGG['EDDFCTR']['000-025'],
    EDGG['ETOUCTR']['000-015'],
    EDGG['EDFEATZ']['000-015'],
) }}