//------------------------- RNP Procedures ----------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\100-EDDF\101-rnp.jinja
#}

MAP:EDDF RNP X 07
FOLDER:RNAV/RNP APP
COLOR:grey
LAYER:3
STYLE:Dot
// via ULNOK
COORD:ULNOK
COORD:DF914
COORD:DF910
COORD:TIXAK
COORDLINE
COORD:DF910
COORD:BOGVO
COORDLINE
// via IBLUS
COORD:IBLUS
COORD:DF911
COORD:DF910
COORDLINE
// Fixes
TEXTALIGN:LB
SYMBOL:FIX1:IBLUS:IBLUS:5:0
SYMBOL:FIX1:DF911:DF911:5:0
SYMBOL:FIX1:DF910:DF910:5:0
SYMBOL:FIX1:TIXAK:TIXAK:5:0
SYMBOL:FIX1:ULNOK:ULNOK:5:0
SYMBOL:FIX1:DF914:DF914:5:0
TEXTALIGN:LT
SYMBOL:FIX1:BOGVO:BOGVO:5:0
// Colored symbol
COLOR:blue
SYMBOL:RNP1:DF910
SYMBOL:RNP1:N049.58.39.776:E008.19.34.041
COLOR:yellow
SYMBOL:RNP2:DF914
SYMBOL:RNP2:N049.57.02.793:E008.12.52.862
COLOR:white
SYMBOL:RNP2:DF911
SYMBOL:RNP2:N049.57.12.539:E008.13.36.588
COLOR:red
SYMBOL:RNP3:ULNOK
SYMBOL:RNP3:N049.56.08.242:E008.09.05.700
COLOR:green
SYMBOL:RNP4:IBLUS
SYMBOL:RNP4:N049.54.56.666:E008.04.08.624

MAP:EDDF RNP X 25
FOLDER:RNAV/RNP APP
COLOR:grey
LAYER:3
STYLE:Dot
// via KUGUK
COORD:KUGUK
COORD:DF907
COORD:DF901
COORD:RATRU
COORDLINE
COORD:DF901
COORD:TITUT
COORDLINE
// via ORVIV
COORD:ORVIV
COORD:DF902
COORD:DF901
COORDLINE
// Fixes
TEXTALIGN:LB
SYMBOL:FIX1:KUGUK:KUGUK:5:0
SYMBOL:FIX1:DF907:DF907:5:0
SYMBOL:FIX1:DF901:DF901:5:0
SYMBOL:FIX1:ORVIV:ORVIV:5:0
SYMBOL:FIX1:DF902:DF902:5:0
SYMBOL:FIX1:RATRU:RATRU:5:0
TEXTALIGN:LT
SYMBOL:FIX1:TITUT:TITUT:5:0
// Colored symbol
COLOR:blue
SYMBOL:RNP1:DF901
SYMBOL:RNP1:N050.06.20.756:E008.51.41.767
COLOR:yellow
SYMBOL:RNP2:DF902
SYMBOL:RNP2:DF907
SYMBOL:RNP2:N050.07.57.011:E008.58.24.256
COLOR:red
SYMBOL:RNP3:KUGUK
SYMBOL:RNP3:N050.09.13.082:E009.03.42.844
COLOR:green
SYMBOL:RNP4:ORVIV
SYMBOL:RNP4:N050.10.05.037:E009.07.20.694