// ------------------------------ LVP -------------------------------

MAP:Heavy  24
AIRPORT:EDLW
FOLDER:LVP
// Orthogonal
{{ data.edlw_kml['layout']['lvp']['heavy']['24_orthogonal_a'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
{{ data.edlw_kml['layout']['lvp']['heavy']['24_orthogonal_b'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
// Sensitive
{{ data.edlw_kml['layout']['lvp']['heavy']['24_sensitive'] | to_coordtype('', 'lvp-sensitive', 'OTHER', 'REGION', '\\') }}
// Critical
STYLE:SOLID:2
{{ data.edlw_kml['layout']['lvp']['heavy']['24_critical_loc'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
{{ data.edlw_kml['layout']['lvp']['heavy']['24_critical_gs'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDLW['24'], 0, -0.01) }}
{{ loc_tick(runways.EDLW['24'], 0, 0.01) }}

MAP:       06
AIRPORT:EDLW
FOLDER:LVP
// Orthogonal
{{ data.edlw_kml['layout']['lvp']['heavy']['06_orthogonal_a'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
{{ data.edlw_kml['layout']['lvp']['heavy']['06_orthogonal_b'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
// Sensitive
{{ data.edlw_kml['layout']['lvp']['heavy']['06_sensitive'] | to_coordtype('', 'lvp-sensitive', 'OTHER', 'REGION', '\\') }}
// Critical
STYLE:SOLID:2
{{ data.edlw_kml['layout']['lvp']['heavy']['06_critical_loc'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
{{ data.edlw_kml['layout']['lvp']['heavy']['06_critical_gs'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDLW['06'], 0, -0.01) }}
{{ loc_tick(runways.EDLW['06'], 0, 0.01) }}