// ------------------------------ LVP -------------------------------
{% for runway in ['24', '06'] %}
MAP:{{runway}}
AIRPORT:EDLW
FOLDER:LVP|Heavy
COLOR:LVP_ORTHOGONAL
{{ data.edlw_kml['layout']['lvp']['heavy'][runway + '_orthogonal_a'] | render_area('OTHER:REGION:\\') }}
{{ data.edlw_kml['layout']['lvp']['heavy'][runway + '_orthogonal_b'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_SENSITIVE
{{ data.edlw_kml['layout']['lvp']['heavy'][runway + '_sensitive'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_CRITICAL
STYLE:SOLID:2
{{ data.edlw_kml['layout']['lvp']['heavy'][runway + '_critical_loc'] | render_area('OTHER:REGION:\\') }}
{{ data.edlw_kml['layout']['lvp']['heavy'][runway + '_critical_gs'] | render_area('OTHER:REGION:\\') }}
// LOC
STYLE:SOLID:2
COLOR:LVP_MARKING
{{ loc_tick(runways.EDLW[runway], 0, -0.01) }}
{{ loc_tick(runways.EDLW[runway], 0, 0.01) }}
{% endfor %}