// ------------------------------- AoR ------------------------------

MAP:EDLW_GND
AIRPORT:EDLW
FOLDER:AoR
LAYER:6
COLOR:aor-gnd-a
STYLE:Dot
{{ data.edlw_kml['layout']['aor']['line']['LWG'] | to_line('LWG') }}
ZOOM:400
FONTSIZE:=:13
{{ data.edlw_kml['layout']['aor']['labels']['LWG'] | to_text('LWG  121.830') }}

MAP:EDLW_TWR
AIRPORT:EDLW
FOLDER:AoR
LAYER:6
COLOR:aor-twr-a
STYLE:Dot
{{ data.edlw_kml['layout']['aor']['line']['LWT'] | to_line('LWT') }}
ZOOM:400
FONTSIZE:=:13
{{ data.edlw_kml['layout']['aor']['labels']['LWT'] | to_text('LWT  134.180') }}

MAP:EDLP_PAL_APP
AIRPORT:EDLW
FOLDER:AoR
LAYER:6
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edlw_kml['layout']['aor']['labels']['PADL'] | to_text('PADL 125.225') }}

MAP:EDGG_PAH_CTR
AIRPORT:EDLW
FOLDER:AoR
LAYER:6
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edlw_kml['layout']['aor']['labels']['PADL'] | to_text('PADH 135.650') }}