// -------------------------- Runway Info ---------------------------

MAP:TORA 24
AIRPORT:EDLW
FOLDER:Runway Info
LAYER:6
COLOR:TORA_LABEL
ZOOM:500
TEXTALIGN:RC
{{ data.edlw_kml['layout']['tora']['24_D'] | to_text('2000') }}
{{ data.edlw_kml['layout']['tora']['24_C'] | to_text('1700') }}


MAP:TORA 06
AIRPORT:EDLW
FOLDER:Runway Info
LAYER:6
COLOR:TORA_LABEL
ZOOM:500
TEXTALIGN:LC
{{ data.edlw_kml['layout']['tora']['06_A'] | to_text('2000') }}
{{ data.edlw_kml['layout']['tora']['06_B'] | to_text('1700') }}


MAP:Runway Designators
AIRPORT:EDLW
FOLDER:Runway Info
LAYER:6
ACTIVE:1
COLOR:RUNWAY_LABEL
{% for _, feat in data.edlw_kml['layout']['markings']['runways'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Runway Markings
AIRPORT:EDLW
FOLDER:Runway Info
COLOR:LAYOUT_RUNWAY_MARKING
{% for _, feat in data.edlw_aixm['RunwayMarking'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}