// -------------------------- Runway Info ---------------------------

MAP:TORA 24
AIRPORT:EDLW
FOLDER:Runway Info
COLOR:tora-label
ZOOM:500
TEXTALIGN:RC
{{ data.edlw_kml['layout']['tora']['24_D'] | to_text('2000') }}
{{ data.edlw_kml['layout']['tora']['24_C'] | to_text('1700') }}

MAP:TORA 06
AIRPORT:EDLW
FOLDER:Runway Info
COLOR:tora-label
ZOOM:500
TEXTALIGN:LC
{{ data.edlw_kml['layout']['tora']['06_A'] | to_text('2000') }}
{{ data.edlw_kml['layout']['tora']['06_B'] | to_text('1700') }}

MAP:Runway Designators
AIRPORT:EDLW
FOLDER:Runway Info
ACTIVE:1
{% for uuid, geom in data.edlw_kml['layout']['markings']['runways'].items() %}
{{- geom | to_poly('', 'layout-runway-marking') }}
{% endfor %}

MAP:Runway Markings
AIRPORT:EDLW
FOLDER:Runway Info
{% for uuid, geom in data.edlw_aixm['RunwayMarking'].items() %}
{{- geom | to_poly('', 'layout-runway-marking') }}
{% endfor %}