// ----------------------- Permament Closures -----------------------

MAP:GAT
AIRPORT:EDLW
FOLDER:Closures
ACTIVE:1
{{ data.edlw_kml['layout']['closures']['symb']['GAT'] | to_poly('','closure-symbol') }}
COORDTYPE:TWYCLOSED:NONE
{{ data.edlw_kml['layout']['closures']['poly']['GAT'] | to_poly('') }}

MAP:Apron
AIRPORT:EDLW
FOLDER:Closures
ACTIVE:1
{{ data.edlw_kml['layout']['closures']['symb']['apron'] | to_poly('','closure-symbol') }}
COORDTYPE:TWYCLOSED:NONE
{{ data.edlw_kml['layout']['closures']['poly']['apron'] | to_poly('') }}