// -------------------------- LVP Closures --------------------------

MAP:B
AIRPORT:EDLW
FOLDER:Closures
LAYER:4
ACTIVE:LVP:EDLW:1
STYLE:Solid:2
{{ data.edlw_kml['layout']['closures']['poly']['B'] | to_coordtype('', 'closure', 'TWYCLOSED') }}