// ----------------------- Permament Closures -----------------------

MAP:GAT
AIRPORT:EDLW
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE_SYMBOL
{{ data.edlw_kml['layout']['closures']['symb']['GAT'] | render_area('OTHER:REGION') }}
{{ data.edlw_kml['layout']['closures']['poly']['GAT'] | render_area('TWYCLOSED:NONE') }}


MAP:Apron
AIRPORT:EDLW
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE_SYMBOL
{{ data.edlw_kml['layout']['closures']['symb']['apron'] | render_area('OTHER:REGION') }}
{{ data.edlw_kml['layout']['closures']['poly']['apron'] | render_area('TWYCLOSED:NONE') }}