// ----------------------- Restriction Checks -----------------------

MAP:Checks
AIRPORT:EDLW
FOLDER:Restrictions
ACTIVE:1
// L, K
RESTRICTION:MAXCODE:C
{{ data.edlw_kml['layout']['restrictions']['poly']['L_K'] | to_coordtype('', '', 'TWYTYPE', 'NONE') }}
// B
RESTRICTION:MAXWEIGHT:20000
{{ data.edlw_kml['layout']['restrictions']['poly']['B'] | to_coordtype('', '', 'TWYTYPE', 'NONE') }}