// ----------------------------- Labels -----------------------------

MAP:Buffer   (EDLW)
AIRPORT:EDLW
FOLDER:Labels
HIDDEN
LAYER:3
ACTIVE:1
ZOOM:400
{% for uuid, geom in data.edlw_kml['layout']['labels']['buffer'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}

MAP:Taxiways (EDLW)
AIRPORT:EDLW
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer   (EDLW)
OTHER_MAP_ACT:=:Labels\Stopbars (EDLW)
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for desig, geom in data.edlw_kml['layout']['labels']['taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Stands   (EDLW)
AIRPORT:EDLW
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.edlw_kml['layout']['labels']['stands'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Stopbars (EDLW)
AIRPORT:EDLW
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
TEXTALIGN:BC
{{ data.edlw_kml['layout']['labels']['stopbars']['L1'] | to_text('L1') }}
TEXTALIGN:BR
{{ data.edlw_kml['layout']['labels']['stopbars']['L2'] | to_text('L2') }}