// ----------------------------- Labels -----------------------------

MAP:Buffer EDLW
AIRPORT:EDLW
FOLDER:Labels
HIDDEN
LAYER:3
ACTIVE:1
ZOOM:400
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.edlw_kml['layout']['labels']['buffer'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Taxiways
AIRPORT:EDLW
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer EDLW
OTHER_MAP_ACT:=:Labels\Stopbars 
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:LAYOUT_LABEL_TAXIWAY
{% for desig, feat in data.edlw_kml['layout']['labels']['taxiways'].items() %}
{{- feat | to_text(desig) }}
{% endfor %}


MAP:Stands
AIRPORT:EDLW
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:LAYOUT_LABEL_STAND
{% for desig, feat in data.edlw_kml['layout']['labels']['stands'].items() %}
{{- feat | to_text(desig) }}
{% endfor %}

// There is a space symbol at the end of the map name to avoid accidental activation by EDDF taxiway map
MAP:Stopbars 
AIRPORT:EDLW
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:LAYOUT_LABEL_STAND
TEXTALIGN:BC
{{ data.edlw_kml['layout']['labels']['stopbars']['L1'] | to_text('L1') }}
TEXTALIGN:BR
{{ data.edlw_kml['layout']['labels']['stopbars']['L2'] | to_text('L2') }}