// ------------------------- Approach Window ------------------------
{%- set EDGG = data.airspace['lines']['EDGG'] %}

MAP:TMZ:A
AIRPORT:EDLW
FOLDER:Approach Window
ACTIVE:1
STYLE:DASH:1
COLOR:appwindow-standard
// EDLW TMZ
{{ render_sectorlines(
    EDGG['EDLWTMZA']['045-065'],
    EDGG['EDLWTMZC']['035-065'],
    sector_sub(
        EDGG['EDLWTMZD']['045-065'],
        EDGG['EDLWTMZC']['035-065']
        ),

) }}

MAP:CTR:A
AIRPORT:EDLW
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:appwindow-standard
{{ render_sectorlines(EDGG['EDLWCTR']['000-025']) }}

MAP:ECL:A
AIRPORT:EDLW
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:appwindow-ecl
// 06
{{ ecl_dashes(runways.EDLW['06'], 12) }}
{{ marker_ticks(runways.EDLW['06'], [4, 10], 0.5, 0.5) }}
// 24
{{ ecl_dashes(runways.EDLW['24'], 12) }}
{{ marker_ticks(runways.EDLW['24'], [4, 10], 0.5, 0.5) }}
COLOR:appwindow-runway
STYLE:SOLID:2
// 06/24
{{ fix(runways['EDLW']['06']['thr']).line_to_fix(fix(runways['EDLW']['24']['thr'])) }}

MAP:Airfields:A
AIRPORT:EDLW
FOLDER:Approach Window
ACTIVE:1
COLOR:appwindow-standard
SYMBOL:AIRPORT:EDLH
SYMBOL:AIRPORT:EDKD
SYMBOL:AIRPORT:EDKW

MAP:VFR Points:A
AIRPORT:EDLW
FOLDER:Approach Window
COLOR:appwindow-standard
SYMBOL:VFR:LW-W:W:10:-7
SYMBOL:VFR:LW-N:N:10:-7
SYMBOL:VFR:LW-E:E:10:-7
SYMBOL:VFR:LW-S:S:10:-7