// ----------------------- Permament Closures -----------------------

MAP:E
AIRPORT:EDLN
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.edln_kml['layout']['closures']['poly']['E_1'] | render_area('TWYCLOSED:REGION') }}
{{ data.edln_kml['layout']['closures']['poly']['E_2'] | render_area('TWYCLOSED:REGION') }}
COLOR:CLOSURE_SYMBOL
STYLE:SOLID:1
{{ data.edln_kml['layout']['closures']['symb']['E_1a'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['symb']['E_1b'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['symb']['E_2a'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['symb']['E_2b'] | render_area('OTHER:REGION') }}


MAP:Runway 28
AIRPORT:EDLN
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.edln_aixm['RunwayElement']['4682806b-edc5-c6ff-e053-1514a8c027b7'] | geom_simplify(0.000005) | render_area('TWYCLOSED:REGION') }}
COLOR:CLOSURE_SYMBOL
STYLE:SOLID:1
{{ data.edln_kml['layout']['closures']['symb']['28_a'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['symb']['28_b'] | render_area('OTHER:REGION') }}


MAP:Apron
AIRPORT:EDLN
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE_SYMBOL
{{ data.edln_kml['layout']['closures']['symb']['apron_1a'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['symb']['apron_1b'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['symb']['apron_2a'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['symb']['apron_2b'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['symb']['apron_3a'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['symb']['apron_3b'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['symb']['apron_3c'] | render_area('OTHER:REGION') }}
{{ data.edln_kml['layout']['closures']['poly']['apron_1'] | render_area('TWYCLOSED:NONE') }}
{{ data.edln_kml['layout']['closures']['poly']['apron_2'] | render_area('TWYCLOSED:NONE') }}
{{ data.edln_kml['layout']['closures']['poly']['apron_3'] | render_area('TWYCLOSED:NONE') }}