// ----------------------------- Labels -----------------------------

MAP:Buffer   (EDLN)
AIRPORT:EDLN
FOLDER:Labels
HIDDEN
LAYER:3
ACTIVE:1
ZOOM:400
{% for uuid, geom in data.edln_kml['layout']['labels']['buffer'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}

MAP:Taxiways (EDLN)
AIRPORT:EDLN
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer   (EDLN)
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for taxiway, geom in data.edln_kml['layout']['labels']['taxiways'].items() %}
{{- geom | to_text(taxiway) }}
{% endfor %}

MAP:Stands   (EDLN)
AIRPORT:EDLN
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{% for stand, geom in data.edln_kml['layout']['labels']['stands'].items() %}
{{- geom | to_text(stand) }}
{% endfor %}