// ----------------------------- Labels -----------------------------

MAP:Buffer EDLN
AIRPORT:EDLN
FOLDER:Labels
HIDDEN
LAYER:3
ACTIVE:1
ZOOM:400
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.edln_kml['layout']['labels']['buffer'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Taxiways
AIRPORT:EDLN
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer EDLN
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:LAYOUT_LABEL_TAXIWAY
{% for taxiway, feat in data.edln_kml['layout']['labels']['taxiways'].items() %}
{{- feat | to_text(taxiway) }}
{% endfor %}


MAP:Stands
AIRPORT:EDLN
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:LAYOUT_LABEL_STAND
{% for stand, feat in data.edln_kml['layout']['labels']['stands'].items() %}
{{- feat | to_text(stand) }}
{% endfor %}