// ------------------------- Holding Points -------------------------
{%- set holdingpoints_cat1_only = ['B', 'C', 'E', 'F', 'G', 'H'] %}

MAP:Holding Points CAT I
AIRPORT:EDLV
FOLDER:Holding Points
LAYER:5
ACTIVE:LVP:EDLV:0
COLOR:LAYOUT_HOLDINGPOINT
{% for desig, feat in data.edlv_kml['layout']['holdingpoints']['cat1'].items() %}
{{- feat | render_area('OTHER:REGION', desig) }}
{% endfor %}
{% for desig, feat in data.edlv_kml['layout']['holdingpoints']['line'].items() %}
{{- feat | render_line(desig) }}
{% endfor %}


MAP:Holding Points CAT II/III
AIRPORT:EDLV
FOLDER:Holding Points
LAYER:5
ACTIVE:LVP:EDLV:1
COLOR:LAYOUT_HOLDINGPOINT
{% for desig, feat in data.edlv_kml['layout']['holdingpoints']['cat3'].items() %}
{{- feat | render_area('OTHER:REGION', desig + ' CAT III') }}
{% endfor %}
{% for desig in holdingpoints_cat1_only %}
{{- data.edlv_kml['layout']['holdingpoints']['cat1'][desig] | render_area('OTHER:REGION', desig) }}
{% endfor %}
{% for desig in holdingpoints_cat1_only %}
{{- data.edlv_kml['layout']['holdingpoints']['line'][desig] | render_line(desig) }}
{% endfor %}


MAP:Stopbars
AIRPORT:EDLV
FOLDER:Holding Points
LAYER:5
ACTIVE:1
COLOR:LAYOUT_HOLDINGPOINT
{% for desig, feat in data.edlv_kml['layout']['stopbars'].items() %}
{{- feat | render_line }}
{% endfor %}