// ------------------------- Holding Points -------------------------

MAP:Holding Points CAT I
AIRPORT:EDLV
FOLDER:Holding Points
ACTIVE:LVP:EDLV:0
{% for desig, geom in data.edlv_kml['layout']['holdingpoints']['cat1'].items() %}
{{- geom | to_poly(desig, 'layout-holdingpoint') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for desig, geom in data.edlv_kml['layout']['holdingpoints']['line'].items() %}
{{- geom | to_line(desig) -}}
{% endfor %}

MAP:Holding Points CAT II/III
AIRPORT:EDLV
FOLDER:Holding Points
ACTIVE:LVP:EDLV:1
COLOR:layout-holdingpoint
{% for desig in 
[
    'B',
    'C',
    'E',
    'F',
    'G',
    'H',
] %}
{{- data.edlv_kml['layout']['holdingpoints']['cat1'][desig] | to_poly(desig, 'layout-holdingpoint') }}
{% endfor %}
{% for desig, geom in data.edlv_kml['layout']['holdingpoints']['cat3'].items() %}
{{- geom | to_poly(desig + ' CATIII', 'layout-holdingpoint') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for desig in 
[
    'B',
    'C',
    'E',
    'F',
    'G',
    'H',
] %}
{{- data.edlv_kml['layout']['holdingpoints']['line'][desig] | to_line(desig) }}
{% endfor %}

MAP:Stopbars
AIRPORT:EDLV
FOLDER:Holding Points
ACTIVE:1
COLOR:layout-holdingpoint
{% for desig, geom in data.edlv_kml['layout']['stopbars'].items() %}
{{- geom | to_line('') -}}
{% endfor %}