// ----------------------- Permament Closures -----------------------

MAP:Helipad North
AIRPORT:EDLV
FOLDER:Closures
ACTIVE:1
{{ data.edlv_kml['layout']['closures']['symb']['helipad'] | to_poly('','closure-symbol') }}
COORDTYPE:TWYCLOSED:NONE
{{ data.edlv_kml['layout']['closures']['poly']['helipad'] | to_poly('','red') }}