// ------------------------------ LVP -------------------------------

MAP:LVP Closures
AIRPORT:EDLV
FOLDER:Closures
LAYER:4
ACTIVE:LVP:EDLV:1
COLOR:CLOSURE
STYLE:SOLID:2
{{ data.edlv_kml['layout']['closures']['poly']['B'] | render_area('TWYCLOSED:REGION') }}
{{ data.edlv_kml['layout']['closures']['poly']['C'] | render_area('TWYCLOSED:REGION') }}
{{ data.edlv_kml['layout']['closures']['poly']['N'] | render_area('TWYCLOSED:REGION') }}