// ----------------------- Permament Closures -----------------------

MAP:Helipad North
AIRPORT:EDLV
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE_SYMBOL
{{ data.edlv_kml['layout']['closures']['symb']['helipad'] | render_area('OTHER:REGION') }}
{{ data.edlv_kml['layout']['closures']['poly']['helipad'] | render_area('TWYCLOSED:NONE') }}