// ------------------------ Restriction Maps ------------------------

MAP:Restrictions (EDLV)
AIRPORT:EDLV
FOLDER:Restrictions
LAYER:2
ZOOM:400

// F, G
COLOR:restrictions-AB
STYLE:SOLID:4
{{ data.edlv_kml['layout']['restrictions']['line']['F'] | to_line('') -}}
{{ data.edlv_kml['layout']['restrictions']['line']['G'] | to_line('') -}}

// B, C
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.edlv_kml['layout']['restrictions']['line']['B'] | to_line('') -}}
{{ data.edlv_kml['layout']['restrictions']['line']['C_a'] | to_line('') -}}
{{ data.edlv_kml['layout']['restrictions']['line']['C_b'] | to_line('') -}}

// Restriction Stands
TEXTALIGN:CC
FONTSIZE:=:9
COLOR:restrictions-C
{% for desig in
[
    '1',
    '2',
    '3',
    '4',
    '5',
    '6',
    '7',
    '8',
    '9',
] %}
{{- data.edlv_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}

// Reference
COLOR:layout-label-stand
FONTSIZE:=:12
{{ data.edlv_kml['layout']['restrictions']['labels']['reference'] | to_text('Reference  :0:-15') }}
{{ data.edlv_kml['layout']['restrictions']['labels']['reference'] | to_text('Code B < 24m (CRJ2/C700):0:0') }}
{{ data.edlv_kml['layout']['restrictions']['labels']['reference'] | to_text('Code C < 36m (A321/B739):0:15') }}
FONTSIZE:=:70
COLOR:restrictions-AB
{{ data.edlv_kml['layout']['restrictions']['labels']['reference'] | to_text('.:-95:-54') }}
COLOR:restrictions-C
{{ data.edlv_kml['layout']['restrictions']['labels']['reference'] | to_text('.:-95:-39') }}