// ------------------------ Restriction Maps ------------------------

MAP:Restrictions
AIRPORT:EDLV
FOLDER:Restrictions
LAYER:2
ZOOM:400

// F, G
COLOR:RESTRICTIONS_AB
STYLE:SOLID:4
{{ data.edlv_kml['layout']['restrictions']['line']['F'] | render_line }}
{{ data.edlv_kml['layout']['restrictions']['line']['G'] | render_line }}

// B, C
COLOR:RESTRICTIONS_C
STYLE:SOLID:4
{{ data.edlv_kml['layout']['restrictions']['line']['B'] | render_line }}
{{ data.edlv_kml['layout']['restrictions']['line']['C_a'] | render_line }}
{{ data.edlv_kml['layout']['restrictions']['line']['C_b'] | render_line }}

// Restriction Stands
TEXTALIGN:CC
FONTSIZE:=:9
COLOR:RESTRICTIONS_C
{% for desig in
[
    '1',
    '2',
    '3',
    '4',
    '5',
    '6',
    '7',
    '8',
    '9',
] %}
{{- data.edlv_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}

// Reference
COLOR:LAYOUT_LABEL_STAND
FONTSIZE:=:12
{{ data.edlv_kml['layout']['restrictions']['labels']['reference'] | to_text('Reference  :0:-15') }}
{{ data.edlv_kml['layout']['restrictions']['labels']['reference'] | to_text('Code B < 24m (CRJ2/C700):0:0') }}
{{ data.edlv_kml['layout']['restrictions']['labels']['reference'] | to_text('Code C < 36m (A321/B739):0:15') }}
FONTSIZE:=:70
COLOR:RESTRICTIONS_AB
{{ data.edlv_kml['layout']['restrictions']['labels']['reference'] | to_text('.:-95:-54') }}
COLOR:RESTRICTIONS_C
{{ data.edlv_kml['layout']['restrictions']['labels']['reference'] | to_text('.:-95:-39') }}