// ----------------------- Restriction Checks -----------------------

MAP:Checks
AIRPORT:EDLV
FOLDER:Restrictions
ACTIVE:1
// B, C
RESTRICTION:MAXCODE:C
{{ data.edlv_kml['layout']['restrictions']['poly']['B'] | to_coordtype('', '', 'TWYTYPE', 'NONE') }}
RESTRICTION:MAXCODE:C
{{ data.edlv_kml['layout']['restrictions']['poly']['C'] | to_coordtype('', '', 'TWYTYPE', 'NONE') }}
// F, G
RESTRICTION:MAXCODE:B
{{ data.edlv_kml['layout']['restrictions']['poly']['F'] | to_coordtype('', '', 'TWYTYPE', 'NONE') }}
RESTRICTION:MAXCODE:B
{{ data.edlv_kml['layout']['restrictions']['poly']['G'] | to_coordtype('', '', 'TWYTYPE', 'NONE') }}