// ------------------------------ LVP -------------------------------

MAP:LVP Closures
AIRPORT:EDLV
FOLDER:Closures
ACTIVE:LVP:EDLV:1
STYLE:Solid:2
COORDTYPE:TWYCLOSED:REGION
{{ data.edlv_kml['layout']['closures']['poly']['B'] | to_poly('','closure') }}
{{ data.edlv_kml['layout']['closures']['poly']['C'] | to_poly('','closure') }}
{{ data.edlv_kml['layout']['closures']['poly']['N'] | to_poly('','closure') }}