{%- set VT07R =     'N049.57.19.300:E008.14.06.400' %}
{%- set VT07R_IPA = 'N049.54.40.700:E008.03.02.200' %}
{%- set VT07L =     'N049.56.46.800:E008.07.12.100' %}
{%- set VT07L_IPA = 'N049.56.29.200:E008.06.00.900' %}
{%- set VT25L =     'N050.06.37.800:E008.52.52.800' %}
{%- set VT25L_IPA = 'N050.08.42.100:E009.01.34.400' %}
{%- set VT25R =     'N050.08.07.000:E008.54.27.200' %}
{%- set VT25R_IPA = 'N050.08.34.600:E008.56.23.700' %}
MAP:EDDF VT 07R
FOLDER:Tools
COLOR:white
STYLE:Solid:1
// 07R
COORD:{{VT07R}}
COORD_FC:220M:12
COORDLINE
COORD:{{VT07R}}
COORD_FC:280M:12
COORDLINE
// 07R IPA
COORD:{{VT07R_IPA}}
COORD_FC:220M:12
COORDLINE
COORD:{{VT07R_IPA}}
COORD_FC:280M:12
COORDLINE

MAP:EDDF VT 07L
FOLDER:Tools
COLOR:white
STYLE:Solid:1
// 07L
COORD:{{VT07L}}
COORD_FC:220M:12
COORDLINE
COORD:{{VT07L}}
COORD_FC:280M:12
COORDLINE
// 07L IPA
COORD:{{VT07L_IPA}}
COORD_FC:220M:12
COORDLINE
COORD:{{VT07L_IPA}}
COORD_FC:280M:12
COORDLINE

MAP:EDDF VT 25L
FOLDER:Tools
COLOR:white
STYLE:Solid:1
// 25L
COORD:{{VT25L}}
COORD_FC:100M:12
COORDLINE
COORD:{{VT25L}}
COORD_FC:040M:12
COORDLINE
// 25L IPA
COORD:{{VT25L_IPA}}
COORD_FC:100M:12
COORDLINE
COORD:{{VT25L_IPA}}
COORD_FC:040M:12
COORDLINE

MAP:EDDF VT 25R
FOLDER:Tools
COLOR:white
STYLE:Solid:1
// 25R
COORD:{{VT25R}}
COORD_FC:100M:12
COORDLINE
COORD:{{VT25R}}
COORD_FC:040M:12
COORDLINE
// 25R IPA
COORD:{{VT25R_IPA}}
COORD_FC:100M:12
COORDLINE
COORD:{{VT25R_IPA}}
COORD_FC:040M:12
COORDLINE