MAP:EDDG RNAV 07
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDDG07:DEP:*
{{ data.rawdata['procedures/eddg/eddg_rnav_07.txt'] }}

MAP:EDDG RNAV 25
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDDG25:DEP:*
{{ data.rawdata['procedures/eddg/eddg_rnav_25.txt'] }}

MAP:EDDR RNP 09
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDDR09:DEP:*
{{ data.rawdata['procedures/eddr/eddr_rnp_09.txt'] }}

MAP:EDDR RNP 27
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDDR27:DEP:*
{{ data.rawdata['procedures/eddr/eddr_rnp_27.txt'] }}

MAP:EDFH RNP 03
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDFH03:DEP:*
{{ data.rawdata['procedures/edfh/edfh_rnp_03.txt'] }}

MAP:EDFH RNP 21
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDFH21:DEP:*
{{ data.rawdata['procedures/edfh/edfh_rnp_21.txt'] }}

MAP:EDFM RNAV 27
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDFM27:DEP:*
{{ data.rawdata['procedures/edfm/edfm_rnav_27.txt'] }}

MAP:EDFQ RNP 29
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDFQ29:DEP:*
{{ data.rawdata['procedures/edfq/edfq_rnp_29.txt'] }}

MAP:EDGS RNP 13
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDGS13:DEP:*
{{ data.rawdata['procedures/edgs/edgs_rnp_13.txt'] }}

MAP:EDGS RNP 31
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDGS31:DEP:*
{{ data.rawdata['procedures/edgs/edgs_rnp_31.txt'] }}

MAP:EDLN RNP 13
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLN13:DEP:*
{{ data.rawdata['procedures/edln/edln_rnp_13.txt'] }}

MAP:EDLN RNP 31
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLN31:DEP:*
{{ data.rawdata['procedures/edln/edln_rnp_31.txt'] }}

MAP:EDLP RNP 06
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDLP06:DEP:*
{{ data.rawdata['procedures/edlp/edlp_rnp_06.txt'] }}

MAP:EDLP RNP 24
FOLDER:Minor Approaches
COLOR:DFSGrey
FONTSIZE:=:11
ACTIVE:RWY:ARR:EDLP24:DEP:*
{{ data.rawdata['procedures/edlp/edlp_rnp_24.txt'] }}

MAP:EDLV RNP 09
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLV09:DEP:*
{{ data.rawdata['procedures/edlv/edlv_rnp_09.txt'] }}

MAP:EDLV ILS 27
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLV27:DEP:*
{{ data.rawdata['procedures/edlv/edlv_ils_27.txt'] }}

MAP:EDLW RNP 06
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLW06:DEP:*
{{ data.rawdata['procedures/edlw/edlw_rnp_06.txt'] }}

MAP:EDLW RNP 24
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDLW24:DEP:*
{{ data.rawdata['procedures/edlw/edlw_rnp_24.txt'] }}

MAP:EDSB RNP 03
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDSB03:DEP:*
{{ data.rawdata['procedures/edsb/edsb_rnp_03.txt'] }}

MAP:EDSB RNP 21
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDSB21:DEP:*
{{ data.rawdata['procedures/edsb/edsb_rnp_21.txt'] }}

MAP:EDTL RNP 03
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDTL03:DEP:*
{{ data.rawdata['procedures/edtl/edtl_rnp_03.txt'] }}

MAP:EDTL RNP 21
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDTL21:DEP:*
{{ data.rawdata['procedures/edtl/edtl_rnp_21.txt'] }}

MAP:EDTY RNP 10
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDTY10:DEP:*
{{ data.rawdata['procedures/edty/edty_rnp_10.txt'] }}

MAP:EDTY RNP 28
FOLDER:Minor Approaches
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDTY28:DEP:*
{{ data.rawdata['procedures/edty/edty_rnp_28.txt'] }}