MAP:ORBIT NG4
FOLDER:Military
COLOR:Holding_CTR
STYLE:Solid:1
LAYER:2
{{ data.rawdata['military/awacs_orbits/NG4.txt'] }}

MAP:ORBIT NG7
FOLDER:Military
COLOR:Holding_CTR
STYLE:Solid:1
LAYER:2
{{ data.rawdata['military/awacs_orbits/NG7.txt'] }}

MAP:ETAD 23
FOLDER:Military
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETAD23:DEP:*
{{ data.rawdata['procedures/etad/etad_23.txt'] }}

MAP:ETAD 05
FOLDER:Military
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETAD05:DEP:*
{{ data.rawdata['procedures/etad/etad_05.txt'] }}

MAP:ETAR RNP 08
FOLDER:Military
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETAR08:DEP:*
{{ data.rawdata['procedures/etar/etar_rnp_08.txt'] }}

MAP:ETAR RNP 09
FOLDER:Military
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETAR09:DEP:*
{{ data.rawdata['procedures/etar/etar_rnp_09.txt'] }}

MAP:ETAR RNP 26
FOLDER:Military
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETAR26:DEP:*
{{ data.rawdata['procedures/etar/etar_rnp_26.txt'] }}

MAP:ETAR RNP 27
FOLDER:Military
STYLE:Solid:1
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:ETAR27:DEP:*
{{ data.rawdata['procedures/etar/etar_rnp_27.txt'] }}

MAP:ETAD AoR
FOLDER:Military
ACTIVE:ID:*:*:TADA:*
ACTIVE:ID:TADA:*:*:*
COLOR:DFSGrey
STYLE:Solid:1
{{ data.rawdata['military/aors/etad.txt'] }}

MAP:ETAR AoR
FOLDER:Military
ACTIVE:ID:*:*:TARA:*
ACTIVE:ID:TARA:*:*:*
COLOR:DFSGrey
STYLE:Solid:1
{{ data.rawdata['military/aors/etar.txt'] }}

MAP:ETHF AoR
FOLDER:Military
ACTIVE:ID:*:*:THFA:*
ACTIVE:ID:THFA:*:*:*
COLOR:DFSGrey
STYLE:Solid:1
{{ data.rawdata['military/aors/ethf.txt'] }}

MAP:ETHN AoR
FOLDER:Military
ACTIVE:ID:*:*:THNA:*
ACTIVE:ID:THNA:*:*:*
COLOR:DFSGrey
STYLE:Solid:1
{{ data.rawdata['military/aors/ethn.txt'] }}

MAP:ETNG AoR
FOLDER:Military
ACTIVE:ID:*:*:TNGA:*
ACTIVE:ID:TNGA:*:*:*
COLOR:DFSGrey
STYLE:Solid:1
{{ data.rawdata['military/aors/etng.txt'] }}

MAP:ETNN AoR
FOLDER:Military
ACTIVE:ID:*:*:TNNA:*
ACTIVE:ID:TNNA:*:*:*
COLOR:DFSGrey
STYLE:Solid:1
{{ data.rawdata['military/aors/etnn.txt'] }}

MAP:ETSB AoR
FOLDER:Military
ACTIVE:ID:*:*:TSBA:*
ACTIVE:ID:TSBA:*:*:*
COLOR:DFSGrey
STYLE:Solid:1
{{ data.rawdata['military/aors/etsb.txt'] }}
