MAP:Enroute
FOLDER:Holding
COLOR:Holding_CTR
STYLE:Solid:1
{{ data.rawdata['navdata/holding_enroute.txt'] }}

MAP:Arrival
FOLDER:Holding
COLOR:Holding_APP
STYLE:Solid:1
{{ data.rawdata['navdata/holding_arrival.txt'] }}