MAP:MVA Germany Summer
FOLDER:MVA
COLOR:green
STYLE:Solid:1
{{ data.rawdata['mva/mva_summer.txt'] }}

MAP:MVA Germany Winter
FOLDER:MVA
COLOR:green
STYLE:Solid:1
{{ data.rawdata['mva/mva_winter.txt'] }}

MAP:MVA Military AoRs
FOLDER:MVA
COLOR:green
STYLE:Solid:1
{{ data.rawdata['mva/mva_military.txt'] }}
