MAP:EDDF Training 25 
FOLDER:Tools
COLOR:training
STYLE:Solid:1
{{ data.rawdata['tools/eddf_training_25.txt'] }}

MAP:EDDF Training 07 
FOLDER:Tools
COLOR:training
STYLE:Solid:1
{{ data.rawdata['tools/eddf_training_07.txt'] }}

MAP:EDDL Training 23
FOLDER:Tools
COLOR:training
STYLE:Solid:1
{{ data.rawdata['tools/eddl_training_23.txt'] }}

MAP:EDDF VT 25L
FOLDER:Tools
COLOR:training
STYLE:Solid:1
{{ data.rawdata['tools/eddf_vectoring_25l.txt'] }}

MAP:EDDF VT 25R
FOLDER:Tools
COLOR:training
STYLE:Solid:1
{{ data.rawdata['tools/eddf_vectoring_25r.txt'] }}

MAP:EDDF VT 07R
FOLDER:Tools
COLOR:training
STYLE:Solid:1
{{ data.rawdata['tools/eddf_vectoring_07r.txt'] }}

MAP:EDDF VT 07L
FOLDER:Tools
COLOR:training
STYLE:Solid:1
{{ data.rawdata['tools/eddf_vectoring_07l.txt'] }}

