//Shortcut ALT + H
MAP:Seperation Guide Upper
FOLDER:Tools
STYLE:Solid:1
COLOR:DFSGrey
{{ data.rawdata['tools/sep_guide_upper.txt'] }}

//Shortcut ALT + G
MAP:Seperation Guide Lower
FOLDER:Tools
STYLE:Solid:1
COLOR:DFSGrey
{{ data.rawdata['tools/sep_guide_lower.txt'] }}

MAP:EDLL Airways
FOLDER:Tools
STYLE:Solid:1
COLOR:DFSGrey
{{ data.rawdata['tools/edll_airways.txt'] }}

MAP:EDFF Airways
FOLDER:Tools
STYLE:Solid:1
COLOR:DFSGrey
{{ data.rawdata['tools/edff_airways.txt'] }}