//---------------------------------------------------------------
//                            MVA
//---------------------------------------------------------------

MAP:MVA Warm (MAR-NOV)
FOLDER:MVA
ASRDATA:PHOENIX
COLOR:mva
{{ data.mva_su }}

MAP:MVA Cold (NOV-MAR)
FOLDER:MVA
ASRDATA:PHOENIX
COLOR:mva
{{ data.mva_wi }}