//---------------------------------------------------------------
//                            Airspace
//---------------------------------------------------------------
{%- set EDGG = data.airspace['lines']['EDGG'] %}
{%- set EDSB = {
    'A': EDGG['EDSBCLDA']['015-065'],
    'B': EDGG['EDSBCLDB']['015-065'],
    'C': EDGG['EDSBCLDC']['025-065'],
    'D': EDGG['EDSBCLDD']['025-065'],
    'E': EDGG['EDSBCLDE']['025-065'],
    'F': EDGG['EDSBCLDF']['035-065'],
    'G': EDGG['EDSBCLDG']['035-065'],
    'H': EDGG['EDSBCLDH']['045-065']
} %}

MAP:Airspace Labels
FOLDER:Airspace
COLOR:standard
LAYER:+4
ASRDATA:PHOENIX
{{ data.airspace_labels }}

MAP:Controlzone (CTR)
FOLDER:Airspace
COLOR:standard
ACTIVE:1
STYLE:Solid:1
ASRDATA:PHOENIX
{{ render_sectorlines(
        EDGG['EDDFCTR']['000-025'],
        EDGG['EDDLCTR']['000-025'],
        EDGG['EDDKCTR']['000-025'],
        EDGG['EDDSCTR']['000-035'],
        EDGG['EDDGCTR']['000-025'],
        EDGG['EDDRCTR']['000-036'],
        EDGG['EDFHCTR']['000-035'],
        EDGG['EDFMCTR']['000-020'],
        EDGG['EDLNCTR']['000-020'],
        EDGG['EDLPCTR']['000-025'],
        EDGG['EDLVCTR']['000-030'],
        EDGG['EDLWCTR']['000-025'],
        EDGG['EDSBCTR']['000-025'],
        EDGG['EDTLCTR']['000-025'],
        EDGG['ETADCTR']['000-037'],
        EDGG['ETARCTR']['000-036'],
        EDGG['ETEBCTR']['000-030'],
        EDGG['ETHFCTR']['000-027'],
        EDGG['ETHNCTR']['000-035'],
        EDGG['ETIKCTR']['000-030'],
        EDGG['ETNGCTR']['000-030'],
        EDGG['ETNNCTR']['000-029'],
        sector_sub(
            EDGG['ETOUCTR']['000-015'], 
            EDGG['EDDFCTR']['000-025']
            ),
        EDGG['ETSBCTR']['000-041'],
        sector_sub(
            EDGG['EDFEATZ']['000-015'], 
            EDGG['EDDFCTR']['000-025']
            ),
) }}
{{ data.topsky['common']['Airspace']['EHBK CTR'] | to_multiline('EHBK CTR') }}
{{ data.topsky['common']['Airspace']['EHDP EHVK CTR'] | to_multiline('EHDP EHVK CTR') }}

MAP:Airspace C
FOLDER:Airspace
COLOR:standard
ACTIVE:1
LAYER:+2
STYLE:DOT:1
ASRDATA:PHOENIX
{{ data.topsky['common']['Airspace']['EDDF C'] | to_multiline('EDDF C') }}
{{ render_sectorlines(data.aor['lines']['EDGG']['EDDFAPP']['000-135']) }}
{{ data.topsky['common']['Airspace']['EDDL EDDK C'] | to_multiline('EDDL EDDK C') }}
// EDDS C
{{ render_sectorlines(EDGG['EDDSCLC']['035-055']) }}

MAP:Airspace D
FOLDER:Airspace
COLOR:standard
ACTIVE:1
LAYER:+1
STYLE:Solid:1
ASRDATA:PHOENIX
// EDDG D
{{ render_sectorlines(EDGG['EDDGCLD']['025-045']) }}
// EDDS D
{{ render_sectorlines(
    EDGG['EDDSCLDF']['075-100'],
    sector_sub(
        EDGG['EDDSCLDE']['075-100'], 
        EDGG['EDDSCLDC']['055-100']
        ),
    sector_sub(
        EDGG['EDDSCLDC']['055-100'], 
        EDGG['EDDSCLDF']['075-100']
        ),
    EDGG['EDDSCLDB']['055-100'],
) }}
// EDFH D
{{ render_sectorlines(
    sector_sub(
        EDGG['EDFHCLDE']['035-065'], 
        EDGG['EDFHCLDB']['025-065']
        ),
    sector_sub(
        EDGG['EDFHCLDD']['035-065'], 
        EDGG['EDFHCLDA']['025-065']
        ),
    sector_sub(
        EDGG['EDFHCLDA']['025-065'], 
        EDGG['EDFHCLDC']['035-065']
        ),
    sector_sub(
        EDGG['EDFHCLDB']['025-065'], 
        EDGG['EDFHCLDC']['035-065']
        ),
    EDGG['EDFHCLDC']['035-065'],
) }}
// EDLV D
{{ render_sectorlines(EDGG['EDLVCLD']['025-065']) }}
// EDLW D
{{ render_sectorlines(
    EDGG['EDLWCLDB']['025-045'],
    sector_sub(
        EDGG['EDLWCLDA']['020-045'],
        EDGG['EDLWCLDB']['025-045']
        ),
) }}
// EDSB D
{{ render_sectorlines(
    EDSB['C'],
    EDSB['H'],

    sector_sub(
        sector_sub(
            EDSB['B'],
            EDSB['C']
        ),
        EDSB['H']
    ),
    sector_sub(
        sector_sub(
            EDSB['E'],
            EDSB['B']
        ),
        EDSB['H']
    ),
    sector_sub(
        sector_sub(
            EDSB['G'],
            EDSB['E']
        ),
        EDSB['H']
    ),
    sector_sub(
            EDSB['A'],
            EDSB['C']
        ),
    sector_sub(
            EDSB['D'],
            EDSB['A']
        ),
    sector_sub(
            EDSB['F'],
            EDSB['D']
        ),
) }}

MAP:Airspace E
FOLDER:Airspace
COLOR:blue
STYLE:DASH:1
LAYER:+3
ASRDATA:PHOENIX
// EDDE E
{{ render_sectorlines(EDGG['EDDECLE']['010-100']) }}
// EDDF E
{{ render_sectorlines(EDGG['EDDFCLE']['010-100']) }}
// EDDG E
{{ render_sectorlines(EDGG['EDDGCLE']['010-100']) }}
// EDDL E
{{ render_sectorlines(EDGG['EDDLCLE']['010-100']) }}
// EDDN E
{{ render_sectorlines(EDGG['EDDNCLE']['010-100']) }}
// EDDS E
{{ render_sectorlines(EDGG['EDDSCLE']['010-100']) }}
// EDFH E
{{ render_sectorlines(
    sector_sub(
        EDGG['EDFHCLE']['017-100'],
        EDGG['EDDFCLE']['010-100']
        ),
) }}
// EDFR E
{{ render_sectorlines(
    sector_sub(
        EDGG['EDFRCLE']['017-100'],
        EDGG['EDDNCLE']['010-100']
        ),
) }}
// EDGS E
{{ render_sectorlines(EDGG['EDGSCLE']['010-100']) }}
// EDLP E
{{ render_sectorlines(EDGG['EDLPCLE']['010-100']) }}
// EDNY D
{{ render_sectorlines(
    EDGG['EDNYCLEA']['017-100'],
    sector_sub(
        EDGG['EDNYCLEB']['017-130'],
        EDGG['EDNYCLEA']['017-100']
        ),
    sector_sub(
        EDGG['EDNYCLEC']['010-100'],
        EDGG['EDNYCLEA']['017-100']
        ),
) }}
// EDQA E
{{ render_sectorlines(
    sector_sub(
        EDGG['EDQACLE']['010-100'],
        EDGG['EDDNCLE']['010-100']
        ),
) }}
// EDQN E
{{ render_sectorlines(
    sector_sub(
        EDGG['EDQNCLE']['017-100'],
        EDGG['EDDNCLE']['010-100']
        ),
) }}
// EDSB E
{{ render_sectorlines(EDGG['EDSBCLE']['010-100']) }}
// EDTD E
{{ render_sectorlines(EDGG['EDTDCLE']['010-100']) }}
// ETAR E
{{ render_sectorlines(
    sector_sub(
        EDGG['ETARCLE']['017-100'],
        EDGG['EDDFCLE']['010-100']
        ),
) }}
// ETFH E
{{ render_sectorlines(
    sector_sub(
        EDGG['ETFHCLE']['010-100'],
        EDGG['EDLPCLE']['010-100']
        ),
) }}
// ETHL E
{{ render_sectorlines(
    sector_sub(
        EDGG['ETHLCLEA']['010-100'],
        EDGG['EDNYCLEA']['017-100']
        ),
    sector_sub(
        EDGG['ETHLCLEB']['017-100'],
        EDGG['ETHLCLEA']['010-100']
        ),
) }}

MAP:TMZ/RMZ
FOLDER:Airspace
COLOR:standard
ACTIVE:1
STYLE:DASH:1
ASRDATA:PHOENIX
// EDDG TMZ
{{ render_sectorlines(
    EDGG['EDDGTMZA']['045-060'],
    sector_sub(
        EDGG['EDDGTMZB']['035-060'],
        EDGG['EDDGTMZA']['045-060']
        ),
    sector_sub(
        EDGG['EDDGTMZC']['045-060'],
        EDGG['EDDGTMZB']['035-060']
        ),
    sector_sub(
        EDGG['EDDGTMZD']['045-060'],
        EDGG['EDDGTMZB']['035-060']
        ),
) }}
// EDFH TMZ
{{ render_sectorlines(
    EDGG['EDFHTMZC']['055-075'],
    EDGG['EDFHTMZD']['055-075'],
    sector_sub(
        sector_sub(
            EDGG['EDFHTMZA']['045-075'],
            EDGG['EDFHTMZC']['055-075'],
        ),
        EDGG['EDFHTMZD']['055-075'],
        ),
    sector_sub(
        sector_sub(
            EDGG['EDFHTMZB']['045-075'],
            EDGG['EDFHTMZC']['055-075'],
        ),
        EDGG['EDFHTMZD']['055-075'],
        ),
) }}
// EDLP TMZ
{{ render_sectorlines(
    EDGG['EDLPTMZA']['025-060'],
    sector_sub(
        EDGG['EDLPTMZB']['035-060'],
        EDGG['EDLPTMZA']['025-060']
        ),
    sector_sub(
        EDGG['EDLPTMZC']['035-060'],
        EDGG['EDLPTMZA']['025-060']
        ),
    sector_sub(
        EDGG['EDLPTMZD']['045-060'],
        EDGG['EDLPTMZB']['035-060']
        ),
) }}
// EDLV TMZ
{{ render_sectorlines(
    EDGG['EDLVTMZD']['030-065'],
    sector_sub(
        EDGG['EDLVTMZC']['025-065'],
        EDGG['EDLVTMZD']['030-065']
        ),
    sector_sub(
        EDGG['EDLVTMZE']['035-065'],
        EDGG['EDLVTMZC']['025-065']
        ),
    sector_sub(
        EDGG['EDLVTMZF']['045-065'],
        EDGG['EDLVTMZC']['025-065']
        ),
    sector_sub(
        EDGG['EDLVTMZG']['045-065'],
        EDGG['EDLVTMZE']['035-065']
        ),
    sector_sub(
        sector_sub(
            EDGG['EDLVTMZB']['025-065'],
            EDGG['EDLVTMZE']['035-065'],
        ),
        EDGG['EDLVTMZG']['045-065'],
        ),
) }}
// EDLW TMZ
{{ render_sectorlines(
    EDGG['EDLWTMZA']['045-065'],
    EDGG['EDLWTMZC']['035-065'],
    sector_sub(
        EDGG['EDLWTMZD']['045-065'],
        EDGG['EDLWTMZC']['035-065']
        ),

) }}

// RMZ
{{ render_sectorlines(
        EDGG['EDFQRMZ']['000-010'],
        EDGG['EDGSRMZ']['000-010'],
        EDGG['EDQGRMZ']['000-010'],
        EDGG['EDRYRMZ']['000-010'],
        EDGG['EDRZRMZ']['000-010'],
        EDGG['EDTDRMZ']['000-010'],
        EDGG['EDTMRMZ']['000-010'],
        EDGG['EDTYRMZ']['000-010'],
) }}