//---------------------------------------------------------------
//                            Topographie
//---------------------------------------------------------------

MAP:Autobahn
FOLDER:TOPO
COLOR:Highway
STYLE:Solid:1
TEXTALIGN:LC
{% for name, geom in data.topsky['common']['Topo']['Autobahn EDGG'].items() %}
{{- geom | to_multiline(name) }}
{% endfor %}
{% for label, geom in data.topsky['common']['Topo']['Autobahn EDGG Labels'].items() %}
{{- geom | to_text(label) }}
{% endfor %}

MAP:Rivers
FOLDER:TOPO
COLOR:River
STYLE:Solid:1
TEXTALIGN:LC
{% for name, geom in data.topsky['common']['Topo']['Rivers EDGG'].items() %}
{{- geom | to_multiline(name) }}
{% endfor %}
{% for label, geom in data.topsky['common']['Topo']['Rivers EDGG Labels'].items() %}
{{- geom | to_text(label) }}
{% endfor %}

MAP:EDDL Lake
FOLDER:TOPO
STYLE:Solid:1
ACTIVE:1
ASRDATA:PHOENIX
{{ data.topsky['common']['EDDL']['Lake'] | to_poly('Baldeneysee', 'River', 100) }}

MAP:EDDL Bridges
FOLDER:TOPO
COLOR:Standard
STYLE:Solid:1
ACTIVE:1
ASRDATA:PHOENIX
{% for name, geom in data.topsky['common']['EDDL']['Bridges'].items() %}
{{- geom | to_line(name) }}
{% endfor %}