//---------------------------------------------------------------
//                            MVA
//---------------------------------------------------------------

MAP:MVA Germany Summer
FOLDER:MVA
COLOR:mva
STYLE:Solid:2
{{ data.mva_su }}

MAP:MVA Germany Winter
FOLDER:MVA
COLOR:mva
STYLE:Solid:2
{{ data.mva_wi }}