//---------------------------------------------------------------
//                            MVA
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\710-mva.jinja
#}

MAP:MVA Warm (MAR-NOV)
FOLDER:MVA
ASRDATA:PHOENIX
COLOR:mva
{{ data.mva_su }}

MAP:MVA Cold (NOV-MAR)
FOLDER:MVA
ASRDATA:PHOENIX
COLOR:mva
{{ data.mva_wi }}