//---------------------------------------------------------------
//                            Topography
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * GRP-PHOENIX-MAPS\8000-app-window\8030-topo.jinja
     * TOPSKY-EDGG-MAPS\730-topo.jinja
#}

MAP:Topography
FOLDER:Topography
ASRDATA:PHOENIX
LAYER:-2
STYLE:Solid:1
TEXTALIGN:LC
{% for uuid, geom in data.topsky['common']['topo']['EDGG_urban'].items() %}
{{- geom | to_poly('', 'topo_urban', 100) }}
{% endfor %}
COLOR:topo_road
{% for uuid, geom in data.topsky['common']['topo']['EDGG_autobahn'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}
{% for label, geom in data.topsky['common']['topo']['EDGG_autobahn_labels'].items() %}
{{- geom | to_text(label) }}
{% endfor %}
COLOR:topo_water
{% for uuid, geom in data.topsky['common']['topo']['EDGG_rivers'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}
{% for label, geom in data.topsky['common']['topo']['EDGG_rivers_labels'].items() %}
{{- geom | to_text(label) }}
{% endfor %}
{% for name, geom in data.topsky['common']['topo']['EDGG_lakes'].items() %}
{{- geom | to_poly(name, 'topo_water', 100) }}
{% endfor %}

MAP:Highways
FOLDER:Topography
ASRDATA:PHOENIX
LAYER:-2
COLOR:topo_road
STYLE:Solid:1
ACTIVE:ID:*:DFC,DFGW,DFGC,DFGE,DFGI,DFG,DFTC,DFTS,DFTN,DFTW,DFAN,DFAS,DFANT,DFAST:*:*
AND_ACTIVE:ID:*:DLC,DLGE,DLGW,DLT,DLA,DLAT,DLD,BOT:*:*
AND_ACTIVE:ID:*:DKC,DKG,DKT,DKA,DKAT,NOR:*:*
{% for uuid, geom in data.topsky['common']['topo']['EDGG_autobahn'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}

MAP:Rivers/Lakes
FOLDER:Topography
ASRDATA:PHOENIX
LAYER:-2
COLOR:topo_water
STYLE:Solid:1
ACTIVE:ID:*:DFC,DFGW,DFGC,DFGE,DFGI,DFG,DFTC,DFTS,DFTN,DFTW,DFAN,DFAS,DFANT,DFAST:*:*
{% for uuid, geom in data.topsky['common']['topo']['EDGG_rivers'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}
{% for name, geom in data.topsky['common']['topo']['EDGG_lakes'].items() %}
{{- geom | to_poly(name, 'topo_water', 100) }}
{% endfor %}

MAP:Urban Area
FOLDER:Topography
ASRDATA:PHOENIX
LAYER:-4
ACTIVE:ID:*:DFC,DFGW,DFGC,DFGE,DFGI,DFG,DFTC,DFTS,DFTN,DFTW,DFAN,DFAS,DFANT,DFAST:*:*
AND_ACTIVE:ID:*:DLC,DLGE,DLGW,DLT,DLA,DLAT,DLD,BOT:*:*
AND_ACTIVE:ID:*:DKC,DKG,DKT,DKA,DKAT,NOR:*:*
{% for uuid, geom in data.topsky['common']['topo']['EDGG_urban'].items() %}
{{- geom | to_poly('', 'topo_urban', 100) }}
{% endfor %}

MAP:DE Border
FOLDER:Topography
ASRDATA:PHOENIX
LAYER:-3
COLOR:topo_border
STYLE:Solid:1
ACTIVE:1
{% for uuid, geom in data.topsky['common']['topo']['EDGG_border_de'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}