//---------------------------------------------------------------
//                            Topography
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * GRP-PHOENIX-MAPS\8000-app-window\8030-topo.jinja
     * TOPSKY-EDGG-MAPS\730-topo.jinja
#}

MAP:Topography
FOLDER:Topography
ASRDATA:PHOENIX
LAYER:-2
STYLE:SOLID:1
TEXTALIGN:LC
{% for uuid, geom in data.topsky['common']['topo']['EDGG_urban'].items() %}
{{- geom | to_poly('', 'Active_Map_Type_20', 100) }}
{% endfor %}
COLOR:Active_Map_Type_19
{% for uuid, geom in data.topsky['common']['topo']['EDGG_autobahn'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}
{% for label, geom in data.topsky['common']['topo']['EDGG_autobahn_labels'].items() %}
{{- geom | to_text(label) }}
{% endfor %}
COLOR:Active_Map_Type_18
{% for uuid, geom in data.topsky['common']['topo']['EDGG_rivers'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}
{% for label, geom in data.topsky['common']['topo']['EDGG_rivers_labels'].items() %}
{{- geom | to_text(label) }}
{% endfor %}
{% for name, geom in data.topsky['common']['topo']['EDGG_lakes'].items() %}
{{- geom | to_poly(name, 'Active_Map_Type_18', 100) }}
{% endfor %}

MAP:Highways
FOLDER:Topography
ASRDATA:PHOENIX
LAYER:-2
COLOR:Active_Map_Type_19
STYLE:SOLID:1
ACTIVE:ID:*:DFC,DFGW,DFGC,DFGE,DFGI,DFG,DFTC,DFTS,DFTN,DFTW,DFAN,DFAS,DFANT,DFAST:*:*
AND_ACTIVE:ID:*:DLC,DLGE,DLGW,DLT,DLA,DLAT,DLD,BOT:*:*
AND_ACTIVE:ID:*:DKC,DKG,DKT,DKA,DKAT,NOR:*:*
{% for uuid, geom in data.topsky['common']['topo']['EDGG_autobahn'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}

MAP:Rivers/Lakes
FOLDER:Topography
ASRDATA:PHOENIX
LAYER:-2
COLOR:Active_Map_Type_18
STYLE:SOLID:1
ACTIVE:ID:*:DFC,DFGW,DFGC,DFGE,DFGI,DFG,DFTC,DFTS,DFTN,DFTW,DFAN,DFAS,DFANT,DFAST:*:*
{% for uuid, geom in data.topsky['common']['topo']['EDGG_rivers'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}
{% for name, geom in data.topsky['common']['topo']['EDGG_lakes'].items() %}
{{- geom | to_poly(name, 'Active_Map_Type_18', 100) }}
{% endfor %}

MAP:Urban Area
FOLDER:Topography
ASRDATA:PHOENIX
LAYER:-4
ACTIVE:ID:*:DFC,DFGW,DFGC,DFGE,DFGI,DFG,DFTC,DFTS,DFTN,DFTW,DFAN,DFAS,DFANT,DFAST:*:*
AND_ACTIVE:ID:*:DLC,DLGE,DLGW,DLT,DLA,DLAT,DLD,BOT:*:*
AND_ACTIVE:ID:*:DKC,DKG,DKT,DKA,DKAT,NOR:*:*
{% for uuid, geom in data.topsky['common']['topo']['EDGG_urban'].items() %}
{{- geom | to_poly('', 'Active_Map_Type_20', 100) }}
{% endfor %}

MAP:DE Border
FOLDER:Topography
ASRDATA:PHOENIX
LAYER:-3
COLOR:Active_Map_Type_1
STYLE:ALTERNATE
ACTIVE:1
{% for desig in [
    'CH_DE',
    'DE_AT',
    'DE_BE',
    'DE_CH',
    'DE_FR',
    'DE_LU',
    'DE_NL',
] %}
{{- data.topsky['common']['topo']['EDXX_stateboundary'][desig] | to_coordline('') -}}
{% endfor %}