MAP:Obstacles
FOLDER:Topography
ASRDATA:PHOENIX
COLOR:Active_Map_Type_1
{% for uuid, geom in data.topsky['common']['topo']['EDGG_obstacles_sparse'].items() %}
{{- geom | to_symbol('OBSTACLE') }}
{% endfor %}