{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * GRP-PHOENIX-MAPS\8000-app-window\8041-aerodromes.jinja
     * TOPSKY-EDGG-MAPS\200-EDDL\205-airspace-info.jinja
     * TOPSKY-EDGG-MAPS\300-EDDK\306-airspace-info.jinja
     * TOPSKY-EDGG-MAPS\400-EDDS\406-airspace-info.jinja
     * TOPSKY-EDGG-MAPS\741-aerodromes.jinja
#}

{%- set aerodromes = {
        "EDEH": '040',
        "EDEL": '010',
        "EDER": '060',
        "EDFA": '060',
        "EDFB": '000',
        "EDFC": '080',
        "EDFG": '070',
        "EDFU": '050',
        "EDFV": '060',
        "EDFY": '070',
        "EDFZ": '070',
        "EDGP": '010',
        "EDKA": '070',
        "EDKB": '110',
        "EDKF": '040',
        "EDKL": '150',
        "EDKM": '040',
        "EDLE": '060',
        "EDLI": '110',
        "EDLM": '070',
        "EDLO": '040',
        "EDLT": '100',
        "EDPA": '090',
        "EDPU": '160',
        "EDPY": '110',
        "EDRA": '100',
        "EDRF": '080',
        "EDRJ": '070',
        "EDRX": '040',
        "EDRK": '050',
        "EDRM": '000',
        "EDSH": '100',
        "EDTC": '110',
        "EDTF": '160',
        "EDTH": '070',
        "EDTO": '020',
        "EDTQ": '100',
        "EDTS": '040',
        "EDTU": '120',
        "EDTW": '140',
        "EDTZ": '120',
        "EDFO": '080',
        "EDLZ": '070',
        "EDLD": '080',
        "EDLH": '060',
        "EDST": '120',
        "EDGO": '000',
        "EDKN": '100',
        "EDEM": '070',
        "EDEN": '000',
        "EDEP": '150',
        "EDEW": '050',
        "EDFD": '130',
        "EDFI": '110',
        "EDFJ": '090',
        "EDFK": '170',
        "EDFL": '070',
        "EDFN": '030',
        "EDFP": '050',
        "EDFR": '030',
        "EDFS": '100',
        "EDFT": '060',
        "EDFW": '110',
        "EDFX": '140',
        "EDGA": '030',
        "EDGB": '070',
        "EDGE": '100',
        "EDGF": '080',
        "EDGH": '080',
        "EDGI": '070',
        "EDGK": '030',
        "EDGM": '150',
        "EDGQ": '090',
        "EDGR": '040',
        "EDGT": '100',
        "EDGU": '080',
        "EDGW": '150',
        "EDGX": '000',
        "EDGY": '060',
        "EDGZ": '160',
        "EDKD": '060',
        "EDKH": '090',
        "EDKI": '080',
        "EDKO": '070',
        "EDKP": '100',
        "EDKR": '090',
        "EDKU": '030',
        "EDKV": '050',
        "EDKW": '070',
        "EDKZ": '070',
        "EDLA": '050',
        "EDLB": '070',
        "EDLC": '070',
        "EDLF": '070',
        "EDLG": '100',
        "EDLJ": '090',
        "EDLK": '060',
        "EDLQ": '090',
        "EDLR": '060',
        "EDLS": '110',
        "EDLX": '080',
        "EDLY": '120',
        "EDQB": '070',
        "EDQF": '090',
        "EDRB": '050',
        "EDRC": '100',
        "EDRD": '090',
        "EDRE": '070',
        "EDRG": '060',
        "EDRH": '060',
        "EDRI": '050',
        "EDRL": '110',
        "EDRN": '050',
        "EDRO": '080',
        "EDRP": '040',
        "EDRS": '040',
        "EDRT": '040',
        "EDRV": '070',
        "EDRW": '070',
        "EDSA": '090',
        "EDSD": '060',
        "EDSG": '120',
        "EDSI": '060',
        "EDSK": '030',
        "EDSL": '060',
        "EDSM": '160',
        "EDSN": '090',
        "EDSP": '170',
        "EDSR": '010',
        "EDSV": '060',
        "EDSW": '070',
        "EDSZ": '080',
        "EDTA": '040',
        "EDTB": '030',
        "EDTE": '060',
        "EDTG": '050',
        "EDTK": '120',
        "EDTN": '130',
        "EDTP": '010',
        "EDTR": '060',
        "EDGJ": '100',
        "EDSF": '110',
        "EDSX": '070',
        "LFST": '050',
} %}
MAP:AD_Hotspots
FOLDER:Aerodromes
ASRDATA:PHOENIX
COLOR:standard
ACTIVE:1
{%- for icao, rwy in aerodromes.items() %}
SYMBOL:AIRPORT:{{icao}}
{%- endfor %}

MAP:AD Runways
FOLDER:Aerodromes
ASRDATA:PHOENIX
COLOR:runway
ACTIVE:1
{%- for icao, rwy in aerodromes.items() %}
COORD_PBD:{{icao}}:{{rwy}}M:0.5
COORD_PBD:{{icao}}:{{rwy|int + 180}}M:0.5
COORDLINE
{%- endfor %}