//---------------------------------------------------------------
//                          AUTO (Hidden)
//---------------------------------------------------------------

MAP:Highways AUTO
FOLDER:Auto
ASRDATA:PHOENIX
COLOR:Highway
STYLE:Solid:1
ACTIVE:MAP:=:EDDS\Highways
HIDDEN
{% for name, geom in data.topsky['common']['Topo']['Autobahn EDGG'].items() %}
{{- geom | to_multicoordline(name) }}
{% endfor %}

MAP:Rivers AUTO
FOLDER:Auto
ASRDATA:PHOENIX
COLOR:River
STYLE:Solid:1
ACTIVE:MAP:=:EDDL\Rivers
ACTIVE:MAP:=:EDDK\Rivers
ACTIVE:MAP:=:EDDS\Rivers
HIDDEN
{{ data.topsky['common']['EDDL']['Lake'] | to_poly('Baldeneysee', 'River', 100) }}
{% for name, geom in data.topsky['common']['Topo']['Rivers EDGG'].items() %}
{{- geom | to_multicoordline(name) }}
{% endfor %}