//---------------------------------------------------------------
//                            MVA
//---------------------------------------------------------------

MAP:MVA Warm (MAR-NOV)
FOLDER:MVA
COLOR:mva
{{ data.mva_su }}

MAP:MVA Cold (NOV-MAR)
FOLDER:MVA
COLOR:mva
{{ data.mva_wi }}

MAP:MVA Military
FOLDER:MVA
COLOR:mva
{{ data.mva_mil }}