//---------------------------------------------------------------
//                            MVA
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\500-mva.jinja
#}

MAP:MVA Warm (MAR-NOV)
FOLDER:MVA
COLOR:mva
{{ data.mva_su }}

MAP:MVA Cold (NOV-MAR)
FOLDER:MVA
COLOR:mva
{{ data.mva_wi }}

MAP:MVA Military
FOLDER:MVA
COLOR:mva
{{ data.mva_mil }}