//---------------------------------------------------------------
//                               VFR
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\020-airspace\024-fis.jinja
#}
{%- set squawks = {
    "FDR": '4451',
    "FDF": '4450',
    "FDS": '4452',
    "FDL": '7742',
    "FDV": '7743',
    "FDM": '4453',
    "FDO": '4454',
    "FSW": '7745',
    "FDH": '7740',
    "FDC": '7744',
    "FDB": '7741',
} %}

MAP:FIS Sectors + Squawks
FOLDER:VFR
COLOR:fis
STYLE:Solid:1
FONTSIZE:=:20
FONTSTYLE:700:0:0:0
{% for uuid, geom in data.topsky['common']['vfr']['fis']['line'].items() %}
{{- geom | to_line('') -}}
{% endfor %}
{% for desig, geom in data.topsky['common']['vfr']['fis']['labels'].items() %}
{{- geom | to_text(desig + ' - ' + squawks[desig]) }}
{% endfor %}