//---------------------------------------------------------------
//                            Topography
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-PHOENIX-MAPS\510-topo.jinja
     * GRP-PHOENIX-MAPS\8000-app-window\8030-topo.jinja
#}

MAP:Highways
FOLDER:Topography
LAYER:-2
COLOR:topo_road
STYLE:Solid:1
{% for uuid, geom in data.topsky['common']['topo']['EDGG_autobahn'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}
{% for label, geom in data.topsky['common']['topo']['EDGG_autobahn_labels'].items() %}
{{- geom | to_text(label) }}
{% endfor %}

MAP:Rivers/Lakes
FOLDER:Topography
LAYER:-2
COLOR:topo_water
STYLE:Solid:1
{% for uuid, geom in data.topsky['common']['topo']['EDGG_rivers'].items() %}
{{- geom | to_coordline('') }}
{% endfor %}
{% for label, geom in data.topsky['common']['topo']['EDGG_rivers_labels'].items() %}
{{- geom | to_text(label) }}
{% endfor %}
{% for name, geom in data.topsky['common']['topo']['EDGG_lakes'].items() %}
{{- geom | to_poly(name, 'topo_water', 100) }}
{% endfor %}

MAP:DE Border
FOLDER:Topography
LAYER:-3
COLOR:topo_border
STYLE:Solid:1
{% for desig in [
    'CH_DE',
    'DE_AT',
    'DE_BE',
    'DE_CH',
    'DE_FR',
    'DE_LU',
    'DE_NL',
] %}
{{- data.topsky['common']['topo']['EDXX_stateboundary'][desig] | to_coordline('') -}}
{% endfor %}