//---------------------------------------------------------------
//                            Aerodromes
//---------------------------------------------------------------
{%- set runways = {
    "EDDF": [["07R", "25L"], ["07C", "25C"], ["07L", "25R"], ["18", "36"]],
    "EDDL": [["05R", "23L"], ["05L", "23R"]],
    "EDDK": [["13R", "31L"], ["13L", "31R"], ["06", "24"]],
    "EDDS": [["07", "25"]],
    "EDDG": [["07", "25"]],
    "EDDR": [["08", "26"]],
    "EDFH": [["03", "21"]],
    "EDFM": [["09", "27"]],
    "EDFE": [["08", "26"]],
    "EDFQ": [["11", "29"]],
    "EDLP": [["06", "24"]],
    "EDLW": [["06", "24"]],
    "EDLN": [["13", "31"]],
    "EDLV": [["09", "27"]],
    "EDLE": [["06", "24"]],
    "EDGS": [["13", "31"]],
    "EDQG": [["08", "26"]],
    "EDRY": [["16", "34"]],
    "EDRZ": [["03", "21"]],
    "EDSB": [["03", "21"]],
    "EDTD": [["18", "36"]],
    "EDTL": [["03", "21"]],
    "EDTM": [["07", "25"]],
    "EDTY": [["10", "28"]],
    "ETAD": [["04", "22"]],
    "ETAR": [["09", "27"], ["08", "26"]],
    "ETEB": [["08", "26"]],
    "ETHF": [["11", "29"]],
    "ETHN": [["07", "25"]],
    "ETIK": [["06", "24"]],
    "ETNG": [["09", "27"]],
    "ETNN": [["06", "24"]],
    "ETOU": [["07", "25"]],
    "ETSB": [["03", "21"]]
} %}

MAP:Runways
FOLDER:Aerodromes
ACTIVE:1
COLOR:standard
STYLE:Solid:2
{%- for icao, rwys in runways.items() %}
{%- for rwy in rwys %}
COORD:{{icao}}/{{rwy[0]}}
COORD:{{icao}}/{{rwy[1]}}
COORDLINE
{%- endfor %}
{%- endfor %}