//---------------------------------------------------------------
//                          ETSB - Buchel
//---------------------------------------------------------------
{%- set EDGG = data.sectors['lines']['EDGG'] %}

MAP:ETSB AoR
FOLDER:Sectors
ACTIVE:ID:*:*:TSBA:*
ACTIVE:ID:TSBA:*:*:*
COLOR:Active_Map_Type_1
STYLE:SOLID:1
{{ render_sectorlines(EDGG['ETSB']['000-040']) }}