// ------------------------------------------------------------------
//                          Approach Window
// ------------------------------------------------------------------

// ----------------------------- Fixes ------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\721-vrp.jinja
     * TOPSKY-PHOENIX-MAPS\010-fixes\010-vrp.jinja
#}
{%- set vrp_table = data.topsky_gpkg['VisualReportingPoint'] %}

MAP:VRPs:A
FOLDER:Fixes
COLOR:APPWINDOW_STANDARD
ACTIVE:1
{%- for _, vrp in vrp_table.items() if vrp.properties['type'] == 'CIV' %}
SYMBOL:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}
{%- endfor %}


MAP:VRPs w/ L:A
FOLDER:Fixes
COLOR:APPWINDOW_STANDARD
{%- for _, vrp in vrp_table.items() if vrp.properties['type'] == 'CIV' %}
{%- if vrp.properties["text_align"] == 'RB' %}
SYMBOL/RB:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}:{{vrp.properties['name']}}:-5:0
{%- else %}
SYMBOL/LB:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}:{{vrp.properties['name']}}:5:0
{%- endif%}
{%- endfor %}


MAP:MIL VRPs:A
FOLDER:Fixes
COLOR:APPWINDOW_STANDARD
ACTIVE:1
{%- for _, vrp in vrp_table.items() if vrp.properties['type'] == 'MIL' %}
SYMBOL:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}
{%- endfor %}


MAP:MIL VRPs w/ L:A
FOLDER:Fixes
COLOR:APPWINDOW_STANDARD
{%- for _, vrp in vrp_table.items() if vrp.properties['type'] == 'MIL' %}
{%- if vrp.properties["text_align"] == 'RB' %}
SYMBOL/RB:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}:{{vrp.properties['name']}}:-5:0
{%- else %}
SYMBOL/LB:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}:{{vrp.properties['name']}}:5:0
{%- endif%}
{%- endfor %}