{%- set aerodromes = [
        'EDEH',
        'EDEL',
        'EDER',
        'EDFA',
        'EDFB',
        'EDFC',
        'EDFG',
        'EDFU',
        'EDFV',
        'EDFY',
        'EDFZ',
        'EDGP',
        'EDKA',
        'EDKB',
        'EDKF',
        'EDKL',
        'EDKM',
        'EDLI',
        'EDLM',
        'EDLO',
        'EDLT',
        'EDPA',
        'EDPU',
        'EDPY',
        'EDRA',
        'EDRF',
        'EDRJ',
        'EDRK',
        'EDRM',
        'EDSH',
        'EDTC',
        'EDTF',
        'EDTH',
        'EDTO',
        'EDTQ',
        'EDTS',
        'EDTU',
        'EDTW',
        'EDTZ',
        'EDFO',
        'EDLZ',
        'EDLD',
        'EDLH',
        'EDST',
        'EDGO',
        'EDKN',
        'EDEM',
        'EDEN',
        'EDEP',
        'EDEW',
        'EDFD',
        'EDFI',
        'EDFJ',
        'EDFK',
        'EDFL',
        'EDFN',
        'EDFP',
        'EDFR',
        'EDFS',
        'EDFT',
        'EDFW',
        'EDFX',
        'EDGA',
        'EDGB',
        'EDGE',
        'EDGF',
        'EDGH',
        'EDGI',
        'EDGK',
        'EDGM',
        'EDGQ',
        'EDGR',
        'EDGT',
        'EDGU',
        'EDGW',
        'EDGX',
        'EDGY',
        'EDGZ',
        'EDKD',
        'EDKH',
        'EDKI',
        'EDKO',
        'EDKP',
        'EDKR',
        'EDKU',
        'EDKV',
        'EDKW',
        'EDKZ',
        'EDLA',
        'EDLB',
        'EDLC',
        'EDLE',
        'EDLF',
        'EDLG',
        'EDLJ',
        'EDLK',
        'EDLQ',
        'EDLR',
        'EDLS',
        'EDLX',
        'EDLY',
        'EDQB',
        'EDQF',
        'EDRB',
        'EDRC',
        'EDRD',
        'EDRE',
        'EDRG',
        'EDRH',
        'EDRI',
        'EDRL',
        'EDRN',
        'EDRO',
        'EDRP',
        'EDRS',
        'EDRT',
        'EDRV',
        'EDRW',
        'EDRX',
        'EDSA',
        'EDSD',
        'EDSG',
        'EDSI',
        'EDSK',
        'EDSL',
        'EDSM',
        'EDSN',
        'EDSP',
        'EDSR',
        'EDSV',
        'EDSW',
        'EDSZ',
        'EDTA',
        'EDTB',
        'EDTE',
        'EDTG',
        'EDTK',
        'EDTN',
        'EDTP',
        'EDTR',
        'EDGJ',
        'EDSF',
        'EDSX',
        'LFST'
] %}
MAP:AD Hotspots:A
FOLDER:Aerodromes
COLOR:appwindow-standard
ACTIVE:1
{%- for icao in aerodromes %}
SYMBOL:AIRPORT:{{icao}}
{%- endfor %}