//---------------------------------------------------------------
//                       EDDF - Frankfurt-Main
//---------------------------------------------------------------

//------------------------------ SIDs ---------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\100-EDDF\103-sids.jinja
#}
{%- set sids = {
    "07": {
        "ANEKIxE": ['DF148', 'DF154', 'DF160', 'DF101', 'ANEKI'],
        "CINDYxD": ['DF150', 'DF153', 'AMTIX', 'CINDY'],
        "KOMIBxD": ['DF149', 'DF151', 'DF167', 'DF175', 'KOMIB'],
        "MARUNxE": ['DF139', 'DF146', 'ODAGA', 'TESGA', 'ALIDI', 'MARUN'],
        "OBOKAxE": ['ODAGA', 'KUSOM', 'GUBAX', 'RAVKI', 'DITAM', 'OBOKA'],
        "SOBRAxE": ['DF160', 'DF198', 'DF201', 'DONAB', 'SOBRA'],
        "SULUSxD": ['KOMIB', 'SULUS'],
        "TOBAKxD": ['DF149', 'MEFTO', 'TOBAK'],
        "ANEKIxD": ['DF153', 'DF157', 'ANEKI'],
        "MARUNxD": ['TOBAK', 'APROX', 'MARUN'],
        "OBOKAxD": ['MEFTO', 'ODAGA'],
        "SOBRAxD": ['DF157', 'ROSIG'],
    },
    "25": {
        "ANEKIxF": ['DF142', 'DF143', 'DF137', 'DF101', 'ANEKI'],
        "CINDYxF": ['DF137', 'DF171', 'DF173', 'DF174', 'DF170', 'AMTIX', 'CINDY'],
        "MARUNxM": ['VFM', 'DF172', 'DF180', 'ROXAP', 'ADEVO', 'LISKU', 'TABUM', 'LIKSI', 'LORPA', 'MARUN'],
        "OBOKAxM": ['DF172', 'PABVI', 'SIVDO', 'KUPIP', 'MASIR', 'RAVKI', 'DITAM', 'OBOKA'],
        "SOBRAxF": ['DF143', 'DF163', 'DF199', 'DF201', 'DONAB', 'SOBRA'],
        "SULUSxF": ['CINDY', 'GIBSA', 'COSJE', 'SULUS'],
        "TOBAKxM": ['TABUM', 'TESGA', 'TOBAK'],
        "xF":      ['DF133', 'DF233', 'DF132', 'TABUM'],
        "xG":      ['DF133', 'DF131', 'DF238', 'TABUM'], 
        "OBOKAxG": ['DF131', 'DF136', 'ESUPI', 'MASIR'],
        "SOBRAxP": ['DF138', 'DF147', 'DONAB'],        
    },
    "18": {
        "ANEKIxL": ['EDDF/36', 'DF158', 'DF160', 'DF101', 'ANEKI'],
        "CINDYxS": ['DF158', 'DF171', 'DF173', 'DF174', 'DF170', 'AMTIX', 'CINDY'],
        "MARUNxS": ['DF197', 'DF156', 'DF164', 'KUPIP', 'TABUM', 'LIKSI', 'LORPA', 'MARUN'],
        "OBOKAxS": ['KUPIP', 'MASIR', 'RAVKI', 'DITAM', 'OBOKA'],
        "SOBRAxL": ['DF160', 'DF198', 'DF201', 'DONAB', 'SOBRA'],
        "SULUSxS": ['CINDY', 'GIBSA', 'COSJE', 'SULUS'],
        "TOBAKxS": ['TABUM', 'TESGA', 'TOBAK'],
        "ULKIGxL": ['DF198', 'DF200', 'PIPIX', 'GISNO', 'ULKIG'],
        "CINDYxL": ['DF101', 'DF102', 'AMTIX'],
        "OBOKAxL": ['DF160', 'XAMUB', 'MASIR'],      
    },
    "night": {
        "MARUNxN": ['KUPIP', 'TABUM', 'LIKSI', 'LORPA', 'MARUN'],
        "OBOKAxN": ['KUPIP', 'MASIR', 'RAVKI'],
        "SOBRAxN": ['DF161', 'DF201', 'DONAB', 'SOBRA'],
        "TOBAKxN": ['TABUM', 'TESGA', 'TOBAK'],
        "MARUNxR": ['EDDF/36', 'DF158', 'DF159', 'DF168', 'TUKRU', 'MEFTO', 'TOBAK', 'APROX', 'MARUN'],
        "OBOKAxR": ['MEFTO', 'ODAGA', 'KUSOM', 'GUBAX', 'RAVKI'],
    }
} %}

MAP:EDDF 07
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3
STYLE:Solid
COLOR:sid_east
// Initial Turn xE
LINE:EDDF/25C:DF139
COORD:EDDF/25L
COORD:DF140
COORD:DF139
COORDLINE
COORD:EDDF/25C
COORD:DF144
COORD_DF:066M:R:1.7:10:DF148
COORDLINE
COORD:EDDF/25L
COORD:DF145
COORD_TURN:1.56:10:066M:167
COORDLINE
// Initial Turn xD
LINE:EDDF/25C:DF149
LINE:EDDF/25L:DF149
LINE:EDDF/25C:DF152
COORDLINE
COORD:EDDF/25L
COORD:DF152
COORD_DF:066M:R:1.55:10:DF150
COORDLINE
{%- for desig, fixes in sids['07'].items() if desig not in ['ANEKIxD', 'MARUNxD', 'OBOKAxD', 'SOBRAxD'] %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:alternate
{%- for sid in ['ANEKIxD', 'MARUNxD', 'OBOKAxD', 'SOBRAxD'] %}
// {{sid}}
{%- for fx in sids['07'][sid] %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:RB
TEXT:DF148:E:-5:0
TEXTALIGN:RT
TEXT:N050.11.19.200:E008.37.43.400:E:-5:0
TEXTALIGN:LT
TEXT:N050.10.51.100:E008.47.06.900:D:5:0
TEXT:DF150:D:5:0
TEXTALIGN:LB
TEXT:DF151:D:5:0

// Fixes
SYMBOL:FIX_SID_A:ANEKI
SYMBOL:FIX_SID_A:CINDY
SYMBOL:FIX_SID_A:KOMIB
SYMBOL:FIX_SID_A:MARUN
SYMBOL:FIX_SID_A:OBOKA
SYMBOL:FIX_SID_A:SOBRA
SYMBOL:FIX_SID_A:SULUS
SYMBOL:FIX_SID_A:TOBAK

TEXTALIGN:LB
TEXT:ANEKI:AN:5:0
TEXT:CINDY:CI:5:0
TEXT:KOMIB:KO:5:0
TEXT:MARUN:MA:5:0
TEXT:OBOKA:OB:5:0
TEXT:SOBRA:SO:5:0
TEXT:SULUS:SU:5:0
TEXT:TOBAK:TO:5:0


MAP:EDDF 25
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3
STYLE:Solid
COLOR:sid_west
// Initial Turn
COORD:EDDF/07C
COORD:DF999
COORD_DF:246M:L:1.3:10:VFM
COORDLINE
COORD:EDDF/07R
COORD:DF980
COORD_TURN:1.45:10:246M:-53
COORDLINE
COORD:EDDF/07C
COORD:DF134
COORD_DF:246M:L:1.15:10:DF141
COORD:DF142
COORDLINE
COORD:EDDF/07R
COORD:DF135
COORD_TURN:1.63:10:246M:-48
COORDLINE
{%- for desig, fixes in sids['25'].items() if desig not in ['xF', 'xG', 'OBOKAxG', 'SOBRAxP'] %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:alternate
// Initial Turn
LINE:DF234:DF133
LINE:DF235:DF133
COORD:DF134
COORD_DF:246M:L:1.15:10:DF138
COORDLINE
COORD:DF135
COORD_DF:246M:L:1.63:8:DF138
COORDLINE
{%- for sid in ['xF', 'xG', 'OBOKAxG', 'SOBRAxP'] %}
// {{sid}}
{%- for fx in sids['25'][sid] %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:RT
TEXT:N049.58.44.800:E008.19.14.500:M/H:-5:0
TEXTALIGN:LB
TEXT:N050.04.21.200:E008.22.29.700:F:5:0
TEXT:DF173:F:5:0
TEXT:FKS:F:5:0
TEXT:ESUPI:G:5:0
TEXTALIGN:LT
TEXT:N049.49.13.100:E008.17.31.600:F:5:0
TEXTALIGN:RB
TEXT:DF238:G:-5:0
TEXT:DF138:P:-5:0

// Fixes
SYMBOL:FIX_SID_A:ANEKI
SYMBOL:FIX_SID_A:CINDY
SYMBOL:FIX_SID_A:MARUN
SYMBOL:FIX_SID_A:OBOKA
SYMBOL:FIX_SID_A:SOBRA
SYMBOL:FIX_SID_A:SULUS
SYMBOL:FIX_SID_A:TOBAK

TEXTALIGN:LB
TEXT:ANEKI:AN:5:0
TEXT:CINDY:CI:5:0
TEXT:MARUN:MA:5:0
TEXT:OBOKA:OB:5:0
TEXT:SOBRA:SO:5:0
TEXT:SULUS:SU:5:0
TEXT:TOBAK:TO:5:0


MAP:EDDF 18
FOLDER:SIDs
ASRDATA:PHOENIX
COLOR:green
LAYER:3
STYLE:Solid
{%- for desig, fixes in sids['18'].items() if desig not in ['CINDYxL', 'OBOKAxL'] %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:alternate
{%- for sid in ['CINDYxL', 'OBOKAxL'] %}
// {{sid}}
{%- for fx in sids['18'][sid] %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

// Labels
TEXTALIGN:LB
TEXT:DF160:L:5:0
TEXT:DF173:S:5:0
TEXTALIGN:RB
TEXT:N049.55.28.800:E008.26.37.900:S:-5:0
TEXTALIGN:RB
TEXT:N049.50.53.100:E008.28.12.500:L:-5:0
TEXTALIGN:LB
TEXT:N049.46.36.600:E008.40.57.000:L:0:-5

// Fixes
SYMBOL:FIX_SID_A:ANEKI
SYMBOL:FIX_SID_A:CINDY
SYMBOL:FIX_SID_A:MARUN
SYMBOL:FIX_SID_A:OBOKA
SYMBOL:FIX_SID_A:SOBRA
SYMBOL:FIX_SID_A:SULUS
SYMBOL:FIX_SID_A:TOBAK
SYMBOL:FIX_SID_A:ULKIG

TEXTALIGN:LB
TEXT:ANEKI:AN:5:0
TEXT:CINDY:CI:5:0
TEXT:MARUN:MA:5:0
TEXT:OBOKA:OB:5:0
TEXT:SOBRA:SO:5:0
TEXT:SULUS:SU:5:0
TEXT:TOBAK:TO:5:0
TEXTALIGN:RT
TEXT:ULKIG:UL:-5:0


MAP:EDDF Night
FOLDER:SIDs
ASRDATA:PHOENIX
LAYER:3

// ---- RWY 18 ----
STYLE:Solid
COLOR:green
{%- for sid in ['MARUNxR', 'OBOKAxR'] %}
// {{sid}}
{%- for fx in sids['night'][sid] %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:sid_dash_east
// OBOKA
COORD:RAVKI
COORD:DITAM
COORD:OBOKA
COORDLINE

// Labels
TEXTALIGN:LB
TEXT:DF159:R:5:0


// ---- RWY 25 ----
STYLE:Solid
COLOR:sid_west
// Initial Turn
COORD:EDDF/07C
COORD:DF134
COORD_DF:246M:L:1.3:10:DF162
COORD:DF165
COORDLINE
COORD:EDDF/07R
COORD:DF135
COORD_DF:246M:L:1.3:10:DF165
COORD:DF166
COORD:DF161
COORD_DF:221M:R:4.6:5:KUPIP
COORDLINE
{%- for desig, fixes in sids['night'].items() if desig not in ['MARUNxR', 'OBOKAxR'] %}
// {{desig}}
{%- for fx in fixes %}
COORD:{{fx}}
{%- endfor %}
COORDLINE
{%- endfor %}

STYLE:sid_dash_west
// OBOKA
COORD:RAVKI
COORD:DITAM
COORD:OBOKA
COORDLINE

// Labels
TEXTALIGN:RB
TEXT:N049.55.28.800:E008.26.37.900:S:-5:0

// Fixes
COLOR:green
SYMBOL:FIX_SID_A:MARUN
SYMBOL:FIX_SID_A:OBOKA
SYMBOL:FIX_SID_A:TOBAK

COLOR:sid_west
SYMBOL:FIX_SID_B:MARUN
SYMBOL:FIX_SID_B:OBOKA
SYMBOL:FIX_SID_B:TOBAK
SYMBOL:FIX_SID_A:SOBRA
TEXTALIGN:LB
TEXT:SOBRA:SO:5:0

COLOR:label
TEXTALIGN:LB
TEXT:MARUN:MA:5:0
TEXT:OBOKA:OB:5:0
TEXT:TOBAK:TO:5:0