//------------------------ No Touching Zone ---------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * GRP-PHOENIX-MAPS\8000-app-window\8020-EDDF.jinja
     * TOPSKY-EDGG-MAPS\100-EDDF\106-ntz.jinja
#}


MAP:NTZ 07R/L
FOLDER:EDDF
COLOR:orange
ASRDATA:PHOENIX
STYLE:Solid:2
{{ data.topsky['common']['EDDF']['ntz']['07L-07R'] | to_coordline('') }}

MAP:NTZ 07C/L
FOLDER:EDDF
COLOR:red
ASRDATA:PHOENIX
STYLE:Solid:2
{{ data.topsky['common']['EDDF']['ntz']['07L-07C'] | to_coordline('') }}

MAP:NTZ 25L/R
FOLDER:EDDF
COLOR:orange
ASRDATA:PHOENIX
STYLE:Solid:2
{{ data.topsky['common']['EDDF']['ntz']['25R-25L'] | to_coordline('') }}

MAP:NTZ 25C/R
FOLDER:EDDF
COLOR:red
ASRDATA:PHOENIX
STYLE:Solid:2
{{ data.topsky['common']['EDDF']['ntz']['25R-25C'] | to_coordline('') }}