//---------------------------------------------------------------
//                         Special Areas
//---------------------------------------------------------------

MAP:EKDK - GESKA RLS Line
FOLDER:Areas
ACTIVE:1
STYLE:DOT:1
COLOR:Active_Map_Type_1
COORD:N054.00.00.000:E011.45.47.000
COORD:N054.08.00.000:E011.15.30.000
COORD:N054.22.17.000:E010.41.55.000
COORD:N054.32.31.000:E011.01.29.000
COORDLINE