// ------------------------- Holding Points -------------------------
{%- set tolerance = 0.000005 %}
{%- set holdingpoints_cat1_only = ['B', 'C', 'D', 'Q'] %}

MAP:Holding Points CAT I
AIRPORT:EDSB
FOLDER:Holding Points
LAYER:5
ACTIVE:LVP:EDSB:0
COLOR:LAYOUT_HOLDINGPOINT
{% for desig, feat in data.edsb_kml['layout']['holdingpoints']['cat1'].items() %}
{{- feat | render_area('OTHER:REGION', desig) }}
{% endfor %}
{% for desig, feat in data.edsb_kml['layout']['holdingpoints']['line'].items() %}
{{- feat | render_line(desig) }}
{% endfor %}


MAP:Holding Points CAT II/III
AIRPORT:EDSB
FOLDER:Holding Points
LAYER:5
ACTIVE:LVP:EDSB:1
COLOR:LAYOUT_HOLDINGPOINT
{% for desig, feat in data.edsb_kml['layout']['holdingpoints']['cat3'].items() %}
{{- feat | render_area('OTHER:REGION', desig + ' CAT III') }}
{% endfor %}
{% for desig in holdingpoints_cat1_only %}
{{- data.edsb_kml['layout']['holdingpoints']['cat1'][desig] | render_area('OTHER:REGION', desig) }}
{% endfor %}
{% for desig in holdingpoints_cat1_only %}
{{- data.edsb_kml['layout']['holdingpoints']['line'][desig] | render_line(desig) }}
{% endfor %}


MAP:All Stopbars
AIRPORT:EDSB
FOLDER:Holding Points
LAYER:5
COLOR:LAYOUT_HOLDINGPOINT
{% for uuid, feat in data.edsb_aixm['TaxiwayMarking'].items() if feat.properties['marking_location'] == 'TWY_INT' %}
{{- feat | geom_simplify(tolerance) | render_line(uuid) }}
{% endfor %}