// ----------------------------- LVP Areas --------------------------

MAP:Heavy  21
AIRPORT:EDSB
FOLDER:LVP
// Orthogonal
{{ data.edsb_kml['layout']['lvp']['heavy']['21_orthogonal_a'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
{{ data.edsb_kml['layout']['lvp']['heavy']['21_orthogonal_b'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
// Sensitive
{{ data.edsb_kml['layout']['lvp']['heavy']['21_sensitive'] | to_coordtype('', 'lvp-sensitive', 'OTHER', 'REGION', '\\') }}
// Critical
STYLE:SOLID:2
{{ data.edsb_kml['layout']['lvp']['heavy']['21_critical_loc'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
{{ data.edsb_kml['layout']['lvp']['heavy']['21_critical_gs'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDSB['21'], 0, -0.01) }}
{{ loc_tick(runways.EDSB['21'], 0, 0.01) }}