// ----------------------------- LVP Areas --------------------------

MAP:Heavy  21
AIRPORT:EDSB
FOLDER:LVP
COLOR:LVP_ORTHOGONAL
{{ data.edsb_kml['layout']['lvp']['heavy']['21_orthogonal_a'] | render_area('OTHER:REGION:\\') }}
{{ data.edsb_kml['layout']['lvp']['heavy']['21_orthogonal_b'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_SENSITIVE
{{ data.edsb_kml['layout']['lvp']['heavy']['21_sensitive'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_CRITICAL
STYLE:SOLID:2
{{ data.edsb_kml['layout']['lvp']['heavy']['21_critical_loc'] | render_area('OTHER:REGION:\\') }}
{{ data.edsb_kml['layout']['lvp']['heavy']['21_critical_gs'] | render_area('OTHER:REGION:\\') }}
// LOC
STYLE:SOLID:2
COLOR:LVP_MARKING
{{ loc_tick(runways.EDSB['21'], 0, -0.01) }}
{{ loc_tick(runways.EDSB['21'], 0, 0.01) }}