// -------------------------- Runway Info ---------------------------

MAP:TORA 21
AIRPORT:EDSB
FOLDER:Runway Info
LAYER:6
COLOR:TORA_LABEL
ZOOM:500
TEXTALIGN:RC
{{ data.edsb_kml['layout']['tora']['21_A'] | to_text('3000') }}
{{ data.edsb_kml['layout']['tora']['21_B'] | to_text('2100') }}
{{ data.edsb_kml['layout']['tora']['21_C'] | to_text('1460') }}
{{ data.edsb_kml['layout']['tora']['21_D'] | to_text('780') }}


MAP:TORA 03
AIRPORT:EDSB
FOLDER:Runway Info
LAYER:6
COLOR:TORA_LABEL
ZOOM:500
TEXTALIGN:LC
{{ data.edsb_kml['layout']['tora']['03_E'] | to_text('3000') }}
{{ data.edsb_kml['layout']['tora']['03_D'] | to_text('2250') }}
{{ data.edsb_kml['layout']['tora']['03_C'] | to_text('1580') }}
{{ data.edsb_kml['layout']['tora']['03_B'] | to_text('920') }}


MAP:Runway Designators
AIRPORT:EDSB
FOLDER:Runway Info
LAYER:6
ACTIVE:1
COLOR:RUNWAY_LABEL
{% for _, feat in data.edsb_kml['layout']['markings']['runways'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Runway Markings
AIRPORT:EDSB
FOLDER:Runway Info
COLOR:LAYOUT_RUNWAY_MARKING
{% for _, feat in data.edsb_aixm['RunwayMarking'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}