// ------------------------------ Heli ------------------------------

MAP:Helipad
AIRPORT:EDSB
FOLDER:Heli
LAYER:6
ACTIVE:1
ZOOM:400
COLOR:LAYOUT_HOLDINGPOINT
{{ data.edsb_kml['layout']['heli']['poly']['helipad'] | render_area('OTHER:POLYGON') }}
{{ data.edsb_kml['layout']['heli']['symb']['helipad'] | to_symbol('HELIPAD') }}


MAP:Heli Positions
AIRPORT:EDSB
FOLDER:Heli
LAYER:6
ZOOM:600
COLOR:LAYOUT_LABEL_STAND
{% for desig, feat in data.edsb_kml['layout']['labels']['heli'].items() %}
{{- feat | to_text('H:-1:0') }}
{% endfor %}
{% for desig, feat in data.edsb_kml['layout']['labels']['heli'].items() %}
{{- feat | to_symbol('CIRCLE') }}
{% endfor %}