// ------------------------------ Heli ------------------------------

MAP:Helipad
AIRPORT:EDSB
FOLDER:Heli
ACTIVE:1
ZOOM:400
COLOR:layout-holdingpoint
COORDTYPE:OTHER:POLYGON
STYLE:SOLID:1
CIRCLE:48.77124909215549:8.07750740195221:0.02:5
{{ data.edsb_kml['layout']['labels']['helipad'] | to_symbol('HELIPAD') }}

MAP:Heli Stands
AIRPORT:EDSB
FOLDER:Heli
ZOOM:600
COLOR:layout-label-stand
{% for desig, geom in data.edsb_kml['layout']['labels']['heli'].items() %}
{{- geom | to_text('H:-1:0') }}
{% endfor %}
{% for desig, geom in data.edsb_kml['layout']['labels']['heli'].items() %}
{{- geom | to_symbol('CIRCLE') }}
{% endfor %}