// ------------------------- Deicing Areas --------------------------

MAP:De-Icing
AIRPORT:EDSB
FOLDER:Ice/Snow
COLOR:DEICING:LAYOUT_RUNWAY
STYLE:SOLID:2
{{ data.edsb_kml['layout']['deicing']['poly']['DP_N'] | render_area('OTHER:REGION:X', 'DP North') }}
{{ data.edsb_kml['layout']['deicing']['poly']['DP_S'] | render_area('OTHER:REGION:X', 'DP South') }}