// ----------------------------- Labels -----------------------------

MAP:Buffer EDSB
AIRPORT:EDSB
FOLDER:Labels
HIDDEN
LAYER:3
ACTIVE:1
ZOOM:400
{% for uuid, geom in data.edsb_kml['layout']['labels']['buffer'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}

MAP:Taxiways
AIRPORT:EDSB
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer EDSB
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for desig, geom in data.edsb_kml['layout']['labels']['taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Stands
AIRPORT:EDSB
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.edsb_kml['layout']['labels']['stands'].items() if desig != '19' %}
{{- geom | to_text(desig) }}
{% endfor %}
{{ data.edsb_kml['layout']['labels']['stands']['19'] | to_text('19/19A') }}
{{ data.edsb_kml['layout']['labels']['GAT'] | to_text('GAT') }}
{{ data.edsb_kml['layout']['labels']['Police'] | to_text('Police') }}
{{ data.edsb_kml['layout']['labels']['Business Aviation'] | to_text('Business Aviation') }}

MAP:Aprons
AIRPORT:EDSB
FOLDER:Labels
ZOOM:400
FONTSIZE:=:9
COLOR:layout-label-stand
{{ data.edsb_kml['layout']['labels']['aprons']['APN 1'] | to_text('APN 1') }}
{{ data.edsb_kml['layout']['labels']['aprons']['APN 2'] | to_text('APN 2') }}
{{ data.edsb_kml['layout']['labels']['Business Aviation'] | to_text('APN 3:0:-12') }}
{{ data.edsb_kml['layout']['labels']['aprons']['APN 4'] | to_text('APN 4') }}