//---------------------------------------------------------------
//                          Fixes/Navaids
//---------------------------------------------------------------
{%- set fra_eduu_west = [
    'ABTAL',
    'ABUKA',
    'ADENU',
    'ADKUV',
    'ALIBU',
    'AMASI',
    'AMOSA',
    'ASPAT',
    'BABEG',
    'BANUX',
    'BARSU',
    'BATUB',
    'BERXO',
    'BITBU',
    'BOMBI',
    'BOREP',
    'DETEV',
    'DINKU',
    'DODEN',
    'DOJOH',
    'EBIPA',
    'EDISA',
    'ELNAT',
    'EMGOD',
    'ESAMA',
    'ESATI',
    'ETAGO',
    'ETOLU',
    'FEDZA',
    'GASKA',
    'GELTO',
    'GIGET',
    'GUBAX',
    'HAREM',
    'IBAGA',
    'IDOVI',
    'INBED',
    'KOMIB',
    'KOVAN',
    'KUNOD',
    'LADOL',
    'LALMI',
    'LAMGO',
    'LOHRE',
    'LOKTA',
    'LUPEN',
    'MAPOX',
    'MARZA',
    'MASEK',
    'MONAX',
    'MOPAN',
    'MOVUM',
    'NATOR',
    'NEGIX',
    'NOMBO',
    'NOSPA',
    'OBIGA',
    'ODVUX',
    'OGLOR',
    'OMOGI',
    'OSBIT',
    'OTMON',
    'PETIX',
    'PICWI',
    'PITES',
    'REKDI',
    'ROBEL',
    'RUDUS',
    'SILWE',
    'SOGMI',
    'SUNEG',
    'SWALM',
    'TABUM',
    'TAMEB',
    'TEDGO',
    'TEKTU',
    'TESDU',
    'TESGA',
    'TIKNI',
    'TITIX',
    'TIVUN',
    'TUSUK',
    'ULNOK',
    'UMUPU',
    'UTABA',
    'VEKIR',
    'VELIS',
    'VIBOM',
] %}
{%- set fra_eduu_east = [
    'ABERU',
    'ABTAL',
    'AGNAV',
    'AKOSI',
    'ALAXA',
    'ALOSO',
    'ALUTU',
    'AMOSA',
    'ANELA',
    'ARMUT',
    'ASPAT',
    'BABEG',
    'BADVI',
    'BAMKI',
    'BAMTA',
    'BARSU',
    'BATUB',
    'BAVAX',
    'BAVRI',
    'BEBKU',
    'BEMKI',
    'BEPAS',
    'BERAS',
    'BESNI',
    'BIBAG',
    'BIRGI',
    'BOREP',
    'BRENO',
    'DESAR',
    'DEXIT',
    'DIDGI',
    'DINKU',
    'DIRAB',
    'DOLUP',
    'DOSEL',
    'EBEDA',
    'EKPEK',
    'EKSOS',
    'ELMEM',
    'ENITA',
    'ERKIR',
    'ERNAS',
    'ESEGA',
    'EXITI',
    'FEDZA',
    'GALMA',
    'GASKA',
    'GAVLI',
    'GEDSO',
    'GIRIS',
    'GOBAX',
    'GOMIG',
    'GOVEN',
    'IBAGA',
    'INBED',
    'INPUL',
    'IRBIR',
    'KATCE',
    'KEMES',
    'KENIG',
    'KILNU',
    'KIRDI',
    'KOBUS',
    'KOMIB',
    'KONIN',
    'KORUP',
    'KUMER',
    'KUMOM',
    'KUNOD',
    'LALUK',
    'LAMSI',
    'LASGA',
    'LASIS',
    'LASTO',
    'LATLO',
    'LIKDA',
    'LONLI',
    'LULAR',
    'LUROS',
    'MAMOR',
    'MAREM',
    'MARZA',
    'MEBEK',
    'MILGU',
    'MOMUK',
    'MOOCE',
    'NAMUB',
    'NAROX',
    'NARUS',
    'NATAG',
    'NENUM',
    'NEVKO',
    'NOMBO',
    'NOMKA',
    'OGSEN',
    'OLPIX',
    'OMELO',
    'OSKAN',
    'OSTRA',
    'PEROX',
    'PETIX',
    'PIKIB',
    'PILAM',
    'POGAB',
    'POZUM',
    'RADIZ',
    'RAPET',
    'RAVED',
    'RELKO',
    'RENDO',
    'RENKA',
    'RIDAR',
    'RIVSA',
    'ROBEL',
    'RODIS',
    'RUDAP',
    'RUDNO',
    'SIMBA',
    'SODRO',
    'SOTOV',
    'STAUB',
    'SUBEN',
    'SULED',
    'SULUS',
    'SUVUT',
    'TABAT',
    'TADUV',
    'TALEG',
    'TAMEB',
    'TESDU',
    'TIRUL',
    'TITIG',
    'TIVDA',
    'TONSU',
    'TOPDI',
    'TRAUN',
    'TULSI',
    'UMTEX',
    'UMVEG',
    'UNIMI',
    'UNRIG',
    'UTABA',
    'VARIK',
    'VAVOR',
    'VEKIR',
    'VELIS',
    'VEVAS',
    'VEXIL',
    'XEBIX',
    'XERUM',
    'ZUCKA',
] %}
{%- set fra_eduu_north = [
    'ADLIR',
    'ADUKI',
    'ALUKA',
    'ARGAD',
    'ASDIN',
    'ASMIG',
    'BAKDO',
    'BAKLI',
    'BANKU',
    'BANUB',
    'BATEL',
    'BEBEB',
    'BEKBA',
    'BIKRU',
    'BILRA',
    'BINKA',
    'BINZE',
    'BIRMO',
    'BODLA',
    'BOLBO',
    'BUMIL',
    'BUREL',
    'CIPPI',
    'DETNI',
    'DIDGI',
    'EMBOX',
    'ERAKU',
    'ERNUD',
    'ESIKA',
    'EVOKI',
    'FARCU',
    'GARGU',
    'GASBO',
    'GERGA',
    'GEVNI',
    'GILAS',
    'GODUR',
    'IDOBA',
    'ITZEG',
    'KETAP',
    'KOGIM',
    'KOSEB',
    'KOSIX',
    'KUBAB',
    'KUBOG',
    'LEGSA',
    'LOLPA',
    'LUROS',
    'LUWIL',
    'MASOR',
    'MILGU',
    'MURIZ',
    'NEDIK',
    'NIKDA',
    'NOBRI',
    'NONSA',
    'NUSGU',
    'NUVEN',
    'OBANI',
    'OKAGA',
    'PADKU',
    'PENEK',
    'PENET',
    'PEPOL',
    'PEROM',
    'PESEL',
    'PITEN',
    'PODUS',
    'POGAB',
    'RADEL',
    'RAKIT',
    'RATMO',
    'RENKI',
    'RIMKO',
    'RODEP',
    'ROSOK',
    'SALLO',
    'SOGMA',
    'SONAL',
    'SONUD',
    'SUBIX',
    'SULIV',
    'SUVAL',
    'TABOK',
    'TAGOB',
    'TOPDI',
    'UMSET',
    'UNGAV',
    'UNRIG',
    'USEDU',
    'VEVAS',
    'VIBIS',
    'XIGRI',
] %}
{%- set fra_edyy = [
    'ABAMI',
    'ABFAD',
    'ABGUS',
    'ABILU',
    'ABNED',
    'ADKUV',
    'AGATI',
    'ALASA',
    'AMADA',
    'AMALI',
    'AMICH',
    'AMISO',
    'AMRAK',
    'AMSAN',
    'APEBE',
    'APNOC',
    'ARCKY',
    'ARDEN',
    'ARPEG',
    'ASBON',
    'ATPAQ',
    'ATTUS',
    'BADGO',
    'BADOS',
    'BAGOS',
    'BASUM',
    'BATEL',
    'BERIM',
    'BERXO',
    'BETEX',
    'BIGGE',
    'BITBU',
    'BUDIP',
    'BUMAB',
    'BUMIL',
    'DEMIR',
    'DEMUL',
    'DENIX',
    'DENOL',
    'DENUT',
    'DIBIR',
    'DINAN',
    'DIRBO',
    'DIXAT',
    'DOJOH',
    'DOMEG',
    'DOROR',
    'DOSUR',
    'EFIDE',
    'EKERN',
    'ELKIM',
    'ELSOB',
    'EMMUN',
    'EXCOS',
    'EXOBA',
    'FUFNA',
    'GALSO',
    'GARLU',
    'GESLO',
    'GESTO',
    'GIKOG',
    'GIMRU',
    'GIPDO',
    'GITER',
    'GOBOT',
    'GODOS',
    'GREFI',
    'HABFU',
    'IBERA',
    'IBESA',
    'IDOSA',
    'IPSUB',
    'IRKIS',
    'ISMEF',
    'IZZEX',
    'KATCE',
    'KEGAB',
    'KENUM',
    'KESUR',
    'KOKOR',
    'KOMOB',
    'KONAN',
    'KOZUF',
    'KUDIN',
    'KUGAL',
    'KUMER',
    'KUTXO',
    'KUXOD',
    'LAMSO',
    'LARBU',
    'LENDO',
    'LIMGO',
    'LIPNI',
    'LIRSU',
    'LOMPU',
    'LONAM',
    'LUTAX',
    'LUTIR',
    'LUWIL',
    'MAKEL',
    'MATUG',
    'MAWEQ',
    'MEBIX',
    'MEGAR',
    'MICOS',
    'MILGI',
    'MIMVA',
    'MISGO',
    'MUBZI',
    'NAVPI',
    'NEBUN',
    'NITLA',
    'NOGRO',
    'NOLRU',
    'NOMKA',
    'NORKU',
    'NORTA',
    'NUSGU',
    'OBATU',
    'OBOKA',
    'OMIMA',
    'OMWEG',
    'ONUNE',
    'OSNAD',
    'PIBUL',
    'PIROT',
    'PITES',
    'PIZID',
    'PODER',
    'POVEL',
    'RAMAR',
    'RAPIX',
    'RASCA',
    'RAVLO',
    'RAXLU',
    'RENEQ',
    'REXMI',
    'RIBSO',
    'RIMET',
    'RITAX',
    'ROBEG',
    'ROSOK',
    'ROUSY',
    'SASKI',
    'SOMVA',
    'SONEB',
    'SOPOK',
    'STADE',
    'SUTAL',
    'SUTEB',
    'TIVUN',
    'TOLGI',
    'TOLTA',
    'TOLVU',
    'TOPPA',
    'TORNU',
    'TUGDU',
    'TUSKA',
    'UPDAT',
    'WANZA',
    'WEZPU',
    'WEZTE',
    'WIMCI',
    'XAROL',
    'ZUCKA',
] %}
{%- set fra_lsas = [
    'ABESI',
    'ABREG',
    'AKASU',
    'ARGAX',
    'BASGO',
    'BEGAR',
    'BENOT',
    'BERSU',
    'CANNE',
    'DEGAD',
    'DEVDI',
    'DITON',
    'GAMSA',
    'GERSA',
    'GODRA',
    'GUDAX',
    'INTEG',
    'KORED',
    'LADOL',
    'LOKTA',
    'LUTIX',
    'MOPAN',
    'NATOR',
    'NEGRA',
    'NUNRI',
    'ODINA',
    'RAVED',
    'RESIA',
    'RIPUS',
    'RONAG',
    'SAFFA',
    'SONOM',
    'SOSON',
    'SUXAN',
    'TITIX',
    'ULMES',
    'UMTEX',
] %}
{%- set fra_lfee_east = [
    'AMCAK',
    'ARBOS',
    'BEGAR',
    'DEVDI',
    'DIPCE',
    'EDJAR',
    'ELVET',
    'ERADI',
    'ETINO',
    'GILIR',
    'GIVOR',
    'IBERA',
    'JAVVU',
    'JOCUZ',
    'KICQA',
    'LANVI',
    'LASAT',
    'LUPEN',
    'LUVAL',
    'MANAG',
    'MIRGU',
    'MOROK',
    'MOTUK',
    'OKIPO',
    'OVTEC',
    'PENDU',
    'POGOL',
    'REKLA',
    'ROUSY',
    'SUKHA',
    'SUTAL',
    'TORPA',
    'UZCUX',
] %}
{%- set loa = [
    'ABAMI',
    'ABGUS',
    'ABKIS',
    'ABNED',
    'ADKUV',
    'AGNAV',
    'AKANU',
    'AKOSI',
    'ALAXA',
    'ALUKA',
    'ALUTU',
    'AMASI',
    'AMDID',
    'AMETU',
    'AMEXO',
    'AMOSA',
    'APEBE',
    'ARNIX',
    'ARPEG',
    'ASLEP',
    'ASPAT',
    'ATLOL',
    'BABEG',
    'BADLI',
    'BADVI',
    'BAKLI',
    'BAMAS',
    'BAMKI',
    'BANIM',
    'BANUB',
    'BAROB',
    'BARSU',
    'BATUB',
    'BEBKU',
    'BEMKI',
    'BERAS',
    'BERIM',
    'BERXO',
    'BESNI',
    'BETEX',
    'BIKRU',
    'BILRA',
    'BINKA',
    'BITBU',
    'BODLA',
    'BOMBI',
    'BUMIL',
    'COSJE',
    'DEGIN',
    'DEMAB',
    'DENOL',
    'DENUT',
    'DETNI',
    'DEXIT',
    'DIDGI',
    'DINKU',
    'DITON',
    'DODEN',
    'DOJOH',
    'DOMEG',
    'DOSEL',
    'DUDCA',
    'EBASA',
    'EBEDA',
    'EKERN',
    'EKPEK',
    'EKSAK',
    'ELLUM',
    'ELMEM',
    'ELMOX',
    'ELNAT',
    'ELSOB',
    'ELVAG',
    'EMGOD',
    'EMPAX',
    'ENITA',
    'EPTEU',
    'ERETO',
    'ERMEL',
    'ERNAS',
    'ERSIL',
    'ESAMA',
    'ETAGO',
    'ETASA',
    'ETENO',
    'FEDZA',
    'GALMA',
    'GALSO',
    'GARKI',
    'GARLU',
    'GASKA',
    'GEBNO',
    'GESLU',
    'GESUC',
    'GIGET',
    'GILAS',
    'GOLAT',
    'GOMIG',
    'GOVEN',
    'GUBAX',
    'GUPIN',
    'GURLO',
    'HAREM',
    'HERBI',
    'IBAGA',
    'IBGES',
    'IDOSA',
    'IDOVI',
    'INBED',
    'INPUL',
    'IRBIR',
    'IVDUF',
    'KATCE',
    'KISEK',
    'KOBUS',
    'KODUK',
    'KOGOL',
    'KOMIB',
    'KONAP',
    'KONIN',
    'KOVAN',
    'KOZUF',
    'KULOK',
    'KUMER',
    'KUNOD',
    'LADAT',
    'LADOL',
    'LALIN',
    'LALUK',
    'LAMGO',
    'LAMPU',
    'LAMSI',
    'LARET',
    'LASGA',
    'LASIS',
    'LASMI',
    'LASTO',
    'LATLO',
    'LIKDA',
    'LIMGO',
    'LIRSU',
    'LIZUM',
    'LOHRE',
    'LOKTA',
    'LONAM',
    'LONLI',
    'LUROS',
    'LUTIX',
    'LUWIL',
    'MADEB',
    'MAGES',
    'MAMOR',
    'MAPOX',
    'MAREM',
    'MARUN',
    'MASEK',
    'MATUG',
    'MEBEK',
    'MIMVA',
    'MINGA',
    'MIPSI',
    'MOGTI',
    'MOMUK',
    'MONAK',
    'MOPAN',
    'MOVUM',
    'NATOR',
    'NEBUN',
    'NEGIX',
    'NENUM',
    'NEVKO',
    'NIKWU',
    'NIMAB',
    'NIMDI',
    'NOGRA',
    'NOGRO',
    'NOKSI',
    'NOMKA',
    'NONKO',
    'NORKU',
    'NORTA',
    'NOSPA',
    'NURGO',
    'OGLOR',
    'OKAGA',
    'OKKOC',
    'OLPIX',
    'OMELO',
    'ORTAG',
    'OSBIT',
    'OSKAN',
    'OSKAT',
    'OSTRA',
    'OTMON',
    'OTRES',
    'PELOG',
    'PETIX',
    'PILAM',
    'PITES',
    'PODER',
    'POVEL',
    'POZUM',
    'RADIZ',
    'RARUP',
    'RATIP',
    'RAVLO',
    'REDVO',
    'RELKO',
    'RENDO',
    'RENEQ',
    'RIMKI',
    'RIVSA',
    'ROBEG',
    'ROBEL',
    'ROLIS',
    'RONIG',
    'RONTU',
    'ROTAX',
    'ROTOS',
    'RUDAP',
    'RUDNO',
    'RUDOT',
    'RUDUS',
    'SALLO',
    'SIMBA',
    'SISMI',
    'SODRO',
    'SOGMI',
    'SONDU',
    'SONOM',
    'STAUB',
    'SUBIX',
    'SUGIB',
    'SULED',
    'SUNEG',
    'SUTAL',
    'SUVUT',
    'SWALM',
    'TABAT',
    'TABUM',
    'TADUV',
    'TAGIK',
    'TAKEX',
    'TALAL',
    'TALEG',
    'TAMEB',
    'TEDGO',
    'TEKTU',
    'TESDU',
    'TESGA',
    'TIKNI',
    'TIRUL',
    'TIVDA',
    'TIVUN',
    'TOGRO',
    'TONSU',
    'TOPDI',
    'TORNU',
    'TULSI',
    'TUNUM',
    'TUSUK',
    'UMDAS',
    'UMUPU',
    'UNAVI',
    'UNGAV',
    'UNKUL',
    'UPALA',
    'VABEN',
    'VAVOR',
    'VEMUT',
    'VEVAS',
    'VIBOM',
    'WERRA',
    'XAROL',
    'XERUM',
    'ZUCKA',
    'ZUREX',
] %}
{%- set all_fixes = 
    fra_eduu_west + fra_eduu_east + fra_eduu_north +
    fra_edyy + fra_lsas + fra_lfee_east + loa
%}

MAP:Fixes
FOLDER:Fixes
ACTIVE:1
COLOR:standard
{%- for fx in all_fixes|unique %}
SYMBOL:FIX1:{{fx}}
{%- endfor %}

MAP:Fixes w/ L
FOLDER:Fixes
TEXTALIGN:LB
COLOR:standard
{%- for fx in all_fixes|unique %}
SYMBOL:FIX1:{{fx}}:{{fx}}:5:0
{%- endfor %}