MAP:Sectors
COLOR:greysector
FOLDER:Upper
STYLE:DOT:1
ACTIVE:1
{{ data.rawdata['sectors/edyy/cel.txt'] }}
{{ data.rawdata['sectors/edyy/dlt.txt'] }}
{{ data.rawdata['sectors/edyy/hol.txt'] }}
{{ data.rawdata['sectors/edyy/jev.txt'] }}
{{ data.rawdata['sectors/edyy/lnh.txt'] }}
{{ data.rawdata['sectors/edyy/lux.txt'] }}
{{ data.rawdata['sectors/edyy/mns.txt'] }}
{{ data.rawdata['sectors/edyy/rhr.txt'] }}
{{ data.rawdata['sectors/edyy/sol.txt'] }}
{#{{ data.rawdata['sectors/edyy/kok.txt'] }}#}
{#{{ data.rawdata['sectors/edyy/nik.txt'] }}#}
{{ data.rawdata['sectors/edyy/sco.txt'] }}
{{ data.rawdata['sectors/edyy/ekdk.txt'] }}
{{ data.rawdata['sectors/eduu/ffm.txt'] }}
{{ data.rawdata['sectors/eduu/ful.txt'] }}
{{ data.rawdata['sectors/eduu/ntm.txt'] }}
{{ data.rawdata['sectors/eduu/hvl.txt'] }}
{{ data.rawdata['sectors/eduu/sal.txt'] }}
{{ data.rawdata['sectors/eduu/spe.txt'] }}
{{ data.rawdata['sectors/eduu/ose.txt'] }}