MAP:Coastline
FOLDER:Topo
COLOR:greysector
{{ data.rawdata['topographie/coastline.txt'] }}

MAP:FIR Border
FOLDER:Topo
COLOR:greysector
{{ data.rawdata['sectors/fir/edggfir.txt'] }}
{{ data.rawdata['sectors/fir/edmmfir.txt'] }}
{{ data.rawdata['sectors/fir/edwwfir.txt'] }}
{{ data.rawdata['sectors/fir/ehaafir.txt'] }}
{{ data.rawdata['sectors/fir/lfeefir.txt'] }}