// ------------------------------------------------------------------
//                                 EDTL
// ------------------------------------------------------------------

// -------------------------- Ground Layout -------------------------
{%- set default = 0.000005 %}

MAP:Apron Area
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
{% for uuid, geom in data.edtl_kml['layout']['aprons'].items() %}
{{- geom | to_poly('', 'layout-apron') }}
{% endfor %}
{{ data.edtl_kml['layout']['runways']['rwyBlastpad03'] | to_poly('','layout-apron') }}
{{ data.edtl_kml['layout']['runways']['rwyBlastpad21'] | to_poly('','layout-apron') }}

MAP:Roads
AIRPORT:EDTL
FOLDER:Airport Layout
COLOR:layout-taxiway
{% for uuid, geom in data.edtl_kml['layout']['roads'].items() %}
{{- geom | simplify(default) | to_line('') -}}
{% endfor %}

MAP:Taxiway Movement Area
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
{% for uuid, geom in data.edtl_kml['layout']['taxiways'].items() %}
{{- geom | to_poly('', 'layout-taxiway') }}
{% endfor %}

MAP:Runway
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1

{{ data.edtl_kml['layout']['runways']['03-21'] | to_poly('Runway 03/21', 'layout-runway') }}

MAP:Leadin Lines
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiline-grey
{% for uuid, geom in data.edtl_kml['layout']['markings']['leadin_solid'].items() %}
{{- geom | to_line('') -}}
{% endfor %}

MAP:Taxi Lanes
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiline-yellow
{% for uuid, geom in data.edtl_kml['layout']['markings']['taxilanes'].items() %}
{{- geom | to_line('') -}}
{% endfor %}

MAP:Buildings
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
{% for uuid, geom in data.edtl_kml['layout']['buildings'].items() %}
{{- geom | to_poly('', 'layout-building') }}
{% endfor %}

MAP:Fence
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-building
{% for uuid, geom in data.edtl_kml['layout']['fence'].items() %}
{{- geom | to_line('') -}}
{% endfor %}