// ------------------------------------------------------------------
//                                 EDTL
// ------------------------------------------------------------------

// -------------------------- Ground Layout -------------------------
{%- set tolerance = 0.000005 %}

MAP:Apron Area
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_APRON
{% for _, feat in data.edtl_kml['layout']['aprons'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}
{{ data.edtl_kml['layout']['runways']['rwyBlastpad03'] | render_area('OTHER:REGION') }}
{{ data.edtl_kml['layout']['runways']['rwyBlastpad21'] | render_area('OTHER:REGION') }}


MAP:Roads
AIRPORT:EDTL
FOLDER:Airport Layout
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.edtl_kml['layout']['roads'].items() %}
{{- feat | geom_simplify(tolerance) | render_line }}
{% endfor %}


MAP:Taxiway Movement Area
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.edtl_kml['layout']['taxiways'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Runway
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_RUNWAY
{{ data.edtl_kml['layout']['runways']['03-21'] | render_area('OTHER:REGION') }}


MAP:Leadin Lines
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXILINE_GREY
{% for _, feat in data.edtl_kml['layout']['markings']['leadin_solid'].items() %}
{{- feat | render_line }}
{% endfor %}


MAP:Taxi Lanes
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXILINE_YELLOW
{% for _, feat in data.edtl_kml['layout']['markings']['taxilanes'].items() %}
{{- feat | render_line }}
{% endfor %}


MAP:Buildings
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_BUILDING
{% for _, feat in data.edtl_kml['layout']['buildings'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Fence
AIRPORT:EDTL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_BUILDING
{% for _, feat in data.edtl_kml['layout']['fence'].items() %}
{{- feat | render_line }}
{% endfor %}