// ------------------------- Holding Points -------------------------

MAP:Holding Points CAT I
AIRPORT:EDTL
FOLDER:Holding Points
LAYER:5
ACTIVE:1
COLOR:LAYOUT_HOLDINGPOINT
{% for desig, feat in data.edtl_kml['layout']['holdingpoints']['cat1'].items() %}
{{- feat | render_area('OTHER:REGION', desig) }}
{% endfor %}
{% for desig, feat in data.edtl_kml['layout']['holdingpoints']['line'].items() %}
{{- feat | render_line(desig) }}
{% endfor %}