// ------------------------------- AoR ------------------------------

MAP:EDTL_TWR
AIRPORT:EDTL
FOLDER:AoR
LAYER:6
COLOR:aor-twr-a
ZOOM:400
FONTSIZE:=:13
{{ data.edtl_kml['layout']['aor']['labels']['TLT'] | to_text('TLT  125.180') }}

MAP:LFST_APP
AIRPORT:EDTL
FOLDER:AoR
LAYER:6
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edtl_kml['layout']['aor']['labels']['FSTA'] | to_text('FSTA 120.700') }}

MAP:EDDS_STG_APP
AIRPORT:EDTL
FOLDER:AoR
LAYER:6
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edtl_kml['layout']['aor']['labels']['FSTA'] | to_text('STG  125.050') }}

MAP:EDDS_REU_APP
AIRPORT:EDTL
FOLDER:AoR
LAYER:6
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edtl_kml['layout']['aor']['labels']['FSTA'] | to_text('REU  119.200') }}