// -------------------------- Runway Info ---------------------------

MAP:TORA 21
AIRPORT:EDTL
FOLDER:Runway Info
LAYER:6
COLOR:tora-label
ZOOM:400
TEXTALIGN:RC
{{ data.edtl_kml['layout']['tora']['21_H'] | to_text('3000') }}
{{ data.edtl_kml['layout']['tora']['21_G'] | to_text('2727') }}
{{ data.edtl_kml['layout']['tora']['21_F'] | to_text('1905') }}
{{ data.edtl_kml['layout']['tora']['21_E'] | to_text('1098') }}


MAP:TORA 03
AIRPORT:EDTL
FOLDER:Runway Info
LAYER:6
COLOR:tora-label
ZOOM:400
TEXTALIGN:LC
{{ data.edtl_kml['layout']['tora']['03_B_C'] | to_text('3000') }}
{{ data.edtl_kml['layout']['tora']['03_A_D'] | to_text('2728') }}
{{ data.edtl_kml['layout']['tora']['03_E'] | to_text('1915') }}
{{ data.edtl_kml['layout']['tora']['03_F'] | to_text('1108') }}

MAP:Runway Designators
AIRPORT:EDTL
FOLDER:Runway Info
LAYER:6
ACTIVE:1
{% for uuid, geom in data.edtl_kml['layout']['markings']['runways'].items() %}
{{- geom | to_coordtype('', 'runway-label') }}
{% endfor %}

MAP:Runway Markings
AIRPORT:EDTL
FOLDER:Runway Info
{% for uuid, geom in data.edtl_kml['layout']['markings']['poly_a'].items() %}
{{- geom | to_coordtype('', 'layout-runway-marking') }}
{% endfor %}
{% for uuid, geom in data.edtl_kml['layout']['markings']['poly_b'].items() %}
{{- geom | to_coordtype('', 'layout-runway') }}
{% endfor %}