// ----------------------------- Labels -----------------------------

MAP:Buffer   (EDTL)
AIRPORT:EDTL
FOLDER:Labels
HIDDEN
LAYER:3
ACTIVE:1
ZOOM:400
{% for uuid, geom in data.edtl_kml['layout']['labels']['buffer'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}

MAP:Taxiways (EDTL)
AIRPORT:EDTL
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer   (EDTL)
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for desig, geom in data.edtl_kml['layout']['labels']['taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Stands   (EDTL)
AIRPORT:EDTL
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{{data.edtl_kml['layout']['labels']['Parking Area'] | to_text('Parking Area') }}