// ------------------------------------------------------------------
//                                 EDDG
// ------------------------------------------------------------------

// -------------------------- Ground Layout -------------------------
{%- set tolerance = 0.000005 %}

MAP:Glider Strips
AIRPORT:EDDG
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_GRASS
{{ data.eddg_kml['layout']['runways']['glider_a'] | render_area('OTHER:REGION') }}
{{ data.eddg_kml['layout']['runways']['glider_b'] | render_area('OTHER:REGION') }}


MAP:Apron Area
AIRPORT:EDDG
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_APRON
{% for _, feat in data.eddg_kml['layout']['aprons'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Parking Area
AIRPORT:EDDG
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.eddg_kml['layout']['markings']['parking'].items() %}
{{- feat | render_line }}
{% endfor %}


MAP:Roads
AIRPORT:EDDG
FOLDER:Airport Layout
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.eddg_kml['layout']['roads'].items() %}
{{- feat | geom_simplify(tolerance) | render_line }}
{% endfor %}


MAP:Taxiway Movement Area
AIRPORT:EDDG
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.eddg_kml['layout']['taxiways'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Runways
AIRPORT:EDDG
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_APRON
{{ data.eddg_kml['layout']['runways']['rwyBlastpad07'] | render_area('OTHER:REGION') }}
{{ data.eddg_kml['layout']['runways']['rwyBlastpad25'] | render_area('OTHER:REGION') }}
COLOR:LAYOUT_RUNWAY
{{ data.eddg_kml['layout']['runways']['07-25'] | render_area('OTHER:REGION') }}


MAP:Leadin Lines
AIRPORT:EDDG
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXILINE_GREY
{% for _, feat in data.eddg_kml['layout']['markings']['leadin_solid'].items() %}
{{- feat | render_line }}
{% endfor %}
// Dash Leadin Lines
{% for _, feat in data.eddg_kml['layout']['markings']['leadin_dash'].items() %}
{{- feat | render_line }}
{% endfor %}
// Taxi-Out Arrows
{% for _, feat in data.eddg_kml['layout']['markings']['arrows'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Taxi Lanes
AIRPORT:EDDG
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXILINE_YELLOW
{% for _, feat in data.eddg_kml['layout']['markings']['taxilanes'].items() %}
{{- feat | render_line }}
{% endfor %}


MAP:Buildings
AIRPORT:EDDG
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_BUILDING
{% for _, feat in data.eddg_kml['layout']['buildings'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Fence
AIRPORT:EDDG
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_BUILDING
{% for _, feat in data.eddg_kml['layout']['fence'].items() %}
{{- feat | render_line }}
{% endfor %}