// ------------------------------ LVP -------------------------------

MAP:Heavy  25
AIRPORT:EDDG
FOLDER:LVP
// Orthogonal
{{ data.eddg_kml['layout']['lvp']['heavy']['25_orthogonal_a'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
{{ data.eddg_kml['layout']['lvp']['heavy']['25_orthogonal_b'] | to_coordtype('', 'lvp-orthogonal', 'OTHER', 'REGION', '\\') }}
// Sensitive
{{ data.eddg_kml['layout']['lvp']['heavy']['25_sensitive'] | to_coordtype('', 'lvp-sensitive', 'OTHER', 'REGION', '\\') }}
// Critical
STYLE:SOLID:2
{{ data.eddg_kml['layout']['lvp']['heavy']['25_critical_loc'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
{{ data.eddg_kml['layout']['lvp']['heavy']['25_critical_gs'] | to_coordtype('', 'lvp-critical', 'OTHER', 'REGION', '\\') }}
// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDG['25'], 0, -0.01) }}
{{ loc_tick(runways.EDDG['25'], 0, 0.01) }}