// ------------------------------ LVP -------------------------------

MAP:Heavy  25
AIRPORT:EDDG
FOLDER:LVP
COLOR:LVP_ORTHOGONAL
{{ data.eddg_kml['layout']['lvp']['heavy']['25_orthogonal_a'] | render_area('OTHER:REGION:\\') }}
{{ data.eddg_kml['layout']['lvp']['heavy']['25_orthogonal_b'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_SENSITIVE
{{ data.eddg_kml['layout']['lvp']['heavy']['25_sensitive'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_CRITICAL
STYLE:SOLID:2
{{ data.eddg_kml['layout']['lvp']['heavy']['25_critical_loc'] | render_area('OTHER:REGION:\\') }}
{{ data.eddg_kml['layout']['lvp']['heavy']['25_critical_gs'] | render_area('OTHER:REGION:\\') }}
// LOC
STYLE:SOLID:2
COLOR:LVP_MARKING
{{ loc_tick(runways.EDDG['25'], 0, -0.01) }}
{{ loc_tick(runways.EDDG['25'], 0, 0.01) }}