// ------------------------------- AoR ------------------------------

MAP:Non-movement Area
AIRPORT:EDDG
FOLDER:AoR
LAYER:6
ACTIVE:1
COLOR:layout-taxiline-grey
STYLE:Dot
{{ data.eddg_kml['layout']['aor']['line']['area'] | to_line('Non-movement Area') }}

MAP:EDDG_GND
AIRPORT:EDDG
FOLDER:AoR
LAYER:6
COLOR:aor-gnd-a
STYLE:Dot
{{ data.eddg_kml['layout']['aor']['line']['DGG'] | to_line('DGG') }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddg_kml['layout']['aor']['labels']['DGG'] | to_text('DGG  121.880') }}

MAP:EDDG_TWR
AIRPORT:EDDG
FOLDER:AoR
LAYER:6
COLOR:aor-twr-a
STYLE:Dot
{{ data.eddg_kml['layout']['aor']['line']['DGT_a'] | to_line('DGT') }}
{{ data.eddg_kml['layout']['aor']['line']['DGT_b'] | to_line('DGT') }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddg_kml['layout']['aor']['labels']['DGT'] | to_text('DGT  129.805') }}

MAP:EDDG_HMM_APP
AIRPORT:EDDG
FOLDER:AoR
LAYER:6
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.eddg_kml['layout']['aor']['labels']['DGT'] | to_text('HMM  129.300:0:-20') }}

MAP:EDGG_PAH_CTR
AIRPORT:EDDG
FOLDER:AoR
LAYER:6
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.eddg_kml['layout']['aor']['labels']['DGT'] | to_text('PADH 135.650:0:-20') }}