// ----------------------- Permament Closures -----------------------

MAP:Apron
AIRPORT:EDDG
FOLDER:Closures
ACTIVE:1
//ASRDATA:GND
COLOR:closure-symbol
{{ data.eddg_kml['layout']['closures']['symb']['apron'] | to_poly('','closure-symbol') }}