// -------------------------- LVP Closures --------------------------

MAP:C
AIRPORT:EDDG
FOLDER:Closures
LAYER:4
ACTIVE:LVP:EDDG:1
STYLE:Solid:2
{{ data.eddg_kml['layout']['closures']['poly']['C'] | to_coordtype('', 'closure', 'TWYCLOSED') }}