// ----------------------- Permament Closures -----------------------

MAP:Apron
AIRPORT:EDDG
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE_SYMBOL
{{ data.eddg_kml['layout']['closures']['symb']['apron'] | render_area('OTHER:REGION') }}