// ----------------------- Restriction Checks -----------------------

MAP:Checks
AIRPORT:EDDG
FOLDER:Restrictions
ACTIVE:1
// Glider
RESTRICTION:MAXCODE:A
{{ data.eddg_kml['layout']['restrictions']['poly']['glider'] | to_coordtype('', '', 'TWYTYPE', 'NONE') }}
// G
RESTRICTION:MAXCODE:D
{{ data.eddg_kml['layout']['restrictions']['poly']['G'] | to_coordtype('', '', 'TWYTYPE', 'NONE') }}
// 30x
RESTRICTION:MAXWINGSPAN:20
{{ data.eddg_kml['layout']['restrictions']['poly']['30x'] | to_coordtype('', '', 'TWYTYPE', 'NONE') }}