// ----------------------- Restriction Checks -----------------------

MAP:Checks
AIRPORT:EDDG
FOLDER:Restrictions
COORDTYPE:TWYTYPE:NONE
ACTIVE:1
// Glider
RESTRICTION:MAXCODE:A
{{ data.eddg_kml['layout']['restrictions']['poly']['Glider'] | to_poly('') }}
// G
RESTRICTION:MAXCODE:D
{{ data.eddg_kml['layout']['restrictions']['poly']['G'] | to_poly('') }}
// 30x
RESTRICTION:MAXWINGSPAN:20
{{ data.eddg_kml['layout']['restrictions']['poly']['30x'] | to_poly('') }}