// ----------------------------- Labels -----------------------------
MAP:Taxiways
AIRPORT:EDDG
FOLDER:Labels
ACTIVE:1
ZOOM:400
{% for uuid, geom in data.eddg_kml['layout']['labels']['buffer'].items() %}
{{- geom | to_poly('', 'layout-taxiway') }}
{% endfor %}
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for desig, geom in data.eddg_kml['layout']['labels']['taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}
{{ data.eddg_kml['layout']['labels']['Glider Area'] | to_text('Glider Area') }}
{{ data.eddg_kml['layout']['labels']['taxiways']['A1'] | to_text('Run-up:0:15') }}
{{ data.eddg_kml['layout']['labels']['taxiways']['B1'] | to_text('Run-up:0:15') }}

MAP:Stands
AIRPORT:EDDG
FOLDER:Labels
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.eddg_kml['layout']['labels']['stands'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Aprons
AIRPORT:EDDG
FOLDER:Labels
ZOOM:400
FONTSIZE:=:9
COLOR:layout-label-stand
{{ data.eddg_kml['layout']['labels']['Apron West'] | to_text('Apron West') }}
{{ data.eddg_kml['layout']['labels']['Central Apron'] | to_text('Central Apron') }}
{{ data.eddg_kml['layout']['labels']['Apron East'] | to_text('Apron East') }}