// ------------------------------------------------------------------
//                                 EDDL
// ------------------------------------------------------------------

// -------------------------- Ground Layout -------------------------
{%- set default = 0.000005 %}

MAP:Apron Area
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
{% for uuid, geom in data.eddl_kml['layout']['aprons'].items() %}
{{- geom | to_coordtype('', 'layout-apron') }}
{% endfor %}
{{ data.eddl_kml['layout']['runways']['apron05R-23L'] | to_coordtype('', 'layout-apron') }}
{{ data.eddl_kml['layout']['runways']['apron05L-23R'] | to_coordtype('', 'layout-apron') }}

MAP:Roads
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
{% for uuid, geom in data.eddl_kml['layout']['roads'].items() %}
{{- geom | simplify(default) | to_line('') -}}
{% endfor %}

MAP:Taxiway Movement Area
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
{% for uuid, geom in data.eddl_kml['layout']['taxiways'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}

MAP:Runways
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
{{ data.eddl_kml['layout']['runways']['05R-23L'] | to_coordtype('', 'layout-runway') }}
{{ data.eddl_kml['layout']['runways']['05L-23R'] | to_coordtype('', 'layout-runway') }}