// ------------------------------------------------------------------
//                                 EDDL
// ------------------------------------------------------------------

// -------------------------- Ground Layout -------------------------
{%- set tolerance = 0.000005 %}

MAP:Apron Area
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_APRON
{% for _, feat in data.eddl_kml['layout']['aprons'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}
{{ data.eddl_kml['layout']['runways']['apron05R-23L'] | render_area('OTHER:REGION') }}
{{ data.eddl_kml['layout']['runways']['apron05L-23R'] | render_area('OTHER:REGION') }}


MAP:Roads
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.eddl_kml['layout']['roads'].items() %}
{{- feat | geom_simplify(tolerance) | render_line }}
{% endfor %}


MAP:Taxiway Movement Area
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXIWAY
{% for _, feat in data.eddl_kml['layout']['taxiways'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Runways
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_RUNWAY
{{ data.eddl_kml['layout']['runways']['05R-23L'] | render_area('OTHER:REGION') }}
{{ data.eddl_kml['layout']['runways']['05L-23R'] | render_area('OTHER:REGION') }}