// ----------------------------- Stands -----------------------------
{%- set tolerance = 0.000005 %}
{%- set nodraw_orangelines = ['DEICI_O_M2', 'DEICI_O_O'] %}
{%- set nodraw_leadins = [
    'AE_V02_1',
    'AE_V07A_1',
    'AE_V07A_2',
    'AW_V61_N',
    'AW_V61_S',
    'AW_V61A_N',
    'AW_V61A_S',
    'AW_V71_N',
    'AW_V71_S',
    'AW_V72_N',
    'AW_V72_S',
    'AW_V72A_N',
    'AW_V72A_S',
    'AW_V73_N',
    'AW_V73_S',
    'AW_V74_N',
    'AW_V74_S',
    'AW_V75_N',
    'AW_V75_S',
    'MA_A02_1_N',
    'MA_A04_N',
    'MA_C06_W',
] %}


MAP:Leadin Lines
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXILINE_YELLOW
{{ data.eddl_aixm['GuidanceLineByDesig']['AE_LSH1'] | geom_simplify(tolerance) | render_line('AE_LSH1') }}

{% for _, feat in data.eddl_aixm['GuidanceLine'].items() if feat.properties['type'] in ['LI_TLANE', 'LO_TLANE'] %}
{%- if not ('DEICI' in feat.properties['designator'] or feat.properties['designator'] in nodraw_leadins) %}
{{- feat | geom_simplify(tolerance) | render_line(feat.properties['designator']) }}
{%- endif %}
{% endfor %}

{% for desig, feat in data.eddl_kml['layout']['markings']['leadin_solid'].items() %}
{{- feat | render_line }}
{% endfor %}

// Orange Lines
COLOR:LAYOUT_TAXILINE_ORANGE
{% for _, feat in data.eddl_aixm['GuidanceLine'].items() if feat.properties['designator'].startswith('DEICI_O_') %}
{%- if not feat.properties['designator'] in nodraw_orangelines %}
{{- feat | geom_simplify(tolerance) | render_line(feat.properties['designator']) }}
{%- endif %}
{% endfor %}