// ---------------------------- Taxi Lanes --------------------------
{%- set tolerance = 0.000005 %}
{%- set nodraw_taxilanes = [
    'AE_LSH1',
	'TWYK1_W_1',
	'TWYL1_23L_1',
	'TWYL1_23L_2',
	'TWYL2_2',
] %}

MAP:Taxi Lanes
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
COLOR:LAYOUT_TAXILINE_YELLOW

{% for _, feat in data.eddl_aixm['GuidanceLine'].items() if feat.properties['type'] in ['TWY', 'GATE_TLANE'] %}
{%- if not (feat.properties['designator'].startswith('DEICI') or feat.properties['designator'] in nodraw_taxilanes) %}
{{- feat | geom_simplify(tolerance) | render_line(feat.properties['designator']) }}
{%- endif %}
{% endfor %}

{% for desig in
[
    'L2_a',
    'L2_b',
    'K4',
    'J1',
    'J2',
    'J3',
] %}
{{- data.eddl_kml['layout']['markings']['taxilane_solid'][desig] | render_line(desig) }}
{% endfor %}

{% for _, feat in data.eddl_kml['layout']['markings']['taxilane_dash'].items() %}
{{- feat | render_line }}
{% endfor %}