// ------------------------------ LVP -------------------------------

{% for runway in ['23L', '23R', '05R'] %}
MAP:{{runway}}
AIRPORT:EDDL
FOLDER:LVP|Heavy
COLOR:LVP_ORTHOGONAL
{{ data.eddl_kml['layout']['lvp']['heavy'][runway + '_orthogonal_a'] | render_area('OTHER:REGION:\\') }}
{{ data.eddl_kml['layout']['lvp']['heavy'][runway + '_orthogonal_b'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_SENSITIVE
{{ data.eddl_kml['layout']['lvp']['heavy'][runway + '_sensitive'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_CRITICAL
STYLE:SOLID:2
{{ data.eddl_kml['layout']['lvp']['heavy'][runway + '_critical_loc'] | render_area('OTHER:REGION:\\') }}
{{ data.eddl_kml['layout']['lvp']['heavy'][runway + '_critical_gs'] | render_area('OTHER:REGION:\\') }}
// LOC
STYLE:SOLID:2
COLOR:LVP_MARKING
{{ loc_tick(runways.EDDL[runway], 0, -0.01) }}
{{ loc_tick(runways.EDDL[runway], 0, 0.01) }}
{% endfor %}

{% for runway in ['23L', '05R'] %}
MAP:{{runway}}
AIRPORT:EDDL
FOLDER:LVP|Super
COLOR:LVP_ORTHOGONAL
{{ data.eddl_kml['layout']['lvp']['super'][runway + '_orthogonal_a'] | render_area('OTHER:REGION:\\') }}
{{ data.eddl_kml['layout']['lvp']['super'][runway + '_orthogonal_b'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_SENSITIVE
{{ data.eddl_kml['layout']['lvp']['super'][runway + '_sensitive'] | render_area('OTHER:REGION:\\') }}
COLOR:LVP_CRITICAL
STYLE:SOLID:2
{{ data.eddl_kml['layout']['lvp']['super'][runway + '_critical_loc'] | render_area('OTHER:REGION:\\') }}
{{ data.eddl_kml['layout']['lvp']['super'][runway + '_critical_gs'] | render_area('OTHER:REGION:\\') }}
// LOC
STYLE:SOLID:2
COLOR:LVP_MARKING
{{ loc_tick(runways.EDDL[runway], 0, -0.01) }}
{{ loc_tick(runways.EDDL[runway], 0, 0.01) }}
{% endfor %}