// ------------------------------- AoR ------------------------------

MAP:EDDL_E_GND
AIRPORT:EDDL
FOLDER:AoR
LAYER:6
COLOR:AOR_GND_A
STYLE:DOT
{{ data.eddl_kml['layout']['aor']['line']['DLGE'] | render_line }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddl_kml['layout']['aor']['labels']['DLGE'] | to_text('DLGE 121.605') }}


MAP:EDDL_W_GND
AIRPORT:EDDL
FOLDER:AoR
LAYER:6
COLOR:AOR_GND_B
STYLE:DOT
{{ data.eddl_kml['layout']['aor']['line']['DLGW'] | render_line }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddl_kml['layout']['aor']['labels']['DLGW'] | to_text('DLGW 121.680') }}


MAP:EDDL_TWR
AIRPORT:EDDL
FOLDER:AoR
LAYER:6
COLOR:AOR_TWR_A
STYLE:DOT
{{ data.eddl_kml['layout']['aor']['line']['DLT'] | render_line }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddl_kml['layout']['aor']['labels']['DLT'] | to_text('DLT  118.305:0:10') }}


MAP:EDDL_DEP
AIRPORT:EDDL
FOLDER:AoR
LAYER:6
COLOR:AOR_APP_A
ZOOM:400
FONTSIZE:=:13
{{ data.eddl_kml['layout']['aor']['labels']['DLT'] | to_text('DLD  121.355:0:-10') }}