// ----------------------- Aircraft Outlines ------------------------

MAP:Aircraft Outlines
AIRPORT:EDDL
FOLDER:Apron Info
ACTIVE:1
{% for uuid, geom in data.eddl_kml['layout']['aproninfo']['aircraft_a'].items() %}
{{- geom | to_coordtype('', 'layout-runway') }}
{% endfor %}
{% for uuid, geom in data.eddl_kml['layout']['aproninfo']['aircraft_b'].items() %}
{{- geom | to_coordtype('', 'layout-runway', 'OTHER', 'POLYGON') }}
{% endfor %}

// ------------------------- Heli Positions -------------------------

MAP:Heli Positions
AIRPORT:EDDL
FOLDER:Apron Info
LAYER:6
ZOOM:600
FONTSIZE:=:10
COLOR:layout-label-stand
{% for desig, geom in data.eddl_kml['layout']['labels']['heli'].items() %}
{{- geom | to_text('H:-1:0') }}
{% endfor %}
{% for desig, geom in data.eddl_kml['layout']['labels']['heli'].items() %}
{{- geom | to_symbol('CIRCLE') }}
{% endfor %}