// ------------------------ Runway Closures -------------------------

MAP:23L/05R
AIRPORT:EDDL
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDL:05R,23L
RWYCLOSEDARR:EDDL:05R,23L
STYLE:Solid:2
{{ data.eddl_kml['layout']['runways']['05R-23L'] | to_coordtype('', 'closure') }}

MAP:23R/05L
AIRPORT:EDDL
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDL:05L,23R
RWYCLOSEDARR:EDDL:05L,23R
STYLE:Solid:2
{{ data.eddl_kml['layout']['runways']['05L-23R'] | to_coordtype('', 'closure') }}