// ------------------------ Runway Closures -------------------------

MAP:23L/05R
AIRPORT:EDDL
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDL:05R,23L
RWYCLOSEDARR:EDDL:05R,23L
STYLE:SOLID:2
COLOR:CLOSURE
{{ data.eddl_kml['layout']['runways']['05R-23L'] | render_area('OTHER:REGION') }}


MAP:23R/05L
AIRPORT:EDDL
FOLDER:Closures
LAYER:4
RWYCLOSEDDEP:EDDL:05L,23R
RWYCLOSEDARR:EDDL:05L,23R
STYLE:SOLID:2
COLOR:CLOSURE
{{ data.eddl_kml['layout']['runways']['05L-23R'] | render_area('OTHER:REGION') }}