// -------------------- Restriction Maps (NOTAM) --------------------
{% set default = 0.000005 %}
MAP:Restrictions (EDDL)(NOTAM)
AIRPORT:EDDL
FOLDER:Restrictions
LAYER:2

// Restrictions
ZOOM:600

// Turn L6 - M
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.eddl_kml['layout']['restrictions']['line']['L6'] | to_line('') -}}

// Turn M - L3 - T
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.eddl_kml['layout']['restrictions']['line']['L3'] | to_line('') -}}

// A05
COLOR:restrictions-D
STYLE:SOLID:4
{{ data.eddl_kml['layout']['restrictions']['line']['A05'] | to_line('') -}}
STYLE:SOLID:1
{{ data.eddl_kml['layout']['restrictions']['poly']['A05'] | to_coordtype('', 'restrictions-D') }}
TEXTALIGN:LC
{{ data.eddl_kml['layout']['restrictions']['labels']['A05'] | to_text('Max code D') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['A05'] | to_text('P1 >> A05:0:12') }}

// L2 (Holding Point)
COLOR:restrictions-E
STYLE:SOLID:4
{{ data.eddl_kml['layout']['restrictions']['line']['L2_1a'] | to_line('') -}}
{{ data.eddl_kml['layout']['restrictions']['line']['L2_1b'] | to_line('') -}}
{{ data.eddl_kml['layout']['restrictions']['line']['L2_1c'] | to_line('') -}}
TEXTALIGN:RC
{{ data.eddl_kml['layout']['restrictions']['labels']['L2_1a'] | to_text('Max A343') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['L2_1b'] | to_text('Max A343') }}

// L2 (Exit)
COLOR:restrictions-AB
STYLE:SOLID:4
{{ data.eddl_kml['layout']['restrictions']['line']['L2_2'] | to_line('') -}}
STYLE:SOLID:1
{{ data.eddl_kml['layout']['restrictions']['poly']['L2_2'] | to_coordtype('', 'restrictions-AB') }}
TEXTALIGN:LC
{{ data.eddl_kml['layout']['restrictions']['labels']['L2_2'] | to_text('No Exit') }}

// GAT
COLOR:restrictions-AB
STYLE:SOLID:4
{{ data.eddl_kml['layout']['restrictions']['line']['GAT_a'] | to_line('') -}}
{{ data.eddl_kml['layout']['restrictions']['line']['GAT_b'] | to_line('') -}}
STYLE:SOLID:1
{{ data.eddl_kml['layout']['restrictions']['poly']['GAT_a'] | to_coordtype('', '', 'OTHER', 'REGION', '\\') }}
TEXTALIGN:RC
{{ data.eddl_kml['layout']['restrictions']['labels']['GAT'] | to_text('Max wingspan 29m') }}

// Parallel Restrictions
// M and T
// P1 and L5
// L1 and L2
COLOR:restrictions-C
TEXTALIGN:CC
{{ data.eddl_kml['layout']['restrictions']['labels']['T_M_a'] | to_text('1') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['T_M_b'] | to_text('1') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['P1_L5'] | to_text('2') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['L1'] | to_text('3') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['T_M_a'] | to_symbol('CIRCLE') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['T_M_b'] | to_symbol('CIRCLE') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['P1_L5'] | to_symbol('CIRCLE') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['L1'] | to_symbol('CIRCLE') }}


// Restriction Stands
// Closed due to NOTAM A0899/25:
// 'B05', 'B06', 'B07', 'B08', 'V61A'
// Limited due to NOTAM A0899/25:
// B04 to code C

TEXTALIGN:CC
FONTSIZE:=:9
COLOR:restrictions-C
{% for desig in
[
    'A01',
    'A02',
    'A03',
    'A04',
    'A08',
    'A09',
    'A12',
    'A13',
    'A15',
    'A16',
    'B01',
    'B04',
    'B10',
    'B11',
    'V24',
    'V25',
    'V26',
    'V27',
    'V28',
    'V29',
    'V38',
    'V39',
    'V40',
    'V41',
    'V42',
    'V43',
    'V44',
    'V45',
    'V46',
    'V47',
    'V49',
    'V51',
    'V61',
    'V62',
    'V63',
    'V70',
    'V71',
    'V72',
    'V73',
    'V74',
    'V75',
    'V76',
    'V80',
    'V81',
    'V82',
    'V83',
    'V84',
    'V85',
    'V86',
    'V87',
    'V91',
    'V92',
    'V93',
    'V94',
    'V95',
    'V96',
    'V97',
    'V102',
    'V103',
    'V104',
    'V105',
    'V106',
    'V107',
    'V108'
] %}
{{- data.eddl_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
// Secondary Stands
{% for desig in
[
    'C03A',
    'V02A',
    'V03A',
    'V04A',
    'V05A',
    'V07A',
    'V08A',
    'V08C',
    'V11A',
    'V11C'
] %}
{{- data.eddl_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND_S') }}
{% endfor %}
COLOR:restrictions-D
{% for desig in
[
    'A10',
    'B02',
    'C04',
    'V02',
    'V03',
    'V05',
    'V07',
    'V12',
    'V14',
    'V16',
    'V17',
    'V19',
    'V20',
    'V22',
    'V23'
] %}
{{- data.eddl_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
{% for desig in
[
    'V12',
    'V14',
    'V16',
    'V17',
    'V19',
    'V20',
    'V22',
    'V23'
] %}
{{- data.eddl_kml['layout']['restrictions']['stands'][desig] | to_text('MAX B753:0:15') }}
{% endfor %}
// Secondary Stands
{% for desig in
[
    'V04',
    'V06'
] %}
{{- data.eddl_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND_S') }}
{% endfor %}
COLOR:restrictions-E
{% for desig in
[
    'A07',
    'B03',
    'B09',
    'C02',
    'C03',
    'C05',
    'C01',
    'C06',
    'C07',
    'V101'
] %}
{{- data.eddl_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
{% for desig in
[
    'C01',
    'C06',
    'C07',
    'V38A',
    'V39A',
    'V41A',
    'V72A',
    'V101',
    'V103A',
    'V104A',
    'V106A',
    'V107A'
] %}
{{- data.eddl_kml['layout']['restrictions']['stands'][desig] | to_text('MAX A343:0:15') }}
{% endfor %}
// Secondary Stands
{% for desig in
[
    'A05',
    'A11',
    'A12A',
    'V01',
    'V38A',
    'V39A',
    'V41A',
    'V72A',
    'V82A',
    'V91A',
    'V103A',
    'V104A',
    'V106A',
    'V107A'
] %}
{{- data.eddl_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND_S') }}
{% endfor %}
COLOR:restrictions-F
{% for desig in ['C02A'] %}
{{- data.eddl_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
{% for desig in
[
    'V08B',
    'V11B',
    'V38B'
] %}
{{- data.eddl_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND_S') }}
{% endfor %}


// Reference
COLOR:layout-label-stand
FONTSIZE:=:12
TEXTALIGN:CC
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Reference  :0:-45') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code B < 24m (CRJ2/C700):0:-30') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code C < 36m (A321/B739):0:-15') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code D < 52m (A310/B763):0:0') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code E < 65m (A343/B77W):0:15') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code F < 80m (A388/B748):0:30') }}

FONTSIZE:=:70
COLOR:restrictions-AB
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-84') }}
COLOR:restrictions-C
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-69') }}
COLOR:restrictions-D
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-54') }}
COLOR:restrictions-E
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-39') }}
COLOR:restrictions-F
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-24') }}

COLOR:layout-label-stand
FONTSIZE:=:12
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   Parallel taxiing on M and T/T1:0:-45') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   only for ACFT up to code E    :0:-30') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   Parallel taxiing on P1 and L5 :0:-15') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   only for ACFT up to code E    :0:0') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   Overtaking on L1 and L2 only  :0:15') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('   for ACFT up to A330/A343      :0:30') }}
COLOR:restrictions-C
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('1.                               :0:-45') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('2.                               :0:-15') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('3.                               :0:15') }}