// ----------------------- Restriction Checks -----------------------

MAP:Checks
AIRPORT:EDDL
FOLDER:Restrictions
COORDTYPE:TWYTYPE:NONE
ACTIVE:1

// L2
RESTRICTION:MAXCODE:E
{{ data.eddl_kml['layout']['restrictions']['poly']['L2_1a'] | to_poly('', 'red') }}
{{ data.eddl_kml['layout']['restrictions']['poly']['L2_1b'] | to_poly('', 'red') }}

// GAT
RESTRICTION:MAXCODE:B
{{ data.eddl_kml['layout']['restrictions']['poly']['GAT_a'] | to_poly('', 'red') }}
{{ data.eddl_kml['layout']['restrictions']['poly']['GAT_b'] | to_poly('', 'red') }}
{{ data.eddl_kml['layout']['restrictions']['poly']['GAT_c'] | to_poly('', 'red') }}