// ------------------------- Deicing Areas --------------------------
{% set default = 0.000005 %}
MAP:Snow 23L/05R
AIRPORT:EDDL
FOLDER:Ice/Snow
LAYER:4
RWYCLOSEDDEP:EDDL:05R,23L
RWYCLOSEDARR:EDDL:05R,23L
STYLE:Solid:2
FONTSIZE:=:14
{{ data.eddl_kml['layout']['runways']['05R-23L'] | to_coordtype('Runway 23L/05R', 'closure', 'RWYCLOSED') }}
COLOR:closure-symbol
ZOOM:600
{{ data.eddl_kml['layout']['deicing']['labels']['05R-23L'] | to_text('SNOW REMOVAL') }}


MAP:Snow 23R/05L
AIRPORT:EDDL
FOLDER:Ice/Snow
LAYER:4
RWYCLOSEDDEP:EDDL:05L,23R
RWYCLOSEDARR:EDDL:05L,23R
STYLE:Solid:2
FONTSIZE:=:14
{{ data.eddl_kml['layout']['runways']['05L-23R'] | to_coordtype('Runway 23R/05L', 'closure', 'RWYCLOSED') }}
COLOR:closure-symbol
ZOOM:600
{{ data.eddl_kml['layout']['deicing']['labels']['05L-23R'] | to_text('SNOW REMOVAL') }}


MAP:De-Icing 23L/R
AIRPORT:EDDL
FOLDER:Ice/Snow

// Areas
STYLE:Solid:1
{{ data.eddl_kml['layout']['deicing']['poly']['DP1E'] | to_coordtype('DP1E', 'layout-runway', 'OTHER', 'REGION', 'X') }}
{{ data.eddl_kml['layout']['deicing']['poly']['DP2E'] | to_coordtype('DP2E', 'layout-runway', 'OTHER', 'REGION', 'X') }}
{{ data.eddl_kml['layout']['deicing']['poly']['DP3E'] | to_coordtype('DP3E', 'layout-runway', 'OTHER', 'REGION', 'X') }}
{{ data.eddl_kml['layout']['deicing']['poly']['DP4E'] | to_coordtype('DP4E', 'layout-runway', 'OTHER', 'REGION', 'X') }}
{{ data.eddl_kml['layout']['deicing']['poly']['V11B'] | to_coordtype('V11B', 'layout-runway', 'OTHER', 'REGION', 'X') }}

// Arrows
{{ data.eddl_kml['layout']['deicing']['arrows']['DP1E'] | to_coordtype('', 'layout-taxiline-white') }}
{{ data.eddl_kml['layout']['deicing']['arrows']['DP2E'] | to_coordtype('', 'layout-taxiline-white') }}
{{ data.eddl_kml['layout']['deicing']['arrows']['DP3E'] | to_coordtype('', 'layout-taxiline-white') }}
{{ data.eddl_kml['layout']['deicing']['arrows']['DP4E'] | to_coordtype('', 'layout-taxiline-white') }}
{{ data.eddl_kml['layout']['deicing']['arrows']['V11B'] | to_coordtype('', 'layout-taxiline-white') }}

// Taxilines
COLOR:layout-taxiline-white
STYLE:Solid:2
{% for uuid in
[
    '6bc8aade-1c7c-665c-e055-0a00272b55b3',
    '6bc8aade-1d54-665c-e055-0a00272b55b3',
    '6e812470-b372-1a4b-e055-0a0027980ba7',
    '6e812470-b37b-1a4b-e055-0a0027980ba7',
    '6e812470-b37c-1a4b-e055-0a0027980ba7',
    '6e812470-b37f-1a4b-e055-0a0027980ba7',
    '6e812470-b380-1a4b-e055-0a0027980ba7',
    '6e812470-b381-1a4b-e055-0a0027980ba7',
    '6e812470-b383-1a4b-e055-0a0027980ba7',
    '6e812470-b38f-1a4b-e055-0a0027980ba7',
    '6e812470-b391-1a4b-e055-0a0027980ba7',
    '6ee65c69-2ccb-7e3c-e055-0a0027980ba7',
    '6ee65c69-2ccc-7e3c-e055-0a0027980ba7',
    '70132de0-0f8a-71c5-e055-0a0027980ba7',
    '70132de0-0f8b-71c5-e055-0a0027980ba7',
    '70132de0-0fb3-71c5-e055-0a0027980ba7',
    '702d3608-dfa2-77dd-e055-0a0027980ba7',
    '702d3608-dfa3-77dd-e055-0a0027980ba7',
    '702d3608-dfa4-77dd-e055-0a0027980ba7',
    '702d3608-dfa5-77dd-e055-0a0027980ba7',
    '702d3608-dfa6-77dd-e055-0a0027980ba7',
    '703f062c-7f4e-5209-e055-0a0027980ba7',
    '703f062c-7f4f-5209-e055-0a0027980ba7',
    '703f062c-7f50-5209-e055-0a0027980ba7',
    '703f062c-7f51-5209-e055-0a0027980ba7',
    '70b6f1b8-397b-7771-e055-0a0027980ba7',
    '70b6f1b8-397e-7771-e055-0a0027980ba7',
    '70b6f1b8-397f-7771-e055-0a0027980ba7',
] %}
{{- data.eddl_aixm['GuidanceLine'][uuid] | join_segments | simplify(default) | to_line(uuid) -}}
{% endfor %}
{{ data.eddl_kml['layout']['deicing']['line']['DP1E'] | to_line('') -}}

// Outlines
STYLE:Solid:2
COLOR:deicing
{{ data.eddl_kml['layout']['deicing']['poly']['DP1E'] | to_line('') -}}
{{ data.eddl_kml['layout']['deicing']['poly']['DP2E'] | to_line('') -}}
{{ data.eddl_kml['layout']['deicing']['poly']['DP3E'] | to_line('') -}}
{{ data.eddl_kml['layout']['deicing']['poly']['DP4E'] | to_line('') -}}
{{ data.eddl_kml['layout']['deicing']['poly']['V11B'] | to_line('') -}}

// Labels
ZOOM:600
COLOR:layout-label-stand
TEXTALIGN:LC
FONTSIZE:=:11
{{ data.eddl_kml['layout']['deicing']['labels']['DP1E'] | to_text('DP1:10:0') }}
{{ data.eddl_kml['layout']['deicing']['labels']['DP2E'] | to_text('DP2:10:0') }}
TEXTALIGN:CC
{{ data.eddl_kml['layout']['deicing']['labels']['DP3E'] | to_text('DP3:3:0') }}
{{ data.eddl_kml['layout']['deicing']['labels']['DP4E'] | to_text('DP4:3:0') }}
{{ data.eddl_kml['layout']['deicing']['labels']['V11B'] | to_text('V11B:3:0') }}

FONTSIZE:=:60
TEXTALIGN:LC
COLOR:restrictions-E
{{ data.eddl_kml['layout']['deicing']['labels']['DP1E'] | to_text('.:-14:-17') }}
COLOR:restrictions-E
{{ data.eddl_kml['layout']['deicing']['labels']['DP2E'] | to_text('.:-14:-17') }}
TEXTALIGN:CC
COLOR:restrictions-D
{{ data.eddl_kml['layout']['deicing']['labels']['DP3E'] | to_text('.:-14:-17') }}
COLOR:restrictions-C
{{ data.eddl_kml['layout']['deicing']['labels']['DP4E'] | to_text('.:-14:-17') }}
COLOR:restrictions-F
{{ data.eddl_kml['layout']['deicing']['labels']['V11B'] | to_text('.:-16:-17') }}

// Reference
COLOR:layout-label-stand
TEXTALIGN:CC
FONTSIZE:=:12
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('Reference  :0:-30') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('Code C < 36m (A321/B739):0:-15') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('Code D < 52m (A310/B763):0:0') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('Code E < 65m (A343/B77W):0:15') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('Code F < 80m (A388/B748):0:30') }}

FONTSIZE:=:70
COLOR:restrictions-C
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('.:-95:-69') }}
COLOR:restrictions-D
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('.:-95:-54') }}
COLOR:restrictions-E
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('.:-95:-39') }}
COLOR:restrictions-F
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_2'] | to_text('.:-95:-24') }}


MAP:De-Icing 05L/R
AIRPORT:EDDL
FOLDER:Ice/Snow

// Areas
STYLE:Solid:1
{{ data.eddl_kml['layout']['deicing']['poly']['DP1W'] | to_coordtype('DP1W', 'layout-runway', 'OTHER', 'REGION', 'X') }}
{{ data.eddl_kml['layout']['deicing']['poly']['DP2W'] | to_coordtype('DP2W', 'layout-runway', 'OTHER', 'REGION', 'X') }}
{{ data.eddl_kml['layout']['deicing']['poly']['DP3W'] | to_coordtype('DP3W', 'layout-runway', 'OTHER', 'REGION', 'X') }}
{{ data.eddl_kml['layout']['deicing']['poly']['DP4W'] | to_coordtype('DP4W', 'layout-runway', 'OTHER', 'REGION', 'X') }}

// Arrows
{{ data.eddl_kml['layout']['deicing']['arrows']['DP1W'] | to_coordtype('', 'layout-taxiline-white') }}
{{ data.eddl_kml['layout']['deicing']['arrows']['DP2W'] | to_coordtype('', 'layout-taxiline-white') }}
{{ data.eddl_kml['layout']['deicing']['arrows']['DP3W'] | to_coordtype('', 'layout-taxiline-white') }}
{{ data.eddl_kml['layout']['deicing']['arrows']['DP4W'] | to_coordtype('', 'layout-taxiline-white') }}

// Taxilines
COLOR:layout-taxiline-white
STYLE:Solid:2
{{ data.eddl_kml['layout']['deicing']['line']['DP1W'] | to_line('') -}}
{{ data.eddl_kml['layout']['deicing']['line']['DP2W'] | to_line('') -}}
{{ data.eddl_kml['layout']['deicing']['line']['DP3W'] | to_line('') -}}
{{ data.eddl_kml['layout']['deicing']['line']['DP4W'] | to_line('') -}}

// Outlines
STYLE:Solid:2
COLOR:deicing
{{ data.eddl_kml['layout']['deicing']['poly']['DP1W'] | to_line('') -}}
{{ data.eddl_kml['layout']['deicing']['poly']['DP2W'] | to_line('') -}}
{{ data.eddl_kml['layout']['deicing']['poly']['DP3W'] | to_line('') -}}
{{ data.eddl_kml['layout']['deicing']['poly']['DP4W'] | to_line('') -}}

// Labels
ZOOM:600
COLOR:layout-label-stand
TEXTALIGN:RC
FONTSIZE:=:11
{{ data.eddl_kml['layout']['deicing']['labels']['DP1W'] | to_text('DP1') }}
{{ data.eddl_kml['layout']['deicing']['labels']['DP2W'] | to_text('DP2') }}
{{ data.eddl_kml['layout']['deicing']['labels']['DP3W'] | to_text('DP3') }}
{{ data.eddl_kml['layout']['deicing']['labels']['DP4W'] | to_text('DP4') }}
FONTSIZE:=:60
COLOR:restrictions-E
{{ data.eddl_kml['layout']['deicing']['labels']['DP1W'] | to_text('.:-9:-45') }}
COLOR:restrictions-C
{{ data.eddl_kml['layout']['deicing']['labels']['DP2W'] | to_text('.:-9:-45') }}
COLOR:restrictions-F
{{ data.eddl_kml['layout']['deicing']['labels']['DP3W'] | to_text('.:-9:-45') }}
COLOR:restrictions-E
{{ data.eddl_kml['layout']['deicing']['labels']['DP4W'] | to_text('.:-9:-45') }}

// Reference
COLOR:layout-label-stand
TEXTALIGN:CC
FONTSIZE:=:12
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Reference  :0:-30') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code C < 36m (A321/B739):0:-15') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code D < 52m (A310/B763):0:0') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code E < 65m (A343/B77W):0:15') }}
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('Code F < 80m (A388/B748):0:30') }}

FONTSIZE:=:70
COLOR:restrictions-C
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-69') }}
COLOR:restrictions-D
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-54') }}
COLOR:restrictions-E
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-39') }}
COLOR:restrictions-F
{{ data.eddl_kml['layout']['restrictions']['labels']['reference_1'] | to_text('.:-95:-24') }}