// ----------------------------- Labels -----------------------------
MAP:Taxiways
AIRPORT:EDDL
FOLDER:Labels
ACTIVE:1
ZOOM:400
{% for uuid, geom in data.eddl_kml['layout']['labels']['buffer_a'].items() %}
{{- geom | to_poly('', 'layout-taxiway') }}
{% endfor %}
{% for uuid, geom in data.eddl_kml['layout']['labels']['buffer_b'].items() %}
{{- geom | to_poly('', 'layout-apron') }}
{% endfor %}
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for desig, geom in data.eddl_kml['layout']['labels']['taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Checkpoint 1
AIRPORT:EDDL
FOLDER:Labels
ACTIVE:1
ZOOM:800
FONTSIZE:=:9
COLOR:layout-holdingpoint
TEXTALIGN:CC
{{ data.eddl_kml['layout']['labels']['stopbars']['CP1'] | to_text('Check:0:-9') }}
{{ data.eddl_kml['layout']['labels']['stopbars']['CP1'] | to_text(' point 1') }}

MAP:Checkpoint 2
AIRPORT:EDDL
FOLDER:Labels
ZOOM:800
FONTSIZE:=:9
COLOR:layout-holdingpoint
TEXTALIGN:LC
{{ data.eddl_kml['layout']['labels']['stopbars']['CP2'] | to_text('Check:0:-9') }}
{{ data.eddl_kml['layout']['labels']['stopbars']['CP2'] | to_text('point 2') }}

MAP:Areas
AIRPORT:EDDL
FOLDER:Labels
ACTIVE:1
ZOOM:400
FONTSIZE:=:9
COLOR:layout-label-stand
{{ data.eddl_kml['layout']['labels']['GAT'] | to_text('GAT') }}
{{ data.eddl_kml['layout']['labels']['Police'] | to_text('Police') }}