// ----------------------------- Labels -----------------------------
{%- set stands_sec = [
    'A05',
    'A11',
    'A12A',
    'B05',
    'B07',
    'C02A',
    'C03A',
    'V04',
    'V06',
    'V38A',
    'V38B',
    'V39A',
    'V41A',
    'V61A',
    'V72A',
    'V82A',
    'V91A',
    'V103A',
    'V104A',
    'V106A',
    'V107A',
    'V01',
    'V02A',
    'V03A',
    'V04A',
    'V05A',
    'V07A',
    'V08A',
    'V08B',
    'V08C',
    'V11A',
    'V11B',
    'V11C',
] %}
{%- set stands_old = [
    'V11A',
    'V11B',
    'V11C',
    'V12',
    'V14',
    'V16',
    'V17',
    'V19',
    'V20',
    'V22',
    'V23',
    'V24',
    'V25',
    'V26',
    'V27',
    'V28',
    'V29',
    'V39A',
    'V41A',
    'V49',
    'V51',
] %}

MAP:Buffer EDDL
AIRPORT:EDDL
FOLDER:Labels
HIDDEN
LAYER:3
ZOOM:400
{% for uuid, geom in data.eddl_kml['layout']['labels']['buffer_a'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}
{% for uuid, geom in data.eddl_kml['layout']['labels']['buffer_b'].items() %}
{{- geom | to_coordtype('', 'layout-apron') }}
{% endfor %}

MAP:Taxiways
AIRPORT:EDDL
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer EDDL
LAYER:6
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-yellow
{% for desig, geom in data.eddl_kml['layout']['labels']['taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Stands
AIRPORT:EDDL
FOLDER:Labels
ACTIVE:1
OTHER_MAP_ACT:=:Labels\Areas
LAYER:6
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-yellow
{% for desig, geom in data.eddl_kml['layout']['labels']['stands'].items() if not desig in stands_sec %}
{{- geom | to_text(desig) }}
{% endfor %}

// New Stands
COLOR:closure-symbol
{% for desig in
[
    'V12',
    'V13',
    'V14',
    'V15',
    'V16',
    'V17',
    'V18',
    'V19',
    'V20',
    'V21',
    'V22',
    'V23',
    'V24',
] %}
{{- data.eddl_kml['layout']['labels']['stands_new'][desig] | to_text('(' + desig + '):0:-10') }}
{% endfor %}
{{ data.eddl_kml['layout']['labels']['stands_new']['V48'] | to_text('(V48):0:10') }}
{{ data.eddl_kml['layout']['labels']['stands_new']['V49'] | to_text('(V49):0:10') }}

// Strikethrough
COLOR:closure-symbol
FONTSTYLE:700:0:0:0
{% for desig, geom in data.eddl_kml['layout']['labels']['stands'].items() if (desig in stands_old) and (not desig in stands_sec) %}
{{- geom | to_text('___:0:-4') }}
{% endfor %}
FONTSTYLE:0

ZOOM:1200
COLOR:layout-label-yellow
{% for desig in
[
    'A05',
    'A11',
    'A12A',
    'B05',
    'B07',
    'C02A',
    'C03A',
    'V01',
    'V02A',
    'V03A',
    'V04',
    'V04A',
    'V05A',
    'V06',
    'V07A',
    'V08A',
    'V08B',
    'V08C',
    'V11A',
    'V11B',
    'V11C',
    'V38A',
    'V38B',
    'V39A',
    'V41A',
    'V61A',
    'V72A',
    'V82A',
    'V91A',
    'V103A',
    'V104A',
    'V106A',
    'V107A'
] %}
{{- data.eddl_kml['layout']['labels']['stands'][desig] | to_text(desig) }}
{% endfor %}
COLOR:closure-symbol
{{ data.eddl_kml['layout']['labels']['stands_new']['V10'] | to_text('(V10) :15:-10') }}
{{ data.eddl_kml['layout']['labels']['stands_new']['V10A'] | to_text('(V10A):27:0') }}
{{ data.eddl_kml['layout']['labels']['stands_new']['V11'] | to_text('(V11) :15:10') }}
{{ data.eddl_kml['layout']['labels']['stands_new']['V11A'] | to_text('(V11A):0:-10') }}
{{ data.eddl_kml['layout']['labels']['stands_new']['V12A'] | to_text('(V12A):0:-10') }}
{{ data.eddl_kml['layout']['labels']['stands_new']['V40A'] | to_text('(V40A):0:10') }}
{{ data.eddl_kml['layout']['labels']['stands_new']['V42A'] | to_text('(V42A):0:10') }}

// Strikethrough
COLOR:closure-symbol
FONTSTYLE:700:0:0:0
{% for desig, geom in data.eddl_kml['layout']['labels']['stands'].items() if (desig in stands_old) and (desig in stands_sec) %}
{{- geom | to_text('____:0:-4') }}
{% endfor %}
FONTSTYLE:0

MAP:Areas
AIRPORT:EDDL
FOLDER:Labels
ACTIVE:1
LAYER:6
ZOOM:400
FONTSIZE:=:9
COLOR:layout-label-stand
{{ data.eddl_kml['layout']['labels']['GAT'] | to_text('GAT') }}
{{ data.eddl_kml['layout']['labels']['Police'] | to_text('Police') }}

MAP:Checkpoints
AIRPORT:EDDL
FOLDER:Labels
ACTIVE:1
LAYER:6
ZOOM:800
FONTSIZE:=:10
COLOR:layout-holdingpoint
TEXTALIGN:CC
{{ data.eddl_kml['layout']['labels']['stopbars']['CP1'] | to_text('Check-:0:-10') }}
{{ data.eddl_kml['layout']['labels']['stopbars']['CP1'] | to_text('point 1') }}
{{ data.eddl_kml['layout']['labels']['stopbars']['CP2'] | to_text('Check-:10:-10') }}
{{ data.eddl_kml['layout']['labels']['stopbars']['CP2'] | to_text('point 2:10:0') }}

MAP:Buildings
AIRPORT:EDDL
FOLDER:Labels
ZOOM:400
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.eddl_kml['layout']['labels']['buildings'].items() if not desig in
[
    'Fire station',
    'Hangar 9',
    'Photo-voltaic',
] %}
{{- geom | to_text(desig) }}
{% endfor %}
{{ data.eddl_kml['layout']['labels']['buildings']['Fire station'] | to_text('Fire:0:-6') }}
{{ data.eddl_kml['layout']['labels']['buildings']['Fire station'] | to_text('station:0:6') }}
{{ data.eddl_kml['layout']['labels']['buildings']['Condor Technik'] | to_text('7:0:12') }}
{{ data.eddl_kml['layout']['labels']['buildings']['Nayak'] | to_text('8:0:12') }}
{{ data.eddl_kml['layout']['labels']['buildings']['Hangar 9'] | to_text('Noise:0:-12') }}
{{ data.eddl_kml['layout']['labels']['buildings']['Hangar 9'] | to_text('protection') }}
{{ data.eddl_kml['layout']['labels']['buildings']['Hangar 9'] | to_text('hangar:0:12') }}
{{ data.eddl_kml['layout']['labels']['buildings']['Hangar 9'] | to_text('9:0:24') }}
{{ data.eddl_kml['layout']['labels']['Police'] | to_text('10:0:12') }}
{{ data.eddl_kml['layout']['labels']['buildings']['Photo-voltaic'] | to_text('Photo-voltaic:0:-6') }}
{{ data.eddl_kml['layout']['labels']['buildings']['Photo-voltaic'] | to_text('facility:0:6') }}