// ------------------------- NOTAM Closures -------------------------

MAP:NOTAM A3920/24 - TWY P4
AIRPORT:EDDL
FOLDER:Construction
ACTIVE:1
BLOCKS:EDDL:B05,B06,B07,B08,V61A
LIMITS:EDDL:B04:C
{{ data.notam['notam']['EDDL']['Apron'] | to_poly('Apron','layout-apron') }}
{{ data.notam['notam']['EDDL']['Taxiway'] | to_poly('Taxiway','layout-taxiway') }}
STYLE:Solid:2
COORDTYPE:TWYCLOSED:POLYGON
{{ data.notam['notam']['EDDL']['P4'] | to_poly('P4','closure') }}
