//---------------------------------------------------------------
//                         Airspace Info
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\040-info\040-ctr-holdings.jinja
#}
{%- set holdings = {
    "DKB":   { "inbd": "128", "turn": "L", "lvllo": "A50", "lvlup": "270", "symb": "VOR"  },
    "KISEK": { "inbd": "003", "turn": "R", "lvllo": "A65", "lvlup": null,  "symb": "FIX1" },
    "NIMDI": { "inbd": "276", "turn": "R", "lvllo": "A50", "lvlup": null,  "symb": "FIX1" },
} %}

MAP:Holdings
FOLDER:Airspace Info
COLOR:holding
LAYER:4
STYLE:Solid:1
TEXTALIGN:LB
FONTSIZE:=:11
{% for desig, hold in holdings.items() %}
// {{desig}}
COORD_HM:{{desig}}:{{hold.inbd}}M:{{hold.turn}}:1.5MIN:290KTS:10
COORDPOLY:0
SYMBOL:{{hold.symb}}:{{desig}}:{{desig}}:10:0
TEXT:{{desig}}:{{hold.turn}} {{hold.inbd}}:10:13
{%- if hold.lvlup == null %}
TEXT:{{desig}}:{{hold.lvllo}}:10:26
{%- else %}
TEXT:{{desig}}:{{hold.lvllo}}-{{hold.lvlup}}:10:26
{%- endif %}
{% endfor %}