//---------------------------------------------------------------
//                        Tactical Directs
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDGG-MAPS\040-info\043-tactical-directs.jinja
#}
{%- set EDGG = data.sectors['lines']['EDGG'] %}
{%- set EDMM = data.sectors['lines']['EDMM'] %}
{%- set EDWW = data.sectors['lines']['EDWW'] %}
{%- set EHAA = data.sectors['lines']['EHAA'] %}
{%- set EBBU = data.sectors['lines']['EBBU'] %}
{%- set EXT_EBBU = data.sectors_ext['lines']['EBBU'] %}

{%- set eduu_origin_arcs = {
    "AKANU": (281, 313),
    "ARPEG": (131, 139),
    "BUB":   (103, 120),
    "DENUT": (108, 120),
    "IDOSA": ( 59, 127),
    "DUDCA": (181, 204),
    "EKERN": (177, 187),
    "NORTA": (173, 217),
    "UMDAS": (120, 159),
    "XERUM": (300, 326),
} %}

MAP:Tactical Directs
FOLDER:Airspace Info
LAYER:2

// Origin Arcs
COLOR:ORANGE
STYLE:NULL
{%- for fx, range in eduu_origin_arcs.items() %}
COORD:{{fx}}
COORD_AF:{{fx}}:20:10:{{range[0]}}M:>:{{range[1]}}M
COORDPOLY:25
{%- endfor %}

// IDOSA Routings
COLOR:Active_Map_Type_2
STYLE:SOLID:1
LINE:IDOSA:BETEX
LINE:IDOSA:LIMGO
LINE:IDOSA:NOSPA

// Waypoints
COLOR:BLUE
FONTSIZE:0
// EDUU W/C
{#- Excluded: BOMBI, COSJE, DINKU, GIGET, HAREM, MASEK, OMOGI, OSBIT, RUDUS, SOGMI, TEKTU, TESGA, TIKNI #}
SYMBOL/RB:FIX3:ADKUV:ADKUV:-5:0
SYMBOL/RB:FIX3:ARPEG:ARPEG:-5:-11
SYMBOL/LB:FIX3:BATUB:BATUB:5:0
SYMBOL/LB:FIX3:ELMOX:ELMOX:5:0
SYMBOL/RB:FIX3:IBGES:IBGES:-5:0
SYMBOL/LB:FIX3:IDOVI:IDOVI:5:0
SYMBOL/RB:FIX3:KRH:KRH:-5:0
SYMBOL/RT:FIX3:LAMGO:LAMGO:-5:0
SYMBOL/RB:FIX3:LIRSU:LIRSU:-5:0
SYMBOL/RT:FIX3:ROLIS:ROLIS:-5:0
SYMBOL/LB:FIX3:TEDGO:TEDGO:5:0
SYMBOL/RC:FIX3:TIVUN:TIVUN:-7:0
SYMBOL/RB:FIX3:UMDAS:UMDAS:-5:0
SYMBOL/RT:FIX3:UMUPU:UMUPU:-5:0

// EDUU E
SYMBOL/LB:FIX3:AKANU:AKANU:5:0
SYMBOL/LB:FIX3:BESNI:BESNI:5:0
SYMBOL/LC:FIX3:ENITA:ENITA:7:0
SYMBOL/LB:FIX3:IRBIR:IRBIR:5:0
SYMBOL/LB:FIX3:LASTO:LASTO:5:0
SYMBOL/LB:FIX3:LATLO:LATLO:5:0
SYMBOL/LB:FIX3:OKG:OKG:5:0
SYMBOL/LT:FIX3:RADIZ:RADIZ:5:0
SYMBOL/LB:FIX3:RUDAP:RUDAP:5:0
SYMBOL/LB:FIX3:SUBIX:SUBIX:5:0
SYMBOL/LB:FIX3:TAMEB:TAMEB:5:0
SYMBOL/LB:FIX3:TONSU:TONSU:5:0
SYMBOL/LB:FIX3:VEMUT:VEMUT:5:0
SYMBOL/LB:FIX3:XERUM:XERUM:5:0

// EDYY
SYMBOL/LB:FIX3:ABNED:ABNED:5:0
SYMBOL/RB:FIX3:BUB:BUB:-5:0
SYMBOL/RB:FIX3:COA:COA:-5:0
SYMBOL/RT:FIX3:DENUT:DENUT:-5:0
SYMBOL/LB:FIX3:DUDCA:DUDCA:5:0
SYMBOL/LB:FIX3:EKERN:EKERN:5:0
SYMBOL/LB:FIX3:GALSO:GALSO:5:0
SYMBOL/LB:FIX3:HMM:HMM:5:0
SYMBOL/RB:FIX3:IDOSA:IDOSA:-5:0
SYMBOL/LB:FIX3:KOZUF:KOZUF:5:0
SYMBOL/LB:FIX3:MIMVA:MIMVA:5:0
SYMBOL/LB:FIX3:NOGRO:NOGRO:5:0
SYMBOL/LB:FIX3:NORKU:NORKU:5:0
SYMBOL/LB:FIX3:NORTA:NORTA:5:0
SYMBOL/LB:FIX3:RAVLO:RAVLO:5:0
SYMBOL/LB:FIX3:RAVLO:RAVLO:5:0
SYMBOL/RB:FIX3:RKN:RKN:-5:0
SYMBOL/LB:FIX3:SPY:SPY:5:0
SYMBOL/LB:FIX3:TORNU:TORNU:5:0

// LSAS
SYMBOL/LB:FIX3:DITON:DITON:5:0
SYMBOL/RB:FIX3:LUTIX:LUTIX:-5:0
SYMBOL/LB:FIX3:ROTOS:ROTOS:5:0
SYMBOL/LB:FIX3:TRA:TRA:5:0

// Reference Waypoints
COLOR:Active_Map_Type_2
FONTSIZE:=:10
SYMBOL/LB:FIX2:BERXO:BERXO:3:0
SYMBOL/CT:FIX2:BETEX:BETEX:0:3
SYMBOL/LB:FIX2:DINKU:DINKU:3:0
SYMBOL/RB:FIX2:GEBNO:GEBNO:-3:0
SYMBOL/LB:FIX2:KOVAN:KOVAN:3:0
SYMBOL/CT:FIX2:LIMGO:LIMGO:0:3
SYMBOL/LB:FIX2:LOHRE:LOHRE:3:0
SYMBOL/LB:FIX2:NOSPA:NOSPA:3:0

// Notes
COLOR:BLUE
FONTSIZE:=:10
TEXT/LB:AKANU:btw. GEBNO & DINKU:5:11
TEXT/RB:ARPEG:north of LOHRE:-5:0
TEXT/RB:BUB:btw. ADKUV & NOSPA:-5:11
TEXT/RB:BUB:not DEP EDDF, EDFx:-5:22
TEXT/RT:DENUT:btw. ADKUV & NOSPA:-5:13
TEXT/RT:DENUT:not DEP EDDF, EDFx:-5:24
TEXT/LB:DUDCA:via/west of BERXO:5:11
TEXT/LB:DUDCA:not DEST EDDV:5:22
TEXT/LB:EKERN:via/west of BERXO:5:11
TEXT/LB:ELMOX:DEST EDDM:5:11
TEXT/RB:IBGES:DEST ELLX:-5:11
TEXT/RB:IDOSA:only for RTE via:-5:11
TEXT/RB:IDOSA:NOSPA, BETEX, LIMGO:-5:22
TEXT/LB:IDOVI:DEST EBxx:5:11
TEXT/RB:KRH:DEST LFSB:-5:11
TEXT/RT:LAMGO:DEST LSZH, LSAZ,:-5:13
TEXT/RT:LAMGO:EDNY, LSMD:-5:24
TEXT/LB:NORTA:via/west of BERXO:5:11
TEXT/LB:NORTA:not DEST EDDV:5:22
TEXT/RT:ROLIS:DEST EHEH:-5:13
TEXT/LB:RUDAP:DEST LKPR:5:11
TEXT/LB:TONSU:DEST LKPR:5:11
TEXT/RB:UMDAS:DEST EDDK:-5:11
TEXT/RB:UMDAS:north of KOVAN:-5:22
TEXT/LB:XERUM:btw. GEBNO & DINKU:5:11

// EBG West and Central
COLOR:BLUE
TEXTALIGN:CC
FONTSIZE:=:15
FONTSTYLE:700:0:0:0
STYLE:SOLID:2
{#- ========= Super complex shenanigans to create EDUU Outline ========= #}
{%- set EDUU = 
    EDGG['FFM44']['375-660'] +
    EDGG['FUL33']['375-660'] +
    EDGG['NTM44']['375-660'] +
    EDGG['SLN33']['375-660'] +
    EDGG['TGO33']['375-660'] +
    EDGG['WUR44']['375-660']
%}
{#- 
    Extract duplicate (inner) and unique
    sectorlines from the set of sectors
#}
{%- set EDUU_unique = [] %}
{%- set EDUU_inner = [] %}

{%- for line in EDUU %}
{%- if line in EDUU_unique %}
{%- set EDUU_inner = EDUU_inner.append(line) %}
{%- else %}
{%- set EDUU_unique = EDUU_unique.append(line) %}
{%- endif %}
{%- endfor %}

{%- set EDUU_outer = sector_sub(EDUU_unique, EDUU_inner) %}
{{ render_sectorlines(EDUU_outer) }}
STYLE:DASHED:2
{%- set EDUU_west =
    EDGG['NTM44']['375-660'] +
    EDGG['SLN33']['375-660'] +
    EDGG['TGO33']['375-660']
%}
{%- set EDUU_central =
    EDGG['FFM44']['375-660'] +
    EDGG['FUL33']['375-660'] +
    EDGG['WUR44']['375-660']
%}
{{ render_sectorlines(sector_and(EDUU_west, EDUU_central)) }}
TEXT:N049.53.05.500:E008.40.25.000:All waypoints within respective EBG (West/Central)
TEXT:N049.53.05.500:E008.40.25.000:without changing sector sequence approved:0:20

// ERL
STYLE:DASHED:2
{{ render_sectorlines(EDMM['EDUUERL44']['375-660']) }}
TEXT:N050.10.37.500:E011.21.29.000:Any Waypoint
TEXT:N050.10.37.500:E011.21.29.000:within ERL from WUR:0:20