//---------------------------------------------------------------
//                             Fixes
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * GRP-PHOENIX-MAPS\8000-app-window\8000-vrp.jinja
     * TOPSKY-EDGG-MAPS\721-vrp.jinja
#}
{%- set vrp_table = data.topsky_gpkg['VisualReportingPoint'] %}

MAP:VRPs
FOLDER:Fixes
ASRDATA:PHOENIX
COLOR:Active_Map_Type_1
ACTIVE:1
{%- for _, vrp in vrp_table.items() if vrp.properties['type'] == 'CIV' %}
SYMBOL:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}
{%- endfor %}

MAP:VRPs w/ L
FOLDER:Fixes
ASRDATA:PHOENIX
COLOR:Active_Map_Type_1
{%- for _, vrp in vrp_table.items() if vrp.properties['type'] == 'CIV' %}
{%- if vrp.properties["text_align"] == 'RB' %}
SYMBOL/RB:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}:{{vrp.properties['name']}}:-5:0
{%- else %}
SYMBOL/LB:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}:{{vrp.properties['name']}}:5:0
{%- endif%}
{%- endfor %}

MAP:MIL VRPs
FOLDER:Fixes
ASRDATA:PHOENIX
COLOR:Active_Map_Type_1
ACTIVE:1
{%- for _, vrp in vrp_table.items() if vrp.properties['type'] == 'MIL' %}
SYMBOL:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}
{%- endfor %}

MAP:MIL VRPs w/ L
FOLDER:Fixes
ASRDATA:PHOENIX
COLOR:Active_Map_Type_1
TEXTALIGN:LB
{%- for _, vrp in vrp_table.items() if vrp.properties['type'] == 'MIL' %}
{%- if vrp.properties["text_align"] == 'RB' %}
SYMBOL/RB:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}:{{vrp.properties['name']}}:-5:0
{%- else %}
SYMBOL/LB:{{vrp.properties['symb']}}:{{vrp.properties['desig']}}:{{vrp.properties['name']}}:5:0
{%- endif%}
{%- endfor %}