//---------------------------------------------------------------
//                             Fixes
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * GRP-PHOENIX-MAPS\8000-app-window\8000-vrp.jinja
     * TOPSKY-EDGG-MAPS\721-vrp.jinja
#}

MAP:VRPs
FOLDER:Fixes
ASRDATA:PHOENIX
COLOR:standard
ACTIVE:1
{%- for icao, fxnames in data.reporting_points['VFR'].items() %}
// {{icao}}
{%- for fx in fxnames %}
SYMBOL:VFR:{{icao | replace('ED', '')}}-{{fx['name']}}
{%- endfor %}
{%- endfor %}

MAP:VRPs w/ L
FOLDER:Fixes
ASRDATA:PHOENIX
COLOR:standard
TEXTALIGN:LB
{%- for icao, fxnames in data.reporting_points['VFR'].items() %}
// {{icao}}
{%- for fx in fxnames %}
SYMBOL:VFR:{{icao | replace('ED', '')}}-{{fx['name']}}:{{fx['name']}}:5:0
{%- endfor %}
{%- endfor %}

MAP:MIL VRPs
FOLDER:Fixes
ASRDATA:PHOENIX
COLOR:standard
ACTIVE:1
{%- for icao, fxnames in data.reporting_points['MIL'].items() %}
// {{icao}}
{%- for fx in fxnames if fx['default_vis'] == true %}
SYMBOL:VFR:{{fx['fix']}}
{%- endfor %}
{%- endfor %}

MAP:MIL VRPs w/ L
FOLDER:Fixes
ASRDATA:PHOENIX
COLOR:standard
TEXTALIGN:LB
{%- for icao, fxnames in data.reporting_points['MIL'].items() %}
// {{icao}}
{%- for fx in fxnames %}
{%- if fx["text_align"] == 'RB' %}
SYMBOL/{{fx["text_align"]}}:VFR:{{fx['fix']}}:{{fx['name']}}:-5:0
{%- else %}
SYMBOL:VFR:{{fx['fix']}}:{{fx['name']}}:5:0
{%- endif%}
{%- endfor %}
{%- endfor %}