//---------------------------------------------------------------
//                        EDDL - Dusseldorf
//---------------------------------------------------------------
{%- set EDGG = data.sectors['lines']['EDGG'] %}
{%- set EDWW = data.sectors['lines']['EDWW'] %}
{%- set EHAA = data.sectors['lines']['EHAA'] %}
{%- set EBBU = data.sectors['lines']['EBBU'] %}
{%- set EXT = data.sectors_ext['lines'] %}

//------------------------- Dusseldorf TMA ----------------------

MAP:EDGG DUS/BOT
FOLDER:Sectors
ASRDATA:EDDL
ACTIVE:1
COLOR:standard
STYLE:Solid:1
// BOT/DUS + DKA/NOR
// It's easier not to draw DKA sector itself, but only its bordering sectors
{{ render_sectorlines(
        EDGG['BOT2']['000-205'],
        EDGG['BOT3']['030-195'],
        EDGG['BOT4']['015-195'],
        EDGG['BOT5']['000-105'],
        sector_and(
            EDGG['BOT1']['000-245'],
            EHAA['EHBK TMA1']['015-095']
            ),
        sector_and(
            EDGG['BOT1']['000-245'],
            EDGG['HMM1']['000-245']
            ),
        sector_and(
            EDGG['BOT7']['155-245'],
            EDGG['HMM1']['000-245']
            ),
        sector_and(
            EDGG['DUS5']['000-245'],
            EDGG['DKA1']['000-145']
            ),    
        EDGG['DUS6']['105-245'],

        EDGG['PADL4']['000-065'],

        EDGG['NOR2']['155-245'],
        EDGG['NOR5']['245-265'],
        sector_sub(
            EDGG['NOR4']['205-245'],
            EDGG['NOR5']['245-265']
            ),
        EDGG['NOR7']['195-245'],
        EDGG['NOR8']['245-255'],       
    ) }}
// HMM/PADL/PADH
{{ render_sectorlines(
        EDGG['HMM1']['000-245'],
        EDGG['HMM2']['000-205'],
        EDGG['HMM3']['075-245'],
        EDGG['HMM4']['000-105'],
        EDGG['HMM5']['000-105'],
        EDGG['HMM6']['135-245'],

        EDGG['PADH1']['135-245'],
        sector_sub(
            EDGG['PADH2']['115-245'],
            EDGG['PADH1']['135-245']
            ),
        EDGG['PADL5']['000-075'],
        sector_sub(
            EDGG['PADL7']['075-135'],
            EDGG['PADH1']['135-245']
            ),
    ) }}
// TAU/SIG/GIN
{{ render_sectorlines(
        EDGG['TAU3']['075-225'],
        sector_and(
            EDGG['SIG4']['145-245'],
            EDGG['TAU2']['145-245']
            ),
        sector_and(
            EDGG['NOR3']['145-245'],
            EDGG['TAU2']['145-245']
            ),
        sector_sub(
            EDGG['TAU1']['000-245'],
            EDGG['TAU5']['135-245']
            ),
        sector_sub(
            EDGG['TAU6']['000-205'],
            EDGG['NOR4']['205-245']
            ),
        
        EDGG['SIG1']['000-245'],
        EDGG['SIG3']['135-245'],
        sector_and(
            EDGG['SIG5']['175-245'],
            EDGG['GIN1']['000-245']
            ),
        sector_and(
            EDGG['GIN1']['000-245'],
            EDGG['GIN2']['195-245']
            ),
        sector_and(
            EDGG['GIN1']['000-245'],
            EDGG['HEF1']['000-245']
            ),
    ) }}
// RUD/EIF
{{ render_sectorlines(
        sector_sub(
            EDGG['RUD5']['165-245'],
            EDGG['KIR3']['165-245']
            ),
    ) }}
// HRZ/EMS
{{ render_sectorlines(
        sector_and(
            EDGG['GIN1']['000-245'],
            EDWW['EDWWHRZ1']['000-245']
            ),
        sector_and(
            EDGG['GIN2']['195-245'],
            EDWW['EDWWHRZ1']['000-245']
            ),
        sector_and(
            EDGG['HEF1']['000-245'],
            EDWW['EDWWHRZ1']['000-245']
            ),
        sector_and(
            EDWW['EDWWEMS2']['105-245'],
            EDWW['EDWWHRZ2']['105-245']
            ),
    ) }}
// EHAA ACC
{{ render_sectorlines(
        sector_and(
            EHAA['EHMC TMA C']['095-245'],
            EDWW['EDWWEMS1']['000-245']
            ),
        sector_and(
            EHAA['EHMC TMA C']['095-245'],
            EDWW['EDWWEMS2']['105-245']
            ),
        sector_and(
            EHAA['EHMC TMA C']['095-245'],
            EHAA['EHAA CTA E2']['095-245']
            ),
        EHAA['EHMC TMA D']['015-245'],
        EHAA['EHMC TMA D 2']['015-095'],
        EHAA['EHBK TMA1']['015-095'],
    ) }}
// EHAA CTA E1
LINE:N052.00.04.000:E005.31.16.000:N051.58.55.000:E005.17.42.000
LINE:N051.58.55.000:E005.17.42.000:N051.57.45.520:E005.15.17.150
LINE:N051.57.45.520:E005.15.17.150:N052.03.23.270:E005.09.40.090
LINE:N052.03.23.270:E005.09.40.090:N052.09.59.210:E005.13.55.140
LINE:N052.09.59.210:E005.13.55.140:N052.11.45.000:E005.04.24.000
LINE:N052.11.45.000:E005.04.24.000:N052.10.51.300:E005.00.00.000
LINE:N052.10.51.300:E005.00.00.000:N052.11.41.400:E004.47.24.263
LINE:N052.11.41.400:E004.47.24.263:N052.11.56.460:E004.43.33.800
// EBBU ACC
{{ render_sectorlines(
        EXT['EBBU']['EBLG TMA1']['000-055'],
        EXT['EBBU']['EBLG TMA3-4-5']['000-055'],
        EXT['EBBU']['EBBU ELS1']['045-055'],
        EXT['EBBU']['EBBU EHS']['195-245'],
    ) }}
