//------------------------- Airspace Info -----------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * GRP-PHOENIX-MAPS\8000-app-window\8041-aerodromes.jinja
     * TOPSKY-EDGG-MAPS\741-aerodromes.jinja
     * TOPSKY-PHOENIX-MAPS\522-aerodromes.jinja
#}
{%- set idl = {
    "EDGG": [
        'EDKL',
        'EDKN',
        'EDKZ',
        'EDKF',
        'EDKH',
        'EDKP',
        'EDKU',
        'EDKR',
        'EDGQ',
        'EDKD',
        'EDKS',
        'EDKW',
        'EDKM',
        'EDKO',
        'EDLR',
        'EDLZ',
        'EDLA',
        'EDLE',
        'EDLF',
        'EDLK',
        'EDLC',
        'EDLD',
        'EDLX',
        'EDLG',
        'EDLY',
        'EDLS',
        'EDLB',
        'EDLM',
        'EDLT',
        'EDLH',
        'EDLU',
        'EDLI',
        'EDLO',
    ],
    "EHAA": [
        'EHTW',
        'EHVK',
        'EHEH',
        'EHBD',
        'EHBK',
    ]
} %}

MAP:ADs IDL Area
FOLDER:EDDL
ACTIVE:1
ASRDATA:EDDL,EDDK
COLOR:standard
ZOOM:8
{%- for ad in idl['EDGG'] %}
SYMBOL:AD:{{ ad }}
{%- endfor %}
{%- for ad in idl['EHAA'] %}
SYMBOL:AD:{{ ad }}
{%- endfor %}