// ******************************* RRS ******************************
MAP:RRS 06
AIRPORT:EDLP
FOLDER:Runway Info
ACTIVE:RWY:ARR:EDLP06:DEP:*
ZOOM:300
{{ data.edlp_layout['layout']['RRS']['06'][''] | to_poly('RRS 06','rrs_marker') }}

MAP:RRS 24
AIRPORT:EDLP
FOLDER:Runway Info
ACTIVE:RWY:ARR:EDLP24:DEP:*
ZOOM:300
{{ data.edlp_layout['layout']['RRS']['24'][''] | to_poly('RRS 24','rrs_marker') }}