MAP:EDDL ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDDL23R:DEP:*
ACTIVE:RWY:ARR:EDDL23L:DEP:*
ACTIVE:RWY:ARR:EDDL05R:DEP:*
ACTIVE:RWY:ARR:EDDL05L:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDL23R
ACTIVE:RWY:ARR:*:DEP:EDDL23L
ACTIVE:RWY:ARR:*:DEP:EDDL05R
ACTIVE:RWY:ARR:*:DEP:EDDL05L
{{ data.rawdata['extended_centerline/eddl_ecl.txt'] }}