MAP:EDDK ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDDK13R:DEP:*
ACTIVE:RWY:ARR:EDDK13L:DEP:*
ACTIVE:RWY:ARR:EDDK31R:DEP:*
ACTIVE:RWY:ARR:EDDK31L:DEP:*
ACTIVE:RWY:ARR:EDDK06:DEP:*
ACTIVE:RWY:ARR:EDDK24:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDK13R
ACTIVE:RWY:ARR:*:DEP:EDDK13L
ACTIVE:RWY:ARR:*:DEP:EDDK31R
ACTIVE:RWY:ARR:*:DEP:EDDK31L
ACTIVE:RWY:ARR:*:DEP:EDDK06
ACTIVE:RWY:ARR:*:DEP:EDDK24
{{ data.rawdata['extended_centerline/eddk/eddk_ecl_default.txt'] }}

MAP:EDDK ECL 13R
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:*:DEP:EDDK13R
{{ data.rawdata['extended_centerline/eddk/eddk_ecl_13r.txt'] }}

MAP:EDDK ECL 31L
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:*:DEP:EDDK31L
{{ data.rawdata['extended_centerline/eddk/eddk_ecl_31l.txt'] }}