MAP:ETOU ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDDF25:DEP:*
ACTIVE:RWY:ARR:EDDF07:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF25
ACTIVE:RWY:ARR:*:DEP:EDDF07
{{ data.rawdata['extended_centerline/etou_ecl.txt'] }}

MAP:ETAD ECL
COLOR:DFSGrey
STYLE:SOLID:1
ACTIVE:RWY:ARR:ETAD04:DEP:*
ACTIVE:RWY:ARR:ETAD22:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETAD04
ACTIVE:RWY:ARR:*:DEP:ETAD22
{{ data.rawdata['extended_centerline/etad_ecl.txt'] }}

MAP:ETAR ECL
COLOR:DFSGrey
STYLE:SOLID:1
ACTIVE:RWY:ARR:ETAR08:DEP:*
ACTIVE:RWY:ARR:ETAR09:DEP:*
ACTIVE:RWY:ARR:ETAR26:DEP:*
ACTIVE:RWY:ARR:ETAR27:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETAR08
ACTIVE:RWY:ARR:*:DEP:ETAR09
ACTIVE:RWY:ARR:*:DEP:ETAR26
ACTIVE:RWY:ARR:*:DEP:ETAR27
{{ data.rawdata['extended_centerline/etar_ecl.txt'] }}

MAP:ETNN ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:ETNN24:DEP:*
ACTIVE:RWY:ARR:ETNN06:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETNN06
ACTIVE:RWY:ARR:*:DEP:ETNN24
{{ data.rawdata['extended_centerline/etnn_ecl.txt'] }}

MAP:ETNG ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:ETNG09:DEP:*
ACTIVE:RWY:ARR:ETNG27:DEP:*
ACTIVE:RWY:ARR:*:DEP:ETNG09
ACTIVE:RWY:ARR:*:DEP:ETNG27
{{ data.rawdata['extended_centerline/etng_ecl.txt'] }}
