MAP:EDDG ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDDG25:DEP:*
ACTIVE:RWY:ARR:EDDG07:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDG25
ACTIVE:RWY:ARR:*:DEP:EDDG07
{{ data.rawdata['extended_centerline/eddg_ecl.txt'] }}

MAP:EDDR ECL
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDR27:DEP:*
ACTIVE:RWY:ARR:EDDR09:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDR27
ACTIVE:RWY:ARR:*:DEP:EDDR09
{{ data.rawdata['extended_centerline/eddr_ecl.txt'] }}

MAP:EDDS ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDDS25:DEP:*
ACTIVE:RWY:ARR:EDDS07:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDS25
ACTIVE:RWY:ARR:*:DEP:EDDS07
{{ data.rawdata['extended_centerline/edds_ecl.txt'] }}

MAP:EDFH ECL
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDFH21:DEP:*
ACTIVE:RWY:ARR:EDFH03:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFH21
ACTIVE:RWY:ARR:*:DEP:EDFH03
{{ data.rawdata['extended_centerline/edfh_ecl.txt'] }}

MAP:EDFM ECL
COLOR:DFSGrey
STYLE:SOLID:1
ACTIVE:RWY:ARR:EDFM27:DEP:*
ACTIVE:RWY:ARR:EDFM09:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFM27
ACTIVE:RWY:ARR:*:DEP:EDFM09
{{ data.rawdata['extended_centerline/edfm_ecl.txt'] }}

MAP:EDFQ ECL
COLOR:DFSGrey
STYLE:SOLID:1
ACTIVE:RWY:ARR:EDFQ29:DEP:*
ACTIVE:RWY:ARR:EDFQ11:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDFQ29
ACTIVE:RWY:ARR:*:DEP:EDFQ11
{{ data.rawdata['extended_centerline/edfq_ecl.txt'] }}

MAP:EDGS ECL
COLOR:DFSGrey
STYLE:SOLID:1
ACTIVE:RWY:ARR:EDGS31:DEP:*
ACTIVE:RWY:ARR:EDGS13:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDGS31
ACTIVE:RWY:ARR:*:DEP:EDGS13
{{ data.rawdata['extended_centerline/edgs_ecl.txt'] }}

MAP:EDLN ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDLN13:DEP:*
ACTIVE:RWY:ARR:EDLN31:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLN13
ACTIVE:RWY:ARR:*:DEP:EDLN31
{{ data.rawdata['extended_centerline/edln_ecl.txt'] }}

MAP:EDLP ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDLP24:DEP:*
ACTIVE:RWY:ARR:EDLP06:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLP24
ACTIVE:RWY:ARR:*:DEP:EDLP06
{{ data.rawdata['extended_centerline/edlp_ecl.txt'] }}

MAP:EDLV ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDLV27:DEP:*
ACTIVE:RWY:ARR:EDLV09:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLV27
ACTIVE:RWY:ARR:*:DEP:EDLV09
{{ data.rawdata['extended_centerline/edlv_ecl.txt'] }}

MAP:EDLW ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDLW24:DEP:*
ACTIVE:RWY:ARR:EDLW06:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDLW24
ACTIVE:RWY:ARR:*:DEP:EDLW06
{{ data.rawdata['extended_centerline/edlw_ecl.txt'] }}

MAP:EDSB ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDSB03:DEP:*
ACTIVE:RWY:ARR:EDSB21:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDSB03
ACTIVE:RWY:ARR:*:DEP:EDSB21
{{ data.rawdata['extended_centerline/edsb_ecl.txt'] }}

MAP:EDTL ECL
COLOR:DFSGrey
STYLE:Solid:1
ACTIVE:RWY:ARR:EDTL03:DEP:*
ACTIVE:RWY:ARR:EDTL21:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDTL03
ACTIVE:RWY:ARR:*:DEP:EDTL21
{{ data.rawdata['extended_centerline/edtl_ecl.txt'] }}

MAP:EDTY ECL
COLOR:DFSGrey
STYLE:SOLID:1
ACTIVE:RWY:ARR:EDTY10:DEP:*
ACTIVE:RWY:ARR:EDTY28:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDTY10
ACTIVE:RWY:ARR:*:DEP:EDTY28
{{ data.rawdata['extended_centerline/edty_ecl.txt'] }}