//------------------------- Airspace Info -----------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * GRP-PHOENIX-MAPS\8000-app-window\8041-aerodromes.jinja
     * TOPSKY-EDGG-MAPS\741-aerodromes.jinja
     * TOPSKY-PHOENIX-MAPS\522-aerodromes.jinja
#}
{%- set ids = {
    "EDGG": [
        'EDEH',
        'EDRY',
        'EDFX',
        'EDGX',
        'EDTK',
        'EDGM',
        'EDGI',
        'EDRI',
        'EDTC',
        'EDTX',
        'EDTY',
        'EDSE',
        'EDST',
        'EDTN',
        'EDSG',
        'EDTQ',
        'EDSH',
        'EDSV',
        'EDSD',
        'EDSP',
        'EDTE',
        'EDSA',
        'EDSZ',
        'EDTW',
        'EDSF',
        'EDSW',
        'EDTO',
        'EDSK',
        'EDTB',
    ],
    "EDMM": [
        'EDND',
        'EDPY',
        'EDNO',
        'EDNQ',
        'EDPA',
        'EDTH',
        'EDPU',
        'EDPM',
        'EDPT',
        'EDNG',
        'EDMU',
        'EDMG',
        'EDSO',
        'EDPB',
        'EDPJ',
        'EDMC',
        'EDNE',
        'EDNW',
        'EDMI',
        'ETHL',
        'EDMB',
        'EDMZ',
    ],
    "LSAS-EDxx": [
        'EDTA',
        'EDTR',
        'EDSM',
        'EDTG',
        'EDTF',
        'EDTU',
        'EDTM',
        'EDTP',
        'EDTZ',
        'EDSR',
        'EDSN',
        'EDSI',
        'EDSL',
        'EDTD',
        'EDTS',
    ],
    "LFEE": [
        'LFST',
        'LFSH',
        'LFGC',
        'LFGA',
        'LFGB',
        'LFSB',
    ],
    "LSAS": [
        'LSZI',
        'LSPF',
        'LSPA',
    ]
} %}

MAP:Obstacles
FOLDER:EDDS
ACTIVE:1
ASRDATA:EDDS
COLOR:standard
ZOOM:7
{% for desig, geom in data.topsky['common']['EDDS']['obstacles'].items() %}
{{- geom | to_symbol('OBSTACLE') }}
{% endfor %}

MAP:ADs IDS Area
FOLDER:EDDS
ACTIVE:1
ASRDATA:EDDS
COLOR:standard
ZOOM:7
{%- for ad in ids['EDGG'] %}
SYMBOL:AD:{{ ad }}
{%- endfor %}
{%- for ad in ids['EDMM'] %}
SYMBOL:AD:{{ ad }}
{%- endfor %}
{%- for ad in ids['LSAS-EDxx'] %}
SYMBOL:AD:{{ ad }}
{%- endfor %}
{%- for ad in ids['LFEE'] %}
SYMBOL:AD:{{ ad }}
{%- endfor %}
{%- for ad in ids['LSAS'] %}
SYMBOL:AD:{{ ad }}
{%- endfor %}