//---------------------------- Airspace -------------------------
{%- set EDGG = data.airspace['lines']['EDGG'] %}

MAP:DKA/NOR CTRs
FOLDER:CTR/ATZ
ACTIVE:1
ASRDATA:EDDK,EDDL
COLOR:Active_Map_Type_1
STYLE:DASHDOT:1
{{ render_sectorlines(
    EDGG['EDDKCTR']['000-025'],
    EDGG['ETNNCTR']['000-029'],
) }}