//------------------------- Airspace Info -----------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * GRP-PHOENIX-MAPS\8000-app-window\8041-aerodromes.jinja
     * TOPSKY-EDGG-MAPS\741-aerodromes.jinja
     * TOPSKY-PHOENIX-MAPS\522-aerodromes.jinja
#}
{%- set idr_eddk = {
    "EDGG": [
        'EDRQ',
        'EDRK',
        'EDRE',
        'EDRV',
        'EDKV',
        'EDRA',
        'EDGA',
        'EDFY',
        'EDFL',
        'EDGB',
        'EDFI',
        'EDGT',
        'EDKI',
        'EDKB',
        'EDKA',
    ],
    "EBBU": [
        'EBBL',
        'EBZW',
        'EBSL',
    ]
} %}

MAP:ADs IDR Area
FOLDER:EDDK
ACTIVE:1
ASRDATA:EDDL,EDDK
COLOR:standard
ZOOM:8
{%- for ad in idr_eddk['EDGG'] %}
SYMBOL:AD:{{ ad }}
{%- endfor %}
{%- for ad in idr_eddk['EBBU'] %}
SYMBOL:AD:{{ ad }}
{%- endfor %}