// ******************************* AoR ******************************
MAP:EDLP_GND
AIRPORT:EDLP
FOLDER:AoR
COLOR:aor_gnd
STYLE:Dot
{{ data.edlp_layout['layout']['AoR']['LPG'] | to_line('LPG') }}
ZOOM:400
FONTSIZE:=:13
{{ data.edlp_layout['layout']['AoR']['LPG_'] | to_text('LPG  121.930') }}

MAP:EDLP_TWR
AIRPORT:EDLP
FOLDER:AoR
COLOR:aor_twr
STYLE:Dot
{{ data.edlp_layout['layout']['AoR']['LPT'] | to_line('LPT') }}
ZOOM:400
FONTSIZE:=:13
{{ data.edlp_layout['layout']['AoR']['LPT_'] | to_text('LPT  133.380') }}

MAP:EDLP_PAL_APP
AIRPORT:EDLP
FOLDER:AoR
COLOR:aor_app
ZOOM:400
FONTSIZE:=:13
{{ data.edlp_layout['layout']['AoR']['PADL_'] | to_text('PADL 125.225') }}
