// ****************************** TORA ******************************
MAP:TORA 06
AIRPORT:EDLP
FOLDER:Runway Info
ACTIVE:RWY:ARR:*:DEP:EDLP06
COLOR:tora_label
ZOOM:500
{{ data.edlp_layout['layout']['TORA']['06 C'] | to_text('1610') }}

MAP:TORA 24
AIRPORT:EDLP
FOLDER:Runway Info
ACTIVE:RWY:ARR:*:DEP:EDLP24
COLOR:tora_label
ZOOM:500
{{ data.edlp_layout['layout']['TORA']['24 B'] | to_text('1240') }}