//---------------------------------------------------------------
//                            MVA
//---------------------------------------------------------------

MAP:MVA Germany Summer
FOLDER:MVA
COLOR:white
STYLE:Solid:2
{{ data.rawdata['mva/mva_summer.txt'] }}

MAP:MVA Germany Winter
FOLDER:MVA
COLOR:white
STYLE:Solid:2
{{ data.rawdata['mva/mva_winter.txt'] }}