//---------------------------------------------------------------
//                            Taxiways
//---------------------------------------------------------------

MAP:Taxiways ALL
FOLDER:Taxiways
FONTSIZE:=:10
{{ data.rawdata['taxiways/eddk.txt'] }}