//---------------------------------------------------------------
//                            Stands
//---------------------------------------------------------------

MAP:STANDS ALL
FOLDER:STANDS
FONTSIZE:=:9
COLOR:stands
{{ data.rawdata['stands/stands_name/eddf_stands.txt'] }}
{{ data.rawdata['stands/stands_name/eddl_stands.txt'] }}
{{ data.rawdata['stands/stands_name/eddk_stands.txt'] }}
{{ data.rawdata['stands/stands_name/edds_stands.txt'] }}

MAP:STANDS Maximum
FOLDER:STANDS
FONTSIZE:=:11
COLOR:stands
{{ data.rawdata['stands/stands_max/eddf_stands_max.txt'] }}
{{ data.rawdata['stands/stands_max/eddl_stands_max.txt'] }}
{{ data.rawdata['stands/stands_max/eddk_stands_max.txt'] }}
{{ data.rawdata['stands/stands_max/edds_stands_max.txt'] }}
