MAP:EDDF RNP X 25L
FOLDER:EDDF
COLOR:darkgreen
LAYER:3
STYLE:Dot
{{ data.rawdata['procedures/eddf/rnp/eddf_rnp_color_25l.txt'] }}

MAP:EDDF RNP X 25C
FOLDER:EDDF
COLOR:darkgreen
LAYER:3
STYLE:Dot
{{ data.rawdata['procedures/eddf/rnp/eddf_rnp_color_25c.txt'] }}

MAP:EDDF RNP X 07R
FOLDER:EDDF
COLOR:darkgreen
LAYER:3
STYLE:Dot
{{ data.rawdata['procedures/eddf/rnp/eddf_rnp_color_07r.txt'] }}

MAP:EDDF RNP X 07C
FOLDER:EDDF
COLOR:darkgreen
LAYER:3
STYLE:Dot
{{ data.rawdata['procedures/eddf/rnp/eddf_rnp_color_07c.txt'] }}