MAP:EDDF STAR 25 Fixes
COLOR:DFSGrey
FOLDER:EDDF
{{ data.rawdata['procedures/eddf/star/eddf_star_25_fixes.txt'] }}

MAP:EDDF 25L Final Fixes
COLOR:DFSGrey
FOLDER:EDDF
{{ data.rawdata['procedures/eddf/star/eddf_final_25l_fixes.txt'] }}

MAP:EDDF 25R Final Fixes
COLOR:DFSGrey
FOLDER:EDDF
{{ data.rawdata['procedures/eddf/star/eddf_final_25r_fixes.txt'] }}

MAP:EDDF 25C Final Fixes
COLOR:DFSGrey
FOLDER:EDDF
{{ data.rawdata['procedures/eddf/star/eddf_final_25c_fixes.txt'] }}

MAP:EDDF STAR 25
COLOR:DFSGrey
FOLDER:EDDF
ZOOM:8
FONTSIZE:=:13
ACTIVE:RWY:ARR:EDDF25:DEP:*
ACTIVE:RWY:ARR:EDDF25R:DEP:*
ACTIVE:RWY:ARR:EDDF25L:DEP:*
ACTIVE:RWY:ARR:EDDF25C:DEP:*
{{ data.rawdata['procedures/eddf/star/eddf_star_25_names.txt'] }}

MAP:EDDF 25L Final
COLOR:DFSGrey
ZOOM:8
FOLDER:EDDF
FONTSIZE:=:12
ACTIVE:RWY:ARR:EDDF25L:DEP:*
{{ data.rawdata['procedures/eddf/star/eddf_final_25l_names.txt'] }}

MAP:EDDF 25R Final
COLOR:DFSGrey
ZOOM:8
FOLDER:EDDF
FONTSIZE:=:12
ACTIVE:RWY:ARR:EDDF25R:DEP:*
{{ data.rawdata['procedures/eddf/star/eddf_final_25r_names.txt'] }}

MAP:EDDF 25C Final 
COLOR:DFSGrey
ZOOM:8
FOLDER:EDDF
FONTSIZE:=:12
ACTIVE:RWY:ARR:EDDF25C:EDDF25L,EDDF25R:DEP:*:*
{{ data.rawdata['procedures/eddf/star/eddf_final_25c_names.txt'] }}


MAP:EDDF 25 FULL DOWNWIND
COLOR:DFSGrey
FOLDER:EDDF
FONTSIZE:=:12
SYMBOL:TFIX:DF409:409:18:-6
SYMBOL:TFIX:DF410:410:18:-6
SYMBOL:TFIX:DF412:412:18:-6
SYMBOL:TFIX:DF413:413:18:-6
SYMBOL:TFIX:DF414:414:18:-6
SYMBOL:TFIX:DF415:415:18:-6
SYMBOL:TFIX:DF416:416:18:-6
SYMBOL:TFIX:DF611:611:18:-6
SYMBOL:TFIX:DF612:612:18:-6
SYMBOL:TFIX:DF613:613:18:-6
SYMBOL:TFIX:DF614:614:18:-6
SYMBOL:TFIX:DF615:615:18:-6

MAP:EDDF STAR 07 Fixes
COLOR:DFSGrey
FOLDER:EDDF
FONTSIZE:=:12
{{ data.rawdata['procedures/eddf/star/eddf_star_07_fixes.txt'] }}

MAP:EDDF 07R Final Fixes
COLOR:DFSGrey
FOLDER:EDDF
{{ data.rawdata['procedures/eddf/star/eddf_final_07r_fixes.txt'] }}

MAP:EDDF 07L Final Fixes
COLOR:DFSGrey
FOLDER:EDDF
{{ data.rawdata['procedures/eddf/star/eddf_final_07l_fixes.txt'] }}

MAP:EDDF 07C Final Fixes
COLOR:DFSGrey
FOLDER:EDDF
{{ data.rawdata['procedures/eddf/star/eddf_final_07c_fixes.txt'] }}

MAP:EDDF 07 FULL DOWNWIND
COLOR:DFSGrey
FOLDER:EDDF
FONTSIZE:=:12
SYMBOL:TFIX:DF442:442:18:-6
SYMBOL:TFIX:DF443:443:18:-6
SYMBOL:TFIX:DF642:642:18:-6
SYMBOL:TFIX:DF643:643:18:-6

MAP:EDDF STAR 07
COLOR:DFSGrey
FOLDER:EDDF
ZOOM:8
FONTSIZE:=:12
ACTIVE:RWY:ARR:EDDF07:DEP:*
ACTIVE:RWY:ARR:EDDF07R:DEP:*
ACTIVE:RWY:ARR:EDDF07L:DEP:*
ACTIVE:RWY:ARR:EDDF07C:DEP:*
SYMBOL:TFIX:DF431:431:18:-6
SYMBOL:TFIX:DF432:432:18:-6
SYMBOL:TFIX:DF436:436:18:-6
SYMBOL:TFIX:DF437:437:18:-6
SYMBOL:TFIX:DF439:439:18:-6
SYMBOL:TFIX:DF444:444:18:-6
SYMBOL:TFIX:DF613:613:18:-6
SYMBOL:TFIX:DF623:623:18:-6
SYMBOL:TFIX:DF635:635:18:-6
SYMBOL:TFIX:DF636:636:18:-6
SYMBOL:TFIX:DF644:644:18:-6
SYMBOL:TFIX:DF441:441:18:-6
SYMBOL:TFIX:DF640:640:18:-6
COLOR:darkgreen
SYMBOL:FIX3_BIG:DF441
SYMBOL:FIX3_BIG:DF640

MAP:EDDF 07R Final
COLOR:DFSGrey
ZOOM:8
FOLDER:EDDF
ACTIVE:RWY:ARR:EDDF07R:DEP:*
SYMBOL:TFIX:DF654:654:15:20
SYMBOL:TFIX:DF653:653:15:20
SYMBOL:TFIX:DF652:652:15:20
SYMBOL:TFIX:DF660:660:15:20
SYMBOL:TFIX:DF670:670:15:20

MAP:EDDF 07L Final
COLOR:DFSGrey
ZOOM:8
FOLDER:EDDF
FONTSIZE:=:12
ACTIVE:RWY:ARR:EDDF07L:DEP:*
SYMBOL:TFIX:DF454:454:8:-25
SYMBOL:TFIX:DF453:453:8:-25
SYMBOL:TFIX:DF450:450:8:-25
SYMBOL:TFIX:DF470:470:8:-25
SYMBOL:TFIX:DF460:460:8:-25

MAP:EDDF 07C Final
COLOR:DFSGrey
ZOOM:8
FOLDER:EDDF
FONTSIZE:=:12
ACTIVE:RWY:ARR:EDDF07C:DEP:*
SYMBOL:TFIX:DF554:554:15:-10
SYMBOL:TFIX:DF553:553:15:-10
SYMBOL:TFIX:DF552:552:15:-10
SYMBOL:TFIX:DF560:560:15:-10
SYMBOL:TFIX:DF570:570:15:-10
SYMBOL:TFIX:DF571:570:15:-10
SYMBOL:TFIX:DF572:570:15:-10