MAP:EDDS Fix LABEL
FOLDER:EDDS
FONTSIZE:=:11
COLOR:DFSGrey
{{ data.rawdata['navdata/labels/edds_tma_labels.txt'] }}

MAP:Border REU/STG
COLOR:DFSGrey
FOLDER:EDDS
STYLE:Solid:1
{{ data.rawdata['sectors/edgg/stg.txt'] }}

MAP:EDDS RELEASE LINE
FOLDER:EDDS
ASRDATA:EDGG,EDDS
COLOR:DFSGrey
ACTIVE:1
{{ data.rawdata['loa_lines/edds_release_line.txt'] }}

MAP:NOISE 07
FOLDER:EDDS
ZOOM:7
COLOR:darkgreen
STYLE:Solid:1
ACTIVE:RWY:ARR:EDDS07:DEP:*
LINE:N048.40.31.700:E008.59.19.835:N048.37.03.636:E009.00.50.601

MAP:NOISE 25
FOLDER:EDDS
ZOOM:7
COLOR:darkgreen
STYLE:Solid:1
ACTIVE:RWY:ARR:EDDS25:DEP:*
LINE:N048.45.38.840:E009.26.32.937:N048.42.24.028:E009.27.52.873

MAP:EDDS Map
ASRDATA:EDDS
FOLDER:EDDS
COLOR:DFSGrey
ACTIVE:1
// EDDS fixes
{{ data.rawdata['navdata/edds_tma_fixes.txt'] }}
// EDDS OBSTACLES
SYMBOL:OBSTACLES:N048.45.20.500:E009.11.24.200: :0:0
SYMBOL:OBSTACLES:N048.37.04.800:E009.08.42.800: :0:0
// EDDS airports
{{ data.rawdata['airports/ids_area.txt'] }}

MAP:EDDS TRANS 25
ASRDATA:EDDS,EDGG
ZOOM:7
FONTSIZE:=:13
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDS07:DEP:*
SYMBOL:TFIX:DS421:421:0:0
SYMBOL:TFIX:DS422:422:0:0
SYMBOL:TFIX:DS423:423:0:0
SYMBOL:TFIX:DS424:424:0:0
SYMBOL:TFIX:DS426:426:0:0
SYMBOL:TFIX:DS427:427:0:0
SYMBOL:TFIX:DS428:428:0:0
SYMBOL:TFIX:DS429:429:0:0
SYMBOL:TFIX:DS431:431:0:0
SYMBOL:TFIX:DS432:432:0:0
SYMBOL:TFIX:DS433:433:0:0
SYMBOL:TFIX:DS434:434:0:0
SYMBOL:TFIX:DS419:419:0:0
SYMBOL:TFIX:DS418:418:0:0
SYMBOL:TFIX:DS417:417:0:0
SYMBOL:TFIX:DS416:416:0:0
SYMBOL:TFIX:DS414:414:0:0
SYMBOL:TFIX:DS413:413:0:0
SYMBOL:TFIX:DS412:412:0:0
SYMBOL:TFIX:DS411:411:0:0
SYMBOL:TFIX:VATER:VA:15:20

MAP:EDDS TRANS 07
ASRDATA:EDDS,EDGG
ZOOM:7
FONTSIZE:=:13
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDS25:DEP:*
SYMBOL:TFIX:DS520:520:0:0
SYMBOL:TFIX:DS542:542:0:0
SYMBOL:TFIX:DS543:543:0:0
SYMBOL:TFIX:DS544:544:0:0
SYMBOL:TFIX:DS545:545:0:0
SYMBOL:TFIX:DS522:522:0:0
SYMBOL:TFIX:DS523:523:0:0
SYMBOL:TFIX:DS524:524:0:0
SYMBOL:TFIX:DS525:525:0:0
SYMBOL:TFIX:DS529:529:0:0
SYMBOL:TFIX:DS530:530:0:0
SYMBOL:TFIX:DS531:531:0:0
SYMBOL:TFIX:DS532:532:0:0
SYMBOL:TFIX:DS533:533:0:0
SYMBOL:TFIX:DS534:534:0:0
SYMBOL:TFIX:DS535:535:0:0
SYMBOL:TFIX:DS515:515:0:0
SYMBOL:TFIX:DS514:514:0:0
SYMBOL:TFIX:DS513:513:0:0
SYMBOL:TFIX:DS512:512:0:0
SYMBOL:TFIX:UNSER:UN:15:20