MAP:EDDL TMA Labels
FOLDER:EDDL
FONTSIZE:=:11
COLOR:DFSGrey
{{ data.rawdata['navdata/labels/eddl_tma_labels.txt'] }}

MAP:EDDL TMA Fixes
ACTIVE:1
ASRDATA:EDGG
COLOR:DFSGrey
{{ data.rawdata['navdata/eddl_tma_fixes.txt'] }}

MAP:EDDL TRANS 05 Fixes
FONTSIZE:=:11
COLOR:DFSGrey
ACTIVE:RWY:ARR:EDDL05R:DEP:*
ACTIVE:RWY:ARR:EDDL05L:DEP:*
SYMBOL:FIX3_BIG:IBIKO
SYMBOL:FIX3_BIG:DL514
SYMBOL:FIX3_BIG:DL513
SYMBOL:FIX3_BIG:BOMBA
SYMBOL:FIX3_BIG:DL517
SYMBOL:FIX3_BIG:DL518
SYMBOL:FIX3_BIG:DL519
SYMBOL:FIX3_BIG:GAPNU
SYMBOL:FIX3_BIG:DL522
SYMBOL:FIX3_BIG:RONAD
SYMBOL:FIX3_BIG:DL524
SYMBOL:FIX3_BIG:DL525
SYMBOL:FIX3_BIG:DL530
SYMBOL:FIX3_BIG:DL550
SYMBOL:FIX3_BIG:DL555
SYMBOL:FIX3_BIG:DL501
SYMBOL:FIX3_BIG:DL502
SYMBOL:FIX3_BIG:DL503
SYMBOL:FIX3_BIG:DL504
SYMBOL:FIX3_BIG:DL505
SYMBOL:FIX3_BIG:DL510
SYMBOL:FIX3_BIG:DOLAV
SYMBOL:FIX3_BIG:DIKMI
SYMBOL:FIX3_BIG:NATOS

MAP:EDDL TRANS 05 LABEL
FONTSIZE:=:11
COLOR:DFSGrey
ZOOM:8
ACTIVE:RWY:ARR:EDDL05R:DEP:*
ACTIVE:RWY:ARR:EDDL05L:DEP:*
SYMBOL:FIX3_BIG:IBIKO:IBIKO:23:-5
SYMBOL:FIX3_BIG:DL514:514:18:-5
SYMBOL:FIX3_BIG:DL513:513:18:-5
SYMBOL:FIX3_BIG:BOMBA:BOMBA:23:-5
SYMBOL:FIX3_BIG:DL517:517:18:-5
SYMBOL:FIX3_BIG:DL518:518:18:-5
SYMBOL:FIX3_BIG:DL519:519:18:-5
SYMBOL:FIX3_BIG:GAPNU:GAPNU:23:-5
SYMBOL:FIX3_BIG:DL522:522:18:-5
SYMBOL:FIX3_BIG:RONAD:RONAD:23:-5
SYMBOL:FIX3_BIG:DL524:524:18:-5
SYMBOL:FIX3_BIG:DL525:525:18:-5
SYMBOL:FIX3_BIG:DL530:530:18:-5
SYMBOL:FIX3_BIG:DL550:550:18:-5
SYMBOL:FIX3_BIG:DL555:555:18:-5
SYMBOL:FIX3_BIG:DL501:501:18:-5
SYMBOL:FIX3_BIG:DL502:502:18:-5
SYMBOL:FIX3_BIG:DL503:503:18:-5
SYMBOL:FIX3_BIG:DL504:504:18:-5
SYMBOL:FIX3_BIG:DL505:505:18:-5
SYMBOL:FIX3_BIG:DL510:510:18:-5
SYMBOL:FIX3_BIG:DOLAV:DOLAV:23:-5


MAP:EDDL TRANS 23 Fixes
FONTSIZE:=:11
COLOR:DFSGrey
ZOOM:8
ACTIVE:RWY:ARR:EDDL23R:DEP:*
ACTIVE:RWY:ARR:EDDL23L:DEP:*
SYMBOL:FIX3_BIG:AGEDA
SYMBOL:FIX3_BIG:DL402
SYMBOL:FIX3_BIG:DL403
SYMBOL:FIX3_BIG:DL404
SYMBOL:FIX3_BIG:DL405
SYMBOL:FIX3_BIG:DL406
SYMBOL:FIX3_BIG:DL407
SYMBOL:FIX3_BIG:DL408
SYMBOL:FIX3_BIG:DL409
SYMBOL:FIX3_BIG:DL410
SYMBOL:FIX3_BIG:DL450
SYMBOL:FIX3_BIG:DL452
SYMBOL:FIX3_BIG:DL454
SYMBOL:FIX3_BIG:DL455
SYMBOL:FIX3_BIG:DL420
SYMBOL:FIX3_BIG:DL421
SYMBOL:FIX3_BIG:DL422
SYMBOL:FIX3_BIG:DL426
SYMBOL:FIX3_BIG:DL428
SYMBOL:FIX3_BIG:DL429
SYMBOL:FIX3_BIG:DL430
SYMBOL:FIX3_BIG:REGNO
SYMBOL:FIX3_BIG:METMA

MAP:EDDL TRANS 23 LABEL
FONTSIZE:=:11
COLOR:DFSGrey
ZOOM:8
ACTIVE:RWY:ARR:EDDL23R:DEP:*
ACTIVE:RWY:ARR:EDDL23L:DEP:*
SYMBOL:FIX3_BIG:AGEDA:AGEDA:25:-5
SYMBOL:FIX3_BIG:DL402:402:18:-5
SYMBOL:FIX3_BIG:DL403:403:18:-5
SYMBOL:FIX3_BIG:DL404:404:18:-5
SYMBOL:FIX3_BIG:DL405:405:18:-5
SYMBOL:FIX3_BIG:DL406:406:18:-5
SYMBOL:FIX3_BIG:DL407:407:18:-5
SYMBOL:FIX3_BIG:DL408:408:18:-5
SYMBOL:FIX3_BIG:DL409:409:18:-5
SYMBOL:FIX3_BIG:DL410:410:18:-5
SYMBOL:FIX3_BIG:DL450:450:18:-5
SYMBOL:FIX3_BIG:DL452:452:18:-5
SYMBOL:FIX3_BIG:DL454:454:18:-5
SYMBOL:FIX3_BIG:DL455:455:18:-5
SYMBOL:FIX3_BIG:DL420:420:18:-5
SYMBOL:FIX3_BIG:DL421:421:18:-5
SYMBOL:FIX3_BIG:DL422:422:18:-5
SYMBOL:FIX3_BIG:DL426:426:18:-5
SYMBOL:FIX3_BIG:DL428:428:18:-5
SYMBOL:FIX3_BIG:DL429:429:18:-5
SYMBOL:FIX3_BIG:DL430:430:18:-5