//---------------------------------------------------------------
//                        Tactical Directs
//---------------------------------------------------------------
{#- 
    WARNING: When performing any changes on this file,
    please bring them to the following files as well:
    
     * TOPSKY-EDUU-MAPS\030-info\032-tactical-directs.jinja
     * TOPSKY-EDYY-MAPS\030-info\031-tactical-directs.jinja
#}
{%- set EDGG = data.sectors['lines']['EDGG'] %}
{%- set EDMM = data.sectors['lines']['EDMM'] %}
{%- set EDWW = data.sectors['lines']['EDWW'] %}
{%- set EHAA = data.sectors['lines']['EHAA'] %}
{%- set EBBU = data.sectors['lines']['EBBU'] %}
{%- set EXT_EBBU = data.sectors_ext['lines']['EBBU'] %}

MAP:Tactical Directs
FOLDER:Airspace Info
LAYER:2

COLOR:BLUE
SYMBOL/RT:FIX_SID_A:UMUPU:UMUPU:-5:0
SYMBOL/LB:FIX_SID_A:SUBIX:SUBIX:5:0
COLOR:GREEN
SYMBOL/RT:FIX_SID_B:UMUPU
SYMBOL/LB:FIX_SID_B:SUBIX

//----------------------------- EDYY ----------------------------
FILTER_ID:*:UC,UW,UCW,FFM,FUL,NTM,SLN,TGO,WUR,GCH,GSH,GCSH,BADH,DKBH,GINH,RUDH:*:*

{%- set AAL =   'N057.06.13.500:E009.59.44.100' %}
{%- set AMTOT = 'N056.02.26.000:E012.10.49.000' %}
{%- set DANKO = 'N057.00.00.000:E006.41.52.200' %}
{%- set DEKIK = 'N056.45.52.000:E014.18.28.000' %}
{%- set DETSO = 'N058.36.00.000:E014.15.52.000' %}
{%- set GOTEX = 'N057.12.18.000:E011.16.22.000' %}
{%- set KARLI = 'N057.00.00.000:E005.30.26.800' %}
{%- set MITSI = 'N057.00.00.000:E006.27.20.500' %}
{%- set PIPEX = 'N058.50.50.100:E009.02.32.100' %}
{%- set RADIS = 'N056.32.30.000:E009.59.42.000' %}
{%- set SABAK = 'N058.10.36.000:E011.38.34.000' %}

// Origin Arcs
COLOR:ORANGE
STYLE:NULL
COORD:OSBIT
COORD_AF:OSBIT:20:10:360M:>:011M
COORDPOLY:25

// Waypoints
COLOR:GREEN
FONTSIZE:0
// EDUU
SYMBOL/LB:FIX_SID_A:ALUKA:ALUKA:5:0
SYMBOL/CT:FIX_SID_A:BAKLI:BAKLI:0:5
SYMBOL/LB:FIX_SID_A:BANUB:BANUB:5:0
SYMBOL/CB:FIX_SID_A:BIKRU:BIKRU:0:-5
SYMBOL/LB:FIX_SID_A:BILRA:BILRA:5:0
SYMBOL/LB:FIX_SID_A:BINKA:BINKA:5:0
SYMBOL/LB:FIX_SID_A:BODLA:BODLA:5:0
SYMBOL/LB:FIX_SID_A:BOMBI:BOMBI:5:0
SYMBOL/LB:FIX_SID_A:DETNI:DETNI:5:0
SYMBOL/LB:FIX_SID_A:DODEN:DODEN:5:0
SYMBOL/LB:FIX_SID_A:ESAMA:ESAMA:5:0
SYMBOL/LB:FIX_SID_A:GILAS:GILAS:5:0
SYMBOL/LB:FIX_SID_A:GOVEN:GOVEN:5:0
SYMBOL/LT:FIX_SID_A:LALUK:LALUK:5:0
SYMBOL/LB:FIX_SID_A:LASIS:LASIS:5:0
SYMBOL/LT:FIX_SID_A:MAREM:MAREM:5:0
SYMBOL/RB:FIX_SID_A:NEGIX:NEGIX:-5:0
SYMBOL/CB:FIX_SID_A:OKAGA:OKAGA:0:-5
SYMBOL/LB:FIX_SID_A:OMELO:OMELO:5:0
SYMBOL/LB:FIX_SID_A:OSBIT:OSBIT:5:0
SYMBOL/LB:FIX_SID_A:POZUM:POZUM:5:0
SYMBOL/CB:FIX_SID_A:SALLO:SALLO:0:-5
SYMBOL/LB:FIX_SID_A:SODRO:SODRO:5:0
// SYMBOL/LB:FIX_SID_A:SUBIX:SUBIX:5:0      duplicate
SYMBOL/LB:FIX_SID_A:SWALM:SWALM:5:0
SYMBOL/LB:FIX_SID_A:TABAT:TABAT:5:0
SYMBOL/RB:FIX_SID_A:TABUM:TABUM:-5:0
SYMBOL/LB:FIX_SID_A:TADUV:TADUV:5:0
SYMBOL/LB:FIX_SID_A:TESGA:TESGA:5:0
SYMBOL/LB:FIX_SID_A:TUSUK:TUSUK:5:0
// SYMBOL/LB:FIX_SID_A:UMUPU:UMUPU:5:0      duplicate
SYMBOL/CT:FIX_SID_A:UNGAV:UNGAV:0:5
SYMBOL/LB:FIX_SID_A:HDO:HDO:5:0

// EKDK
SYMBOL/RB:FIX_SID_A:BAVTA:BAVTA:-5:0
SYMBOL/LB:FIX_SID_A:GELBA:GELBA:5:0
SYMBOL/LB:FIX_SID_A:GESKA:GESKA:5:0
SYMBOL/LB:FIX_SID_A:LOKSA:LOKSA:5:0
SYMBOL/LB:FIX_SID_A:ODDON:ODDON:5:0
SYMBOL/LB:FIX_SID_A:OLPIB:OLPIB:5:0
SYMBOL/LB:FIX_SID_A:TUDLO:TUDLO:5:0
SYMBOL/LB:FIX_SID_A:{{AAL}}:AAL:5:0
SYMBOL/LB:FIX_SID_A:{{AMTOT}}:AMTOT:5:0
SYMBOL/LB:FIX_SID_A:{{DANKO}}:DANKO:5:0
SYMBOL/LB:FIX_SID_A:{{DEKIK}}:DEKIK:5:0
SYMBOL/LB:FIX_SID_A:{{DETSO}}:DETSO:5:0
SYMBOL/LB:FIX_SID_A:{{GOTEX}}:GOTEX:5:0
SYMBOL/LB:FIX_SID_A:{{KARLI}}:KARLI:5:0
SYMBOL/RB:FIX_SID_A:{{MITSI}}:MITSI:-5:0
SYMBOL/LB:FIX_SID_A:{{PIPEX}}:PIPEX:5:0
SYMBOL/LB:FIX_SID_A:{{RADIS}}:RADIS:5:0
SYMBOL/LB:FIX_SID_A:{{SABAK}}:SABAK:5:0

// EDMM
SYMBOL/LB:FIX_SID_A:BAMKI:BAMKI:5:0

// EDWW
SYMBOL/LB:FIX_SID_A:KUBAT:KUBAT:5:0
SYMBOL/LB:FIX_SID_A:RARUP:RARUP:5:0

// Reference Waypoints
COLOR:Active_Map_Type_2
FONTSIZE:=:10
SYMBOL/LB:FIX:BERXO:BERXO:3:0

// Notes
COLOR:GREEN
FONTSIZE:=:10
TEXT/LB:GELBA:DEST EKBI:5:11
TEXT/LB:KUBAT:DEST EHGG/EHLE:5:11
TEXT/LB:LOKSA:DEST EKBI:5:11
TEXT/LB:OSBIT:via/east of BERXO:5:11
TEXT/LB:RARUP:DEST EDDH:5:11
TEXT/LB:TUDLO:DEST EKCH:5:11

// MUAC
COLOR:GREEN
TEXTALIGN:CC
FONTSIZE:=:17
FONTSTYLE:700:0:0:0
STYLE:SOLID:2
{#- ========= Super complex shenanigans to create EDYY Outline ========= #}
{%- set EDYY = 
    EDGG['YYRH']['355-660'] +
    EDGG['YYMH']['355-660'] +
    EDWW['EDYYSH']['355-660'] +
    EDWW['EDYYCH']['355-660'] +
    EDWW['EDYYHH']['365-660'] +
    EDWW['EDYYJH']['365-660'] +
    EHAA['EDYYDLT']['315-660'] +
    EBBU['EDYYLNH_SCT']['245-660'] +
    EBBU['EDYYLNH_SCT 2']['255-660'] +
    EXT_EBBU['EDYYLXH']['245-660'] +
    EXT_EBBU['EDYYNIH']['245-660'] +
    EXT_EBBU['EDYYKOH']['245-660']
%}
{#- 
    Extract duplicate (inner) and unique
    sectorlines from the set of sectors
#}
{%- set EDYY_unique = [] %}
{%- set EDYY_inner = [] %}

{%- for line in EDYY %}
{%- if line in EDYY_unique %}
{%- set EDYY_inner = EDYY_inner.append(line) %}
{%- else %}
{%- set EDYY_unique = EDYY_unique.append(line) %}
{%- endif %}
{%- endfor %}

{%- set EDYY_outer = sector_sub(EDYY_unique, EDYY_inner) %}
{{ render_sectorlines(EDYY_outer) }}
TEXT:N052.12.18.000:E007.40.35.000:WITHIN MUAC ALL WAYPOINTS CROSS-SECTOR APPROVED:0:0
TEXT:N052.12.18.000:E007.40.35.000:VIA EDGG/EDWW/EHAA/EBBU ACC FURTHEST DIRECT COP TO LOWER SECTOR:0:25



//----------------------------- EDUU ----------------------------
FILTER_ID:*:CL,CH,HL,HH,JL,JH,YY-BB,MM,ML,MH,RL,RH,SL,SH,PADH,GNH:*:*

{%- set eduu_origin_arcs = {
    "AKANU": (281, 313),
    "ARPEG": (131, 139),
    "BUB":   (103, 120),
    "DENUT": (108, 120),
    "IDOSA": ( 59, 127),
    "DUDCA": (181, 204),
    "EKERN": (177, 187),
    "NORTA": (173, 217),
    "UMDAS": (120, 159),
    "XERUM": (300, 326),
} %}

// Origin Arcs
COLOR:ORANGE
STYLE:NULL
{%- for fx, range in eduu_origin_arcs.items() %}
COORD:{{fx}}
COORD_AF:{{fx}}:20:10:{{range[0]}}M:>:{{range[1]}}M
COORDPOLY:25
{%- endfor %}

// IDOSA Routings
COLOR:Active_Map_Type_2
STYLE:SOLID:1
LINE:IDOSA:BETEX
LINE:IDOSA:LIMGO
LINE:IDOSA:NOSPA

// Waypoints
COLOR:BLUE
FONTSIZE:0
FONTSTYLE:0
// EDUU W/C
{#- Excluded: BOMBI, COSJE, DINKU, GIGET, HAREM, MASEK, OMOGI, OSBIT, RUDUS, SOGMI, TEKTU, TESGA, TIKNI #}
SYMBOL/RB:FIX_SID_A:ADKUV:ADKUV:-5:0
SYMBOL/RB:FIX_SID_A:ARPEG:ARPEG:-5:-11
SYMBOL/LB:FIX_SID_A:BATUB:BATUB:5:0
SYMBOL/LB:FIX_SID_A:ELMOX:ELMOX:5:0
SYMBOL/RB:FIX_SID_A:IBGES:IBGES:-5:0
SYMBOL/LB:FIX_SID_A:IDOVI:IDOVI:5:0
SYMBOL/RB:FIX_SID_A:KRH:KRH:-5:0
SYMBOL/RT:FIX_SID_A:LAMGO:LAMGO:-5:0
SYMBOL/RB:FIX_SID_A:LIRSU:LIRSU:-5:0
SYMBOL/RT:FIX_SID_A:ROLIS:ROLIS:-5:0
SYMBOL/LB:FIX_SID_A:TEDGO:TEDGO:5:0
SYMBOL/RC:FIX_SID_A:TIVUN:TIVUN:-7:0
SYMBOL/RB:FIX_SID_A:UMDAS:UMDAS:-5:0
// SYMBOL/RT:FIX_SID_A:UMUPU:UMUPU:-5:0     duplicate

// EDUU E
SYMBOL/LB:FIX_SID_A:AKANU:AKANU:5:0
SYMBOL/LB:FIX_SID_A:BESNI:BESNI:5:0
SYMBOL/LC:FIX_SID_A:ENITA:ENITA:7:0
SYMBOL/LB:FIX_SID_A:IRBIR:IRBIR:5:0
SYMBOL/LB:FIX_SID_A:LASTO:LASTO:5:0
SYMBOL/LB:FIX_SID_A:LATLO:LATLO:5:0
SYMBOL/LB:FIX_SID_A:OKG:OKG:5:0
SYMBOL/LT:FIX_SID_A:RADIZ:RADIZ:5:0
SYMBOL/LB:FIX_SID_A:RUDAP:RUDAP:5:0
// SYMBOL/LB:FIX_SID_A:SUBIX:SUBIX:5:0      duplicate
SYMBOL/LB:FIX_SID_A:TAMEB:TAMEB:5:0
SYMBOL/LB:FIX_SID_A:TONSU:TONSU:5:0
SYMBOL/LB:FIX_SID_A:VEMUT:VEMUT:5:0
SYMBOL/LB:FIX_SID_A:XERUM:XERUM:5:0

// EDYY
SYMBOL/LB:FIX_SID_A:ABNED:ABNED:5:0
SYMBOL/RB:FIX_SID_A:BUB:BUB:-5:0
SYMBOL/RB:FIX_SID_A:COA:COA:-5:0
SYMBOL/RT:FIX_SID_A:DENUT:DENUT:-5:0
SYMBOL/LB:FIX_SID_A:DUDCA:DUDCA:5:0
SYMBOL/LB:FIX_SID_A:EKERN:EKERN:5:0
SYMBOL/LB:FIX_SID_A:GALSO:GALSO:5:0
SYMBOL/LB:FIX_SID_A:HMM:HMM:5:0
SYMBOL/RB:FIX_SID_A:IDOSA:IDOSA:-5:0
SYMBOL/LB:FIX_SID_A:KOZUF:KOZUF:5:0
SYMBOL/LB:FIX_SID_A:MIMVA:MIMVA:5:0
SYMBOL/LB:FIX_SID_A:NOGRO:NOGRO:5:0
SYMBOL/LB:FIX_SID_A:NORKU:NORKU:5:0
SYMBOL/LB:FIX_SID_A:NORTA:NORTA:5:0
SYMBOL/LB:FIX_SID_A:RAVLO:RAVLO:5:0
SYMBOL/LB:FIX_SID_A:RAVLO:RAVLO:5:0
SYMBOL/RB:FIX_SID_A:RKN:RKN:-5:0
SYMBOL/LB:FIX_SID_A:SPY:SPY:5:0
SYMBOL/LB:FIX_SID_A:TORNU:TORNU:5:0

// LSAS
SYMBOL/LB:FIX_SID_A:DITON:DITON:5:0
SYMBOL/RB:FIX_SID_A:LUTIX:LUTIX:-5:0
SYMBOL/LB:FIX_SID_A:ROTOS:ROTOS:5:0
SYMBOL/LB:FIX_SID_A:TRA:TRA:5:0

// Reference Waypoints
COLOR:Active_Map_Type_2
FONTSIZE:=:10
SYMBOL/LB:FIX:BERXO:BERXO:3:0
SYMBOL/CT:FIX2:BETEX:BETEX:0:3
SYMBOL/LB:FIX:DINKU:DINKU:3:0
SYMBOL/RB:FIX:GEBNO:GEBNO:-3:0
SYMBOL/LB:FIX:KOVAN:KOVAN:3:0
SYMBOL/CT:FIX:LIMGO:LIMGO:0:3
SYMBOL/LB:FIX:LOHRE:LOHRE:3:0
SYMBOL/LB:FIX:NOSPA:NOSPA:3:0

// Notes
COLOR:BLUE
FONTSIZE:=:10
TEXT/LB:AKANU:btw. GEBNO & DINKU:5:11
TEXT/RB:ARPEG:north of LOHRE:-5:0
TEXT/RB:BUB:btw. ADKUV & NOSPA:-5:11
TEXT/RB:BUB:not DEP EDDF, EDFx:-5:22
TEXT/RT:DENUT:btw. ADKUV & NOSPA:-5:13
TEXT/RT:DENUT:not DEP EDDF, EDFx:-5:24
TEXT/LB:DUDCA:via/west of BERXO:5:11
TEXT/LB:DUDCA:not DEST EDDV:5:22
TEXT/LB:EKERN:via/west of BERXO:5:11
TEXT/LB:ELMOX:DEST EDDM:5:11
TEXT/RB:IBGES:DEST ELLX:-5:11
TEXT/RB:IDOSA:only for RTE via:-5:11
TEXT/RB:IDOSA:NOSPA, BETEX, LIMGO:-5:22
TEXT/LB:IDOVI:DEST EBxx:5:11
TEXT/RB:KRH:DEST LFSB:-5:11
TEXT/RT:LAMGO:DEST LSZH, LSAZ,:-5:13
TEXT/RT:LAMGO:EDNY, LSMD:-5:24
TEXT/LB:NORTA:via/west of BERXO:5:11
TEXT/LB:NORTA:not DEST EDDV:5:22
TEXT/RT:ROLIS:DEST EHEH:-5:13
TEXT/LB:RUDAP:DEST LKPR:5:11
TEXT/LB:TONSU:DEST LKPR:5:11
TEXT/RB:UMDAS:DEST EDDK:-5:11
TEXT/RB:UMDAS:north of KOVAN:-5:22
TEXT/LB:XERUM:btw. GEBNO & DINKU:5:11

// EBG West and Central
COLOR:BLUE
TEXTALIGN:CC
FONTSIZE:=:15
FONTSTYLE:700:0:0:0
STYLE:SOLID:2
{#- ========= Super complex shenanigans to create EDUU Outline ========= #}
{%- set EDUU = 
    EDGG['FFM44']['375-660'] +
    EDGG['FUL33']['375-660'] +
    EDGG['NTM44']['375-660'] +
    EDGG['SLN33']['375-660'] +
    EDGG['TGO33']['375-660'] +
    EDGG['WUR44']['375-660']
%}
{#- 
    Extract duplicate (inner) and unique
    sectorlines from the set of sectors
#}
{%- set EDUU_unique = [] %}
{%- set EDUU_inner = [] %}

{%- for line in EDUU %}
{%- if line in EDUU_unique %}
{%- set EDUU_inner = EDUU_inner.append(line) %}
{%- else %}
{%- set EDUU_unique = EDUU_unique.append(line) %}
{%- endif %}
{%- endfor %}

{%- set EDUU_outer = sector_sub(EDUU_unique, EDUU_inner) %}
{{ render_sectorlines(EDUU_outer) }}
STYLE:DASHED:2
{%- set EDUU_west =
    EDGG['NTM44']['375-660'] +
    EDGG['SLN33']['375-660'] +
    EDGG['TGO33']['375-660']
%}
{%- set EDUU_central =
    EDGG['FFM44']['375-660'] +
    EDGG['FUL33']['375-660'] +
    EDGG['WUR44']['375-660']
%}
{{ render_sectorlines(sector_and(EDUU_west, EDUU_central)) }}
TEXT:N049.53.05.500:E008.40.25.000:All waypoints within respective EBG (West/Central)
TEXT:N049.53.05.500:E008.40.25.000:without changing sector sequence approved:0:20

// ERL
STYLE:DASHED:2
{{ render_sectorlines(EDMM['EDUUERL44']['375-660']) }}
TEXT:N050.10.37.500:E011.21.29.000:Any Waypoint
TEXT:N050.10.37.500:E011.21.29.000:within ERL from WUR:0:20