// ------------------------- Holding Points -------------------------

MAP:Holding Points CAT I
AIRPORT:EDFH
FOLDER:Holding Points
ACTIVE:LVP:EDFH:0
{% for desig, geom in data.edfh_kml['layout']['holdingpoints']['cat1'].items() %}
{{- geom | to_poly(desig, 'layout-holdingpoint') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for desig, geom in data.edfh_kml['layout']['holdingpoints']['line'].items() %}
{{- geom | to_line(desig) -}}
{% endfor %}

MAP:Holding Points CAT II/III
AIRPORT:EDFH
FOLDER:Holding Points
ACTIVE:LVP:EDFH:1
{% for desig, geom in data.edfh_kml['layout']['holdingpoints']['cat3'].items() %}
{{- geom | to_poly(desig + ' CATIII', 'layout-holdingpoint') }}
{% endfor %}