// -------------------------- Runway Info ---------------------------

MAP:TORA 21
AIRPORT:EDFH
FOLDER:Runway Info
LAYER:6
COLOR:TORA_LABEL
ZOOM:500
TEXTALIGN:RC
{{ data.edfh_kml['layout']['tora']['21'] | to_text('3800') }}
{{ data.edfh_kml['layout']['tora']['21_F'] | to_text('3500') }}
{{ data.edfh_kml['layout']['tora']['21_E'] | to_text('2705') }}
{{ data.edfh_kml['layout']['tora']['21_D'] | to_text('1905') }}


MAP:TORA 03
AIRPORT:EDFH
FOLDER:Runway Info
LAYER:6
COLOR:TORA_LABEL
ZOOM:500
TEXTALIGN:LC
{{ data.edfh_kml['layout']['tora']['03_B1'] | to_text('3800') }}
{{ data.edfh_kml['layout']['tora']['03_B2'] | to_text('3500') }}
{{ data.edfh_kml['layout']['tora']['03_C'] | to_text('2445') }}
{{ data.edfh_kml['layout']['tora']['03_D'] | to_text('1605') }}


MAP:Runway Designators
AIRPORT:EDFH
FOLDER:Runway Info
LAYER:6
ACTIVE:1
COLOR:RUNWAY_LABEL
{% for _, feat in data.edfh_kml['layout']['markings']['runways'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}


MAP:Runway Markings
AIRPORT:EDFH
FOLDER:Runway Info
COLOR:LAYOUT_RUNWAY_MARKING
{% for _, feat in data.edfh_aixm['RunwayMarking'].items() %}
{{- feat | render_area('OTHER:REGION') }}
{% endfor %}