// -------------------------- Runway Info ---------------------------

MAP:TORA 21
AIRPORT:EDFH
FOLDER:Runway Info
COLOR:tora-label
ZOOM:500
TEXTALIGN:RC
{{ data.edfh_kml['layout']['tora']['21'] | to_text('3800') }}
{{ data.edfh_kml['layout']['tora']['21_F'] | to_text('3500') }}
{{ data.edfh_kml['layout']['tora']['21_E'] | to_text('2700') }}
{{ data.edfh_kml['layout']['tora']['21_D'] | to_text('1900') }}

MAP:TORA 03
AIRPORT:EDFH
FOLDER:Runway Info
COLOR:tora-label
ZOOM:500
TEXTALIGN:LC
{{ data.edfh_kml['layout']['tora']['03_B1'] | to_text('3800') }}
{{ data.edfh_kml['layout']['tora']['03_B2'] | to_text('3500') }}
{{ data.edfh_kml['layout']['tora']['03_C'] | to_text('2450') }}
{{ data.edfh_kml['layout']['tora']['03_D'] | to_text('1600') }}

MAP:Runway Designators
AIRPORT:EDFH
FOLDER:Runway Info
ACTIVE:1
{% for uuid, geom in data.edfh_kml['layout']['markings']['runways'].items() %}
{{- geom | to_poly('', 'runway-label') }}
{% endfor %}

MAP:Runway Markings
AIRPORT:EDFH
FOLDER:Runway Info
{% for uuid, geom in data.edfh_aixm['RunwayMarking'].items() %}
{{- geom | to_poly('', 'layout-runway-marking') }}
{% endfor %}