// ----------------------- Permament Closures -----------------------

MAP:Turn Pads
AIRPORT:EDFH
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE_SYMBOL
{{ data.edfh_kml['layout']['closures']['symb']['rwyTurnpad03'] | render_area('OTHER:REGION') }}
{{ data.edfh_kml['layout']['closures']['symb']['rwyTurnpad21'] | render_area('OTHER:REGION') }}
{{ data.edfh_kml['layout']['closures']['poly']['rwyTurnpad03'] | render_area('TWYCLOSED:NONE') }}
{{ data.edfh_kml['layout']['closures']['poly']['rwyTurnpad21'] | render_area('TWYCLOSED:NONE') }}


MAP:Apron
AIRPORT:EDFH
FOLDER:Closures
LAYER:4
ACTIVE:1
COLOR:CLOSURE_SYMBOL
{{ data.edfh_kml['layout']['closures']['symb']['apron'] | render_area('OTHER:REGION') }}
{{ data.edfh_kml['layout']['closures']['poly']['apron'] | render_area('TWYCLOSED:NONE') }}