// ------------------------- NOTAM Closures -------------------------

MAP:NOTAM C1106/25 - STANDS 321 & 326
AIRPORT:EDFH
FOLDER:Closures
LAYER:4
ACTIVE:1
BLOCKS:EDFH:326,321
{{ data.notam['notam']['EDFH']['construction'] | to_coordtype('', 'layout-apron') }}
STYLE:Solid:2
{{ data.notam['notam']['EDFH']['construction'] | to_coordtype('', 'closure', 'TWYCLOSED', 'POLYGON') }}