// ------------------------ Restriction Maps ------------------------

MAP:Restrictions
AIRPORT:EDFH
FOLDER:Restrictions
LAYER:2
ZOOM:400

// D
COLOR:restrictions-AB
STYLE:SOLID:4
{{ data.edfh_kml['layout']['restrictions']['line']['D_a'] | to_line('') -}}
{{ data.edfh_kml['layout']['restrictions']['line']['D_b'] | to_line('') -}}
TEXTALIGN:RC
{{ data.edfh_kml['layout']['restrictions']['labels']['D'] | to_text('Max MTOW 14t') }}

// A, C
COLOR:restrictions-C
STYLE:SOLID:4
{{ data.edfh_kml['layout']['restrictions']['line']['A_a'] | to_line('') -}}
{{ data.edfh_kml['layout']['restrictions']['line']['A_b'] | to_line('') -}}
{{ data.edfh_kml['layout']['restrictions']['line']['C'] | to_line('') -}}

// Backtrack RWY 03
COLOR:restrictions-D
STYLE:SOLID:4
{{ data.edfh_kml['layout']['restrictions']['line']['backtrack'] | to_line('') -}}
STYLE:SOLID:1
{{ data.edfh_kml['layout']['restrictions']['poly']['backtrack_b'] | to_coordtype('', 'restrictions-D') }}
TEXTALIGN:CC
{{ data.edfh_kml['layout']['restrictions']['labels']['backtrack'] | to_text('Max code D') }}

// Restriction Stands

TEXTALIGN:CC
FONTSIZE:=:9
COLOR:restrictions-C
{% for desig in ['311', '312', '313', '314', '315', '316', '321', '322', '323', '324', '325', '333', '332'] %}
{{- data.edfh_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
{% for desig in ['334'] %}
{{- data.edfh_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND_S') }}
{% endfor %}
COLOR:restrictions-E
{% for desig in ['341', '351', '411', '441', '451'] %}
{{- data.edfh_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
{% for desig in ['326'] %}
{{- data.edfh_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND_S') }}
{% endfor %}
COLOR:restrictions-F
{% for desig in ['421', '431'] %}
{{- data.edfh_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND') }}
{% endfor %}
{% for desig in ['331'] %}
{{- data.edfh_kml['layout']['restrictions']['stands'][desig] | to_symbol('STAND_S') }}
{% endfor %}

// Reference
COLOR:layout-label-stand
FONTSIZE:=:12
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('Reference  ') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('MTOW 14t - up to D-Cxxx :0:15') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('Code C < 36m (A321/B739):0:30') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('Code D < 52m (A310/B763):0:45') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('Code E < 65m (A343/B77W):0:60') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('Code F < 80m (A124/B748):0:75') }}

FONTSIZE:=:70
COLOR:restrictions-AB
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('.:-95:-39') }}
COLOR:restrictions-C
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('.:-95:-24') }}
COLOR:restrictions-D
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('.:-95:-9') }}
COLOR:restrictions-E
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('.:-95:6') }}
COLOR:restrictions-F
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('.:-95:21') }}