// ----------------------- Restriction Checks -----------------------


MAP:Checks
AIRPORT:EDFH
FOLDER:Restrictions
ACTIVE:1

// A, C
RESTRICTION:MAXCODE:C
{{ data.edfh_kml['layout']['restrictions']['poly']['A'] | render_area('TWYTYPE:NONE') }}

// Backtrack RWY 03
RESTRICTION:MAXCODE:D
{{ data.edfh_kml['layout']['restrictions']['poly']['backtrack_a'] | render_area('TWYTYPE:NONE') }}

// D
RESTRICTION:MAXWEIGHT:14000
{{ data.edfh_kml['layout']['restrictions']['poly']['D'] | render_area('TWYTYPE:NONE') }}