// ------------------------- Deicing Areas --------------------------
{% set default = 0.000005 %}
MAP:De-Icing
AIRPORT:EDFH
FOLDER:Ice/Snow

// Areas
{{ data.edfh_kml['layout']['deicing']['poly']['DP_N'] | to_coordtype('DP North', 'layout-runway', 'OTHER', 'REGION', 'X') }}
{{ data.edfh_kml['layout']['deicing']['poly']['DP_S'] | to_coordtype('DP South', 'layout-runway', 'OTHER', 'REGION', 'X') }}

// Arrows
{{ data.edfh_kml['layout']['deicing']['arrows']['DP_N'] | to_coordtype('', 'layout-taxiline-white') }}

// Taxilines
COLOR:layout-taxiline-white
STYLE:Solid:2
{{ data.edfh_kml['layout']['deicing']['line']['DP_N'] | to_line('') -}}

// Outlines
STYLE:Solid:2
{{ data.edfh_kml['layout']['deicing']['poly']['DP_N'] | to_coordtype('DP North', 'deicing', 'OTHER', 'POLYGON') }}
{{ data.edfh_kml['layout']['deicing']['poly']['DP_S'] | to_coordtype('DP South', 'deicing', 'OTHER', 'POLYGON') }}

// Reference
COLOR:layout-label-stand
TEXTALIGN:CC
FONTSIZE:=:12
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('De-icing Pads are permitted:') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('only for aircraft up to Code C:0:15') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('De-icing for aircraft > Code C:0:35') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('is provided on Apron Area:0:50') }}