// ------------------------- Deicing Areas --------------------------

MAP:De-Icing
AIRPORT:EDFH
FOLDER:Ice/Snow

// Areas
COLOR:DEICING:LAYOUT_RUNWAY
STYLE:SOLID:2
{{ data.edfh_kml['layout']['deicing']['poly']['DP_N'] | render_area('OTHER:REGION:X', 'DP North') }}
{{ data.edfh_kml['layout']['deicing']['poly']['DP_S'] | render_area('OTHER:REGION:X', 'DP South') }}

// Arrows
COLOR:LAYOUT_TAXILINE_WHITE
STYLE:SOLID:1
{{ data.edfh_kml['layout']['deicing']['arrows']['DP_N'] | render_area('OTHER:REGION') }}

// Taxilines
STYLE:SOLID:2
{{ data.edfh_kml['layout']['deicing']['line']['DP_N'] | render_line }}

// Reference
COLOR:LAYOUT_LABEL_STAND
TEXTALIGN:CC
FONTSIZE:=:12
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('De-icing Pads are permitted:') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('only for aircraft up to Code C:0:15') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('De-icing for aircraft > Code C:0:35') }}
{{ data.edfh_kml['layout']['restrictions']['labels']['reference'] | to_text('is provided on Apron Area:0:50') }}