// ----------------------------- Labels -----------------------------

MAP:Buffer EDFH
AIRPORT:EDFH
FOLDER:Labels
HIDDEN
LAYER:3
ACTIVE:1
ZOOM:400
{% for uuid, geom in data.edfh_kml['layout']['labels']['buffer'].items() %}
{{- geom | to_coordtype('', 'layout-taxiway') }}
{% endfor %}

MAP:Taxiways
AIRPORT:EDFH
FOLDER:Labels
OTHER_MAP_ACT:=:Labels\Buffer EDFH
LAYER:6
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for desig, geom in data.edfh_kml['layout']['labels']['taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Stands
AIRPORT:EDFH
FOLDER:Labels
LAYER:6
ACTIVE:1
ZOOM:500
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.edfh_kml['layout']['labels']['stands'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}
{{ data.edfh_kml['layout']['labels']['GAT'] | to_text('GAT') }}
{{ data.edfh_kml['layout']['labels']['aprons']['APN 5'] | to_text('Maintenance') }}

MAP:Aprons
AIRPORT:EDFH
FOLDER:Labels
ZOOM:400
FONTSIZE:=:9
COLOR:layout-label-stand
{{ data.edfh_kml['layout']['labels']['aprons']['APN 2'] | to_text('APN 2') }}
{{ data.edfh_kml['layout']['labels']['aprons']['APN 3'] | to_text('APN 3') }}
{{ data.edfh_kml['layout']['labels']['aprons']['APN 4'] | to_text('APN 4') }}
{{ data.edfh_kml['layout']['labels']['aprons']['APN 5'] | to_text('APN 5:0:-12') }}

MAP:Stands Old
AIRPORT:EDFH
FOLDER:Labels
ZOOM:500
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.edfh_kml['layout']['labels']['stands_old'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}
{{ data.edfh_kml['layout']['labels']['GAT'] | to_text('GAT') }}
{{ data.edfh_kml['layout']['labels']['aprons']['APN 5'] | to_text('Maintenance') }}

MAP:Buildings
AIRPORT:EDFH
FOLDER:Labels
ZOOM:500
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig in
[
    'Hangar 901',
    'Cargo#1',
    'Cargo#2',
    'Cargo#3',
    'Cargo#4',
    'Terminal',
    'Hangers',
] %}
{{- data.edfh_kml['layout']['labels']['buildings'][desig | string] | to_text(desig) }}
{% endfor %}
{{ data.edfh_kml['layout']['labels']['buildings']['Prestwick'] | to_text('Prestwick:0:-6') }}
{{ data.edfh_kml['layout']['labels']['buildings']['Prestwick'] | to_text('(Ryanair):0:6') }}
{{ data.edfh_kml['layout']['labels']['buildings']['Fire Department'] | to_text('Fire:0:-6') }}
{{ data.edfh_kml['layout']['labels']['buildings']['Fire Department'] | to_text('Department:0:6') }}