// ------------------------- NOTAM Closures -------------------------

MAP:NOTAM C1106/25 - STANDS 321 & 326
AIRPORT:EDFH
FOLDER:Closures
ACTIVE:1
BLOCKS:EDFH:326,321
STYLE:Solid:2
{{ data.notam['notam']['EDFH']['construction'] | to_poly('','layout-apron') }}
COORDTYPE:TWYCLOSED:POLYGON
{{ data.notam['notam']['EDFH']['construction'] | to_poly('','closure') }}